<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<settings>
			<!--  MAIL SERVER
		SMTP server used for sending mails by the Sitecore server
		Is used by MainUtil.SendMail()
		Default value: ""
		-->
			<setting name="MailServer" value="#{SmtpHost}" />

			<!--  MAIL SERVER PORT
		If the SMTP server requires a custom port number, enter the value in this setting.
		The default value is: 25
		-->
			<setting name="MailServerPort" value="#{SmtpPort}" />
		</settings>
	</sitecore>
</configuration>