<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
		  <configuration
			name="Project.Common"
			description="Common content and settings"
			dependencies="Foundation.*,Feature.*"
			patch:after="configuration[@name='Foundation.Serialization']"
			extends="Helix.Feature.Base">
			  <predicate>
				  <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
				  <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
				  <include name="$(layer).$(module).Layouts" database="master" path="/sitecore/layout/layouts/$(layer)/$(module)" />
				  <include name="$(layer).$(module).PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/$(layer)/$(module)" />
				  <include name="$(layer).$(module).UserProfiles" database="core" path="/sitecore/system/Settings/Security/Profiles/$(module)" />
				  <include name="$(layer).$(module).SystemLanguages" database="master" path="/sitecore/system/Languages" />
				  <include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />
				  <include name="$(layer).$(module).BucketSettings" database="master" path="/sitecore/system/Settings/Buckets/Item Buckets Settings" />
			  </predicate>
		  </configuration>
		  <configuration
				  name="Project.Common.Content.Configuration"
				  description="Common content"
				  dependencies="Project.Common"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
			  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
			  <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
			  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Configuration" />
			  <predicate>
				  <include name="$(layer).$(module).Global" database="master" path="/sitecore/content/Shared Content">
					  <exclude children="true" />
				  </include>
			  </predicate>
		  </configuration>
		  <configuration
					  name="Project.Common.Content.Global"
					  description="Shared content"
					  dependencies="Foundation.*,Feature.*,Project.Common.Content.Configuration"
					  patch:after="configuration[@name='Foundation.Serialization']"
					  extends="Helix.Feature.Base">
			  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
			  <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
			  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Global" />
			  <predicate>
				  <include name="$(layer).$(module).Funds" database="master" path="/sitecore/content/Shared Content/Funds">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).Regions" database="master" path="/sitecore/content/Shared Content/Region">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).Ranges" database="master" path="/sitecore/content/Shared Content/Range">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).FundClasses" database="master" path="/sitecore/content/Shared Content/Fund Classes">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).DocumentTypes" database="master" path="/sitecore/content/Shared Content/Document Types">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).BlogType" database="master" path="/sitecore/content/Shared Content/Blog Type">
					  <exclude children="true" />
				  </include>
			  </predicate>
		  </configuration>
		  <configuration
				name="Project.Common.Salesforce"
				description="Common salesforce"
				dependencies="Foundation.*,Feature.*,Project.Common.Content.Configuration"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
			  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
			  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Salesforce" />
			  <predicate>
				  <include name="$(layer).$(module).Salesforce" database="master" path="/sitecore/content/Shared Content/SalesforceData" />
			  </predicate>
		  </configuration>
		  <configuration
				name="Project.Common.Forms"
				description="Common Forms"
				dependencies="Foundation.*,Feature.*,Project.Common"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
			  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
			  <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
			  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Forms" />
			  <predicate>
				  <include name="$(layer).$(module).Forms" database="master" path="/sitecore/Forms">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).FormsEmailTemplates" database="master" path="/sitecore/content/Shared Content/SitecoreFormsSaveActionEmailTemplates">
					  <exclude children="true" />
				  </include>
			  </predicate>
		  </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>