<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<!--  MAIL SERVER
		SMTP server used for sending mails by the Sitecore server
		Is used by MainUtil.SendMail()
		Default value: ""
		-->
		<setting name="MailServer" value="http://localhost" patch:instead="setting[@name='MailServer']"/>

		<!--  MAIL SERVER PORT
		If the SMTP server requires a custom port number, enter the value in this setting.
		The default value is: 25
		-->
		<setting name="MailServerPort" value="25" patch:instead="setting[@name='MailServerPort']"/>

		<!--  MAIL SERVER USER
		If the SMTP server requires login, enter the user name in this setting
		-->
	</sitecore>
</configuration>