<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="rootHostName" value="#{DomainName}" />
    <settings>
      <setting name="Analytics.CookieDomain" value="$(rootHostName)" />
      <setting name="Login.BackgroundImageUrl" value="login/LionTrust_Wallpaper.jpg" />
      <setting name="Login.DisableLicenseInfo" value="false" />
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="LionTrust" />
      </setting>
    </settings>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>
              <patch:delete />
            </site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>
              <patch:delete />
            </site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="website">
        <patch:delete />
      </site>
    </sites>
    <cacheSizes>
      <sites>
        <website>
          <patch:delete />
        </website>
      </sites>
    </cacheSizes>
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>
    <linkManager>
      <providers>
        <add name="sitecore">
          <patch:attribute addAspxExtension="false" name="lowercaseUrls" value="true" alwaysIncludeServerUrl="false" languageEmbedding="false" />
        </add>
      </providers>
    </linkManager>
  </sitecore>
</configuration>
