<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<settings>
			<!--  MAIL SERVER
		SMTP server used for sending mails by the Sitecore server
		Is used by MainUtil.SendMail()
		Default value: ""
		-->
			<setting name="MailServer" value="#{SmtpHost}" />

			<!--  MAIL SERVER PORT
		If the SMTP server requires a custom port number, enter the value in this setting.
		The default value is: 25
		-->
			<setting name="MailServerPort" value="#{SmtpPort}" />

			<!--   MAIL SERVER USER
            If the SMTP server requires login, enter the user name in this setting
       -->
			<setting name="MailServerUserName" value="#{SmtpUser}"/>
			<!--   MAIL SERVER PASSWORD
            If the SMTP server requires login, enter the password in this setting
       -->
			<setting name="MailServerPassword" value="#{SmtpPassword}"/>

			<!--   MAIL SERVER SSL
            If the SMTP server requires SSL, set the value to true.
            The default value is: false
     -->
			<setting name="MailServerUseSsl" value="#{SmtpUseSsl}"/>

			<!-- MAIL TESTING ENVIRONMENT 
			If it's True, it sends the email to the 'testing recipient list' instead.
	-->
			<setting name="MailTestingEnvironment" value="#{SmtpTestingEnvironment}"/>

			<!-- MAIL TESTING ENVIRONMENT 
			If it's True, it sends the email to the 'testing recipient list' instead.
	-->
			<setting name="IsBouncesBackEnable" value="#{IsBouncesBackEnable}"/>
		</settings>
	</sitecore>
</configuration>