@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Banner.Models.LeadBannerModel
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<header class="header" style="background-image:url(@Model.BackgroundImageUrl)">
    <section class="container">
        @Html.Sitecore().Placeholder("navigation")
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="lead-banner text-center">
                    <h1 class="lead-banner__title">
                        @Html.Glass().Editable(Model, m => m.Title)
                    </h1>
                    <span class="lead-banner__text">
                        @Html.Glass().Editable(Model, m => m.Body)
                    </span>
                </div>
            </div>
        </div>
    </section>
</header>