@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Banner.Models.IRiskBanner
@if (Model != null)
{
    <div class="article-quote article-quote_with-margins">
        <span>
            @Html.Glass().Editable(Model, m => m.RiskBannerText)
        </span>
    </div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:white"><span style="color:black">Please add datasource to Risk Banner component</span></div>
}