<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <unicorn>
      <configurations>
		  <configuration
				name="Project.EIT.Container"
				description="EIT site content"
				dependencies="Foundation.*,Feature.*,Project.Common,Project.EIT"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
			  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
			  <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
			  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Container" />
			  <predicate>
				  <include name="$(layer).$(module).Container" database="master" path="/sitecore/content/EIT">
					  <exclude children="true" />
				  </include>
			  </predicate>
		  </configuration>
		  <configuration
				  name="Project.EIT.Content.Configuration"
				  description="EIT site content"
				  dependencies="Project.EIT.Container"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
			  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
			  <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
			  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Configuration" />
			  <predicate>
				  <include name="$(layer).$(module).Site" database="master" path="/sitecore/content/EIT/Home">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).PageSettings" database="master" path="/sitecore/content/EIT/Page Settings">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).Global" database="master" path="/sitecore/content/EIT/Global">
					  <exclude children="true" />
				  </include>
			  </predicate>
		</configuration>
		<configuration
			name="Project.EIT.Content.Settings"
			description="EIT site content"
			dependencies="Project.EIT.Content.Configuration"
			patch:after="configuration[@name='Foundation.Serialization']"
			extends="Helix.Feature.Base">
			<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Settings" />
			<predicate>
				<include name="$(layer).$(module).Settings" database="master" path="/sitecore/content/EIT/Settings" />
			</predicate>
		</configuration>
        <configuration
          name="Project.EIT"
          description="EIT content and settings"
          dependencies="Foundation.*,Feature.*"
          patch:after="configuration[@name='Foundation.Serialization']"
          extends="Helix.Feature.Base">
          <predicate>
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
			<include name="$(layer).$(module).Templates.Branches" database="master" path="/sitecore/templates/branches/$(layer)/$(module)" />
            <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
            <include name="$(layer).$(module).Layouts" database="master" path="/sitecore/layout/layouts/$(layer)/$(module)" />
            <include name="$(layer).$(module).PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/$(layer)/$(module)" />
            <include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />
          </predicate>
        </configuration>
		  <configuration
				  name="Project.EIT.Content.Global"
				  description="EIT site content"
				  dependencies="Project.EIT.Content.Configuration"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
			  <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
			  <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
			  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Global" />
			  <predicate>
				  <include name="$(layer).$(module).ImageCTAPromo" database="master" path="/sitecore/content/LionTrustNew/Global/UI018-ImageCTAPromo">
					  <exclude children="true" />
				  </include>
				  <include name="$(layer).$(module).NewsletterPromos" database="master" path="/sitecore/content/LionTrustNew/Global/Newsletter Promos">
					  <exclude children="true" />
				  </include>
			  </predicate>
		  </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>