<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <sites>
      <site name="EIT">
        <patch:attribute name="database">master</patch:attribute>
		<patch:attribute name="scheme">https</patch:attribute>
		<patch:attribute name="hostName">eit.sc.dev.local</patch:attribute>
		<patch:attribute name="targetHostName">eit.sc.dev.local</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>
