$f-nav-primary: "gotham"
$f-gotham: "gotham"
$f-gotham-book: "gotham-book"
$f-futura: "futura"
$f-textsize: 16px
$line-height: 1.4

$body-bg: $c-white
$body-text: $c-black
$body-font: $f-gotham

html  
	scroll-behavior: smooth 
	@media screen and (prefers-reduced-motion: reduce) 
        scroll-behavior: auto 
body 
	width: 100% 
	background: $body-bg 
	color: $c-black 
	font-family: $f-gotham
	font-weight: 400
	font-size: $f-textsize
	-webkit-font-smoothing: auto
	line-height: $line-height
	min-width: 320px 
	position: relative 
	&.overflow-hidden
		overflow-y: hidden 
		position: fixed 
		top: 0 
		left: 0 
		right: 0 
		bottom: 0 
		height: 100% 
		width: 100% 
	.fancybox-content 
		background: $c-black

h1 
	font-family: $f-gotham
	font-weight: normal    
a 
	text-decoration: none
	transition: color 150ms ease-in-out
p
	font-family: $f-gotham
	font-weight: 400
ul 
	list-style-type: none 
	padding: 0
	margin: 0  
dl 
	dt 
    	font-weight: bold 
	dd 
		margin: 0 