// LT
$secondary: #20242B
$secondary-gray: #414855
$secondary-silver: #E9EDF0
 

// EIT
$c-orange: #F5834C
$primary:  $c-orange
$link-color: $c-orange

// Core
$c-black: #182835 
$black: #182835 
$secondary: #20242B
$c-offblack: #20242B
$c-white: #ffffff 
$c-navy: #0a1b33

// Additional
// Generate from https://chir.ag/projects/name-that-color/
$c-scorpion: #575757
$c-river-bed: #414855
$c-dove-gray: #656565
$c-silver-chalice: #9d9d9d
$c-athens-gray: #FBFBFC
$c-white-lilac: #F7F9FC
$c-whisper: #E8E9F3
$c-cod-gray: #1a1a1a
$c-husk: #C0A961
$c-silver: #E9EDF0
$c-silver2: #C6C6C6
$c-gray: #848484