// liontrust    
$primary: #10A047  
// $black: #414855
$secondary: #20242B
$secondary-gray: #414855
$secondary-silver: #E9EDF0
$gold: #C0A961
$green: #006B72
$blue: #0097AC
$red: #B13122
$orange: #E77B05
$brown: #877945
$headingcolor: $gold
$white: #ffffff
$primary-forward: #00a339
$blue-bold: #083274C7
$gray: #9D9D9D
$just-black: #000
$smokyWhite: #4148550D
$lightGray: #F7F9FC
$horizantalLine: #4148551A
$unslected: #CFD1D4
$borderGray: #414855B3
$blue-dark: #1f242c

// EIT
$c-orange: #F5834C
$primary:  $c-orange
$link-color: $c-orange

// Core
$c-black: #182835 
$black: #182835 
$secondary: #20242B
$c-offblack: #20242B
$c-white: #ffffff 
$c-navy: #0a1b33

// Additional
// Generate from https://chir.ag/projects/name-that-color/
$c-scorpion: #575757
$c-river-bed: #414855
$c-dove-gray: #656565
$c-silver-chalice: #9d9d9d
$c-athens-gray: #FBFBFC
