@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url('#{$furl}.woff2') format('woff2') 
		
// @include font('figtree', normal, 300, '../fonts/figtree/Figtree-Light')
// @include font('figtree', normal, 400, '../fonts/figtree/figtreeLight')
// @include font('figtree', normal, 500, '../fonts/figtree/figtreeMedium')
// @include font('figtree', normal, 700, '../fonts/figtree/figtreeBold')

@include font('futura', normal, 300, '../fonts/futura/futuralight') 
@include font('futura', normal, 400, '../fonts/futura/futuramedium') 
@include font('futura', normal, 500, '../fonts/futura/futurabold')
@include font('futura-pt', normal, 300, '../fonts/futura/futura-pt-regular-300')