$v-max-width: 1140px
$v-max-width-md: 800px
$v-max-width-sm: 630px

header
    position: relative
    width: 100% 
    min-height: max-content
    
    &.global 
        background-repeat: no-repeat
        background-position: bottom
        background-size: cover
        background-image: url("/images/hero-generic-mobile.png")
        @include lg
            min-height: 52vw
            background-image: url("/images/hero-generic-tablet.png")
        @include xl
            min-height: 36vw
            background-image: url("/images/hero-generic-desktop.png")
    
        
section, article, aside, footer
    &.u-edge
        position: relative 
        @include my(4)
        @include py(4)            
        &.zero-margin
            @include my(0)

.u-container
    max-width: $v-max-width
    margin: 0 auto
    padding: 0 20px
    @include md
        padding: 0 30px 
    &.md
        max-width: $v-max-width-md
        margin: 0 auto
    &.sm
        max-width: $v-max-width-sm
        margin: 0 auto

.grid__item  
    
