$v-max-width: 1140px
$v-max-width-md: 800px
$v-max-width-sm: 630px

body
    &.t-global 
        header.g-header
            background-image: url("../images/hero-generic-mobile.png")
            @include md
                min-height: 52vw
                background-image: url("../images/hero-generic-tablet.png")
            @include lg
                min-height: 40vw
                background-image: url("../images/hero-generic-desktop.png")
    &.t-article 
        header.g-header 
            background-image: url("../images/articlehero-mobile.png")
            @include lg 
                background-image: url("../images/articlehero-desktop.png")

    header.g-header
            position: relative
            width: 100% 
            min-height: max-content
            background-repeat: no-repeat
            background-position: bottom
            background-size: cover
        
section, article, aside, footer
    &.u-edge
        position: relative 
        @include my(4)
        @include py(4)            
        &.zero-margin
            @include my(0)
        &.zero-padding
            @include py(0)

.u-container
    max-width: $v-max-width
    margin: 0 auto
    padding: 0 20px
    @include md
        padding: 0 30px 
    &.md
        max-width: $v-max-width-md
        margin: 0 auto
    &.sm
        max-width: $v-max-width-sm
        margin: 0 auto

article
    &.g-article
        .u-container
            @extend .md 
    
