$v-max-width: 1440px

header
    position: relative
    width: 100% 
    min-height: max-content
    @include lg
        min-height: 36vw
    @include xl
        min-height: 36vw
        
section, article
    &.u-edge
        position: relative 
        @include my(4)
        @include py(4)            
        &.zero-margin
            @include my(0)

.u-container
    max-width: $v-max-width
    margin: 0 auto
    padding: 0 20px
    @include md
        padding: 0 30px 

.grid__item  
    
