.g-table-master
    @include px(3)
    table 
        border-collapse: collapse
        text-align: left
        width: 100%
        @include p(3) 
        th, td
            @include py(2) 
            @include px(2) 
        thead
            text-transform: uppercase
            font-size: 12px
            letter-spacing: 2.4px
            color: $c-river-bed  
            tr
                white-space: nowrap 
                font-weight: 400 
                th
                    @include p(0)
                    @include py(2)
        &.fund-holdings
            td:last-child
                text-align: right
        tbody     
            th, td 
                font-weight: 400 
            tr
                &:first-child, 
                    td, th
                        @include pt(3)
                        @include sm
                            @include pt(4)

                &:last-child
                    td, th
                        @include pb(3)
                        @include sm
                            @include pb(4)
                td:last-child
                    width: 40%
            .geo-spacing
                display: flex
                align-items: center
                justify-content: space-between
                th
                    @include pl(3)
                td
                    &.geo-numbers
                        width: 55%
                    div
                        display: flex
                        align-items: center
                        span
                           width: 45px
        tfoot
            th
                @include my(0)
                font-size: 12px
                font-weight: 300
                color: $c-dove-gray
                white-space: nowrap 
    h2
        color: $c-orange
    .dividend
        tbody
            tr
                &:first-child
                    td, th
                        @include pt(3)
                &:nth-child(odd)
                    background: $c-whisper
                td,th
                    @include px(4)
                    @include py(3)
    .divident-table,.performance-table
        thead
            th
                text-align: center
            span
                @include px(4)
        tr
            &:first-child
                td, th
                    @include pt(3)
            &:last-child
                td,th
                  @include pb(3)
            td:last-child
                width: auto
            td
                text-align: center
                @include px(2)
                white-space: nowrap
                &:first-child
                    text-align: left
                    white-space: nowrap
                    @include pl(4)
                p
                    margin: unset
    .performance-table
        thead
            background:  $c-black
            color: $c-white
            
            th
                min-width: 80px
                font-weight: 400
                &:first-child
                    text-align: left
                    @include pl(3)
            tr
                border-bottom: none
        tr
            border-bottom: 1px dashed $c-silver
            td
                &:first-child
                    @include pl(3)
        .hightlights
            color: $c-orange
           
                
    //variations as per below 
    &.g-table-border
        table
            tbody    
                border: 1px solid $c-silver
                th, td 
                    border-bottom: 1px dashed $c-silver
                .geo-spacing
                    border-bottom: 1px dashed $c-silver
                    th, td
                        border: none
               
    &.g-table-spacing
        table
            tbody    
                th, td  
                    @include px(4) 
    &.g-table-striped
        tbody 
            tr:nth-of-type(odd)
                background: $c-whisper
                   
.bar
    display: inline-block
    height: 16px
    background: $primary
    &__gold
        background: $c-orange
.f-toggle-row
    border-radius: 8px
    border-color: transparent
    float: right
    width: 65px
    height: 40px
    text-align: center
    background-color: $c-orange
    color: white
.hide-rows
    tbody
         tr:nth-child(n+11)
            display: none
.table-responsive-lg
    overflow-x: scroll
    &::-webkit-scrollbar-track
        background: $c-silver
        border-radius: 5px
    &::-webkit-scrollbar-thumb
        background: $c-orange
        border-radius: 5px
    &::-webkit-scrollbar 
        height: 3px