// https://codepen.io/piperhaywood/pen/vYWEgmb?editors=1100

h1, h2, h3, h4, h5, h6
	font-family: $f-gotham
	font-weight: 300
	letter-spacing: 0.16px  
	&:empty
		display: none
    
h1
    font-size: 28px
    line-height: 38px 
    @include lg
            font-size: 3vw
            line-height: 3.5vw
    @include xl
        font-size: 48px
        line-height: 56px
h2
    font-size: 32px
    line-height: 38px
    @include lg
        font-size: 36px
        line-height: 42px

h3
    font-size: 24px
    line-height: 28px
    @include lg
        font-size: 25px
        line-height: 28px
h6 
	font-size: 14px
	line-height: 20px
	font-weight: 500
	letter-spacing: 0.01px
	@include mb(0)
	@include mt(4) 
  
a 
	text-decoration: none
	transition: color 150ms ease-in-out
	&.animate
		color: $c-orange
		@extend %animate-underline 
		display: inline-block
		i.icon-arrow-right 
			display: inline-block
			top: 2px
			font-size: 12px
			@include ml(1)
			transform: translateX(-1px) 
			transition: all 200ms ease-in
			filter: brightness(90%)
		&:hover, &:active
			i.icon-arrow-right    
				transform: translateX(2px)
				filter: brightness(100%)

	&.fx
		color: $c-orange
		@extend .animate
		font-size: 14px
		font-weight: 500

p
	font-family: $f-gotham
	font-weight: 300
	&.bold, b
		font-weight: 400
ul 
	list-style-type: none 
	padding: 0
	margin: 0 
	 

.g-article
	.c-copy-block
		h2 
			@include mt(5)
			width: 60%
			font-size: 24px
			line-height: 28px
			@include lg
				font-size: 25px
				line-height: 28px