// https://codepen.io/piperhaywood/pen/vYWEgmb?editors=1100

h1
    font-size: 36px
    line-height: 48px 
    @include lg
            font-size: 3vw
            line-height: 3.5vw
    @include xl
        font-size: 48px
        line-height: 56px
h2
    font-size: 32px
    line-height: 38px
    @include lg
        font-size: 36px
        line-height: 42px