<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration
				  name="Foundation.Legacy"
				  description="Foundation Legacy"
				  dependencies="Foundation.Serialization"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
          <predicate>
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="$(layer).$(module).Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(module)" />
            <include name="$(layer).$(module).EditFrames" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/$(layer)/$(module)" />
            <include name="$(layer).$(module).LegacyFunds" database="master" path="/sitecore/content/Funds" />
            <include name="$(layer).$(module).LegacyAuthors" database="master" path="/sitecore/content/Professionals" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>