<!--#set var="title" value="LionTrust" -->
<!--#include virtual="/components/head.html" -->

<body class="article-page">
  <header class="header header-bg-gradient">
    <section class="container">
      <!--#include virtual="/components/GC001-Header.html" -->
      <!--#include virtual="/components/UI014- Lead-Banner-Variation.html" -->
      <div class="header-btn-nav">
        <span class="header-btn-nav__title">Explore</span>
        <a href="#" class="header-btn-nav__btn">Fund Updates</a>
        <a href="#" class="header-btn-nav__btn">Fund Manager Views</a>
        <a href="#" class="header-btn-nav__btn">Podcasts & Webinars</a>
        <a href="#" class="header-btn-nav__btn">Videos</a>
        <a href="#" class="header-btn-nav__btn">Magazines & Reports</a>
      </div>
    </section>
  </header>

  <main>
    <div id="lister-app">
    <!--#include virtual="/components/BC005-Article-Filters.html" -->
    <section class="container" v-if="!loading">
      <div class="row">        
        <article-item inline-template v-for="(article, i) in searchData" :key="i">
          <div class="col-md-6 col-lg-4">
            <div class="article-promo">
              <a href="#article promo" class="article-promo__front">
              </a>
              <a href="#" class="article-promo__body">
                <div class="article-promo__head">
                  <img class="article-promo__head-img" src="images/components/banners/writer.jpeg" alt="">
                  <span class="article-promo__head-title">{{article.Subtitle}}</span>
                </div>
                <span class="article-promo__title">
                  {{article.Title}}
                </span>
                <span class="article-promo__desc">
                  {{article.Subtitle}}
                </span>
              </a>
              <div class="article-promo__footer">
                <div class="article-promo__footer-item">
                  <img class="article-promo__clock" src="\images\components\svg-icons\clock.svg" alt="icon">
                  <span class="article-promo__footer-text">{{article.Date}}</span>
                </div>
                <div class="article-promo__footer-item">
                  <span class="article-promo__footer-text">{{article.Category}}</span>
                  <i class="icon-booksmark article-promo__bookmark"></i>
                </div>
              </div>
            
              <img class="article-promo__back" src="images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" :alt="article.Title">
            </div>
          </div>
      </article-item>    
      </div>
      
      <!--#include virtual="/components/reusables/pagination.html" -->
    </section>
    <div v-if="loading" class="text-center mt-5">
      <div class="spinner-border text-gold" role="status"></div>
    </div>

  </div>
    <!--#include virtual="/components/UI023-Newsletter-Promo.html" -->
  </main>

  <!--#include virtual="/components/GC009-Breadcrumb-Nav.html" -->
  <!--#include virtual="/components/LDC-190-Footer.html" -->
  <!--#include virtual="/components/GC008-Onboarding-Overlay.html" -->
  <!--#include virtual="/components/GC006-Search-Overlay.html" -->
  <!--#include virtual="/components/footer.html" -->
</body>