@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Text.Models.IDividendChart
@if (Model != null)
{
    <section class="container">
        <h2>@Html.Glass().Editable(Model, m => m.Title)</h2>
        <div class="table-responsive-lg">
            @Html.Glass().Editable(Model, m => m.TableContent)
        </div>
    </section>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div style="background-color:white"><span style="color:black">Please add datasource to Dividend Chart component</span></div>
}
