@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Text.Models.IFreeTextModule
@if (Model != null)
{    
    <div class="container">
        <div class="row">
            <div class="col-12 section text-black">
                <h2 class="text-gold">@Html.Glass().Editable(Model, m => m.Title)</h2>
                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {

                    @Html.Glass().Editable(Model, m => m.Body)
                }
                else
                {
                    @Html.Raw(Model.Body)
                }
            </div>
        </div>
    </div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Add datasource for the component!
}