
<div class="container">
    <div class="row">
        <div class="col-12 section text-black">
            <iframe id="inv-alerts-tool" width="100%" height="1170" class="mt-3 mb-5 responsive"
                    src="" data-alerts-tool-url="https://otp.tools.investis.com/clients/uk/liontrust_plc/cas/default.aspx?culture=en-GB"
                    frameborder="0" scrolling="no"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
        </div>
    </div>
</div>