@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Text.Models.IIFrameModule
@if (Model != null)
{
    <div class="container">
        <div class="row">
            <div class="col-12 section text-black">
                <h2 class="text-gold">@Html.Glass().Editable(Model, m => m.Title)</h2>
                @using (Html.Glass().BeginEditFrame(Model, "Edit IFrame Parameters", m => m.IFrameUrl, m => m.UniqueId))
                {
                    <iframe class="mt-3 mb-5 responsive" id="@Model.UniqueId"
                            src="@Model.IFrameUrl"
                            height="1000" width="100%" frameborder="0" scrolling="no"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen>
                    </iframe>
                }
            </div>
        </div>
    </div>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Add datasource for the component!
}