@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Text.Models.IRichText
@if (Model != null)
{
    var container = Model.MarginsContainer != null ? Model.MarginsContainer.Value : string.Empty;
    <section class="bg-gray my-4">
        <div class="@container">
            <div class="disclaimer-text @(Model.TextColor != null ? Model.TextColor.Value : "text-black")">
                @if (Sitecore.Context.PageMode.IsExperienceEditor)
                {
                    @Html.Glass().Editable(Model, m => m.Text)
                }
                else
                {
                    @Html.Raw(Model.Text)
                }
            </div>
        </div>
    </section>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Add datasource for Text component
}
