@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Text.Models.ITitleComponent
@{
    var headingType = Model.HeadingType != null && !string.IsNullOrEmpty(Model.HeadingType.Value) ? Model.HeadingType.Value : "h1";
    var textColor = Model.TextColor != null && !string.IsNullOrEmpty(Model.TextColor.Value) ? Model.TextColor.Value : "text-black";
    var textAlignment = Model.TextAlignment != null && !string.IsNullOrEmpty(Model.TextAlignment.Value) ? "text-" + Model.TextAlignment.Value : "text-center";
    var container = Model.MarginsContainer != null ? Model.MarginsContainer.Value : string.Empty;
}
<div class="@container">
    <div class="@textAlignment">
        <@headingType class="@textColor">@Html.Glass().Editable(Model, m => m.Title)</@headingType>
    </div>
</div>