.article-hero
    text-align: center
    margin-top: 30px
    @include breakpoint(desktop, up)
        text-align: left
        margin-top: 80px
    &__content
        margin-bottom: 20px
    &__text
        @include p-1-normal-20
        display: none
        @include breakpoint(desktop, up)
            display: block
            margin-right: 15%

.hero-author-wrapper
    display: flex
    justify-content: center
    @include breakpoint(desktop, up)
        justify-content: start

.hero-author
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 5px
    margin-right: 16px
    &:last-child
        margin-right: 0
    @include breakpoint(desktop, up)
        align-items: start
        flex-direction: row
        margin-bottom: 1rem
        margin-right: 32px
    &__img
        width: 30px
        height: 30px
        border-radius: 50%
        @include breakpoint(desktop, up)
            margin-right: 10px
    &__name
        font-weight: 700
        font-size: 12px
        letter-spacing: 2.4px
        text-transform: uppercase
        margin: 7px 0 4px
        display: flex
        align-items: center
        line-height: 1
        @include breakpoint(desktop, up)
            margin: 0
        i
            display: none
            @include breakpoint(desktop, up)
                display: inline
                margin-left: 5px
                font-size: 17px
                cursor: pointer
    &__date
        font-size: 14px
        color: $gray
        @include breakpoint(desktop, up)
            margin-top: -2px
            display: block

.hero-author.hero-author_big
    @include breakpoint(desktop, up)
        display: block
        text-align: center
    .hero-author__name
        @include breakpoint(desktop, up)
            justify-content: center
            margin: 11px 0 9px
            font-size: 15px
            line-height: 18px
    .hero-author__img
        @include breakpoint(desktop, up)
            width: 60px
            height: 60px
    .hero-author__date
        font-size: 18px
        font-weight: 500
    .hero-author__content
        @include breakpoint(desktop, up)
            text-align: center

.topic-follow
    margin-top: 1.6rem
    display: flex
    align-items: center
    justify-content: center

.follow-btn
    font-size: 18px
    display: flex
    align-items: center
    font-weight: 300
    i
        margin-right: 5px

.article-links
    display: flex
    justify-content: center
    font-size: 12px
    margin-bottom: 30px
    @include breakpoint(desktop, up)
        font-size: 18px
    &__link
        display: flex
        align-items: center
    &__item
        display: inline-block
        margin-right: 50px
        @include breakpoint(desktop, up)
            margin-right: 31px
        &:last-child
            margin-right: 0
        i
            margin-right: 10px
            @include font-size(20px)
            @include breakpoint(desktop, up)
                @include font-size(25px)

header .article-links
    .article-links__link
        color: $white

.article-links
    .article-links__link
        color: $primary

.fund-detail-page
    .article-hero
        margin-top: 0
        &__title
            margin-bottom: 2rem
            @include breakpoint(desktop, up)
                margin-bottom: 2.3rem
    .article-links
        display: inline
        margin: 0 auto
        text-align: center
        &__item
            display: inline-block
            margin-right: 50px
            @include breakpoint(desktop, up)
                margin-right: 60px
            &:last-child
                margin-right: 0

