.article-hero
    text-align: center
    margin-top: 30px

    +breakpoint(desktop, up)
        text-align: left
        margin-top: 57px


    &__title
        +breakpoint(desktop, up)
            letter-spacing: 1.86px

    &__content
        margin-bottom: 20px

    &__text
        +p-1-normal-20

        display: none

        +breakpoint(desktop, up)
            display: block
            margin-right: 15%

header

.hero-author-wrapper
    display: flex
    justify-content: center

    +breakpoint(desktop, up)
        justify-content: start

.hero-author
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 5px
    margin-right: 16px

    &:last-child
        margin-right: 0

    +breakpoint(desktop, up)
        align-items: start
        flex-direction: row
        margin-bottom: 1rem
        margin-right: 32px


    &__img
        width: 30px
        height: 30px
        border-radius: 50%
        background: $herobg-gradient

        +breakpoint(desktop, up)
            margin-right: 10px

    &__name
        font-weight: 700
        font-size: 12px
        letter-spacing: 2.4px
        text-transform: uppercase
        margin: 7px 0 4px
        display: flex
        align-items: center
        line-height: 1

        +breakpoint(desktop, up)
            margin: 0


        i
            display: none

            +breakpoint(desktop, up)
                display: inline
                margin-left: 5px
                font-size: 17px
                cursor: pointer

    &__date
        font-size: 14px
        color: $gray

        +breakpoint(desktop, up)
            margin-top: -2px
            display: block

.hero-author.hero-author_big
    margin: 0

    +breakpoint(desktop, up)
        display: block
        text-align: center
        margin-bottom: 11px


    .hero-author__name
        +breakpoint(desktop, up)
            justify-content: center
            margin: 11px 0 9px
            font-size: 15px
            line-height: 18px
            letter-spacing: 3px
            font-family: $font-family-bold

    .hero-author__img
        +breakpoint(desktop, up)
            width: 60px
            height: 60px
            margin-right: 0

    .hero-author__date
        +font-size(18px)

        font-weight: 500

    .hero-author__content
        +breakpoint(desktop, up)
            text-align: center

.topic-follow
    margin-top: 1.4rem
    display: flex
    align-items: center
    justify-content: center

    .follow-btn
        margin-right: 1.8rem

        &:last-child
            margin-right: 0

.follow-btn
    +font-size(18px)

    display: flex
    align-items: center
    font-weight: 300

    span
        transition: 0.3s ease-out border-color
        border-bottom: 1px solid transparent

    i
        margin-right: 5px

    &:hover
        span
            border-color: $white

.article-links
    display: flex
    justify-content: space-between
    font-size: 12px
    margin-bottom: 22px

    +breakpoint(tablet, up)
        justify-content: flex-start


    &__link
        display: flex
        align-items: center

        span
            transition: 0.3s ease-out border-color
            border-bottom: 1px solid transparent

            +font-size(12px)
            +breakpoint(tablet, up)
                +font-size(14px)

        &:hover
            span
                border-color: $white

    &__item
        display: inline-block
        margin-right: 0

        +breakpoint(tablet, up)
            margin-right: 40px


        &:last-child
            margin-right: 0

        i
            margin-right: 8px

            +font-size(20px)
            +breakpoint(desktop, up)
                //margin-top: 6px
                +font-size(27px)

        i.icon-share
            +breakpoint(desktop, up)
                font-size: 23px

header .article-links
    .article-links__link
        color: $white

main .article-links
    font-size: 14px
    font-weight: 500

    +breakpoint(desktop, up)
        justify-content: start


    &__link
        &:hover
            span
                border-color: $primary

.article-links
    .article-links__link
        color: $primary

.fund-detail-page
    .article-hero
        margin-top: 0

        &__title
            margin-bottom: 2rem

            +breakpoint(desktop, up)
                margin-bottom: 2.3rem

    .article-links
        display: inline
        margin: 0 auto
        text-align: center

        &__item
            display: inline-block
            margin-right: 50px

            +breakpoint(desktop, up)
                margin-right: 60px


            &:last-child
                margin-right: 0
