.awards
    display: flex
    background: $white
    padding: 50px 0

    &__box
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    &__head
        font-size: 32px
        font-weight: 300
        color: $gold
        @include breakpoint(tablet, up)
            font-size: 42px
