.swiper-container-awards
    overflow: hidden
.awardscentered 
    display: flex
    justify-content: space-around
    margin: 0 auto
.awards
    margin: 100px 0
    padding-top: 23px
    padding-bottom: 16px
    background: #F7F9FC
    border-bottom: 2px solid $primary
    +breakpoint(desktop, up)
        padding-top: 88px
    &__heading
        margin-bottom: 30px
        +breakpoint(desktop, up)
            margin-bottom: 44px
    &__slide
        display: flex
        // width: 270px
        flex-direction: column
        padding: 10px
        justify-content: center
        align-items: center
    &__img
        display: flex
        width: 71px
        height: 71px
        margin-bottom: 30px
        +breakpoint(desktop, up)
            width: 100px
            height: 100px
    &__title
        font-size: 10px
        font-weight: bold
        letter-spacing: 2px
        color: $primary
        text-transform: uppercase
        text-align: center
        line-height: 14px
        +breakpoint(desktop, up)
            font-size: 12px
            letter-spacing: 2.4px
    &__desc
        +p-1-normal-18
        color: $secondary-gray
        text-align: center
    .swiper-button-disabled
        opacity: 0
    .swiper-button-prev,
    .swiper-button-next
        z-index: 1
.swiper-container-awards
    width: 100%
    height: 100%
    position: relative
    padding-bottom: 45px
    +breakpoint(desktop, up)
        padding-bottom: 88px
.swiper-container-awards
    .swiper-button-next, .swiper-button-prev
        top: 30%
        color: $gold
.swiper-container-awards .swiper-pagination
    visibility: visible
    bottom: 10px
    right: 50%
.swiper-container-awards .swiper-pagination-bullet
    opacity: 1
    width: 20px
    height: 1px
    display: inline-block
    border-radius: unset
    background: #000
.swiper-container-awards .swiper-pagination-bullet-active
    background: $gold
.swiper-container-awards .swiper-button-next, .swiper-container-awards .swiper-button-prev
    visibility: hidden
    +breakpoint(desktop, up)
        visibility: visible
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    .swiper-container-awards
        .swiper-button-prev, .swiper-button-next
            font-family: icomoon!important;
            speak: never
            font-style: normal
            font-weight: 200
            font-variant: normal
            text-transform: none
            line-height: 1
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
            font-size: 50px
        .swiper-button-next:before
            content: "\e913"
        .swiper-button-prev:before
            content: "\e914"
        .swiper-pagination
            transform: translate3d(0px, 0px, 0px) translateX(50%)
            .swiper-pagination-bullet
                margin: 0 5px

