.awards
    display: flex
    background: $white
    padding: 50px 0
    position: relative

    &__box
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center   
        overflow: hidden


    &__head
        font-size: 32px
        font-weight: 300
        color: $gold
        margin-bottom: 20px
        @include breakpoint(tablet, up)
            font-size: 42px

    &__slide
        display: flex
        // width: 270px
        flex-direction: column
        padding: 10px
        justify-content: center
        align-items: center

    &__img
        display: flex
        width: 71px
        height: 71px
        margin-bottom: 30px
        @include breakpoint(desktop, up)
            width: 100px
            height: 100px
    &__title
        font-size: 10px
        font-weight: bold
        letter-spacing: 2px
        color: $primary
        text-transform: uppercase
        text-align: center
        padding: 5px
        // margin-bottom: 10px

        @include breakpoint(desktop, up)
            font-size: 12px
            letter-spacing: 2.4px
    &__desc
        font-size: 16px
        color: $secondary-gray
        text-align: center
        line-height: 1.4
        padding: 10px
        @include breakpoint(desktop, up)
            font-size: 18px


.swiper-container-awards
    width: 100%
    height: 100%
    

.swiper-container-awards .swiper-slide 
    display: flex
    width: fit-content!important

    /* Center slide text vertically */
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    -webkit-justify-content: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    -webkit-align-items: center
    align-items: center

.swiper-container-awards .swiper-pagination
    visibility: visible
    bottom: 10px


.swiper-container-awards .swiper-pagination-bullet
    opacity: 1
    width: 20px
    height: 1px
    display: inline-block
    border-radius: unset
    background: #000

.swiper-container-awards .swiper-pagination-bullet-active
    background: $gold

.swiper-container-awards .swiper-button-next, .swiper-container-awards .swiper-button-prev
    opacity: 0
    @include breakpoint(tablet, up)
        opacity: 1



.swiper-container-awards .swiper-button-next
    right: 20px

.swiper-container-awards .swiper-button-prev
    left: 20px

.swiper-container-awards .swiper-button-next:after, .swiper-container-awards .swiper-button-prev:after
    font-size: 50px
    color: #C0A961
   
