.banner-card
  width: 100%
  height: 394px
  position: relative
  border-radius: 10px
  overflow: hidden
  @include breakpoint(tablet, down)
    margin-top: 33px

  &__description
    font-size: 18px
    letter-spacing: 0
    line-height: 28px
    color: $white
    margin-bottom: 29px
  &__img
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-repeat: no-repeat
    background-size: cover
    z-index: -1
  &__text
    max-width: 394px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    margin: 0 auto
    text-align: center
  &__title
    font-size: 52px
    letter-spacing: 0
    line-height: 58px
    color: $white
    margin-bottom: 9
    
