.banner-card
  padding: 24px 0 75px 0
  width: 100%
  min-height: 340px
  position: relative
  border-radius: 10px
  overflow: hidden
  box-shadow: 0 0 185px 85px black inset, inset 0px 0px 85px -10px black
  @include breakpoint(tablet, down)
    margin-top: 33px
    padding: 6.71px 0 69px 0
  &__description
    max-width: 495px
    font-size: 18px
    letter-spacing: 0
    line-height: 28px
    color: $white
    overflow: hidden
    margin-bottom: 39px;
  &__img
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-repeat: no-repeat
    background-size: cover
    z-index: -1
  &__text
    max-width: 394px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    margin: 0 auto
    text-align: center
  &__title
    font-size: 52px
    letter-spacing: 0
    line-height: 58px
    color: $white
    margin-bottom: 9
    margin-top: 30px
