.breadcrumb
    background-color: $black

    &__box
        display: flex
        align-content: center
        align-times: center
        padding: 10px 0
        color: $white

    &__path 
        font-size: 10px
        font-weight: normal
        margin: 0 5px
        display: flex
        align-items: center
        
    &__path.active
        font-weight: bold

    &__nav
        display: flex

