.breadcrumb
    background-color: $just-black 
    
    &__nav
        display: flex
        align-items: center

    &__divider
        display: inline-block
        margin: 0 3px
        font-size: 10px
        line-height: 20px

    &__path
        font-size: 10px
        font-weight: normal
        &:hover
            text-decoration: underline

    &__path.active
        font-weight: bold
