.carousel-box
    overflow-x: clip
    position: relative
    .swiper-container-carousel
        width: 100%
        padding-bottom: 40px
        margin-top: 10px
        @include breakpoint(desktop, up)
            padding-bottom: 27px
    @include breakpoint(tablet, up)
        padding-bottom: 0
    @include breakpoint(desktop, up)
        margin: 70px 0 60px        
    .swiper-container-carousel .swiper-slide
        position: relative
        transition: transform .4s ease
    .swiper-button-next
        right: 75px
        @include breakpoint(desktop-large, up)
            right: 130px
    .swiper-button-prev
        left: 75px
        @include breakpoint(desktop-large, up)
            left: 130px
    .swiper-button-next, .swiper-button-prev
        display: none
        color: $white
        transition: .3s opacity ease
        // &:hover
        //     opacity: 1
        // @include breakpoint(desktop, up)
        //     display: block
        //     opacity: 0
    .swiper-pagination
        @include breakpoint(desktop, up)
            display: none
    .swiper-pagination-bullets
        bottom: 10px
    .swiper-pagination-bullet
        background: $white
        opacity: 1
        width: 5px
        height: 5px
        &-active
            background: $gold
    .swiper-slide:not(.swiper-slide-visible)
        visibility: hidden
    .swiper-slide-prev, .swiper-slide-next
        position: relative
        cursor: pointer
        &:before
            content: ""
            position: absolute
            visibility: hidden
            width: 110px
            height: 110px
            z-index: 2
            pointer-events: none
        &:hover
            &:before
                visibility: visible
    .swiper-slide-prev
        &:before
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background: url('../images/svg-icons/prev-arrow.svg')
            background-size: contain
            background-repeat: no-repeat
            display: none
            @include breakpoint(desktop, up)
                display: block
    .swiper-slide-next
        &::before
            top: 50%
            left: 60%
            transform: translate(-50%, -50%)
            background: url('../images/svg-icons/next-arrow.svg')
            background-size: contain
            background-repeat: no-repeat
            display: none
            @include breakpoint(desktop, up)
                display: block
    .swiper-slide-active
        @include breakpoint(desktop, up)
            transform: scale(1.74)
            margin-top: 35px
            z-index: 5
        .slide
            padding-top: 50%
            &__content
                visibility: visible
            &__play
                display: flex
            &:after
                opacity: 0.2
            &:hover
                &:after
                    opacity: 0.1

.slide
    background-size: cover
    padding: 16px 10px 20px
    border-radius: 10px
    height: 100%
    position: relative
    padding-top: 50%
    @include breakpoint(desktop, up)
        height: 0
        padding-top: 66%
    &:hover
        &::after
            opacity: .4
        .triangle
            fill: $white
    &:after
        position: absolute
        content: ''
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 1
        background: #000
        border-radius: 10px
        opacity: 0.3
        transition: .3s opacity ease
        @include breakpoint(desktop, up)
            opacity: 0.7
    &__content
        z-index: 2
        display: flex
        position: relative
        flex-direction: column
        justify-content: space-between
        position: absolute
        top: 10px
        left: 10px
        padding-right: 10px
        visibility: hidden
        @include breakpoint(desktop, up)
            top: 10px
            left: 10px
        @include breakpoint(desktop-large, up)
            top: 27px
            left: 25px
    &__head
        display: flex
    &__head-img
        @extend .article-promo__head-img
        margin-right: 7px
        width: 28px
        height: 28px
    &__name
        @extend .article-promo__head-title
        font-size: 6px
        color: $gold
    &__title
        color: $white
        @include font-size(26px)
        line-height: 1.23em
        margin-top: 20px
        font-weight: 300
        @include breakpoint(desktop, up)
            @include font-size(20px)
            line-height: 1.6em
            width: 80%
            margin-top: 0
        @include breakpoint(desktop-large, up)
            width: 60%
            @include font-size(29px)
            line-height: 34px
            margin-top: 1.17em
    &__play
        cursor: pointer
        font-size: 0.6em
        text-transform: uppercase
        display: flex
        align-items: center
        letter-spacing: 2.4px
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        z-index: 2
        padding: 40% 0 0 20px
        background: transparent
        border: none
        outline: none
        color: $white
        display: none
        @include breakpoint(desktop, up)
            font-size: 6px
            bottom: 6px
            left: 6px
            letter-spacing: 1.9px
        svg
            transform: scale(0.55)
            path
                transition: .3s fill ease
