.follow-us-section
    margin-top: 30px
    margin-bottom: 40px
    @include breakpoint(desktop-large, up)
        margin: 90px auto 100px
.follow-us
    &__title
        margin-bottom: 0
    &__text
        margin-bottom: 23px
        color: $black
    &__links
        display: flex
        margin-bottom: 23px
    &__link
        display: flex
        align-items: center
        @include breakpoint(desktop-large, up)
            &:last-child
                margin-left: auto
            &:first-child
                margin-left: 0
    a
        color: $gold
        display: inline-block
        margin-right: 16px
        font-size: 14px
        @include breakpoint(desktop, up)
            margin-right: 10px
        @include breakpoint(desktop-large, up)
            margin-right: 20px
        img
            width: 23px
            height: 28px
            margin-right: 5px
            @include breakpoint(desktop, up)
                margin-right: 8px
.contact-section
    margin-top: 30px
    margin-bottom: 30px
    @include breakpoint(desktop, up)
        margin: 85px auto 90px
    &__title, h2
        margin-bottom: 12px
    
    .card
        display: flex
        width: 100%
        margin-bottom: 1rem
        @include breakpoint(desktop-large, up)
            padding: 30px 40px 40px
    &__half-card
        .card
            margin-bottom: 1rem
            @include breakpoint(desktop, up)
                margin: 0 0 2rem 0
                width: 100%
    &__margin
        margin-bottom: 16px
.contacts
    display: table
    width: 100%
    &__title
        font-size: 26px
        line-height: 32px
    &__text
        font-size: 16px
        line-height: 20px
        @include breakpoint(desktop, up)
            line-height: 30px
        &-top
            margin-bottom: 20px
            @include breakpoint(desktop-large, up)
                margin-bottom: 29px
            span
                display: block
        &-bottom
            > div
                display: flex
                .contacts__phone
                    margin-left: 0
                    display: inline-flex
        .lit-column
            width: 27px
            display: inline-block
            font-weight: 500
            @include breakpoint(desktop-large, up)
                margin-right: 4px
        .gray-text
            color: $gray
            font-style: italic
            @include breakpoint(desktop-large, up)
                margin-left: 4px
    &__phones
        margin-bottom: 16px
        @include breakpoint(desktop-large, up)
            display: flex
            margin-bottom: 0
        .contacts__phone
            color: $black
            margin-left: 40px
            &:first-child
                display: block
            @include breakpoint(desktop-large, up)
                display: inline-block
                margin-left: 0
    &__divider
        display: none
        @include breakpoint(desktop-large, up)
            display: inline-block
            margin: 0 4px
    &__btns
        margin-top: 35px
        text-align: center
        @include breakpoint(desktop-large, up)
            display: flex
            align-items: center
        .contacts__btn
            @include breakpoint(tablet, down)
                width: 100%
    &__btn
        display: block
        @include breakpoint(desktop-large, up)
            display: inline-block
            margin-right: 32px
            

    &__btn-link
        margin-top: 20px
        display: inline-block
        @include breakpoint(desktop-large, up)
            margin-top: 0
        i
            display: none
            @include breakpoint(desktop-large, up)
                display: inline-block
    &__image
        width: 100%
        height: auto
        border-radius: 10px
    &__row
        display: table-row
    &__cell
        display: table-cell
        vertical-align: top
        width: 50%
    &__cell-image
        display: none
        @include breakpoint(desktop, up)
            display: table-cell
.contact-form-section
    @extend .contact-section
    margin-bottom: 40px
    @include breakpoint(desktop, up)
        margin-top: 27px
        margin-bottom: 90px
    .input-group
        label
            top: -14px
            left: 0
            font-size: 12px
            color: $gray
.send-message-text
    @extend .follow-us__text
.contact-us 
    .light-gray
        p
            font: 12px $userfont
            margin: 0
            line-height: 22px
            width: 60%
            font-weight: 500
            @include breakpoint(tablet, down)
                width: 100%