.follow-us-section
    margin: 30px auto 40px
    @include breakpoint(desktop-large, up)
        margin: 90px auto 100px
.follow-us
    &__title
        margin-bottom: 0
    &__text
        margin-bottom: 23px
        color: $black
    &__links
        display: flex
        margin-bottom: 23px
    &__link
        display: flex
        align-items: center
        @include breakpoint(desktop-large, up)
            &:last-child
                margin-left: auto
    a
        color: $gold
        display: inline-block
        margin-right: 16px
        font-size: 14px
        @include breakpoint(desktop, up)
            margin-right: 10px
        @include breakpoint(desktop-large, up)
            margin-right: 20px
        img
            width: 23px
            height: 28px
            margin-right: 5px
            @include breakpoint(desktop, up)
                margin-right: 8px

.contact-section
    margin: 30px 0
    @include breakpoint(desktop-large, up)
        margin: 85px auto 90px
    &__title
        margin-bottom: 12px

.contacts
    &__title
        font-size: 26px
        line-height: 32px
    &__text
        font-size: 16px
        line-height: 20px
        @include breakpoint(desktop, up)
            line-height: 30px
        &-top
            margin-bottom: 20px
            @include breakpoint(desktop-large, up)
                margin-bottom: 29px
            span
                display: block
        .lit-column
            width: 27px
            display: inline-block
            font-weight: 500
        .gray-text
            color: $gray
            font-style: italic
