body 
    #CybotCookiebotDialog
        position: fixed
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) !important
        margin: 0 !important
        border: none
        border-radius: 10px
        padding: 25px
        +breakpoint(tablet, down)
            max-width: 80% !important //override script style 

        a, p, div
            font-family: $userfont

        #CybotCookiebotDialogBody
            display: flex
            flex-direction: column

            #CybotCookiebotDialogPoweredbyLink
                position: relative
                width: 100%
                display: flex
                justify-content: flex-start
                margin: 0
                padding: 0
                align-items: center
                height: auto
                margin-bottom: 10px
                width: 151px

                #CybotCookiebotDialogPoweredbyImage
                    width: auto
                    max-width: 100%

            #CybotCookiebotDialogBodyContent
                display: flex
                flex-direction: column
                margin: 0
                padding: 0
                width: 100%

            #CybotCookiebotDialogBodyContentTitle
                font-size: 30px
                letter-spacing: 0
                color: $gold
                line-height: 48px
                text-align: left
                font-family: $userfont
                font-weight: 100
                padding: 0
                margin: 0

            #CybotCookiebotDialog div
                font-size: 20px
                color: $black
                letter-spacing: 0
                line-height: 30px
                font-family: $userfont

            #CybotCookiebotDialogBodyButtons
                display: flex
                margin: 0
                padding: 0
                justify-content: space-between

                +breakpoint(tablet, down)
                    flex-direction: column
                    flex-wrap: wrap


                #CybotCookiebotDialogBodyButtonAccept
                    // if I can add class btn I can remove those styles
                    display: inline-flex
                    align-items: center
                    padding: 0
                    font-weight: 500
                    text-transform: uppercase
                    color: #fff
                    text-align: center
                    text-decoration: none
                    vertical-align: middle
                    cursor: pointer
                    user-select: none
                    border: 1px solid $primary
                    min-width: 158px
                    height: 42px
                    font-size: 12px
                    border-radius: 6px
                    letter-spacing: 1.4px
                    transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out, -webkit-box-shadow 0.3s ease-out
                    overflow: hidden
                    font-family: $userfont
                    padding: 0 !important
                    box-sizing: border-box
                    background: $primary
                    margin: 0 !important
                    justify-content: center

                    +breakpoint(tablet, down)
                        min-width: 100%

            #CybotCookiebotDialogBodyButtons #CybotCookiebotDialogBodyButtonDetails
                display: inline-flex
                margin: 0
                border: 0
                align-items: center
                background-position: 100% 50%
                padding: 0 13px 0 8px
                max-width: fit-content
                font-size: 12px
                text-transform: uppercase
                border: 0px solid #10a047
                border-radius: 6px
                background: #10a047
                color: #fff
                
}

                +breakpoint(tablet, down)
                    margin: 5px auto

        #CybotCookiebotDialogDetailBody
            padding: 0
            margin-top: 15px
            #CybotCookiebotDialogDetailBodyContentTabs
                display: inline-flex

                .CybotCookiebotDialogDetailBodyContentTabsItem
                    background-color: transparent
                    color: $black

                .CybotCookiebotDialogDetailBodyContentTabsItemSelected
                    background-color: transparent
                    color: $gold !important

            .CybotCookiebotDialogDetailBodyContentCookieTypeTable thead td,
            .CybotCookiebotDialogDetailBodyContentCookieTypeTable thead th
                background-color: transparent !important
