.doc-list
    &__item
        @extend .fund-item-list
    &__checkbox
        margin-bottom: 1rem
        @include breakpoint(desktop, up)
            margin-bottom: 0
    &__links
        @extend .fund-item-list__links
        a
            margin-right: 10px
            @include breakpoint(desktop, up)
                margin-right: 32px
            &:last-child
                margin-right: 0
        i
            font-size: 15px
            vertical-align: text-top
        .link-styles
            i.icon-list-view, i.icon-arrow-right
                font-size: 12px
                vertical-align: inherit
            &_black-mobile
                @include breakpoint(desktop, down)
                    color: $black
    &__title
        @extend .fund-item-list__title
        margin-bottom: 1rem
        display: inline-block
        @include breakpoint(desktop, up)
            margin-bottom: 0
    &__right-btn
        display: none
        @include breakpoint(desktop, up)
            display: block
    &__heading
        @extend .h5

.doc-list-nav
    margin-top: 30px
    margin-bottom: 30px
