.footer
    background: $secondary
    padding-top: 42px
    padding-bottom: 16px
    border-bottom: 2px solid $primary
    &__title
        margin-bottom: 8px
        display: inline-block
        @include breakpoint(desktop, up)
            margin-bottom: 1rem
    &__section
        margin-top: 37px
        @include breakpoint(desktop, up)
        margin-top: 0
    &__bottom-item
        display: flex
        flex-direction: column
        justify-content: space-between
    &__list
        padding-top: 6px
    &__link
        line-height: 26px
        &:hover
            text-decoration: underline
        @include breakpoint(desktop, up)
            @include font-size(18px)
            line-height: 28px
        &_arrow
            text-transform: uppercase
            font-size: 12px
            letter-spacing: 2.4px
            display: block
            i.icon-arrow-right
                color: $primary
            &:hover
                text-decoration: none
        &_sign
            margin-top: 16px
            @include breakpoint(desktop, up)
                margin-top: 7px
    &__map-link
        color: $primary
        text-transform: uppercase
        font-size: 12px
        margin-top: 12px
        letter-spacing: 2.4px
        &:hover
            color: #0E8039
        @include breakpoint(desktop, up)
            margin-top: 2rem
    &__list-item
        line-height: 34px
        font-size: 14px
        a:hover
            text-decoration: underline
    &__copy
        font-size: 10px
        line-height: 13px
        @include breakpoint(desktop, up)
            font-size: 12px
    &__investor
        text-transform: uppercase
        font-size: 12px
        letter-spacing: 2.4px
        display: flex
        align-items: center
        cursor: pointer
        margin-top: 8px
        @include breakpoint(desktop, up)
            font-size: 12px
            margin-top: 0
        i
            color: $primary
            font-size: 6px
            display: inline-block
            margin-left: 4px

.social
    &__link
        margin-right: 21px
        cursor: pointer
        position: relative
        &:hover
            text-decoration: none
            .social__twitter
                visibility: visible
                opacity: 1
    &__link-icon
        font-size: 15px
        height: 15px
    &__twitter
        visibility: hidden
        opacity: 0
        background: $secondary
        z-index: 2
        position: absolute
        transition: opacity .3s ease, visibility .3s ease
        padding: 3px
        @include breakpoint(mobile-large, up)
            top: -5px
            left: 25px
    &__twitter-link
        font-size: 14px
        line-height: 24px
        &:hover
            text-decoration: underline
