.fullwidthbanner   
    background:url('../../../images/components/banners/fullwidthbanner.png')
    height: 762px
    background-repeat: no-repeat
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 20px
    z-index: 11
    position: relative
    &__headbox
        display: flex
        justify-content: center

    &__head
        display: flex
        color: $gold
        letter-spacing: 1.86px
        font-weight: 300
        opacity: 1
        justify-content: center
        width: 100%
        margin-bottom: 20px
        @include breakpoint(mobile-large, up)
            width: 80%
        @include breakpoint(desktop, up)
            width: 60%
   
    &__contentbox
        display: flex
        justify-content: center
        margin-bottom: 20px


    &__content
        display: flex
        justify-content: center
        font-weight: normal
        letter-spacing: 0.2px
        color: $white
        width: 100%
        @include breakpoint(mobile-large, up)
           width: 80%

    &__more-arrow
        width: 15px
        height: 12.5px
        margin-left: 5px

    &__morebox
        display: flex
        justify-content: center
        align-items: center
