.fund-manager
    &__item
        margin-bottom: 30px
        display: block
    &__img
        width: 100%
        height: auto
        border-radius: 10px
    &__title
        @extend .h5
        @include breakpoint(desktop-large, up)
            margin-bottom: 6px
    &__text
        color: $black
        @include breakpoint(desktop-large, up)
            @include font-size(18px)
            line-height: 1.44em
