.fund-item-list
    color: $black
    padding: 23px 0
    border-bottom: 1px solid #4148551A
    &:first-child
        border-top: 1px solid #4148551A        
        margin-top: 13px
        @include breakpoint(tablet, down)
            margin-top: 20px
        &.fund-lister
            margin-top: 0
    &__title
        font-weight: 500
        @include font-size(18px)
        line-height: 1.55em
        display: inline-block
    &__badge
        margin: 10px 0 15px
        @include breakpoint(desktop, up)
            display: inline-block
            margin: 0
    &__links
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 15px
        @include breakpoint(desktop, up)
            margin: 0

        &.has-no-factsheet
            justify-content: flex-start
            @include breakpoint(xl, up)
                justify-content: flex-end
    .btn
        .animate-arrow
            transform: translate(-2px,0)
        &:hover
            .animate-arrow
                transform: translate(2px,0)
    &__badge-and-btns
        display: flex
        flex-direction: column
        @include breakpoint(desktop, up)
            flex-direction: row
            align-items: center
            justify-content: space-between
        .fund-item-list__badge
            margin-bottom: 20px
            @include breakpoint(desktop, up)
                margin-bottom: inherit 
    &__btns
        display: flex
        flex-direction: column
        @include breakpoint(desktop, up)
            justify-content: flex-end
            flex-direction: row
        .btn
            margin-bottom: 20px
            &:last-child
                    margin-bottom: 0
            @include breakpoint(desktop, up)
                margin-right: 20px
                margin-bottom: 0
                &:last-child
                    margin-right: 0
                    padding: 0
            i
                &::before
                    padding: 6px
                &.animate-arrow
                    display: inline-block
.link-gray
    @extend .btn-unset
    @extend .link-styles
    color: $black
    letter-spacing: 1.2px
    padding: 0
    line-height: 17px
    i.icon-folder
        font-size: 13px
