.fundscroller
    padding: 45px 0
    background: $black
    position: relative
    &::before
        // position: absolute
        // top: -100%
        // left: 0
        // bottom: -100%
        // width: 80%
        // content: ""
        // background: radial-gradient( at 0% 46%,rgba(#10a047, .3),rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0))
        // background: radial-gradient(at 0%,rgba(16,160,71,.3),rgba(0,0,0,0),rgba(0,0,0,0))
        // background: radial-gradient(circle, rgba(0,186,0,0.2) 50%, rgba(0,186,0,0.2)),
        // background: radial-gradient(circle closest-side at 30px 20px, #10a047, #000)
        // background: radial-gradient(to right, rgba(16,160, 71,1), rgba(0,0,0,0))
    @include breakpoint(desktop, up)
        padding: 70px 0
    &__box
        position: relative
        display: flex
        width: 100%
        min-height: 400px
        padding: 20px 0
        margin: 10px 0
        justify-content: space-between
        flex-direction: column
        @include breakpoint(desktop, up)
            flex-direction: row
            min-height: 673px
            padding-left: 50px

    &__left
        @include breakpoint(desktop, up)
            width: 45%

    &__right
        display: flex
        position: relative
        right: 0px
        width: 100%
        overflow-y: hidden
        -webkit-overflow-scrolling: touch
        padding: 30px 0 45px 20px
        &::-webkit-scrollbar
            display: none

        @include breakpoint(desktop, up)
            margin-top: 0
            position: absolute
            width: 45%
        @include breakpoint(desktop-large, up)
            width: 50%

    &__slider
        display: flex
    .imagepromo__content
        width: 100%

.swiper-container-funds
    width: 100%
    height: 100%

.swiper-container-funds .swiper-slide
    text-align: center
    font-size: 18px
    /* Center slide text vertically */
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

    width: 100% !important
    @include breakpoint(mobile-large, up)
        width: 310px !important
    @include breakpoint(tablet, up)
        width: 370px !important

    @include breakpoint(desktop, up)
        width: 400px !important

.swiper-container-funds .swiper-pagination
    bottom: -6px

.swiper-container-funds .swiper-pagination-bullet
    background: $white
    opacity: 1
    outline: none

.swiper-container-funds .swiper-pagination-bullet-active
    background: $gold

.fundscroller .swiper-button-next
    right: -45px
    top: 60%
    outline: none

.fundscroller .swiper-button-prev
    left: -45px
    top: 60%
    outline: none

.fundscroller .swiper-button-next:after, .fundscroller .swiper-button-prev:after
    color: $white
    font-size: 50px
    z-index: 999
