.fundscroller
    position: relative
    @include breakpoint(desktop, up)
        padding: 16px 0 18px
    &__box
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        @include breakpoint(tablet, down)
            flex-direction: column
        &.has-content
            .imagepromo__content
                width: 100%
            .fundscroller__box-col
                max-height: 1000px
                flex: 1
                padding: 0 16px 0 43px
                @include breakpoint(tablet, down)
                    padding-left: 16px
            .fundscroller__carousel-col
                transform: translateY(-7px)
    &__headbox
        margin-bottom: 7px
        padding-left: 43px
        width: 100%
        @include breakpoint(desktop, up)
            margin-top: 30px
            margin-bottom: 7px
        @include breakpoint(tablet, down)
            padding-left: 16px

    &__dashboard-inner
        padding: 0
        margin-bottom: 73px
        .fundscroller__box-col
            margin-right: 16px
            max-width: 436px
            position: relative
            z-index: 1
            padding: 0 16px 0 8px
            flex: 0
            max-height: 0
            overflow: hidden
            @include breakpoint(tablet, down)
                max-width: 100%
                margin: 0
                padding: 0 16px

            .imagepromo__headbox
                margin-top: 30px
        .fundscroller__carousel-col
            flex: 1
            z-index: 0
            position: relative
            max-width: calc( 100% - 455px )
            overflow: hidden
            padding-bottom: 25px
            margin-bottom: -25px
            @include breakpoint(tablet, down)
                max-width: 100%
                margin-top: 0px
                padding: 0 16px 25px
                transform: translateY(0px)
            .swiper-slide
                max-width: 456px
                height: 500px
                margin: 0 16px
                @include breakpoint(tablet, down)
                    max-width: 274px
                    height: 340px
                    margin: 0 8px
            .swiper-slide-prev
                .fund-card
                    box-shadow: 0px 10px 30px #41485572
        .has-content
            .fundscroller__carousel-col
                @include breakpoint(tablet, down)
                    margin-top: 0px
                    transform: translateY(0px)
    &__dashboard-home
        .fundscroller__box-col
            max-width: 762px
            background: transparent
            @include breakpoint(tablet, down)
                max-width: 100%
        .fundscroller__carousel-col
            max-width: 100%
            @include breakpoint(tablet, down)
                max-width: 100%    
                transform: translateY(0px)
        .has-content
            .fundscroller__carousel-col
                @include breakpoint(tablet, down)
                    transform: translateY(0px)
    &__right
        display: flex
        position: relative
        right: 0px
        width: 100%
        padding: 40px 0 30px 0
        &::-webkit-scrollbar
            display: none
        @include breakpoint(desktop, up)
            overflow: hidden
            margin-top: 0
            position: absolute
    &__slider
        display: flex
.fundscroller-bg
    background: radial-gradient(70.56% 228.27% at -4.25% 47.85%, rgba(16, 160, 71, 0.37) 0%, rgba(16, 160, 71, 0) 100%), #000000
.main-page
    .fundscroller-bg
        background: none
