.fund-card
    border-radius: 10px
    width: 100%
    height: 100%
    display: block
    max-width: 274px
    overflow: hidden
    box-shadow: 0px 10px 15px rgba(65, 72, 85, 0.45)
    @include breakpoint(tablet, up)
        max-width: 334px
    @include breakpoint(desktop, up)
        max-width: 456px
        min-width: 334px
        height: 630px
    @include breakpoint(desktop, up)
        &:hover
            img
                transform: scale(1.05)
            i.icon-arrow-right
                transform: translate(10px, 0)
    &_grid
        margin-bottom: 32px
        height: auto
        display: flex
        flex-direction: column
        max-height: fit-content
        max-width: 100%
        @include breakpoint(desktop, up)
            min-width: 100%
        .fund-card__head
            height: auto
            img
                width: 102%
            @include breakpoint(desktop, up)
            min-height: 188px
        .fund-card__title
            font-size: 26px
            line-height: 32px
            margin-bottom: 5px
        .fund-card__subtitle
            margin-bottom: 2px
        .fund-card__content
            display: flex
            flex-direction: column
            justify-content: space-between
            padding: 16px 8px 13px
            .fund-card__text p
                font-size: 16px
                line-height: 24px
                margin-bottom: 0
                @include breakpoint(mobile-large, up)
                    margin-bottom: 8px
    &__head
        background-size: cover
        border-radius: 10px 10px 0 0
        overflow: hidden
        img
            width: 100%
            height: auto
            transition: transform .8s ease-out
    &__title
        @extend .h4
        font-weight: 300
        display: block
        color: $gold
        margin-bottom: 6px
        @include breakpoint(desktop, up)
            margin-bottom: 14px
    &__subtitle
        font-size: 14px
        font-weight: 500
        line-height: 17px
        letter-spacing: 2.1px
        display: block
        color: $primary
        @include breakpoint(desktop, up)
            margin-bottom: 6px
    &__content
        padding: 16px 9px
        background: $white
        border-radius: 0 0 10px 10px
        height: 100%
        @include breakpoint(desktop, up)
            padding: 24px 16px 41px
        i.icon-arrow-right
            display: inline-block
            transition: transform .3s ease-out
    &__text
        p
            color: $black
            @include p-1-normal-18
            margin-bottom: 12px
            @include breakpoint(desktop, up)
                margin-bottom: 32px
    &__btn
        @extend .btn-unset
        @extend .link-styles
        color: $black
        padding-left: 0
        margin-bottom: 4px
        .icon-folder
            font-size: 12px
        &:hover
            color: $black
    &__btns-block
        display: flex
        justify-content: space-between
