.section
  color: $secondary-gray
  padding: 35px 0
  &__title
    font: 12px $font-family-bold
  &__description
    font: 12px $userfont
    margin: 0
    line-height: 22px
    width: 60%
    @include breakpoint(tablet, down)
      width: 100%

.light-gray
  background: $table-accent-bg 0% 0% no-repeat padding-box