.header
    background-image: url('../images/components/header/bg-desktop.svg')
    height: 1000px
    background-repeat: no-repeat
    background-size: cover
    &__fixed
        position: fixed
        left: 50%
        transform: translateX(-50%)
