.header
    background-repeat: no-repeat
    background-size: cover
    position: relative
    z-index: auto
    border-top-width: 0.5em
    border-style: solid
    border-image: $prideTwo
    border-image-slice: 7 0 0 0
    
    &_fund-manager
        background: none

    &__fixed
        position: fixed
        left: 50%
        transform: translateX(-50%)

    &-hero
        min-height: 550px

        +breakpoint(desktop, up)
            min-height: 550px

    .article-links
        justify-content: center

.header-overlay
    &:after
        position: absolute
        content: ""
        background: #000
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: -1
        opacity: 0.6

