.header-btn-nav
    display: flex
    align-items: center
    padding-bottom: 20px
    // overflow-y: scroll
    flex-wrap: nowrap
    margin: 0 auto
    @include breakpoint(desktop, up)
        padding-bottom: 30px
        justify-content: center
        @include breakpoint(desktop-large, up)
    &__title
        @include p-1-medium-18
    &__btn
        @extend .btn
        @extend .btn-anchor
        text-transform: initial
        font-size: 16px
        font-weight: 300
        display: table
        margin: 0 0 0 16px
        @include breakpoint(desktop, up)
            display: inline-block
            margin: 0 16px 0 16px
        @include breakpoint(desktop-large, up)
            @include font-size(18px)
            height: 48px
            line-height: 45px
            padding: 0
            font-size: 18px
            min-width: 212px
            letter-spacing: 0
    .swiper-wrapper
        align-items: center
        width: auto
    .swiper-slide
        width: auto
    & > .swiper-wrapper 
        width: max-content
        margin: 0 auto
