.header-btn-nav
    display: flex
    align-items: center
    padding-bottom: 20px
    overflow-y: scroll
    flex-wrap: nowrap
    @include breakpoint(desktop, up)
        padding-bottom: 30px
        justify-content: center
        overflow-y: hidden
        @include breakpoint(desktop-large, up)
            overflow-y: visible
    &__title
        display: inline-block
        margin-right: 16px
        @include p-1-medium-18
        @include breakpoint(desktop-large, up)
            margin-right: 32px
    &__btn
        margin-right: 16px
        @extend .btn
        @extend .btn-anchor
        text-transform: initial
        font-size: 16px
        font-weight: 300
        display: table
        white-space: nowrap
        @include breakpoint(desktop, up)
            display: inline-block
        @include breakpoint(desktop-large, up)
            @include font-size(18px)
            height: 48px
            line-height: 45px
            margin-right: 32px
