.hero-manager-link
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    margin: 50px auto
    column-gap: 10%
    row-gap: 30px
    width: 100%
    @include breakpoint(desktop, up)
        width: 55%
    img
        border-radius: 50%
        width: 75px
        height: 75px
        background: $herobg-gradient
        @include breakpoint(desktop, up)
            width: 100px
            height: 100px
    span
        font-size: 10px
        font-weight: 500
        display: block
        letter-spacing: 2.4px
        text-transform: uppercase
        margin: 16px 0