.hero-manager-link
    display: flex
    margin: 0 auto
    margin-bottom: 20px
    @include breakpoint(desktop, up)
        margin-bottom: 56px
        justify-content: center
        display: inline-block
    &__link
        display: inline-block
        padding: 0 10px
        width: 33%
        &:last-child
            margin-right: 0
        @include breakpoint(desktop, up)
            margin-right: 130px
            width: auto
    &__img
        border-radius: 50%
        width: 25px
        height: 25px
        margin-bottom: 10px
        background: linear-gradient(90deg, rgba(101,100,107,1) 0%, rgba(110,107,120,1) 50%, rgba(110,111,122,1) 100%)
        @include breakpoint(desktop, up)
            width: 50px
            height: 50px
            margin-bottom: 15px
    &__name
        font-size: 10px
        font-weight: 500
        display: block
        letter-spacing: 2.4px
        text-transform: uppercase
        span
            display: block
            @include breakpoint(desktop, up)
                display: inline
                font-size: 12px
