// remove in future    
.leadbanner
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 40px 0
    &__headbox
        display: flex
        justify-content: center

    &__head
        display: flex
        color: $gold
        letter-spacing: 1.86px
        font-weight: 300
        opacity: 1
        justify-content: center
        width: 100%
        @include breakpoint(mobile-large, up)
            width: 80%
        @include breakpoint(desktop, up)
            width: 60%
        > h1
            line-height: 1.2

    &__contentbox
        display: flex
        justify-content: center
        margin-top: 15px

    &__content
        display: flex
        justify-content: center
        font-weight: normal
        letter-spacing: 0.2px
        color: $white
        width: 100%
        @include breakpoint(mobile-large, up)
            width: 80%

    &__teamicon
        width: 60px
        height: 60px

// new style for lead banner
.lead-banner
    margin-top: 30px
    margin-bottom: 40px
    width: 100%;
    @include breakpoint(desktop, up)
        margin-top: 37px
        width: 714px
      
    &__title
        margin: 0
        letter-spacing: 0.42px
        font-size: 42px
        line-height: 48px
        @include breakpoint(desktop, up)
            letter-spacing: 1.86px
            font-size: 62px
            line-height: 66px
    &__subtitle
        font-weight: bold
        font-size: 10px
        margin-bottom: 10px
        letter-spacing: 2px
        text-transform: uppercase
        margin: 24px 0 0 0
        line-height: 42px
        @include breakpoint(desktop, up)
            font-size: 15px
            letter-spacing: 3px
            line-height: 28px
            margin: 16px 0 0 0
    &__btns
        margin-top: 37px
        margin-bottom: 70px
        @include breakpoint(desktop, up)
            margin-top: 46px
    &__text
        display: inline-flex
        @include p-1-book-20
        font-size: 18px
        letter-spacing: 0
        line-height: 28px
        margin: 7px 0 0 0
        @include breakpoint(desktop, up)
            font-size: 20px
            letter-spacing: 0.2px
            line-height: 30px
            margin: 10px 0 0 0
    &__content
        display: inline-block
        @include breakpoint(desktop, up)
            width: 40%
    &__btnbox
        display: flex
        justify-content: center
    .imagepromo__btn
        @include breakpoint(desktop, up)
            width: 212px
