// remove in future    
.leadbanner
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 40px 0
    &__headbox
        display: flex
        justify-content: center

    &__head
        display: flex
        color: $gold
        letter-spacing: 1.86px
        font-weight: 300
        opacity: 1
        justify-content: center
        width: 100%
        @include breakpoint(mobile-large, up)
            width: 80%
        @include breakpoint(desktop, up)
            width: 60%
        > h1
            line-height: 1.2

    &__contentbox
        display: flex
        justify-content: center
        margin-top: 15px

    &__content
        display: flex
        justify-content: center
        font-weight: normal
        letter-spacing: 0.2px
        color: $white
        width: 100%
        @include breakpoint(mobile-large, up)
            width: 80%

    &__teamicon
        width: 60px
        height: 60px

// new style for lead banner
.lead-banner
    margin-top: 30px
    margin-bottom: 40px
    @include breakpoint(desktop, up)
        margin-top: 40px
    &__title
        margin-bottom: 20px
        @include breakpoint(desktop, up)
            margin-bottom: 2rem
            margin-bottom: 10px
    &__subtitle
        font-weight: bold
        font-weight: 10px
        margin-bottom: 7px
        letter-spacing: 2px
        text-transform: uppercase
        @include breakpoint(desktop, up)
            font-size: 15px
            letter-spacing: 3px
    &__btns
        margin-top: 40px
        margin-bottom: 70px 
        @include breakpoint(desktop, up)
            margin-top: 45px
    &__text
        font-size: 18px
        display: inline-block
        font-weight: 300
        line-height: 28px
        @include breakpoint(desktop, up)
            font-size: 20px
    &__content
        display: inline-block
        @include breakpoint(desktop, up)
            width: 40%
    &__btnbox
        display: flex
        justify-content: center
