.howtoinvest
    margin: 45px 0
    @include breakpoint(desktop, up)
        margin: 70px 0
    &__box
        display: flex
        flex-direction: column
        justify-content: center

    &__head
        display: flex
        font-size: 32px
        color: $gold
        font-weight: 300
        margin-bottom: 20px
        text-align: center
        justify-content: center

        @include breakpoint(desktop, up)
            font-size: 52px

    &__body
        display: flex
        margin-bottom: 20px
        justify-content: center

    &__slide
        display: flex
        flex-direction: column
        width: 30%
        justify-content: center
        align-items: center
        padding: 0
        justify-content: flex-start
        @include breakpoint(desktop, up)
            padding: 20px

    &__img
        width: 50px
        height: 50px
        border-radius: 5em
        margin-bottom: 10px
        @include breakpoint(desktop, up)
            margin-bottom: 20px
            width: 70px
            height: 70px

    &__desc
        display: flex
        text-align: center
        color: #000
        font-size: 10px
        font-weight: bold
        @include breakpoint(desktop, up)
            padding: 0 20px
            font-size: 12px

    &__footer
        display: flex
        flex-direction: column
        justify-content: center

        @include breakpoint(tablet, up)
            flex-direction: row

        > a
            margin-bottom: 10px
