.imagepromo
    display: flex
    position: relative
    flex-direction: row
    justify-content: center
    text-align: center

    &__box
        // background: transparent url(../images/components/banners/brand-element-chevron.svg) 0% 0% no-repeat padding-box
        position: relative
        width: 100%
        display: flex
        padding: 0
        background-position: calc(100% + 3px) calc(1% + -96px)
        background-size: 59%

    &__body
        display: flex
        z-index: 10
        left: 0
        top: 0
        width: 100%
        height: 100%
        align-items: center
        flex-direction: column

        @include breakpoint(tablet, up)
            flex-direction: row

    &__imagebox
        display: flex
        flex-direction: row
        width: 100%
        @include breakpoint(tablet, up)
            margin-right: 16px
        @include breakpoint(desktop, up)
            width: 50%
            margin-right: 32px
    &__imageboxchild
        display: flex
        flex-direction: column
    &__image-bg
        object-fit: cover
        width: 100%
        height: 408px
        margin-bottom: 16px
        border-radius: 5px
        @include breakpoint(desktop, up)
            margin-bottom: 20px
        @include breakpoint(desktop-large, up)
            margin-bottom: 32px
    &__image-sm
        object-fit: cover
        width: 100%
        height: 188px
        margin-bottom: 16px
        border-radius: 5px
        @include breakpoint(desktop, up)
            margin-bottom: 20px
        @include breakpoint(desktop-large, up)
            margin-bottom: 32px
    &__content
        display: flex
        flex-direction: column
        width: 100%
        @include breakpoint(desktop, up)
            width: 48%
    &__headbox
        margin-bottom: 10px
        @include breakpoint(desktop, up)
            margin-top: 50px
    &__contentbox
        margin-bottom: 40px
        font-size: 20px
        color: $black
        p
            margin-bottom: 1.4rem
    &__btnbox
        display: flex
        justify-content: left
    &__btn
        margin-right: 16px
        font-size: 10px
        padding: 0 .2rem
        width: 100%
        &:last-child
            margin-right: 0
        @include breakpoint(tablet, up)
            min-width: 180px
            padding: 0 .5rem
            font-size: 10px
            width: auto
        @include breakpoint(desktop, up)
            font-size: 12px
            min-width: 200px

    &__arrow
        margin-left: 5px
        display: none
        @include breakpoint(tablet, up)
            display: inline-block

.imagepromo.whow-to
    .imagepromo__content
        @include breakpoint(desktop, up)
            padding-left: 80px
    .imagepromo__headbox
        text-align-last: left
        @include breakpoint(desktop, up)
            margin-top: -45px
    .imagepromo__contentbox
        text-align-last: left