.imagepromo
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    margin-top: 40px
    &__imagebox
        display: flex
        width: 50%
        flex-direction: row
    &__image-bg
        width: 48%;
        object-fit: cover;
        height: 408px;
        margin: 0 10px 10px 0; 
    &__image-sm
        width: 48%;
        object-fit: cover;
        height: 118px;
        margin: 0 10px 10px 0;    