.insight
    display: flex
    overflow: hidden

    &__box
        display: flex
        flex-direction: column


    &__head
        display: flex
        justify-content: space-between
        align-content: center
        padding: 10px 0
        

    &__tit
        display: flex
        font-size: 32px
        color: $gold
        font-weight: 300
        @include breakpoint(desktop, up)
            font-size: 52px

    


    &__more
        display: none
        align-items: center
        color: $primary
        letter-spacing: 2.4px
        font-size: 12px
        text-transform: uppercase
        cursor: pointer
        @include breakpoint(desktop, up)
            display: flex
        > i 
            width: 16px
            height: 13px
            margin-left: 5px
            transition: transform .5s ease-out

        &:hover
            > i
                transform: translate(10px, 0)

    &__more-resp
        display: flex
        align-items: center
        color: $primary
        letter-spacing: 2.4px
        font-size: 12px
        text-transform: uppercase
        cursor: pointer
        @include breakpoint(desktop, up)
            display: none
        > i 
            width: 16px
            height: 13px
            margin-left: 5px
            transition: transform .5s ease-out

        &:hover
            > i
                transform: translate(10px, 0)


    &__articles-resp
        visibility: visible      
        padding: 20px 0
        @include breakpoint(desktop, up)
            visibility: hidden
            height: 0

        .container-left-gutter
            margin: 0
            padding: 0

    &__articles
        display: none
        padding: 20px 0
        @include breakpoint(desktop, up)
            display: flex
            flex-direction: row
            flex-wrap: wrap


        // .article__slide
        //     padding: 0
        //     margin: 20px 20px 0 0
        //     @include breakpoint(desktop, up)
        //         width: 289px
        //         height: 321px

        //     @include breakpoint(desktop-large, up)
        //         width: 400px
        //         height: 400px