.insight
    display: flex
    overflow: hidden
    position: relative
    @include breakpoint(tablet, down)
        padding-bottom: 30px

    &__box
        display: flex
        flex-direction: column

    &__head
        display: flex
        justify-content: space-between
        align-content: center
        padding: 10px 0
        position: unset

    &__tit
        display: flex
        font-size: 32px
        color: $gold
        font-weight: 300
        @include breakpoint(desktop, up)
            font-size: 52px

    &__more
        align-items: center
        color: $primary
        letter-spacing: 2.4px
        font-size: 12px
        text-transform: uppercase
        cursor: pointer
        position: absolute
        bottom: 0
        z-index: 6
        @include breakpoint(desktop, up)
            display: flex
            position: relative
            z-index: auto
            bottom: auto
        > i
            width: 16px
            height: 13px
            margin-left: 5px
            transition: transform .5s ease-out

        &:hover
            > i
                opacity: 0
        &::after
            content: "\e901"
            font-family: icomoon!important
            speak: never
            font-style: normal
            font-weight: 400
            font-variant: normal
            text-transform: none
            line-height: 1
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
            position: absolute
            font-size: 10px
            right: 10px
            opacity: 0
        &:hover
            &:after
                transition: all 0.50s ease-in-out
                right: 0
                opacity: 1

    &__more-resp
        display: flex
        align-items: center
        color: $primary
        letter-spacing: 2.4px
        font-size: 12px
        text-transform: uppercase
        cursor: pointer
        @include breakpoint(desktop, up)
            display: none
        > i
            width: 16px
            height: 13px
            margin-left: 5px
            transition: transform .5s ease-out

        &:hover
            > i
                transform: translate(10px, 0)

    &__articles-resp
        visibility: visible
        padding: 20px 0
        @include breakpoint(desktop, up)
            visibility: hidden
            height: 0

        .container-left-gutter
            margin: 0
            padding: 0

    &__articles
        display: none
        padding: 20px 0
        @include breakpoint(desktop, up)
            display: flex
            flex-direction: row
            flex-wrap: wrap
    .col-12, .insight__box, .insight__head
        @include breakpoint(tablet, down)
            position: unset
