.list-mod-item
    margin-top: 1rem
    margin-bottom: 40px
    &__title
        @extend .h4
    &__date
        color: $gray
        margin-bottom: 18px
        display: inline-block
        @include breakpoint(desktop, up)
            @include font-size(18px)
            margin-bottom: 27px
    &__content
        color: $black
        @include p-1-normal-20
        p
            margin-bottom: 18px
            @include breakpoint(desktop, up)
                margin-bottom: 27px
    &__subhead
        display: block
        font-weight: 500
        @include font-size(16px)
        line-height: 1.75em
        @include breakpoint(desktop-large, up)
            @include font-size(18px)
        &_normal
            font-weight: 400
    &__download
        margin-bottom: 27px
