.lit-overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    background: $white
    z-index: 999
    padding: 20px
    transition: transform .3s ease
    transform: translate3d(100%, 0, 0)
    width: 100%
    max-width: 666px
    overflow-y: scroll
    &::-webkit-scrollbar
        width: 4px
    &::-webkit-scrollbar-thumb
        background-color: $gray
    @include breakpoint(desktop, up)
        border-left: 5px solid $gold
    &.active
        transform: translate3d(0, 0, 0)
    &__head
        border-bottom: 1px solid #E9EDF0
        padding-bottom: 18px
        margin-bottom: 30px
    &__title
        @extend .h1
    &__subtitle
        color: $black
        font-size: 20px
        font-weight: 500
        line-height: 30px
    &__link
        @extend .link-styles
    &__item
        margin-bottom: 25px
    &__close
        @extend .btn-unset
        font-size: 24px
    &__item-title
        @extend h3
        display: inline-block
        color: $gold
        margin-bottom: 18px
        @include breakpoint(desktop, up)
            font-size: 26px
            line-height: 32px
    &__item-link
        @extend .link-styles
        display: block
        margin-bottom: 21px
