.main-page
    // background: url('../images/bg/main-page.svg')
    // background-repeat: no-repeat
    // background-size: cover
    background: radial-gradient(87.5% 34.76% at 0 100%,#000 0,rgba(13,25,39,0) 100%),radial-gradient(112.09% 10.59% at 100% 95.69%,#253931 0,rgba(37,57,49,0) 100%),radial-gradient(73.87% 21.92% at 123.88% 55.4%,rgba(0,0,0,.62) 0,rgba(192,169,97,0) 100%),radial-gradient(39.84% 21.29% at 0 34.25%,rgba(16,160,71,.37) 0,rgba(16,160,71,0) 100%),linear-gradient(180deg,rgba(2,2,2,0) 12.89%,#000 21.04%),radial-gradient(50% 9.23% at 30.63% 18.14%,rgba(0,0,0,.46) 0,rgba(0,0,0,0) 100%),radial-gradient(41.75% 17% at 62% -6%,rgba(255,255,255,0.40) 0,rgba(255,255,255,0) 100%),linear-gradient(137.13deg,#031A24 5.36%,#193B31 25.69%)
    .header
        position: relative
        z-index: 2
    .imagepromo__contentbox
        color: #ffffff
    .accordion-section
        padding-bottom: 151px
        background: url('../images/bg/gradient background bottom@2x.png') no-repeat 100% 0
        background-size: 100%

.shevron-bg
    position: absolute
    top: -50%
    right: 0
    bottom: 0
    height: 50%
    @include breakpoint(desktop, up)
        left: 40%
        height: auto
body:not(.main-page)
    .shevron-bg
        display: none
.main-bg
.lead-banner
    &__wrapper
        height: 550px
        position: relative
        @include breakpoint(desktop, up)
            height: 610px
    &__overlay
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
    &__bg
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        position: relative
        @include breakpoint(desktop, up)
            background-attachment: fixed
        &:after
            position: absolute
            content: ''
            top: 0
            left: 0
            right: 0
            bottom: 0
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69.2%, #000000 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, .2) 34.28%)
    &__text
        font-size: 20px
        letter-spacing: 0.2px
        line-height: 30px
        +breakpoint(mobile-large, down)
            font-size: 18px
            letter-spacing: 0
            line-height: 28px
.main-page-conentent
    position: relative
    z-index: 2
.paralax-circle
    position: absolute
    top: 60vh
    width: 100%
    height: 2800px
    &__item
        height: 100%
        background: radial-gradient(61.5% 33.82% at 119.62% 65.43%, rgba(192, 169, 97, 0.62) 0%, rgba(192, 169, 97, 0) 100%), radial-gradient(37.38% 35.89% at 0% 35.6%, rgba(16, 160, 71, 0.37) 0%, rgba(16, 160, 71, 0) 100%)
