.main-page
    background: radial-gradient(87.5% 34.76% at 0% 100%, #000000 0%, rgba(13, 25, 39, 0) 100%), radial-gradient(112.09% 10.59% at 100% 95.69%, #253931 0%, rgba(37, 57, 49, 0) 100%), radial-gradient(73.87% 21.92% at 123.88% 55.4%, rgba(0, 0, 0, 0.62) 0%, rgba(192, 169, 97, 0) 100%), radial-gradient(39.84% 21.29% at 0% 34.25%, rgba(16, 160, 71, 0.37) 0%, rgba(16, 160, 71, 0) 100%), linear-gradient(180deg, rgba(2, 2, 2, 0) 15.89%, #000000 21.04%), radial-gradient(50.75% 9.23% at 30.63% 18.14%, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(51.75% 15.74% at 34.38% -4.66%, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(137.13deg, #0D1927 5.36%, #253931 50.69%)
    .header
        position: relative
        z-index: 2
    .imagepromo__contentbox
        color: #ffffff

.shevron-bg
    position: absolute
    top: -50%
    left: 40%
    right: 0
    bottom: 0

.main-bg

.lead-banner
    &__wrapper
        height: 550px
        position: relative
        top: -60px
        @include breakpoint(desktop, up)
            height: 610px
    &__overlay
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0

    &__bg
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        position: relative
        background-attachment: fixed
        &:after
            position: absolute
            content: ''
            top: 0
            left: 0
            right: 0
            bottom: 0
            // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69.2%, #000000 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 34.28%)
            // @include breakpoint(desktop, up)
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69.2%, #000000 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, .2) 34.28%)

.main-page-conentent
    position: relative
    z-index: 2
    overflow-x: hidden

.paralax-circle
    position: absolute
    top: 60vh
    width: 100%
    height: 2800px
    &__item
        height: 100%
        background: radial-gradient(61.5% 33.82% at 119.62% 65.43%, rgba(192, 169, 97, 0.62) 0%, rgba(192, 169, 97, 0) 100%), radial-gradient(37.38% 35.89% at 0% 35.6%, rgba(16, 160, 71, 0.37) 0%, rgba(16, 160, 71, 0) 100%)
