.main-page
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 15.17%, #000000 20.03%), radial-gradient(50.75% 6.66% at 30.63% 13.08%, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(51.75% 11.35% at 34.38% -3.36%, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(140.61deg, #0D1927 5.72%, #253931 47.84%)
    .header
        position: relative
        z-index: 2

.shevron-bg
    position: absolute
    top: 270px
    left: 0
    right: 0
    bottom: 0

.main-bg

.lead-banner

    &__wrapper
        height: 550px
        position: relative
        top: -60px
        @include breakpoint(desktop, up)
            height: 760px
    &__overlay
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0

    &__bg
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-size: cover
        position: relative
        &:after
            position: absolute
            content: ''
            top: 0
            left: 0
            right: 0
            bottom: 0
            // background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69.2%, #000000 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 34.28%)
            // @include breakpoint(desktop, up)
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69.2%, #000000 100%), linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, .2) 34.28%)

.main-page-conentent
    position: relative
    z-index: 2
    overflow-x: hidden

.paralax-circle
    position: absolute
    top: 60vh
    width: 100%
    height: 3200px
    &__item
        height: 100%
        // background: red
        background: radial-gradient(61.5% 33.82% at 119.62% 65.43%, rgba(192, 169, 97, 0.62) 0%, rgba(192, 169, 97, 0) 100%), radial-gradient(37.38% 35.89% at 0% 35.6%, rgba(16, 160, 71, 0.37) 0%, rgba(16, 160, 71, 0) 100%)
