.header-navbar
    padding-top: 10px
    display: flex
    justify-content: space-between
    // height: 47px
    align-items: center
    @include breakpoint(desktop, up)
        padding-top: 30px
        padding-bottom: 15px
    &__btn-open
        background: transparent
        border: none
        width: 48px
        height: 25px
        background-size: contain
        background-image: url('/images/components/header/Menu.svg')
        background-repeat: no-repeat
        margin-top: 20px
    &__logo
        margin: 0 16px
        @include breakpoint(desktop-large, up)
            margin-left: 60px
            margin-right: 172px        
    &__logo-img 
        width: 166px
        @include breakpoint(desktop-large, up)
            width: 166px
            height: auto

    &__btn-search
        margin-top: 16px
        margin-left: 36px
        cursor: pointer
    &__user-link, &__user-lionhub-link
        display: none
        position: relative
        @include breakpoint(desktop, up)
            margin: 1rem 1rem 0 1rem
        @include breakpoint(desktop-large, up)
            margin: 16px 0px 0 44px
        &:after
            visibility: hidden
            opacity: 0            
            position: absolute
            font-size: 10px
            font-weight: 500
            white-space: nowrap
            letter-spacing: 2px
            bottom: -25px            
            text-transform: uppercase
            display: inline-block
            color: $primary
            transition: opacity .3s ease-out, visibility .3s ease-out
        @include breakpoint(desktop, up)
            display: block
            margin-top: 13px
        &:hover
            &:after
                visibility: visible
                opacity: 1
    &__user-link
        &:after
            content: 'my liontrust'
            left: -35px			
    &__user-lionhub-link
        &:after
            content: 'lionhub'
            left: -18px
.nav-desktop
    display: none
    width: 100%
    margin-top: 16px
    @include breakpoint(desktop, up)
        display: block
    @include breakpoint(desktop-large, up)
        margin-right: 64px
    &__list
        display: flex
        justify-content: space-between
        height: 100%
        align-items: flex-end
    &__item
        @include breakpoint(desktop-large, up)
            margin-right: -66px
        &:hover
            .dropdown
                visibility: visible
                opacity: 1
                z-index: 100
            a
                &:before
                    visibility: visible
                    background: $white

    &__link
        text-transform: uppercase
        font-size: 14px
        font-weight: 500
        color: $white
        letter-spacing: 1.4px
        position: relative
        white-space: nowrap
        &:before
            content: ""
            visibility: hidden
            width: 100%
            height: 2px
            position: absolute
            bottom: -9px
            transition: visible .3s ease-out, background .3s ease-out
        &_contact
            @include breakpoint(desktop-large, up)
                padding: 11px 26px
                line-height: 17px
                border-radius: 6px
                background: rgba(255, 255, 255, .1)
                transition: all .3s ease-out
                border: 2px solid transparent
                &:before
                    display: none
                &:hover
                    background: $white
                    color: $primary

    .nav-desktop__link:hover + .dropdown
        z-index: 9
