.onboarding-overlay
    z-index: 100
    background-image: url('../../../images/components/header/bg-desktop.svg')    
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    display: flex
    align-items: center
    justify-content: space-between
    padding: 34px 12px 20px 12px
    // justify-content: center
    flex-direction: column
    @include breakpoint(tablet, up)
        padding-top: 120px
    &.active
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
    &__logo
        text-align: center
    &__hint
        max-width: 352px
        font-size: 18px
        font-weight: 300
        text-align: center
        line-height: 28px
        margin: 0 auto
        margin-bottom: 55px
        @include breakpoint(tablet, up)
            margin-bottom: 120px
    &__img
        width: 197px
        height: auto
        margin-bottom: 30px
        @include breakpoint(tablet, up)
    &__title
        @extend .h1
        text-align: center
        margin-bottom: 20px
    &__btns
        text-align: center
        margin-top: 34px
        margin-bottom: 48px
    &__get-hint
        text-align: center
        display: block
    &__step
        display: inline-block
        width: 20px
        height: 1px
        background: $white
        margin: 0 5px
        &_active
            background: $gold