.modal-people
    backdrop-filter: none
    background: rgba($just-black, 0.5)
    backdrop-filter: blur(8px)
    .modal-dialog
        max-width: 40vw
        .modal-content
            border-radius: 0