.page-anchor-link
    background: $secondary-silver
    height: 62px
    display: flex
    align-items: center
    color: $black
    .btn
        height: 42px
        line-height: 42px
        padding: 0 0.5rem
        

.page-anchor
    display: flex
    justify-content: space-between
    align-items: center
    &__title
        font-weight: 500
        display: inline-block
        margin-right: 3em
    &__links
        display: inline-block
    &__link
        color: $black
        margin-right: 3em
        &:hover
            color: $black
