.page-anchor-link
    display: none
    background: $secondary-silver
    // height: 62px
    // display: flex
    // align-items: center
    color: $black
    padding: 10px 0
    @include breakpoint(desktop, up)
        padding: 15px 0
    &.sticky
        position: fixed
        top: 0
        width: 100%
        z-index: 3
    .btn
        @include breakpoint(desktop, down)
            height: 42px
            padding: 0 0.5rem

.page-anchor
    @include breakpoint(desktop, up)
        display: flex
        justify-content: space-between
        align-items: center
    &__right
        display: none
        @include breakpoint(desktop, up)
            display: flex
            align-items: center
            width: 100%
        &-mobile
            display: inline-block
            @include breakpoint(desktop, up)
                display: none

    &__left
        display: inline-block
        float: right
        @include breakpoint(desktop, up)
            float: none
            display: none
    &__title
        @extend .btn-unset
        font-weight: 500
        display: inline-block
        padding: 0
        margin-right: 3em
        white-space: nowrap
        line-height: 41px
        display: inline-block
        position: relative
        &:after
            position: absolute
            top: 2px
            right: -18px
            font-family: icomoon
            content: "\e906"
            font-size: 6px
            @include breakpoint(desktop, up)
                visibility: hidden
    &__title.active
        &:after
            content: "\e916"
            font-size: 8px
            right: -16px
            @include breakpoint(desktop, up)
                visibility: hidden
    &__links
        display: none
        @include breakpoint(desktop, up)
            width: 100%
    &__link
        color: $black
        margin-right: 3em
        display: block
        line-height: 28px
        border-bottom: 2px solid transparent
        transition: border-color .3s ease, color .3s ease
        @include breakpoint(desktop, up)
            line-height: 41px
            margin: 0
        &:hover
            color: $primary
            border-bottom: 2px solid $primary
        @include breakpoint(desktop, up)
            display: inline-block
    .active-link
        font-weight: 500
        color: $primary

.page-anchor.full-wigth
    .page-anchor__right
        @include breakpoint(desktop-large, up)
            width: 100%
    .page-anchor__links
        @include breakpoint(desktop-large, up)
            width: 100%
            display: flex
            justify-content: space-between
.page-anchor__links.m-link
    .page-anchor__link
        margin-right: 3em
.scroll-nav
    display: flex
    justify-content: space-between
    background: $secondary-silver
    color: $black
    padding: 20px 0
    @include breakpoint(desktop, up)
        padding: 27px 0
    &.sticky
        position: fixed
        top: 0
        width: 100%
        z-index: 3
    &__list
        list-style: none
        display: flex
        width: 100%
        margin: 10px 0 0 0
        padding: 0
        flex-direction: column
        display: none
        
        @include breakpoint(desktop, up)
            flex-direction: row
            display: flex !important
            height: auto !important
            overflow: unset !important
            margin: 0
    &__item
       
    &__item--active
       .scroll-nav__link
            color: $primary
            &:hover
                color: $primary
    &__link,
    span
        color: $black
        font-size: 16px
        letter-spacing: 0
      
    span
        &::after
            font-family: icomoon
            speak: never
            font-style: normal
            font-weight: 400
            font-variant: normal
            text-transform: none
            line-height: 1
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
            content: "\e906"
            font-size: 6px
            padding: 0 10px
            display: inline-flex
        &.active
            &::after
                transform: rotate(180deg)
        @include breakpoint(desktop, up)
            &::after
                content: ':'
                font-family: $userfont
                font-size: 18px
                padding: 0
    &__link
        font-weight: 400
        line-height: 25px
        &:hover
            color: $black
    &__hidden
        pointer-events: auto
        white-space: nowrap
        margin-right: 3em;
        @include breakpoint(desktop, up)
            pointer-events: none
        @include breakpoint(tablet, up)
            font-weight: 600
    & > div
        flex-direction: column
        align-items: flex-start
        @include breakpoint(desktop, up)
            flex-direction: row
            align-items: center


.section-spy
    font-size: 0
    line-height: 0
    display: flex
    width: 100%
    position: absolute
    top: 60px