.people-card
    padding-bottom: 20px
    &__image
        padding-bottom: 15px
        img
            display: block
    &__content
        a
            text-transform: uppercase
            font-size: 10px
            display: inline-block
            color: $primary
            letter-spacing: 2.4px
            i
                padding-left: 5px

        p
            margin: 0
            &:not(.people-card__content-title)
                font-size: 1rem
                line-height: 12px
        &-title
            padding-bottom: 10px
            color: $gold