.podcast
    display: flex
    position: relative
    height: 380px
    overflow: hidden
    border-radius: $border-radius
    margin-bottom: 40px
    @include breakpoint(desktop, up)
        height: 340px
        margin-bottom: 110px
    &:hover
        .podcast__back
            transform: scale(1.2)
    &__back
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        z-index: 9
        object-fit: cover
        transition: transform .8s
    &__front
        position: absolute
        width: 90%
        height: 100%
        left: 0
        top: 0
        border-radius: 15px
        z-index: 10
        display: flex
        flex-direction: column
        color: $white
        padding: 15px
        @include breakpoint(desktop, up)
            width: 60%
    &__head
        display: flex
        align-items: center
        margin-bottom: 10px
        font-size: 10px
        font-weight: bold
        letter-spacing: 2px
        text-transform: uppercase
        @include breakpoint(tablet, up)
            font-size: 12px
            letter-spacing: 2.4px
    &__mic
        color: $primary
        margin-right: 10px
        width: 13px
        height: 18px
    &__tit
        font-size: 32px
        font-weight: 300
        -webkit-line-clamp: 2 /* number of lines to show */
        margin-bottom: 10px
        color: $gold
        @include breakpoint(tablet, up)
            -webkit-line-clamp: 1 /* number of lines to show */
            font-size: 52px
    &__desc
        font-size: 16px
        font-weight: normal
        -webkit-line-clamp: 4 /* number of lines to show */
        margin-bottom: 10px
        @include breakpoint(tablet, up)
            -webkit-line-clamp: 2 /* number of lines to show */
            font-size: 18px
    &__footer
        position: absolute
        display: flex
        bottom: 20px
        left: 15px
        font-size: 15px
        font-weight: normal
        align-items: center
        width: 100%
        @include breakpoint(tablet, up)
            font-weight: normal
        > span
            margin-right: 30px
            @include breakpoint(tablet, up)
                margin-right: 40px
        > a
            margin-right: 30px
            font-size: 20px
            display: flex
            align-items: center
            cursor: pointer
            @include breakpoint(tablet, up)
                font-size: 32px
                margin-right: 40px
