.podcast-list-item
    color: $black
    margin-bottom: 16px
    @include breakpoint(desktop, up)
        margin-bottom: 32px
    &__title
        @extend .h4
    &__text
        margin-bottom: 1em
        @include p-1-normal-20
        @include breakpoint(desktop, up)
            margin-bottom: 32px
    &__img
        width: 100%
        height: auto
        margin-bottom: 1rem
        @include breakpoint(desktop, up)
            margin-bottom: 0
    &__links
        display: flex
        flex-direction: column
        a
            margin-bottom: 1rem
    ul li a
        @extend .link-styles
        margin-bottom: 1rem
        display: inline-block
        position: relative
        &::after
            font-family: icomoon!important
            content: "\e901"
            position: absolute
            top: 0px
            right: -22px
    