.podcast
    position: relative
    width: 100%
    height: 380px
    overflow: hidden
    border-radius: $border-radius
    margin-bottom: 40px
    z-index: 1
    @include breakpoint(desktop, up)
        height: 340px
        margin-bottom: 109px
    &:hover
        .podcast__back
            transform: scale(1.05)
    &__back
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        z-index: 9
        object-fit: cover
        transition: transform .8s ease-out
    &__front
        position: absolute
        height: 100%
        left: 0
        top: 0
        border-radius: 15px
        z-index: 10
        display: flex
        flex-direction: column
        color: $white
        padding: 32px 12px
        @include breakpoint(desktop, up)
            width: 80%
        @include breakpoint(desktop-large, up)
            padding: 38px 20px
            width: 62%
    &__head
        display: flex
        align-items: center
        margin-bottom: 10px
        font-size: 10px
        font-weight: bold
        letter-spacing: 2px
        text-transform: uppercase
        @include breakpoint(tablet, up)
            font-size: 12px
            letter-spacing: 2.4px
        @include breakpoint(desktop-large, up)
            font-size: 14px
            margin-left: 10px
            margin-bottom: 18px
            letter-spacing: 3.8px
    &__mic
        color: $primary
        margin-right: 10px
        width: 13px
        height: 18px
        @include font-size(18px)
    &__tit
        font-size: 32px
        font-weight: 300
        -webkit-line-clamp: 2 /* number of lines to show */
        margin-bottom: 10px
        color: $gold
        @include breakpoint(tablet, up)
            -webkit-line-clamp: 1 /* number of lines to show */
            @include font-size(52px)
            max-height: 72px
    &__desc
        @include p-1-normal-18
        font-weight: normal
        -webkit-line-clamp: 4 /* number of lines to show */
        margin-bottom: 10px
        @include breakpoint(tablet, up)
            -webkit-line-clamp: 2 /* number of lines to show */
            width: 70%
        @include breakpoint(desktop, up)
            width: 70%
    &__footer
        position: absolute
        display: flex
        bottom: 20px
        left: 15px
        font-size: 15px
        font-weight: normal
        align-items: center
        width: 100%
        @include breakpoint(tablet, up)
            font-weight: normal
        > span
            margin-right: 30px
            font-size: 14px
            margin-top: 5px
            @include breakpoint(tablet, up)
                margin-right: 40px
            @include breakpoint(desktop, up)
                margin-right: 57px
        > a
            margin-right: 30px
            @include font-size(20px)
            display: flex
            align-items: center
            cursor: pointer
            @include breakpoint(tablet, up)
                font-size: 32px
                margin-right: 40px
            @include breakpoint(desktop, up)
                margin-right: 57px
        @include breakpoint(desktop, up)
            bottom: 37px
    &__icon
        height: 22px
        @include breakpoint(desktop, up)
            height: 100%
