.quick-link-chart
    display: flex
    width: 100%
    height: 187px
    border-radius: 10px
    flex-direction: column
    justify-content: flex-end
    padding: 5px 20px
    background-size: cover    
    &__title
        @extend .h5
        @include breakpoint(desktop, up)
            font-size: 32px
    &__text
        @include breakpoint(desktop, up)
            @include font-size(20px)
            line-height: 1.5em
    &.quick-link-chart__small
        height: 113px
        margin-bottom: 20px
        @include breakpoint(desktop, up)
            margin-bottom: 30px

.scrollable-cards
    margin: 100px 10% 10px 10%
    @include breakpoint(desktop, up)
         margin: 100px 10% 10px 10%
    .container-lg
        overflow-x: scroll
        @include breakpoint(desktop, up)
            overflow-x: visible
    .row
        flex-wrap: nowrap
    &.desktop-wrap
        .row
            @include breakpoint(desktop, up)
                flex-wrap: wrap
    &__card
        height: 187px
        transition: box-shadow .3s ease
        &:hover
            box-shadow: 0px 10px 20px rgba(32, 36, 42, .6)
        &__title
            @include breakpoint(desktop, up)
                font-size: 26px
        &__text
            font-size: 16px
