.quote
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 40px 0
    background-image: url(../images/bg/newsletter-bg.svg)
    background-size: cover
    position: relative
    overflow: hidden
    margin: 2rem 0
    min-height: 250px
    @include breakpoint(tablet, up)
        padding: 80px 0
    @include breakpoint(desktop, up)
        padding: 100px 0
        min-height: 340px
    &.quote-people
        justify-content: space-around
        padding: 40px 20px 20px
        @include breakpoint(mobile-large, up)
            padding: 50px 20px 40px
        @include breakpoint(tablet, up)
            padding: 20px
    &__headbox        
         @include breakpoint(desktop-large, up)
            padding: 0 120px
    &__head
        display: flex
        color: $white
        letter-spacing: 0.42px
        text-align: left
        width: 100%
        font-size: 26px
        line-height: 36px
        font-weight: 400
        @include breakpoint(desktop, up)
            font-size: 42px
            line-height: 52px
    &__head-xl
        font-size: 62px;
        font-style: oblique
        top: 4113px
        left: 239px
        width: 1121px
        height: 80px
        margin-right: auto
        margin-left: auto
    &__footer
        display: flex
        align-items: center
        margin-top: 16px
    &__writer
        font-size: 12px
        font-weight: bold
        color: $primary
        letter-spacing: 2.4px
        text-transform: uppercase
        padding-left: 10px
        position: relative
        margin: auto
        &:before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 2px
            height: 100%
            background: $gold
