.quote
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 70px 0
    background: url(../images/components/banners/MaskGroup5.png)left top no-repeat,  url(../images/components/header/bg-desktop.svg) right top no-repeat
    background-size: cover
    position: relative

    &__headbox
        display: flex
        justify-content: center
        flex-direction: column

    &__head
        display: flex
        color: $white
        letter-spacing: 0.42px
        text-align: left
        width: 100%
        font: oblique normal medium Futura PT
        @include breakpoint(tablet, up)
            // width: 80%
            font-size: 42px

    &__footer
        display: flex
        align-items: center
        margin-top: 5px
    &__writer
        display: flex
        font-size: 12px
        font-weight: bold
        color: $primary
        letter-spacing: 2.4px
        text-transform: uppercase
        margin-left: 5px

