.services-item
    color: $black
    display: flex
    &__img

        width: 40px
        height: 100%
        max-width: 120px
        margin-right: 10px
        @include breakpoint(desktop, up)
            width: 100%
            margin-right: 20px
    &__title
        @extend .h4
        margin-bottom: 13px
    &__subtitle
        @include p-1-medium-20
    &__descript
        p
            @include p-1-medium-20
        ul
            @extend .services-item-list


.services-item-list
    @extend .styled-list
    margin-bottom: 10px
    @include breakpoint(desktop, up)
        margin-bottom: 20px
    li
        font-weight: normal
    &_checked
        li
            &:before
                content: "\e925"!important
                font-family: icomoon!important
                width: auto!important
                height: auto!important
                background: transparent!important
                font-size: 10px
                top: 5px!important
                left: -2px!important
                color: $gold
                @include breakpoint(desktop, up)
                    top: 1px!important
    &_circle
        li
            &:before
                content: "\e91c"!important
                font-family: icomoon!important
                width: auto!important
                height: auto!important
                background: transparent!important
                font-size: 6px
                top: 5px!important
                left: -2px!important
                color: $gold
                @include breakpoint(desktop, up)
                    top: 1px!important
    &_chevron
        li
            &:before
                content: "\e913"!important
                font-family: icomoon!important
                width: auto!important
                height: auto!important
                background: transparent!important
                font-size: 10px
                top: 5px!important
                left: -2px!important
                color: $gold
                @include breakpoint(desktop, up)
                    top: 1px!important
.generic-text
    ul
        @extend .services-item-list