@use "variables"
@use "keyframes"
$logo: url('/dist/images/components/header/liontrust-logo-pride-color.svg')
.sidebar
    background: $secondary
    display: flex
    flex-direction: column
    padding: 17px 20px 43px 21px
    position: fixed
    top: 0
    left: 0
    transform: translate3d(-452px, 0, 0)
    overflow: auto
    height: 100%
    width: 100%
    max-width: 452px
    z-index: 1000
    transition: transform .3s ease
    border-right: 2px solid transparent
    @include breakpoint(mobile-large, up)
        overflow: auto
        &_border
            border-right: 2px solid $gold
    @include breakpoint(desktop, up)
        padding: 27px 32px 64px 84px
        overflow-y: auto
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
            overflow: auto
    &_active
        transform: translate3d(0, 0, 0)
    &__header
        display: flex
    &__close-btn
        width: 37px
        height: 37px
        background: transparent
        border: none
        background-image: url('../images/components/header/close.svg')
        background-repeat: no-repeat
        cursor: pointer
    &__logo
        text-align: center
        width: 100%
        margin-top: -7px
        margin-left: 16px
    &__logo-img
        width: 9rem
        margin-left: 53PX

        @include breakpoint(desktop-large, up)
            width: 166px
            height: auto
    &__profile-btn
        margin-bottom: 0px
        i
            font-size: 15px
        @include breakpoint(desktop, up)
            margin: 42px auto 0px auto
    &__setting
        margin-top: 35px
        @include breakpoint(desktop, up)
            margin-top: 42px

.navigation
    margin: 28px 0 28px 0
    @include breakpoint(desktop, up)
        display: none
    &__link
        font-size: 22px
        line-height: 50px
        display: block
        cursor: pointer
        margin-bottom: 0
        transition: color .3s ease-in
        @include navlink-behaviour
    &__checkbox
        &:checked  + .navigation__submenu
            transform: translate3d(0, 0, 0)
            @include breakpoint(desktop, up)
                transform: translate3d(450px, 0, 0)

            &.active
                transition: none
    &__submenu
        position: fixed
        top: 65px
        padding: 13px 20px 43px 21px
        left: 0
        z-index: 1100
        background: $secondary
        width: 100%
        max-width: 450px
        height: calc( 100vh - 65px )
        transform: translate3d(-450px, 0, 0)
        transition: transform 0.35s
        overflow-y: auto
        @include breakpoint(desktop, up)
            transition: transform 0.7s
            z-index: 999
            top: 0
            background: rgba(0, 0, 0, .3)
            border-right: 2px solid $gold
        &_stop-animation
            transition: none
    &__checkbox
        display: none
    &__close-submenu
        font-size: 12px
        display: flex
        align-items: center
        cursor: pointer
        text-transform: uppercase
        letter-spacing: 2.4px
        font-weight: 500
        .icon-chevron-left
            font-size: 10px
            margin-right: 5px
        @include breakpoint(desktop, up)
            margin-top: 10px
    &__sub-list
        padding-top: 10px
    &__sub-link
        font-size: 16px
        line-height: 36px
        font-weight: 300
        @include breakpoint(desktop, up)
            font-size: 18px
            font-weight: 400
        .icon-chevron-right
            font-size: 14px
            margin-left: 3px
        &_heading
            font-size: 26px
            color: $gold
            @include breakpoint(desktop, up)
            font-size: 32px
            margin-bottom: 25px
            display: inline-block
            font-weight: 300
            &:hover
                color: $gold
    &_desktop
        display: block
        @include font-size(20px)
        @include breakpoint(tablet, down)
            display: none
        .navigation__link
            font-weight: 300
            line-height: 60px
    &__item
        .dropdown-nav__link
            color: $white

.sidebar-actions
    &__item
        margin-bottom: 40px
    &__link
        color: $white
        @include font-size(18px)
        display: flex
        align-items: center
        @include navlink-behaviour
        @include breakpoint(desktop, up)
            @include font-size(20px)
        i
            display: inline-block
            margin-right: 26px
            font-size: 21px
        i.icon-bookmark
            margin-right: 31px
        i.icon-email
            font-size: 16px

.sidebar-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,.8)
    display: none
    z-index: 10
    &_active
        display: block

.user-status
    font-size: 14px
    font-weight: 300
    &__name
        font-weight: 500
    &__icon
        color: $primary
        font-size: 7px
        margin-left: 3px
    &_hr
        display: none
        height: 1px
        background: #2d3440
        margin: 10px 0
        @include breakpoint(desktop, up)
            display: block
    &__change-type
        color: $primary

.bottom-links
    display: none
    @include font-size(20px)
    line-height: 3em
    @include breakpoint(desktop, up)
        display: block
.sidebar::-webkit-scrollbar
  width: 0.6em
.sidebar::-webkit-scrollbar-thumb
  background: hsl(211, 12%, 48%)
  border-radius: 6px
.sidebar::-webkit-scrollbar-track
  background-color: hsl(184, 9%, 83%)
 