.sidebar
    background: $secondary
    padding: 17px 20px 43px 20px
    position: absolute
    top: 0
    left: 0
    width: 100%
    &__header
        display: flex
    &__close-btn
        width: 37px
        height: 37px
        background: transparent
        border: none
        background-image: url('../../../images/components/header/close.svg')
        background-repeat: no-repeat
        cursor: pointer
    &__logo
        text-align: center
        width: 100%
        margin-top: -10px
    &__logo-img
        margin-left: -37px
    &__profile-btn
        margin: 35px auto

.mob-nav
    margin: 35px 0
    &__link
        font-size: 22px
        line-height: 52px
        color: $white

.sidebar-actions
    &__item
        margin-bottom: 40px
    &__link
        color: $white
        font-size: 18px
        display: flex
        align-items: center
        i
            display: inline-block
            margin-right: 26px
            font-size: 21px
        i.icon-bookmark 
            margin-right: 31px
        i.icon-email
            font-size: 16px

.user-status
    font-size: 14px
    font-weight: 300
    &__name
        font-weight: 500
    &__icon
        color: $primary
        font-size: 7px
        margin-left: 3px
