.table-section
    &__title
        font-size: 26px
        line-height: 32px
        color: $black
        &__credit-sec
            margin-bottom: -6px

// Customize default bootstrap styles
.table
    margin-bottom: 2rem
    thead
        th
            font-weight: 300
            @include font-size(18px)
            @include p-1-book-20
            border: none
            &:first-child
                border-radius: .625rem 0 0 0
                padding-left: 12px
                @include breakpoint(desktop, up)
                    padding-left: 32px
            &:last-child
                border-radius: 0 .625rem 0 0
                padding-right: 12px
                @include breakpoint(desktop, up)
                    padding-right: 32px
            @include breakpoint(desktop, up)
                @include font-size(20px)
    tbody
        border: 1px solid $secondary-silver
        // border-right: 1px solid $secondary-silver

        td, th
            border-top: none
            border-bottom: 1px dashed #dee2e6
            @include p-1-book-20
            @include breakpoint(desktop, up)
                padding: 19px
        th
            position: relative
            padding-left: 12px
            @include breakpoint(desktop, up)
                padding-left: 32px
            &::before
                position: absolute
                left: 0
                bottom: -2px
                content: ''
                display: block
                height: 3px
                width: 32px
                background: $white
                width: 12px
                @include breakpoint(desktop, up)
                    width: 32px
        td:last-child
            position: relative
            padding-right: 12px
            @include breakpoint(desktop, up)
                padding-right: 32px
            &::after
                position: absolute
                right: 0
                bottom: -2px
                content: ''
                display: block
                height: 3px
                background: $white
                width: 12px
                @include breakpoint(desktop, up)
                    width: 32px

    tfoot
        border: 1px solid $secondary-silver
        border-top: none
        td
            @include p-1-medium-20
            color: #000
            @include breakpoint(desktop, up)
                padding: 19px
            &:first-child
                padding-left: 32px
            &:last-child
                padding-right: 32px

    thead, tbody, tfoot
        .primary-row
            td, th
                font-weight: 500
                color: $primary
    .percents
        display: inline-block
        height: 16px
        background: $primary
        &__gold
            background: $gold

.table.table-full-border
    tbody
        border: 1px solid $secondary-silver
        tr:last-child
            th, td
                border-bottom: none
                &::before, &::after
                    display: none

.table.table-horizontal-chart
    tbody td
        &:last-child
            width: 40%
    // tbody tr
    //     &:last-child
    //         td
    //             font-weight: 500
    tbody tr td.column-half
        width: 55%

.twoline-percent
    &__number
        display: flex
        align-items: center
        margin-bottom: 5px
    &__digit
        margin-right: 5px
        width: 38px
        text-align: right

.chart-table
    border: 1px solid $secondary-silver
    padding: 12px
    margin-bottom: 32px
    @include breakpoint(desktop, up)
        padding: 20px 32px
        margin-bottom: 0

table.table-document
    tbody
        tr
            display: flex
            flex-direction: column
            @include breakpoint(desktop, up)
                display: table-row
        border: none
        border-top: 1px solid $secondary-silver
        td, th            
            border-bottom: none
            padding: 10px 0 0px
            @include p-1-medium-18          
            &::after, &::before
                display: none
            @include breakpoint(desktop, up)
                padding: 28px 0
                border-bottom: 1px solid $secondary-silver
        td:last-child
            padding-right: 0
            border-bottom: 1px solid $secondary-silver
            padding-bottom: 10px
            &::after
                display: none
            
        &__link
            @include breakpoint(desktop, up)
                text-align: right
                
table.table-striped
    thead
        tr th
            @include p-1-medium-20
            &:first-child
                padding-left: 12px
                font-weight: 500
        tr.table-head-green th
            font-weight: 300
            color: $primary
    td, th
       @include p-1-medium-18
       @include breakpoint(desktop, up)
        padding: 18px 10px
        border-bottom: 1px solid $secondary-silver
        text-align: center
        &:first-child
            text-align: left
            font-weight: 400
        &::after, &::before
                display: none
    td:last-child
            padding-right: 0
            border-bottom: 1px solid $secondary-silver
            padding-bottom: 10px
            &::after
                display: none
    
.divident-table
    tbody
        border: none
    tr.table-head-green th
        @include breakpoint(desktop, up)
            font-size: 20px!important
    .fz-20
        @include p-1-medium-20
    tr  td
        &:first-child
            padding-left: 30px
        &:last-child
            border: none
            padding-right: 3px
            

