.team-card
    color: $black
    @include font-size(18px)
    line-height: 1.55em
    margin-bottom: 36px
    @include breakpoint(desktop, up)
        margin-top: 35px
        margin-bottom: 75px
    &__icon-wrapper
        margin-right: 5px
        @include breakpoint(desktop, up)
            margin-right: 15px
    &__icon
        width: 40px
        height: auto
        margin-right: 5px
        @include breakpoint(desktop, up)
            width: 60px
            margin-right: 15px
    &__title
        margin-top: 10px
        display: flex
        align-items: center
    &__img
        width: 100%
        height: auto
        margin-bottom: 17px
        border-radius: 10px
    &__btn
        display: block
        width: 100%
        @include breakpoint(desktop, up)
            width: auto
            margin-top: 30px
    &__link
        @extend .link-styles
        color: $black
        &:hover
            color: $black
        i
            font-size: 16px