@import '../../../../node_modules/@fancyapps/fancybox/src/css/core'

.video-box
    &__link
        width: 100%
        display: block
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        border-radius: 10px
        overflow: hidden
        height: 0
        padding-top: 63.75%
        position: relative
        cursor: pointer
        transition: all 0.75s ease-in-out
        @include breakpoint(tablet, up)
            padding-top: 56.25%
            width: 100%
            height: 100%
        @include breakpoint(desktop-large, up)
            padding-top: 60.25%
            width: 100%
            height: 100%
        &:after
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background: transparentize($secondary, 0.8)
        .triangle, circle
            transition: fill .3s ease-out
        &:hover
            .triangle
                fill: $white
            circle
                fill: rgba($white,.1)
    &__play-btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) scale(.5)
        z-index: 2
        @include breakpoint(desktop, up)
            transform: translate(-50%, -50%) scale(1)
        .play
            fill: $white
.collapse.show
    .video-box__link
        opacity: 1
        transition: all 0.75s ease-in-out

