.gallery-app
    color: $black

.gallery-filter
    background: #F7F9FC
    padding: 18px 0
    .select
        border-bottom-color: $gray
        color: $black
        @include breakpoint(desktop, down)
            padding: 10px 0
    .select-arrow
        @include breakpoint(desktop, down)
            &::before
                content: "\e906"
                font-size: 5px
    .article-filters__select
        border-bottom-color: $gray
        &.active
            border-color: $primary
    .search-form
        margin-top: 8px
        height: 100%
        display: flex
        justify-content: flex-end
        @include breakpoint(desktop, up)
            margin-top: 0
        &__input
            font-weight: 400
            font-size: 16px
            padding-bottom: 6px
            margin-bottom: 1rem
            &:focus
                border-color: $primary
            @include breakpoint(desktop, up)
                padding-bottom: 0
                margin-bottom: 0
        .search-form__submit
            top: 3px
            @include breakpoint(desktop, up)
                top: 12px

.gallary-download-check
    position: relative
    padding: 2rem 0
    display: flex
    justify-content: space-between
    border-bottom: 1px solid #4148551A
    min-height: 107px
    @include breakpoint(desktop, up)
        min-height: 116px

.spineer-loader
    position: absolute
    width: 100%
    top: 15px

.media-listing
    border-bottom: 1px solid #4148551A

.media-item
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    padding-top: 27px
    padding-bottom: 15px
    &__image
        border-radius: 6px
        margin-bottom: 5px
        width: 100%
        height: auto
    &__checkboxes
        display: flex
        justify-content: space-between
        margin-top: 8px
        flex-wrap: wrap
        .checkbox
            margin-bottom: 0.5em

    &__footer
        margin-top: 10px
        display: flex
        justify-content: space-between
        align-items: center
        height: 21px
        flex-wrap: wrap
        @include breakpoint(desktop, up)
            margin-bottom: 21px
        i.icon-download
            font-size: 12px
        .checkbox
            margin-bottom: 0.5em
            @include breakpoint(mobile-large, up)
                margin-bottom: 0
