.header-mobile 
    padding-top: 10px
    display: flex
    justify-content: space-between
    height: 47px
    &__btn-open
        background: transparent
        border: none
        width: 34px
        height: 25px    
        background-image: url('./../../../images/components/header/Menu.svg')
        background-repeat: no-repeat
        margin-top: 20px
    &__btn-search
        margin-top: 16px
        cursor: pointer

