.tab-nav
    color: $black
    margin-bottom: 2.3rem
    &__item-text
        @include p-1-medium-18
        padding: 11px 0
    &__item
        @include p-1-medium-18
        cursor: pointer
        text-align: center
        color: $gray
        border-bottom: 2px solid $gray
        padding: 11px
        transition: color .3s ease-out, border-color .3s ease-out
        &:hover
            color: $primary
            border-color: $primary
        &.active
            color: $primary
            border-color: $primary

.tab-nav-content
    .doc-list
        display: none
        &.active
            display: block

.lister-select
    position: relative
    color: $black
    select
        padding: 12px 0
        border-color: $gray
    .article-filters__icon-arrow
        font-size: 6px
        &::before
            content: "\e906"
