<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<settings>
			<setting name="Feature.Listings.DocumentsApiRoute" value="DocumentsApi" />
			<setting name="Feature.Listings.GenericListingApiRoute" value="GenericListingApi" />
			<setting name="Feature.Listings.MediaGalleryApiRoute" value="MediaGalleryApi" />
			<setting name="Feature.Listings.LatestResultsApiRoute" value="LatestResultsApi" />
		</settings>
	</sitecore>
</configuration>