<div class="article-filter-wrapper">
    <div class="article-filters" :class="mobileFilter ? 'active' : ''">
        <div class="article-filters__header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 d-lg-none">
                        <div class="article-filters__main-title">Filters
                            <i id="filters-close" @click="toggleMobileFilter" class="icon-close"></i>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <form class="search-form" @submit.prevent="submitSearchForm($event)">
                            <input type="text" v-model="searchText" name="searchText" class="search-form__input color-black" placeholder="Search by keyword">
                            <button class="search-form__submit pe-0" type="submit">
                                <i class="icon-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-9 d-none d-lg-block">
                        <div class="text-right">
                            <button @click="grid = false" :class="!grid ? 'active' : ''" class="btn btn-clean view-btn mr-3">
                                View as list <i class="icon-list-view"></i>
                            </button>
                            <button @click="grid = true" :class="grid ? 'active' : ''" class="btn btn-clean view-btn mr-3">
                                View as grid <i class="icon-grid-view"></i>
                            </button>
                            <a href="#" target="_blank" class="link-styles">Interactive fund centre <i
                                    class="icon-tab"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-filters__body" v-if="getFacetsLength">
            <div class="container">
                <div class="row">
                    <div class="col-12 article-filters__lists">
                        <div class="article-filters__selectControls">
                            <select-field inline-template v-for="(facet, i) in getFacets" :key="i">
                                <div class=" article-filters__dropdown relative" @click.stop>
                                    <div class="article-filters__select" @click="toggleOption" :class="open ? 'active' : ''">
                                        <span class="article-filters__item-title" :class="active ? 'active' : ''">
                                            {{facet.name}}
                                        </span>
                                        <i class="article-filters__icon-arrow"></i>
                                    </div>
                                    <div class="article-filters__options">
                                        <div class="article-filters__title" @click="hideOption">
                                            <i class="icon-chevron-left"></i> {{facet.name}}
                                        </div>
                                        <option-field inline-template v-for="(item, i) in facet.items" :for="item.name" :key="i + item.name">
                                            <label class="option-checkbox">
                                                <input :id="item.name" class="option-checkbox__input" type="checkbox"
                                                    v-model="checked" @change="toggleSelect(item, facet)"
                                                    @click="setChoosen(!checked)">
                                                <span class="option-checkbox__text">{{item.name}} </span>
                                                <span class="option-checkbox__icon"></span>
                                            </label>
                                        </option-field>
                                    </div>
                                </div>
                            </select-field>
                        </div>
                        <div class="article-filters__controls">
                            <div class="article-filters__btns">
                                <button class="btn article-filters__btn article-filters__btn_apply d-none d-xl-block" @click="applyFilters" :class="activeButton ? 'article-filters__btn_primary' : ''">
                                    Apply filters
                                </button>
                                <button class="clear-filter btn article-filters__btn article-filters__btn_clear d-none d-xl-block" @click="clearFilters">
                                    Clear
                                </button>
                                <btn @click="applyFilters" class="btn btn-clean d-none d-md-block d-xl-none" :class="activeButton ? 'text-primary' : ''" @click="toggleMobileFilter">
                                    <i class="icon-filter"></i> Apply
                                </btn>
                                <btn @click="clearFilters" class="btn btn-clean d-none d-md-block d-xl-none" @click="toggleMobileFilter">
                                    <i class="icon-refresh"></i> clear
                                </btn>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-filters__footer">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary min-width-100" @click="applyFilters">
                            Apply Filters
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="clear-filter btn btn-primary-forward min-width-100" @click="clearFilters">
                            clear all
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="view-buttons-container d-lg-none" v-if="getFacetsLength">
    <div class="container">
        <div class="d-flex justify-content-between w-100" :class="!mobileFilter ? 'relative' : ''">
            <btn id="show-article-fliter" class="btn btn-clean" @click="toggleMobileFilter">
                <i class="icon-filter"></i> filter
            </btn>
            <div class="view-buttons">
                View
                <button @click="grid = false" :class="!grid ? 'active' : ''" class="btn btn-clean btn-view-mob ml-auto button-sort">
                    <i class="icon-grid-view"></i>
                </button>
                <button @click="grid = true" :class="grid ? 'active' : ''" class="btn btn-clean btn-view-mob ml-auto button-sort">
                    <i class="icon-list-view"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="d-lg-none view-button-link">
    <a href="#" class="link-styles d-block">Interactive fund centre <i class="icon-tab"></i></a>
</div>