<div class="howtoinvest">
    <div class="container">        
            <div class="howtoinvest__box">
                <h2 class="howtoinvest__head">
                    How to invest in lion trust lion funds
                </h2>
                <div class="howtoinvest__body">
                    <div class="howtoinvest__slide">
                        <img class="howtoinvest__img" src="images/components/banners/award.png" alt="">
                        <div class="howtoinvest__desc">small text </div>
                    </div>
                    <div class="howtoinvest__slide">
                        <img class="howtoinvest__img" src="images/components/banners/award.png" alt="">
                        <div class="howtoinvest__desc">invest through this way it's really good man </div>
                    </div>
                    <div class="howtoinvest__slide">
                        <img class="howtoinvest__img" src="images/components/banners/award.png" alt="">
                        <div class="howtoinvest__desc">invest through this way it's really good man </div>
                    </div>
                </div>
                <div class="howtoinvest__footer">
                    <a href="#" class="btn btn-primary imagepromo__btn">
                        READ MORE
                        <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
                    </a>
                    <a href="#" class="btn btn-primary-forward imagepromo__btn">
                            SEE ALL GUIDANSE 
                            <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
                    </a>
                </div>
            </div>
    </div>
</div>