<section class="featured-articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="featured-articles__title">
                    Featured Articles
                </h2>
            </div>
        </div>
        <div class="featured-article">
            <div class="row">
                <div class="col-lg-6">
                    <div class="featured-article__item">
                        <a href="#" class="featured-article__link">
                            <div class="featured-article__number">1</div>
                            <span class="featured-article__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua ut enim ad minim.
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="featured-article__item">
                        <a href="#" class="featured-article__link">
                            <div class="featured-article__number">2</div>
                            <span class="featured-article__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua ut enim ad minim.
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="featured-article__item">
                        <a href="#" class="featured-article__link">
                            <div class="featured-article__number">3</div>
                            <span class="featured-article__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua ut enim ad minim.
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="featured-article__item">
                        <a href="#" class="featured-article__link">
                            <div class="featured-article__number">4</div>
                            <span class="featured-article__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua ut enim ad minim.
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="featured-article__item">
                        <a href="#" class="featured-article__link">
                            <div class="featured-article__number">5</div>
                            <span class="featured-article__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua ut enim ad minim.
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="featured-article__item">
                        <a href="#" class="featured-article__link">
                            <div class="featured-article__number">6</div>
                            <span class="featured-article__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua ut enim ad minim.
                            </span>
                        </a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>