<section class="container-left-gutter investment-card-container">
    <div class="row">
        <h3>
            Our Investment Process
        </h3>
    </div>
    <div id="investment-slider" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="investment-card">
                    <div class="investment-card__content">
                        <div class="investment-card__title">step 1</div>
                        <p class="investment-card__text">The fund managers focus on the historic cash flows generated
                            and
                            invested by companies to support their forecast profits growth. As forecasts are often
                            unreliable,
                            the scale of cash invested to support forecasts is key.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="investment-card">
                    <div class="investment-card__content">
                        <div class="investment-card__title">step 2</div>
                        <p class="investment-card__text">The fund managers focus on the historic cash flows generated
                            and
                            invested by companies to support their forecast profits growth. As forecasts are often
                            unreliable,
                            the scale of cash invested to support forecasts is key.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="investment-card">
                    <div class="investment-card__content">
                        <div class="investment-card__title">step 3</div>
                        <p class="investment-card__text">The fund managers focus on the historic cash flows generated
                            and
                            invested by companies to support their forecast profits growth. As forecasts are often
                            unreliable,
                            the scale of cash invested to support forecasts is key.</p>
                            <ul class="styled-list">
                                <li>Cash flow relative to operating assets</li>
                                <li>Cash flow relative to market value</li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="investment-card">
                    <div class="investment-card__content">
                        <div class="investment-card__title">step 4</div>
                        <p class="investment-card__text">The fund managers focus on the historic cash flows generated
                            and
                            invested by companies to support their forecast profits growth. As forecasts are often
                            unreliable,
                            the scale of cash invested to support forecasts is key.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="investment-card">
                    <div class="investment-card__content">
                        <div class="investment-card__title">step 5</div>
                        <p class="investment-card__text">The fund managers focus on the historic cash flows generated
                            and
                            invested by companies to support their forecast profits growth. As forecasts are often
                            unreliable,
                            the scale of cash invested to support forecasts is key.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="investment-card">
                    <div class="investment-card__content">
                        <div class="investment-card__title">step 6</div>
                        <p class="investment-card__text">The fund managers focus on the historic cash flows generated
                            and
                            invested by companies to support their forecast profits growth. As forecasts are often
                            unreliable,
                            the scale of cash invested to support forecasts is key.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>