<div class="article-filters">
    <div class="article-filters__header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">            
                    <div class="article-filters__main-title">Filters 
                        <i id="filters-close" class="icon-close"></i>
                    </div>
                </div>
                <div class="col-lg-2">
                    <form class="search-form">
                        <input type="text" name="queryText" class="search-form__input color-black" placeholder="Search insight">
                        <button class="search-form__submit color-primary pe-0" type="submit">
                            <i class="icon-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="article-filters__body">
        <div class="container">
            <div class="row">            
                <div class="col-lg-2">
                    <div class="article-filters__select">Fund 123
                        <i class="article-filters__icon-arrow"></i>                        
                    </div>
                    <div class="article-filters__options">
                        <div class="article-filters__title">
                            <i class="icon-chevron-left"></i>
                            Fund
                        </div>
                        <label for="james" class="option-checkbox">
                            <input id="james" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text">James Inglis-Jones</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Samantha" class="option-checkbox">
                            <input id="Samantha" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Samantha Gleave</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test1" class="option-checkbox">
                            <input id="Test1" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test1</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test2" class="option-checkbox">
                            <input id="Test2" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test2</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test3" class="option-checkbox">
                            <input id="Test3" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test3</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test4" class="option-checkbox">
                            <input id="Test4" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test4</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test5" class="option-checkbox">
                            <input id="Test5" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test5</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="article-filters__select">tsdtd 321
                        <i class="article-filters__icon-arrow"></i>                        
                    </div>
                    <div class="article-filters__options">
                        <div class="article-filters__title">
                            <i class="icon-chevron-left"></i>
                            Category 123
                        </div>
                        <label for="james12" class="option-checkbox">
                            <input id="james12" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text">James Inglis-Jones</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Samantha12" class="option-checkbox">
                            <input id="Samantha12" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Samantha Gleave</span>
                            <span class="option-checkbox__icon"></span>
                        </label>         
                    </div>    
                </div>
                <div class="col-lg-2">
                    <div class="article-filters__select">dsfsdf 333
                        <i class="article-filters__icon-arrow"></i>                        
                    </div>
                    <div class="article-filters__options">
                        <div class="article-filters__title">
                            <i class="icon-chevron-left"></i>
                            Fund Manager
                        </div>
                        <label for="james1" class="option-checkbox">
                            <input id="james1" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text">James Inglis-Jones</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Samantha1" class="option-checkbox">
                            <input id="Samantha1" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Samantha Gleave</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test12" class="option-checkbox">
                            <input id="Test12" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test1</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test22" class="option-checkbox">
                            <input id="Test22" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test2</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test32" class="option-checkbox">
                            <input id="Test32" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test3</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test42" class="option-checkbox">
                            <input id="Test42" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test4</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="Test52" class="option-checkbox">
                            <input id="Test52" class="option-checkbox__input" type="checkbox">
                            <span class="option-checkbox__text"> Test5</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>        
</div>

<btn id="show-article-fliter" class="btn btn-primary">
    toggle filter
</btn>