<div class="article-filter-wrapper">
    <div class="article-filters" :class="mobileFilter ? 'active' : ''">
        <div class="article-filters__header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 d-lg-none">
                        <div class="article-filters__main-title">Filters
                            <i id="filters-close" @click="toggleMobileFilter" class="icon-close"></i>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <form class="search-form" @submit.prevent="submitSearchForm($event)">
                            <input type="text" v-model="searchText" name="searchText" class="search-form__input color-black" placeholder="Search by keyboard">
                            <button class="search-form__submit pe-0" type="submit">
                                <i class="icon-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-filters__body" v-if="getFacetsLength">
            <div class="container">
                <div class="row">
                    <div class="col-12 article-filters__lists">
                        <div class="article-filters__selectControls">
                            <select-field inline-template v-for="(facet, i) in getFacets" :key="i">
                                <div class="article-filters__dropdown relative" @click.stop style="display: none;" :style="init ? 'display: block' : ''">
                                    <div class="article-filters__select" @click="toggleOption" :class="open ? 'active' : ''">
                                        <span class="article-filters__item-title" :class="active ? 'active' : ''">
                                            {{facet.name}}
                                        </span>
                                        <i class="article-filters__icon-arrow"></i>
                                    </div>
                                    <div class="article-filters__options">
                                        <div class="article-filters__title" @click="hideOption">
                                            <i class="icon-chevron-left"></i> {{facet.name}}
                                        </div>
                                        <option-field inline-template v-for="(item, i) in facet.items" :for="item.name" :key="i + item.name">
                                            <label class="option-checkbox">
                                                <input :id="item.name" class="option-checkbox__input" type="checkbox"
                                                    v-model="checked" @change="toggleSelect(item, facet)"
                                                    @click="setChoosen(!checked)">
                                                <span class="option-checkbox__text">{{item.name}}</span>
                                                <span class="option-checkbox__icon"></span>
                                            </label>
                                        </option-field>
                                    </div>
                                </div>
                            </select-field>
                            <select-field inline-template v-if="months.length">
                                <div class="article-filters__dropdown relative article-filters__dropdown-small" @click.stop style="display: none;" :style="init ? 'display: block' : ''">
                                    <div class="article-filters__select" @click="toggleOption" :class="open ? 'active' : ''">
                                        <span class="article-filters__item-title" :class="active ? 'active' : ''">
                                            Month
                                        </span>
                                        <i class="article-filters__icon-arrow"></i>
                                    </div>
                                    <div class="article-filters__options article-filters__options_small">
                                        <div class="article-filters__title" @click="hideOption">
                                            <i class="icon-chevron-left"></i> Month
                                        </div>
                                        <option-field inline-template>
                                            <label class="option-checkbox option-checkbox_small" @click="setChoosen(!checked)">
                                                <input class="option-checkbox__input" name="month" value="All"
                                                    type="radio" v-model="month" @click="setMonth('All')">
                                                <span class="option-checkbox__text">All</span>
                                                <span class="option-checkbox__icon"></span>
                                            </label>
                                        </option-field>
                                        <option-field inline-template v-for="(monthItem, i) in months" :key="i">
                                            <label class="option-checkbox option-checkbox_small" @click="setChoosen(!checked)">
                                                <input class="option-checkbox__input" name="month" type="radio"
                                                    v-model="month" :value="monthItem" @click="setMonth(monthItem)">
                                                <span class="option-checkbox__text">{{monthItem}}</span>
                                                <span class="option-checkbox__icon"></span>
                                            </label>
                                        </option-field>
                                    </div>
                                </div>
                            </select-field>
                            <select-field inline-template v-if="years.length">
                                <div class="article-filters__dropdown article-filters__dropdown-small relative" @click.stop style="display: none;" :style="init ? 'display: block' : ''">
                                    <div class="article-filters__select" @click="toggleOption" :class="open ? 'active' : ''">
                                        <span class="article-filters__item-title" :class="active ? 'active' : ''">
                                            Year
                                        </span>
                                        <i class="article-filters__icon-arrow"></i>
                                    </div>
                                    <div class="article-filters__options article-filters__options_small">
                                        <div class="article-filters__title" @click="hideOption">
                                            <i class="icon-chevron-left"></i> Fund
                                        </div>
                                        <option-field inline-template>
                                            <label class="option-checkbox option-checkbox_small" @click="setChoosen(!checked)">
                                                <input class="option-checkbox__input" name="year" v-model="year"
                                                    value="All" type="radio" @click="setYear('All')">
                                                <span class="option-checkbox__text">All</span>
                                                <span class="option-checkbox__icon"></span>
                                            </label>
                                        </option-field>
                                        <option-field inline-template v-for="(yearItem, i) in years" :key="i">
                                            <label class="option-checkbox option-checkbox_small" @click="setChoosen(!checked)">
                                                <input class="option-checkbox__input" name="year" v-model="year"
                                                    :value="yearItem" type="radio" @click="setYear(yearItem)">
                                                <span class="option-checkbox__text">{{yearItem}}</span>
                                                <span class="option-checkbox__icon"></span>
                                            </label>
                                        </option-field>
                                    </div>
                                </div>
                            </select-field>
                        </div>


                        <div class="article-filters__controls">
                            <div class="article-filters__btns">
                                <button class="btn article-filters__btn article-filters__btn_apply d-none d-xl-block" @click="applyFilters" :class="activeButton ? 'article-filters__btn_primary' : ''">
                                    Apply filters
                                </button>
                                <button class="clear-filter btn article-filters__btn article-filters__btn_clear d-none d-xl-block" @click="clearFilters">
                                    Clear all
                                </button>
                                <btn @click="applyFilters" class="btn btn-clean d-none d-md-block d-xl-none" :class="activeButton ? 'text-primary' : ''" @click="toggleMobileFilter">
                                    <i class="icon-filter"></i> Apply
                                </btn>
                                <btn @click="clearFilters" class="btn btn-clean d-none d-md-block d-xl-none" @click="toggleMobileFilter">
                                    <i class="icon-refresh"></i> clear all
                                </btn>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="article-filters__footer">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary min-width-100" @click="applyFilters">
                            Apply Filters
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="clear-filter btn btn-primary-forward min-width-100" @click="clearFilters">
                            clear all
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-2 offset-6 col-md-4 offset-md-8 offset-lg-10 margin-sort-btn">
                <div class="relative">
                    <button class="btn btn-clean d-block ml-auto button-sort" @click.stop="showSort">
                        sort <i class="icon-sort"></i>
                    </button>
                    <div class="sort-dropdown" :class="sortModal ? 'active' : ''">
                        <div class="text-right">
                            <span class="btn btn-clean">
                                sort <i class="icon-sort"></i>
                            </span>
                        </div>
                        <label for="newest" class="option-checkbox">
                            <input id="newest" v-model="sortOrder" value="ASC" class="option-checkbox__input"
                                type="radio" name="sort" checked>
                            <span class="option-checkbox__text">Date newest first</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="oldest" class="option-checkbox">
                            <input id="oldest" v-model="sortOrder" value="DESC" class="option-checkbox__input"
                                type="radio" name="sort">
                            <span class="option-checkbox__text">Date oldest first</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-lg-none" v-if="getFacetsLength">
    <div class="d-flex justify-content-between margin-mob-fliter-btn" :class="!mobileFilter ? 'relative' : ''">
        <btn id="show-article-fliter" class="btn btn-clean" @click="toggleMobileFilter">
            <i class="icon-filter"></i> filter
        </btn>
    </div>
</div>