<div class="row">
    <div class="col-lg-8">
        <div class="article-hero">
            <div class="hero-author-wrapper">
                <div class="hero-author">
                    <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="Name of author"
                        class="hero-author__img">
                    <div class="hero-author__content">
                        <span class="hero-author__name">
                            Donald Phillips <i class="icon-follow"></i>
                        </span>
                        <span class="hero-author__date">
                            21.02.2020
                        </span>
                    </div>
                </div>
                <div class="hero-author">
                    <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="Name of author"
                        class="hero-author__img">
                    <div class="hero-author__content">
                        <span class="hero-author__name">
                            Donald Phillips <i class="icon-follow"></i>
                        </span>
                        <span class="hero-author__date">
                            21.02.2020
                        </span>
                    </div>
                </div>
            </div>
            <div class="article-hero__content">
                <h1 class="article-hero__title">
                    High yield: all about that income
                </h1>
                <p class="article-hero__text">
                    With 100% of high-yield bond performance driven by income over the last decade, Donald Phillips says this
                    asset class offers an attractive alternative for investors concerned about widespread dividend cuts across
                    equities.
                </p>
            </div>
            <a href="#" class="link-styles">Read the article <i class="icon-arrow-right"></i></a>
        </div>
    </div>
</div>