<section class="featured-articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="featured-articles__title">
                    Featured Articles
                </h2>
            </div>
        </div>
        <ul class="featured-article">
            <li class="featured-article__item">
                <a href="#" class="featured-article__link">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua ut enim ad minim.
                </a>
            </li>
            <li class="featured-article__item">
                <a href="#" class="featured-article__link">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua ut enim ad minim.
                </a>
            </li>
            <li class="featured-article__item">
                <a href="#" class="featured-article__link">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua ut enim ad minim.
                </a>
            </li>
            <li class="featured-article__item">
                <a href="#" class="featured-article__link">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua ut enim ad minim.
                </a>
            </li>
            <li class="featured-article__item">
                <a href="#" class="featured-article__link">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua ut enim ad minim.
                </a>
            </li>
            <li class="featured-article__item">
                <a href="#" class="featured-article__link">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua ut enim ad minim.
                </a>
            </li>
        </ul>
    </div>
</section>