<a href="#" class="fund-card">
  <div class="fund-card__head">
    <img src="images/components/fund-card/fund-card-lion.png" alt="liontrust" />
  </div>
  <div class="fund-card__content">
    <span class="fund-card__subtitle">Sustainable Investment</span>
    <span class="fund-card__title"
      >Liontrust GF Sustainable Future European Corporate Bond</span
    >
    <div class="fund-card__text">
      <div class="fund-card__text-top">
        <p>
          The Fund has been managed since launch in April 2014 by James
          Inglis-Jones and Samantha Gleave. The fund managers seek to deliver a
          positive absolute return over the long term by taking long and short
          positions, primarily in European companies.
        </p>
      </div>
      <div class="fund-card__text-bottom">
        <span class="link-styles">
          View this fund
          <i class="icon-arrow-right"></i>
        </span>
      </div>
    </div>
  </div>
</a>
