<!--#set var="article-promo-author-name" value="text-gold" -->
<div class="insight">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="insight__box">
                    <div class="insight__head">
                        <div class="insight__tit">
                            Latest Sustainable Insight
                        </div>
                        <div class="insight__more">
                            See All sustainable Insights
                            <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
                        </div>
                    </div>          
                </div>
            </div>
        </div>
        <div class="row row-scrollable-mob">
            <div class="col-8 col-md-6 col-lg-4">
              <!--#include virtual="/components/reusables/Article-promo.html" -->
            </div>
            <div class="col-8 col-md-6 col-lg-4">
              <!--#include virtual="/components/reusables/Article-promo.html" -->
            </div>
            <div class="col-8 col-md-6 col-lg-4">
              <!--#include virtual="/components/reusables/Article-promo.html" -->
            </div>
            <div class="col-8 col-md-6 col-lg-4">
              <!--#include virtual="/components/reusables/Article-promo.html" -->
            </div>
            <div class="col-8 col-md-6 col-lg-4">
              <!--#include virtual="/components/reusables/Article-promo.html" -->
            </div>
            <div class="col-8 col-md-6 col-lg-4">
              <!--#include virtual="/components/reusables/Article-promo.html" -->
            </div>
        </div>
    </div>
</div>