<div class="container text-center mt-5">
    <div class="row">
        <div class="hero-manager-link small">
            <div>
                <a href="#" title="hero name">
                    <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                    <span>Stuart Steven
                        <!-- <i class="icon-follow"></i> -->
                    </span>
                </a>
                <time itemprop="datePublished">
                    4 January 2017
                </time>
            </div>
            <div>
                <a href="#" title="hero name">
                    <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                    <span>Stuart Steven
                        <!-- <i class="icon-follow"></i> -->
                    </span>
                </a>
                <time itemprop="datePublished">
                    4 January 2017
                </time>
            </div>
            <div>
                <a href="#" title="hero name">
                    <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                    <span>Stuart Steven
                        <!-- <i class="icon-follow"></i> -->
                    </span>
                </a>
                <time itemprop="datePublished">
                    4 January 2017
                </time>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 offset-xl-3 mt-3">

            <div class="article-hero">

                <div class="article-hero__content text-center">
                    <h1 class="article-hero__title">
                        High yield should remain on the radar for 2021
                    </h1>
                    <div class="topic-follow d-none d-lg-flex">
                        <a href="#" class="follow-btn"><i class="icon-follow"></i> <span>Topic One</span></a>
                        <a href="#" class="follow-btn"><i class="icon-follow"></i> <span>Topic Two</span></a>
                        <a href="#" class="follow-btn"><i class="icon-follow"></i> <span>Topic Three</span></a>
                    </div>
                </div>
            </div>


        </div>    
    </div>    
</div>