<div class="fund-item-list">
    <div class="row align-items-center">
        <div class="col-xl-4">
            <span class="fund-item-list__title">Liontrust GF Sustainable Future European Corporate Bond</span>

        </div>
        <div class="col-xl-2">
            <div class="fund-item-list__badge">
                <span class="badge-secondary">
                    The Sustainable Investment Team
                </span>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="fund-item-list__links">
                <button href="#" class="link-gray">Follow <i class="icon-follow"></i></button>
                <a href="#" target="_blank" class="link-gray">Factsheet <i class="icon-file"></i></a>
                <button class="link-gray">All documents <i class="icon-folder"></i></button>
            </div>
        </div>
        <div class="col-lg-6 col-xl-2">
            <div class="fund-item-list__right-btn">
                <a href="#" class="btn btn-primary-forward">
                    View this fund <i class="icon-arrow-right animate-arrow"></i>
                </a>
            </div>
        </div>
    </div>
</div>