<section class="container">
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
    <div class="fund-item-list">
        <div class="row align-items-center">
            <div class="col-xl-4">
                <span class="fund-item-list__title mb-lg-3 mb-xl-0">Liontrust GF Sustainable Future European Corporate Bond</span>

            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="fund-item-list__badge">
                    <span class="badge-secondary">
                        The Sustainable Investment Team
                    </span>
                </div>
            </div>
            <div class="col-lg-9 col-xl-6">
                <div class="fund-item-list__btns">
                    <button href="#" class="btn btn-primary">All factsheets & documents <i class="icon-folder"></i></button>
                    <a href="#" target="_blank" class="btn btn-primary-forward min-width-auto">Fund update</a>
                    <a href="#" class="btn btn-link">View this fund <i class="icon-arrow-right animate-arrow"></i></a>
                </div>                
            </div>
        </div>
    </div>    
</section>