<div class="fund-manager mt-5">
    <div class="fund-manager__item d-block">
      <div class="row">
        <div class="col-4">
          <img
            src="images/components/fund-manager/roberts-david-2018-580x358.png"
            alt="manager-name"
            class="fund-manager__img"
          />
        </div>
        <div class="col-sm-8">
          <div class="fund-manager__content">
            <div class="fund-manager__title d-flex align-items-end">
              David Roberts
              <button class="ml-1 btn-unset d-lg-none">
                <i class="icon-follow text-black"></i>
              </button>
            </div>
            <span class="fund-manager__text font-500 d-none d-xl-block">
              Lorem ipsum dolor sit amett cons ectetur adipiscing elit
              aenean euis.
            </span>
            <span class="fund-manager__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenean euismod bibendum laoreet. Proin gravida dolor sit
              amet lacus accumsan et viverra justo commodo.
            </span>
            <div class="mt-2">
              <a href="#" class="link-styles">
                View profile
                <i class="icon-arrow-right"></i>
              </a>
              <a
                href="#"
                class="link-styles text-black ml-4 d-none d-xl-inline"
              >
                Follow Donald
                <i class="icon-follow"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>