<div class="d-flex flex-column">
    <div class="row">
        <div class="col-xl-6 offset-xl-3">
            <div class="article-hero">
                <div class="hero-author hero-author_big">
                    <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png"
                        alt="Name of author" class="hero-author__img">
                    <div class="hero-author__content">
                        <span class="hero-author__name">
                            Donald Phillips <i class="icon-follow"></i>
                        </span>
                        <span class="hero-author__date">
                            21.02.2020
                        </span>
                    </div>
                </div>
                <div class="article-hero__content text-center">
                    <h1 class="article-hero__title">
                        High yield should remain on the radar for 2021
                    </h1>
                    <div class="topic-follow d-none d-lg-flex">
                        <a href="#" class="follow-btn mr-3"><i class="icon-follow"></i> Topic One</a>
                        <a href="#" class="follow-btn mr-3"><i class="icon-follow"></i> Topic Two</a>
                        <a href="#" class="follow-btn"><i class="icon-follow"></i> Topic Three</a>
                    </div>
                </div>
            </div>
        </div>    
    </div>    
</div>