<div class="article-filter-wrapper">
    <div class="article-filters">
        <div class="article-filters__header d-lg-none">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 d-lg-none">
                        <div class="article-filters__main-title">Filters
                            <i id="filters-close" class="icon-close"></i>
                        </div>
                    </div>                                 
                </div>
            </div>
        </div>
        <div class="article-filters__body article-filters__body_no-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 relative">
                        <div class="article-filters__select">
                            <span class="article-filters__item-title">
                                Fund Team
                            </span>
                            <i class="article-filters__icon-arrow"></i>
                        </div>
                        <div class="article-filters__options">
                            <div class="article-filters__title">
                                <i class="icon-chevron-left"></i>
                                Category 123
                            </div>
                            <label for="james12" class="option-checkbox">
                                <input id="james12" class="option-checkbox__input" type="checkbox">
                                <span class="option-checkbox__text">James Inglis-Jones</span>
                                <span class="option-checkbox__icon"></span>
                            </label>
                            <label for="Samantha12" class="option-checkbox">
                                <input id="Samantha12" class="option-checkbox__input" type="checkbox">
                                <span class="option-checkbox__text"> Samantha Gleave</span>
                                <span class="option-checkbox__icon"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="article-filters__btns">
                            <button class="btn article-filters__btn article-filters__btn_apply">
                                Apply filters
                            </button>
                            <button class="clear-filter btn article-filters__btn article-filters__btn_clear">
                                Clear all
                            </button>
                        </div>
                    </div>
                    <div class="col-6 col-lg-2 offset-6 col-md-4 offset-md-8 offset-lg-10 margin-sort-btn d-none d-lg-block">
                        <div class="relative">
                            <button class="btn btn-clean d-block ml-auto button-sort">
                                sort <i class="icon-sort"></i>
                            </button>
                            <div class="sort-dropdown">
                                <div class="text-right">
                                    <span class="btn btn-clean">
                                        sort <i class="icon-sort"></i>
                                    </span>
                                </div>
                                <label for="newest" class="option-checkbox">
                                    <input id="newest" class="option-checkbox__input" type="radio" name="sort" checked>
                                    <span class="option-checkbox__text">Date newest first</span>
                                    <span class="option-checkbox__icon"></span>
                                </label>
                                <label for="oldest" class="option-checkbox">
                                    <input id="oldest" class="option-checkbox__input" type="radio" name="sort">
                                    <span class="option-checkbox__text">Date oldest first</span>
                                    <span class="option-checkbox__icon"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-filters__footer">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-primary min-width-100">
                            Apply Filters
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="clear-filter btn btn-primary-forward min-width-100">
                            clear all
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-2 offset-6 col-md-4 offset-md-8 offset-lg-10 margin-sort-btn d-lg-none">
                <div class="relative">
                    <button class="btn btn-clean d-block ml-auto button-sort">
                        sort <i class="icon-sort"></i>
                    </button>
                    <div class="sort-dropdown">
                        <div class="text-right">
                            <span class="btn btn-clean">
                                sort <i class="icon-sort"></i>
                            </span>
                        </div>
                        <label for="newest" class="option-checkbox">
                            <input id="newest" class="option-checkbox__input" type="radio" name="sort" checked>
                            <span class="option-checkbox__text">Date newest first</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                        <label for="oldest" class="option-checkbox">
                            <input id="oldest" class="option-checkbox__input" type="radio" name="sort">
                            <span class="option-checkbox__text">Date oldest first</span>
                            <span class="option-checkbox__icon"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container d-lg-none">
    <div class="d-flex justify-content-between margin-mob-fliter-btn">
        <btn id="show-article-fliter" class="btn btn-clean">
            <i class="icon-filter"></i> filter
        </btn>        
    </div>
</div>