<section class="container mb-lg-5">
    <div class="d-flex flex-column">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="article-hero">
                    <div class="article-hero__content text-center">
                        <h1 class="article-hero__title mb-4">
                            GF Sustainable Future European Corporate Bond Fund
                        </h1>
                    </div>
                </div>
            </div>
    
        </div>
        <ul class="article-links">
            <li class="article-links__item">
                <a href="#" class="article-links__link">
                    <i class="icon-follow"></i>
                    <span>Follow</span>
                </a>
            </li>
            <li class="article-links__item">
                <a href="#" class="article-links__link copy-to-clipbord"
                    data-link="https://www.liontrust.co.uk/what-we-think/blogs/improving-prospects-for-the-land-of-the-rising-sun"
                    data-title="This link has been copied to your clipboard">
                    <i class="icon-share"></i>
                    <span>Share Article</span>
                </a>
                
            </li>
        </ul>
    </div>
</section>
<div class="container text-center">
    <div class="row">
        <div class="hero-manager-link">
            <a href="#" title="hero name">
                <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                <span>Stuart Steven</span>
            </a>
            <a href="#" title="hero name">
                <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                <span>Stuart Steven</span>
            </a>
            <a href="#" title="hero name">
                <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                <span>Stuart Steven</span>
            </a>
            <a href="#" title="hero name">
                <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                <span>Stuart Steven</span>
            </a>
            <a href="#" title="hero name">
                <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                <span>Stuart Steven</span>
            </a>
            <a href="#" title="hero name">
                <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                <span>Stuart Steven</span>
            </a>
            <a href="#" title="hero name">
                <img src="images\components\fund-manager\PHILLIPS-Donald-Liontrust-2019-580x358.png" alt="hero name">
                <span>Stuart Steven</span>
            </a>
        </div>
    </div>
</div>    
<div class="container">
    <div class="text-center btn-row mb-5">
        <a href="" class="btn btn-primary btn-block" data-goal-trigger="{00000000-0000-0000-0000-000000000000}">Explore our funds <i class="icon-arrow-right animate-arrow"></i></a>
        <a href="" class="btn btn-white btn-block" data-goal-trigger="{00000000-0000-0000-0000-000000000000}">Get personalised content <i class="icon-arrow-right animate-arrow"></i>
        </a>            
    </div>
</div>