<div class="page-anchor-link" id="sticky-navbar">
    <div class="container">
        <div class="page-anchor full-wigth">
            <div class="page-anchor__right page-anchor__right-mobile">
                <button class="page-anchor__title" id="open-page-anchor">
                    <span>On this page</span>
                </button>
                <div class="page-anchor__links page-anchor__links-mobile">
                    <a href="#AboutTheFund" class="page-anchor__link">About the fund</a>
                    <a href="#InvestmentProcess" class="page-anchor__link">Investment Process</a>
                    <a href="#Performance" class="page-anchor__link">Performance</a>
                    <a href="#CurrentPositioning" class="page-anchor__link">Current Positioning</a>
                    <a href="#Insight" class="page-anchor__link">Insight</a>
                    <a href="#KeyDocuments" class="page-anchor__link">Key Documents</a>
                    <a href="#HowToInvest" class="page-anchor__link">How to Invest</a>
                </div>
            </div>
            <div class="page-anchor__right">
                <button class="page-anchor__title">
                    <span>On this page:</span>
                </button>
                <div class="page-anchor__links">
                    <a href="#AboutTheFund" class="page-anchor__link">About the fund</a>
                    <a href="#InvestmentProcess" class="page-anchor__link">Investment Process</a>
                    <a href="#Performance" class="page-anchor__link">Performance</a>
                    <a href="#CurrentPositioning" class="page-anchor__link">Current Positioning</a>
                    <a href="#Insight" class="page-anchor__link">Insight</a>
                    <a href="#KeyDocuments" class="page-anchor__link">Key Documents</a>
                    <a href="#HowToInvest" class="page-anchor__link">How to Invest</a>
                </div>
            </div>

            <div class="page-anchor__left">
                  
            </div>
        </div>
    </div>
</div>