<section class="container">
    <div class="row">
        <div class="col-lg-6">
            <!-- set values for char in data attribute -->
            <h5 class="text-black">AuMA* weighted quartile ranking since launch or manager inception</h5>
            <canvas class="stucked-chart" width="400" height="400" data-chart='{"labels":["FY18","FY19","FY20"],"datasets":[{"label":"First Quartile","data":[70,60,50]},{"label":"Second Quartile","data":[20,25,30]},{"label":"Third Quartile","data":[5,10,15]},{"label":"Fourth Quartile","data":[5,5,5]}]}'></canvas>
        </div>
    </div>
</section>