<section class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="stucked-chart">
                <h5 class="stucked-chart__title">AuMA<span class="text-gold">*</span> weighted quartile ranking since launch or manager inception</h5>
                <div class="stucked-chart__wrapper">
                    <!-- set values for char in data attribute -->
                    <canvas height="440" class="stucked-chart__item"
                        data-chart='{"labels":["FY18","FY19","FY20"],"datasets":[{"label":"First Quartile","color": "#0E8039","data":[70,60,50]},{"label":"Second Quartile","color": "#E77B05","data":[20,25,30]},{"label":"Third Quartile","color": "#0C97AC","data":[5,10,15]},{"label":"Fourth Quartile","color": "#C0A961","data":[5,5,5]}],"yAxeConfig":{"scale": "%","ranges":10,"maxRange": 100}}'></canvas>
                    <small class="small-text stucked-chart__small">
                        <span class="text-gold">*</span> This is an alternative performance measure (‘APM’).
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="stucked-chart">
                <h5 class="stucked-chart__title">AuMA<span class="text-gold">*</span> by investor type £’million</h5>
                <div class="stucked-chart__wrapper">
                    <!-- set values for char in data attribute -->
                    <canvas height="440" class="stucked-chart__item"
                        data-chart='{"labels":["FY18","FY19","FY20"],"datasets":[{"label":"UK Retail funds","color":"#0E8039","data":[1000,2000,3000]},{"label":"Institutional","color": "#E77B05","data":[8000,10000,13000]},{"label":"Offshore funds","color": "#0C97AC","data":[3000,4000,4500]},{"label":"Multi Asset","color": "#C0A961","data":[2000,3000,3000]}], "yAxeConfig":{"ranges":2000,"maxRange": 18000}}'></canvas>
                    <small class="small-text stucked-chart__small">
                        <span class="text-gold">*</span> This is an alternative performance measure (‘APM’).
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="stucked-chart">
                <h5 class="stucked-chart__title">Net flows £’ million</h5>
                <div class="stucked-chart__wrapper">
                    <!-- set values for char in data attribute -->
                    <canvas height="440" class="stucked-chart__item"
                        data-chart='{"labels":["FY18","FY19","FY20"],"datasets":[{"color":"#0E8039","data":[1000,2000,3000]}],"yAxeConfig":{"scale": "£","ranges":300,"maxRange": 3000}}'></canvas>
                    <small class="small-text stucked-chart__small">
                        <span class="text-gold">*</span> This is an alternative performance measure (‘APM’).
                    </small>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="stucked-chart">
                <h5 class="stucked-chart__title">Adjusted profit before tax<span class="text-gold">*</span> £’000</h5>
                <div class="stucked-chart__wrapper">
                    <!-- set values for char in data attribute -->
                    <canvas height="440" class="stucked-chart__item"
                        data-chart='{"labels":["FY18","FY19","FY20"],"datasets":[{"color":"#0E8039","data":[23000,29000,37000]}],"yAxeConfig":{"ranges":5000,"maxRange": 45000}}'></canvas>
                    <small class="small-text stucked-chart__small">
                        <span class="text-gold">*</span> This is an alternative performance measure (‘APM’).
                    </small>
                </div>
            </div>

        </div>
    </div>
</section>