<div class="class-dropdown">
    <div class="class-dropdown__title">
        Currently viewing
    </div>
    <div class="class-dropdown__select">
        <select name="classes" id="classes" class="fund-chart-dropdown">
            <option value="0RHP">Retail Acc EUR Class (A1)</option>
            <option value="1RHP">Retail Acc EUR Class (A3)</option>
            <option value="2RHP">Retail Acc EUR Class (A4)</option>
            <option value="3RHP">Retail Acc EUR Class (A5)</option>
            <option value="4RHP">Retail Acc EUR Class (A6)</option>
            <option value="5RHP">Retail Acc EUR Class (A7)</option>
        </select>
        <i class="article-filters__icon-arrow article-filters__icon-arrow_select"></i>
    </div>
</div>