<div class="lit-overlay__wrapper">
    <div class="lit-overlay">
        <div class="d-flex justify-content-end">
          <button class="lit-overlay__close" id="lit-overlay-close" alt="close"><i class="icon-close"></i></button>
        </div>
        <div class="lit-overlay__head">
          <div class="lit-overlay__title">Literature</div>
          <div class="lit-overlay__subtitle">
            GF Sustainable Future European Corporate Bond Fund
          </div>
          <a href="#" class="lit-overlay__link">
            Latest fund update <i class="icon-arrow-right animate-arrow"></i>
          </a>
        </div>
        <div class="lit-overlay__item">
          <span class="lit-overlay__item-title">Fact Sheets</span>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Download Factsheet A1 Acc</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Download Factsheet A5 Acc</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Download Factsheet A8 Acc</i>
          </a>
        </div>
        <div class="lit-overlay__item">
          <span class="lit-overlay__item-title">Key Investor Information Documents (KIID)</span>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc (Dutch)</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc (French)</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc (German)</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc (Italian)</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc (Norwegian)</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc (Portuguese)</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc (Spanish)</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> KIID A1 Acc (Swedish)</i>
          </a>
        </div>
        <div class="lit-overlay__item">
          <span class="lit-overlay__item-title">Prospectuses</span>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Prospectus</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Prospectus - German investors</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Prospectus - Singapore investors</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Prospectus - Swiss investors</i>
          </a>
          </a>
        </div>
        <div class="lit-overlay__item">
          <span class="lit-overlay__item-title">Supporting Information</span>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Holdings</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Thematic breakdown</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds - Additional information for investors in Belgium</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds - Supplement for investors in Denmark</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Additional information for investors in Luxembourg</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Annual Report & Audited Financial Statements</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Interim Report & Unaudited Financial Statements</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Memorandum and articles</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds plc - Remuneration policy</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Global Funds PLC Application Form</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Sustainable Future Investment Process - Fixed Income</i>
          </a>
          <a href="#" class="lit-overlay__item-link" target="_blank">
              <i class="icon-file"></i> Liontrust Sustainable Future: Investing in Sustainable Themes</i>
          </a>
        </div>
      </div>
</div>
