<div class="card">
    <div class="card__content">
        <span class="card__title">
            Key Information
        </span>
        <div class="card__row">
            <div class="card__item-left">Class Launch Date</div>
            <div class="card__item-right"> 29.05.18</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">Comparator</div>
            <div class="card__item-right"> Markit iBoxx Euro Corporates</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">Benchmark 1</div>
            <div class="card__item-right"> Index</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">Fund Size</div>
            <div class="card__item-right">€32.2m</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">Number of Holdings</div>
            <div class="card__item-right">55</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">Net Underlying Yield</div>
            <div class="card__item-right">-0.43%</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">Duration</div>
            <div class="card__item-right">2.68</div>
        </div>
    </div>
    <div class="card__content">
        <span class="card__title">
            Price
        </span>
        <div class="card__row">
            <div class="card__item-left">Single Price</div>
            <div class="card__item-right">£23m</div>
        </div>
        <div class="card__row">
            <div class="card__item-left"> Offer Price</div>
            <div class="card__item-right">£20m</div>
        </div>
        <div class="card__row">
            <div class="card__item-left">Price Date
                <span class="d-inline-flex" data-toggle="tooltip" data-placement="right"
                    title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                    <i class="icon-follow text-gold"></i>
                </span>
            </div>
            <div class="card__item-right">22.01.2017</div>
        </div>
    </div>
</div>