<section class="container">
    <div class="fund-stats">
        <div class="row">
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">Fund Launch Date</span>
                    <span class="fund-stats__value">
                        22/22/2222
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">Fund Size</span>
                    <span class="fund-stats__value">
                        £20M
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">Number of Holdings</span>
                    <span class="fund-stats__value">
                        22
                    </span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="fund-stats__item">
                    <span class="fund-stats__title">Managed by current team for</span>
                    <span class="fund-stats__value">
                        5 Years
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>