<div class="fund-overview">
    <h2 class="h2">
        Fund Overview
    </h2>
    <div class="fund-overview__text">
        <p class="font-500 text-margin">
            The Fund aims to maximise total returns (a combination of income and capital growth) over the long term (5 years
            or more). The Fund seeks to achieve this objective predominantly through investing in euro denominated
            investment grade corporate bonds or non-euro denominated corporate bonds hedged back into euros.
        </p>
    </div>    
    <div>
        <a href="#" class="btn btn-primary-forward mr-1 mr-md-4">
            Latest Fund update <i class="icon-arrow-right animate-arrow"></i>
        </a>
        <a href="#" class="link-styles">Download factsheet <i class="icon-file d-none d-lg-inline-block"></i></a>
    </div>
</div>