<section class="container table-section">
  <h3 class="table-section__title">Discrete performance (%)</h3>
  <div class="table-responsive-md">
    <table class="table table-responcive-md">
        <thead class="thead-dark">
          <tr>
            <th scope="col">To previous quarter 12 months ending:</th>
            <th scope="col">Dec 20</th>
            <th scope="col">Dec 19</th>
            <th scope="col">Dec 18</th>
            <th scope="col">Dec 17</th>
          </tr>
        </thead>
        <tbody>
          <tr class="primary-row">
            <th scope="row">UK Micro Cap</th>
            <td>12.1</td>
            <td>29.1</td>
            <td>@3.0</td>
            <td>22.1</td>
          </tr>
          <tr>
            <th scope="row">FTSE Small Cap (ex IT) Index</th>
            <td>1.7</td>
            <td>17.7</td>
            <td>13.8</td>
            <td>15.6</td>
          </tr>
          <tr>
            <th scope="row">FTSE AIM Index</th>
            <td>21.7</td>
            <td>13.3</td>
            <td>17.1</td>
            <td>26.0</td>
          </tr>
          <tr>
            <th scope="row">IA UK Smaller Companies sector average</th>
            <td>6.5</td>
            <td>13.3</td>
            <td>17.1</td>
            <td>27.0</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td scope="row">Quartile Ranking</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>4</td>
          </tr>
        </tfoot>
      </table>
  </div>
  
</section>
