<div class="table-section">
    <h3 class="table-section__title">Geographical Breakdown % </h3>
    <div class="table-responsive">
        <table class="table geographical-breakdown table-full-border table-horizontal-chart">
          <tbody>          
              <tr>
                  <th scope="row">United States</th>
                  <td class="column-half">                      
                    <div class="twoline-percent">
                        <div class="twoline-percent_row">
                            <div class="twoline-percent__number"><span class="twoline-percent__digit">59.5</span> <div class="percents" style="width: 59.5%;"></div></div>
                            <div class="twoline-percent__number"><span class="twoline-percent__digit">66.1</span> <div class="percents percents__gold" style="width: 66.1%;"></div></div>
                        </div>                        
                    </div>           
                  </td>            
              </tr>  
              <tr>
                <th scope="row">Germany</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">7.4</span> <div class="percents" style="width: 7.4%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">2.9</span> <div class="percents percents__gold" style="width: 2.9%;"></div></div>
                      </div>                        
                  </div>              
                </td>               
            </tr>
            <tr>
                <th scope="row">Japan</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">5.2</span> <div class="percents" style="width: 5.2%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">7.7</span> <div class="percents percents__gold" style="width: 7.7%;"></div></div>
                      </div>            
                  </div>           
                </td>           
            </tr>
             <tr>
                <th scope="row">United Kingdom</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.9</span> <div class="percents" style="width: 4.9%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.4</span> <div class="percents percents__gold" style="width: 4.4%;"></div></div>
                      </div>                
                  </div>                 
                </td>                 
            </tr>               
            <tr>
                <th scope="row">United Kingdom</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.9</span> <div class="percents" style="width: 4.9%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.4</span> <div class="percents percents__gold" style="width: 4.4%;"></div></div>
                      </div>                        
                  </div>                      
                </td>                 
            </tr>               
            <tr>
                <th scope="row">United Kingdom</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.9</span> <div class="percents" style="width: 4.9%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.4</span> <div class="percents percents__gold" style="width: 4.4%;"></div></div>
                      </div>                        
                  </div>                      
                </td>                 
            </tr>               
            <tr>
                <th scope="row">United Kingdom</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.9</span> <div class="percents" style="width: 4.9%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.4</span> <div class="percents percents__gold" style="width: 4.4%;"></div></div>
                      </div>                        
                  </div>                      
                </td>                 
            </tr>               
            <tr>
                <th scope="row">United Kingdom</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.9</span> <div class="percents" style="width: 4.9%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.4</span> <div class="percents percents__gold" style="width: 4.4%;"></div></div>
                      </div>                        
                  </div>                      
                </td>                 
            </tr>               
            <tr>
                <th scope="row">United Kingdom</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.9</span> <div class="percents" style="width: 4.9%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">4.4</span> <div class="percents percents__gold" style="width: 4.4%;"></div></div>
                      </div>                        
                  </div>                      
                </td>                 
            </tr>               
            <tr>
                <th scope="row">Cash and Derivatives</th>
                <td class="column-half">                      
                  <div class="twoline-percent">
                      <div class="twoline-percent_row">
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">3.3</span> <div class="percents" style="width: 3.3%;"></div></div>
                          <div class="twoline-percent__number"><span class="twoline-percent__digit">0.1</span> <div class="percents percents__gold" style="width: 0.1%;"></div></div>
                      </div>                        
                  </div>                      
                </td>                 
            </tr>
          </tbody>
        </table>
    <button class="toggle-geographical-button">+</button>
    </div>    
</div>