<section class="container contact-section">
    <h2 class="h2 contact-section__title"></h2>
    <div class="row">
        <div class="col-lg-11">
            <div class="card">
                <div class="contacts">
                    <div class="row">
                        <div class="col-xl-6">
                            <h3 class="contacts__title">UK domiciled funds administration, dealing & valuations</h3>
                            <div class="contacts__text">
                                <div class="contacts__text-top">
                                    <span class="font-500">Liontrust Customer Services Team</span>
                                    <span>PO Box 373</span>
                                    <span>Darlington</span>
                                    <span> DL1 9RQ</span>
                                </div>
                                <div class="contacts__text-bottom">
                                    <div class="d-xl-flex">
                                        <span class="lit-column">Tel.</span>
                                        <div class="contacts__phones">
                                            <span class="contacts__phone">0344 892 0349</span>
                                            <span class="contacts__divider">/</span>
                                            <span class="contacts__phone">+44 (0) 203 528 4110 </span>
                                            <span class="gray-text">if outside the UK</span>
                                        </div>
                                        
                                    </div>
                                    <div class="d-xl-flex">
                                        <span class="lit-column">Fax.</span>
                                        <div class="contacts__phones">
                                            <span class="contacts__phone">0207 964 2562</span>
                                            <span class="contacts__divider">/</span>
                                            <span class="contacts__phone"> +44 (0) 207 964 2562</span>
                                            <span class="gray-text">if outside the UK</span>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="contacts__btns">
                                <a href="#" class="btn btn-primary contacts__btn">
                                    Enquire about fund
                                    <i class="icon-arrow-right animate-arrow"></i>
                                </a>
                                <a href="#" class="link-styles contacts__btn-link">Administration enquiries
                                    <i class="icon-arrow-right animate-arrow"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="images/components/banners/2.png" alt="contact us" class="contacts__image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>