<section class="container graph-section">
    <div class="row">
        <div class="col-12">
            <h2 class="h2">Performance</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="d-lg-flex align-items-center h-100">
                <a href="#" class="link-styles d-block d-lg-inline-block mb-3 mr-3 mb-lg-0">Download factsheet <i
                        class="icon-file"></i></a>
                <a href="#" class="link-styles d-block d-lg-inline-block mb-3 mr-3 mb-lg-0">Read latest fund update <i
                        class="icon-arrow-right animate-arrow"></i></a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="class-dropdown">
                <div class="class-dropdown__select">
                    <select name="perfomance" id="perfomance" class="fund-chart-dropdown">
                        <option value="0RHP">Retail Acc EUR Class (A1)</option>
                        <option value="1RHP">Retail Acc EUR Class (A3)</option>
                        <option value="2RHP">Retail Acc EUR Class (A4)</option>
                        <option value="3RHP">Retail Acc EUR Class (A5)</option>
                        <option value="4RHP">Retail Acc EUR Class (A6)</option>
                        <option value="5RHP">Retail Acc EUR Class (A7)</option>
                    </select>
                    <i class="article-filters__icon-arrow article-filters__icon-arrow_select"></i>
                </div>
            </div>
        </div>        
    </div>
</section>
<div class="container">
    <div class="col-12">
        <h3 class="graph-section__title">
            Since launch date
        </h3>
    </div>
</div>
<iframe class="mt-3 mb-5" id="childFrame" src="https://digital-tools.feprecisionplus.com/liontrustchart/charting/en-gb/liontrust?citicode=QM77" height="650" width="100%" frameborder="0" scrolling="no"></iframe>