<section class="container contact-form-section">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="h2 contact-section__title">Send a Message</h2>
            <div class="send-message-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <form>
                <div class="input-group">
                    <select name="fund" id="fund" required>
                        <option value="" selected disabled>Choose here</option>
                        <option value="1">Fund enquiry</option>
                        <option value="2">Fund enquiry1</option>
                        <option value="3">Fund enquiry 2</option>
                        <option value="4">Fund enquiry 3</option>
                    </select>
                    <i class="select-arrow"></i>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <select name="fund" id="fund" required>
                        <option value="" selected disabled>Liontrust GF Sustainable Future European Corporate Bond</option>
                        <option value="1">Liontrust GF Sustainable 1</option>
                        <option value="2">Liontrust GF Sustainable 2</option>
                        <option value="3">Liontrust GF Sustainable 3</option>
                        <option value="4">Liontrust GF Sustainable 4</option>
                    </select>
                    <i class="select-arrow"></i>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <input type="email" required id="email" name="email">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="email">Email address</label>
                </div>
                <div class="input-group">
                    <input type="phone" required id="phone" name="phone">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label for="phone">Contact Number</label>
                </div>
                <div class="input-group">
                    <textarea name="message" id="message" cols="30" rows="15" placeholder="Type your message here"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">
                    Send Message
                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
                  </button>
            </form>
        </div>
    </div>
</section>