<section class="container additional-info container-p-0">
  <div class="card">
    <div class="row">
      <div class="col-xl-5">
        <div class="card__content">
          <div class="card__title">Additional Information</div>
          <div class="card__row">
            <div class="card__item-left">Minimum initial</div>
            <div class="card__item-right">€1,000</div>
          </div>
          <div class="card__row">
            <div class="card__item-left">Minimum additional investment</div>
            <div class="card__item-right">€1,000</div>
          </div>
          <div class="card__row">
            <div class="card__item-left">Ex dividend date</div>
            <div class="card__item-right"></div>
          </div>
          <div class="card__row">
            <div class="card__item-left">Distribution date</div>
            <div class="card__item-right">01 Jan</div>
          </div>
          <div class="card__row">
            <div class="card__item-left">Sedol code</div>
            <div class="card__item-right">01 Apr</div>
          </div>
          <div class="card__row">
            <div class="card__item-left">ISIN code</div>
            <div class="card__item-right">BYWSTD5</div>
          </div>
          <div class="card__row">
            <div class="card__item-left">Bloomberg code</div>
            <div class="card__item-right">IE00BYWSTD52</div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 offset-xl-1">
        <div class="card__content">
          <div class="card__title">Charges</div>
          <div class="card__row">
            <div class="card__item-left">Initial charge</div>
            <div class="card__item-right">Up to 5.00%</div>
          </div>
          <div class="card__row">
            <div class="card__item-left">
              Ongoing Charges Figure
              <span
                class="d-inline-flex"
                data-toggle="tooltip"
                data-placement="right"
                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
              >
                <i class="icon-info text-gold"></i>
              </span>
            </div>
            <div class="card__item-right">1.10%</div>
          </div>
          <div class="card__row">
            <div class="card__item-left">
              Included within the OCF is the Annual Management Charge
              <span
                class="d-inline-flex"
                data-toggle="tooltip"
                data-placement="right"
                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
              >
                <i class="icon-info text-gold"></i>
              </span>
            </div>
            <div class="card__item-right">1.00%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
