<section class="container">
    <h2 class="text-black mb-3">AGM Documents</h2>
    <table class="table table-document">
        <tbody>
          <tr>
            <th scope="row">01/01/21</th>
            <td>Lorem ipsum dolor sit amet consectetur adipiscing elit</td>
            <td class="table-document__link"><a href="#" target="_blank" class="link-gray">Download file <i class="icon-file"></i></a></td>
          </tr>          
          <tr>
            <th scope="row">01/01/21</th>
            <td>Lorem ipsum dolor sit amet consectetur adipiscing elit</td>
            <td class="table-document__link"><a href="#" target="_blank" class="link-gray">Download file <i class="icon-file"></i></a></td>
          </tr>          
          <tr>
            <th scope="row">01/01/21</th>
            <td>Lorem ipsum dolor sit amet consectetur adipiscing elit</td>
            <td class="table-document__link"><a href="#" target="_blank" class="link-gray">Download file <i class="icon-file"></i></a></td>
          </tr>          
        </tbody>
      </table>
</section>