<section class="container location-and-map-section">
  <h2 id="ourlocation" class="h2 contact-section__title">Our Location</h2>
  <div class="row">
    <div class="col-12">
      <div class="select-office">
        <div class="select-office__title">Select an office:</div>
        <button class="select-office__tab active" data-tab="London">London</button>
        <button class="select-office__tab" data-tab="Edinburgh">Edinburgh</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="location-item active" id="London">
    <!-- for mobile -->
    <div class="d-lg-none">
      <div class="container">
        <div class="our-location">
          <div class="our-location__address">
            <span> 2 Savoy Court </span>
            <span> London </span>
            <span> WC2R OEZ </span>
          </div>
          <a href="#" target="_blank" class="link-styles"
            >Open in Google Maps <i class="icon-tab"></i
          ></a>
        </div>
      </div>
      <picture>
        <source
          media="(max-width: 425px)"
          srcset="images/components/location-and-map/location-mob.png"
        />
        <source
          media="(min-width: 600px)"
          srcset="images/components/location-and-map/location-desk.png"
        />
        <img
        class="location-image__img"
        src="images/components/location-and-map/location-mob.png"
        alt="location-map"
      />
      </picture>
      
    </div>
    <!-- for desktop -->
    <div
      class="location-image active d-none d-lg-block"
      style="
        background-image: url('images/components/location-and-map/location-desk.png');
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7">
            <div class="card">
              <div class="card__title">London Office</div>
              <div class="our-location">
                <div class="our-location__address">
                  <span> 2 Savoy Court </span>
                  <span> London </span>
                  <span> WC2R OEZ </span>
                </div>
                <a href="#" target="_blank" class="link-styles"
                  >Open in Google Maps <i class="icon-tab"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="location-item" id="Edinburgh">
    <!-- for mobile -->
    <div class="d-lg-none">
      <div class="container">
        <div class="our-location">
          <div class="our-location__address">
            <span> 2 Savoy Court </span>
            <span> Edinburgh </span>
            <span> WC2R OEZ </span>
          </div>
          <a href="#" target="_blank" class="link-styles"
            >Open in Google Maps <i class="icon-tab"></i
          ></a>
        </div>
      </div>
      <picture>
        <source
          media="(max-width: 425px)"
          srcset="images/components/location-and-map/location-mob.png"
        />
        <source
          media="(min-width: 600px)"
          srcset="images/components/location-and-map/location-desk.png"
        />
        <img
        class="location-image__img"
        src="images/components/location-and-map/location-mob.png"
        alt="location-map"
      />
      </picture>
      
    </div>
    <!-- for desktop -->
    <div
      class="location-image active d-none d-lg-block"
      style="
        background-image: url('images/components/location-and-map/location-desk.png');
      "
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7">
            <div class="card">
              <div class="card__title">Edinburgh  Office</div>
              <div class="our-location">
                <div class="our-location__address">
                  <span> 2 Savoy Court </span>
                  <span> Edinburgh  </span>
                  <span> WC2R OEZ </span>
                </div>
                <a href="#" target="_blank" class="link-styles"
                  >Open in Google Maps <i class="icon-tab"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
