<div class="table-section">
    <h3 class="table-section__title">Sector Breakdown</h3>
    <div class="table-responsive">
        <table class="table sector-breakdown table-full-border table-horizontal-chart">
          <tbody>          
              <tr>
                  <th scope="row">Information Technology</th>
                  <td>34.1</td>                  
                  <td>
                      <span class="percents" style="width: 34.1%;"></span>
                  </td>                  
              </tr>
              <tr>
                  <th scope="row">Sovereign</th>
                  <td>14.4</td>                  
                  <td>
                    <span class="percents" style="width: 14.4%;"></span>
                </td>                  
              </tr>          
              <tr>
                  <th scope="row">Communication Services</th>
                  <td>11.8</td>                  
                  <td>
                    <span class="percents" style="width: 11.8%;"></span>
                </td>                  
              </tr>          
              <tr>
                  <th scope="row">Financials</th>
                  <td>11.7</td>                  
                  <td>
                    <span class="percents" style="width: 11.7%;"></span>
                </td>               
              </tr>           
              <tr>
                  <th scope="row">Consumer Discretionary</th>
                  <td>9.5</td>                  
                  <td>
                    <span class="percents" style="width: 9.5%;"></span>
                </td>                 
              </tr>          
              <tr>
                  <th scope="row">Fund</th>
                  <td>8.6</td>                  
                  <td>
                    <span class="percents" style="width: 8.6%;"></span>
                </td>                
              </tr>          
              <tr>
                  <th scope="row">Consumer Staples</th>
                  <td>4.7</td>                  
                  <td>
                    <span class="percents" style="width: 4.7%;"></span>
                </td>                
              </tr>          
              <tr>
                  <th scope="row">Healthcare</th>
                  <td>3.6</td>                  
                  <td>
                    <span class="percents" style="width: 3.6%;"></span>
                </td>                
              </tr>         
              <tr>
                  <th scope="row">Other</th>
                  <td>0.5</td>                  
                  <td>
                    <span class="percents" style="width: 0.5%;"></span>
                </td>                 
              </tr>          
              <tr>
                  <th scope="row">Industrials</th>
                  <td>0.4</td>             
                  <td>
                    <span class="percents" style="width: 0.4%;"></span>
                </td>           
              </tr> 
          </tbody>       
        </table>
        <button class="toggle-sector-button chartButton">+</button>
    </div>    
</div>