<div class="table-section">
    <h3 class="table-section__title">Top 10 Holdings</h3>
    <div class="table-responsive-md">
      <table class="table table-full-border">        
          <tbody>          
              <tr>
                  <th scope="row">Amazon.Com</th>
                  <td>1.7</td>                  
              </tr>
              <tr>
                  <th scope="row">Alphabet</th>
                  <td>21.7</td>                  
              </tr>          
              <tr>
                  <th scope="row">Liontrust Global Technology </th>
                  <td>4.7</td>                  
              </tr>          
              <tr>
                  <th scope="row">Microsoft</th>
                  <td>4.6</td>                  
              </tr>          
              <tr>
                  <th scope="row">Apple</th>
                  <td>4.5 </td>                  
              </tr>          
              <tr>
                  <th scope="row">CME Group</th>
                  <td>4.4</td>                  
              </tr>          
              <tr>
                  <th scope="row">Tencent Holdings</th>
                  <td>3.1</td>                  
              </tr>          
              <tr>
                  <th scope="row">Visa</th>
                  <td>2.9</td>                  
              </tr>          
              <tr>
                  <th scope="row">UK Government Index-Linked</th>
                  <td>2.9</td>                  
              </tr>          
              <tr>
                  <th scope="row">UK Government Index-Linked</th>
                  <td>2.7</td>                  
              </tr>          
          </tbody>       
        </table>
    </div>    
</div>