<section class="container follow-us-section">
  <div class="row">
    <div class="col-lg-6">
      <div class="follow-us">
        <h2 id="follow-us" class="h2 follow-us__title">Follow Us</h2>
        <div class="follow-us__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>
        <div class="row">
          <div class="col-xl-5">
            <div class="follow-us__links">
              <div class="follow-us__link">
                <a href="#" class="mr-0" target="_blank"><img src="images/svg-icons/linked-in-black.svg" alt="linked-in" /></a>                
                <a href="#" target="_blank">Liontrust</a>
              </div>
              <div class="follow-us__link">
                <a href="#" class="mr-0" target="_blank"><img src="images/svg-icons/facebook-black.svg" alt="linked-in" /></a>
                <a href="#" target="_blank">LiontrustHeroes</a>
              </div>
            </div>
          </div>
          <div class="col-xl-7">
            <div class="follow-us__links">
              <div class="follow-us__link">
                <a href="#" class="mr-0" target="_blank"><img src="images/svg-icons/twitter-black.svg" alt="linked-in" /></a>
                <a href="#" class="follow-us__link" target="_blank"> @LiontrustHeroes</a>
                <a href="#" class="follow-us__link" target="_blank"> @LiontrustViews</a>
                <a href="#" class="follow-us__link" target="_blank"> @LiontrustFuture</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
