<section class="container">
    <h2 class="h2 mb-4">
        Board of Directors
    </h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="fund-manager fund-manager-director director-card">
                <div class="fund-manager__item director-card__columns">
                        <div class="director-card__img-col">
                            <img src="images/components/fund-manager/roberts-david-2018-580x358.png" alt="manager-name"
                                class="fund-manager__img" />
                        </div>
                        <div class="director-card__details-col">
                                <div class="director-card__details-title">
                                    David Roberts
                                </div>
                                <p class="director-card__sub-title">
                                    Head of the Liontrust Multi-Asset team
                                </p>
                                <div class="director-card__description">
                                 
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                    amet lacus accumsan et viverra justo commodo.
                                </div>       
                                <div class="director-card__info">
                                    <span class="director-card__info-label">Email.</span>stephen.corbett@liontrust.co.uk<br/>
                                    <span class="director-card__info-label">Direct Line.</span>+44 (0)20 7412 1771<br/>
                                    <span class="director-card__info-label">Mobile.</span>+44 (0)7825 094563<br/>
                                </div>                        
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="fund-manager fund-manager-director director-card">
                <div class="fund-manager__item director-card__columns">
                        <div class="director-card__img-col">
                            <img src="images/components/fund-manager/roberts-david-2018-580x358.png" alt="manager-name"
                                class="fund-manager__img" />
                        </div>
                        <div class="director-card__details-col">
                                <div class="director-card__details-title">
                                    David Roberts
                                </div>
                                <p class="director-card__sub-title">
                                    Head of the Liontrust Multi-Asset team
                                </p>
                                <div class="director-card__description">
                                 
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                    amet lacus accumsan et viverra justo commodo.
                                </div>       
                                <div class="director-card__info">
                                    <span class="director-card__info-label">Email.</span>stephen.corbett@liontrust.co.uk<br/>
                                    <span class="director-card__info-label">Direct Line.</span>+44 (0)20 7412 1771<br/>
                                    <span class="director-card__info-label">Mobile.</span>+44 (0)7825 094563<br/>
                                </div>                        
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="fund-manager fund-manager-director director-card">
                <div class="fund-manager__item director-card__columns">
                        <div class="director-card__img-col">
                            <img src="images/components/fund-manager/roberts-david-2018-580x358.png" alt="manager-name"
                                class="fund-manager__img" />
                        </div>
                        <div class="director-card__details-col">
                                <div class="director-card__details-title">
                                    David Roberts
                                </div>
                                <p class="director-card__sub-title">
                                    Head of the Liontrust Multi-Asset team
                                </p>
                                <div class="director-card__description">
                                 
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean euismod bibendum laoreet. Proin gravida dolor sit
                                    amet lacus accumsan et viverra justo commodo.
                                </div>       
                                <div class="director-card__info">
                                    <span class="director-card__info-label">Email.</span>stephen.corbett@liontrust.co.uk<br/>
                                    <span class="director-card__info-label">Direct Line.</span>+44 (0)20 7412 1771<br/>
                                    <span class="director-card__info-label">Mobile.</span>+44 (0)7825 094563<br/>
                                </div>                        
                        </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
