<section class="container mb-30">
    <div class="table-responsive-lg">
        <table class="table table-striped mb-3">
            <thead>
                <tr class="table-head-green">
                    <th scope="col"></th>
                    <th scope="col">2019</th>
                    <th scope="col">2020</th>
                    <th scope="col">2020</th>
                    <th scope="col">2021</th>
                    <th scope="col">2022</th>
                </tr>
                <tr>
                    <th scope="col">£m</th>
                    <th scope="col">Actual</th>
                    <th scope="col">Range</th>
                    <th scope="col">Consensus</th>
                    <th scope="col">Consensus</th>
                    <th scope="col">Consensus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Revenue</th>
                    <td>99.3</td>
                    <td>113.4-117.2</td>
                    <td>115.5</td>
                    <td>149.1</td>
                    <td>170.0</td>
                </tr>
                <tr>
                    <th scope="row">Underlying EBITDA</th>
                    <td>35.4</td>
                    <td>38.0-41.0</td>
                    <td>38.9</td>
                    <td>48</td>
                    <td>56.4</td>
                </tr>
                <tr>
                    <th scope="row">Underlying EBITDA margin (%)</th>
                    <td>35.6%</td>
                    <td>113.4-117.2</td>
                    <td>32.9-34.8%</td>
                    <td>33.7%</td>
                    <td>33.2%</td>
                </tr>
                <tr>
                    <th scope="row">Underlying EPS (pence)</th>
                    <td>18</td>
                    <td>22.3</td>
                    <td>22.3</td>
                    <td>23.0</td>
                    <td>27.6</td>
                </tr>
                <tr>
                    <th scope="row">Underlying EPS (pence)</th>
                    <td>18</td>
                    <td>22.3</td>
                    <td>22.3</td>
                    <td>23.0</td>
                    <td>27.6</td>
                </tr>
                <tr>
                    <th scope="row">Underlying EPS (pence)</th>
                    <td>18</td>
                    <td>22.3</td>
                    <td>22.3</td>
                    <td>23.0</td>
                    <td>27.6</td>
                </tr>
            </tbody>
        </table>
        <small class="small-text">
            Underlying results are calculated by adjusting for non-underlying/ exceptional costs, the unwinding of NPV discounts and the amortisation of goodwill, customer relationships and loan arrangement fees.
        </small>
    </div>
</section>