<div class="services-item">
    <img src="images\components\listmod-services\LT-Multi-Asset-Cricket-presentation-TMS-Letters-M-120x120px.png"
        alt="Transparency" class="services-item__img">

    <div class="services-item__content">
        <div class="services-item__title">
            Value for money
        </div>
        <span class="services-item__subtitle">
            What we expect:
        </span>
        <ul class="services-item-list">
            <li>We are given regular updates on the underlying funds to ensure they are being managed according to
                their
                stated
                objectives and investment processes
            </li>
            <li>We gain access to the underlying fund managers to probe their thinking and
                evaluate their commitment
            </li>
            <li>We are given the insights of fund managers and economists into markets, economics,
                politics, themes, sectors and stocks to help us analyse our underling funds, portfolio construction
                and
                tactical
                asset allocation
            </li>
        </ul>
        <span class="services-item__subtitle">
            What we deliver:
        </span>
        <ul class="services-item-list services-item-list_checked">
            <li>We send you regular and clear communications about your clients’ investments and any changes to
                portfolios
            </li>
            <li>We provide you with regular access to the Multi-Asset team, who manage all the portfolios for
                you and your clients
            </li>
            <li> We create product and educational content and materials for you to use with your
                clients to explain investments and our portfolio service in a clear and engaging way
            </li>
        </ul>
    </div>

</div>
<div class="services-item">
    <img src="images\components\listmod-services\LT-Multi-Asset-Cricket-presentation-TMS-Letters-S-120x120px.png"
        alt="Transparency" class="services-item__img">

    <div class="services-item__content">
        <div class="services-item__title">
            Suitability
        </div>
        <span class="services-item__subtitle">
            What we expect:
        </span>
        <ul class="services-item-list">
            <li>We are given regular updates on the underlying funds to ensure they are being managed according to
                their
                stated
                objectives and investment processes
            </li>
            <li>We gain access to the underlying fund managers to probe their thinking and
                evaluate their commitment
            </li>
            <li>We are given the insights of fund managers and economists into markets, economics,
                politics, themes, sectors and stocks to help us analyse our underling funds, portfolio construction
                and
                tactical
                asset allocation
            </li>
        </ul>
        <span class="services-item__subtitle">
            What we deliver:
        </span>
        <ul class="services-item-list services-item-list_checked">
            <li>We send you regular and clear communications about your clients’ investments and any changes to
                portfolios
            </li>
            <li>We provide you with regular access to the Multi-Asset team, who manage all the portfolios for
                you and your clients
            </li>
            <li> We create product and educational content and materials for you to use with your
                clients to explain investments and our portfolio service in a clear and engaging way
            </li>
        </ul>
    </div>

</div>
<div class="services-item">
    <img src="images\components\listmod-services\LT-Multi-Asset-Cricket-presentation-TMS-Letters-T-120x120px.png"
        alt="Transparency" class="services-item__img">

    <div class="services-item__content">
        <div class="services-item__title">
            Transparency
        </div>
        <span class="services-item__subtitle">
            What we expect:
        </span>
        <ul class="services-item-list">
            <li>We are given regular updates on the underlying funds to ensure they are being managed according to
                their
                stated
                objectives and investment processes
            </li>
            <li>We gain access to the underlying fund managers to probe their thinking and
                evaluate their commitment
            </li>
            <li>We are given the insights of fund managers and economists into markets, economics,
                politics, themes, sectors and stocks to help us analyse our underling funds, portfolio construction
                and
                tactical
                asset allocation
            </li>
        </ul>
        <span class="services-item__subtitle">
            What we deliver:
        </span>
        <ul class="services-item-list services-item-list_checked">
            <li>We send you regular and clear communications about your clients’ investments and any changes to
                portfolios
            </li>
            <li>We provide you with regular access to the Multi-Asset team, who manage all the portfolios for
                you and your clients
            </li>
            <li> We create product and educational content and materials for you to use with your
                clients to explain investments and our portfolio service in a clear and engaging way
            </li>
        </ul>
    </div>

</div>