<section class="container" id="lister-app" data-host="ArticleSearchApi">
    <div class="doc-list">
        <div class="doc-list__item">
            <div class="row align-items-center">
                <div class="col-xl-1 col-md-1 d-none d-md-block">
                    <label class="checkbox doc-list__checkbox mb-0">
                        <input type="checkbox" class="checkbox__input">
                        <span class="checkbox__box mx-auto"></span>
                    </label>
    
                </div>
                <div class="col-xl-6 col-md-9 d-none d-md-block">
                    <span class="doc-list__heading">
                        Title
                    </span>
                </div>
                <div class="col-lg-6 col-xl-3 d-none d-lg-block">
                    <span class="doc-list__heading">
                        Documents
                    </span>
                </div>
                <div class="col-md-2 col-lg-6 col-xl-2">
                    <div class="relative">
                        <button class="btn btn-clean d-block ml-auto button-sort">
                            sort <i class="icon-sort"></i>
                        </button>
                        <div class="sort-dropdown">
                            <div class="text-right">
                                <span class="btn btn-clean">
                                    sort <i class="icon-sort"></i>
                                </span>
                            </div>
                            <label for="newest" class="option-checkbox">
                                <input id="newest" class="option-checkbox__input" type="radio" name="sort" checked="">
                                <span class="option-checkbox__text">Date newest first</span>
                                <span class="option-checkbox__icon"></span>
                            </label>
                            <label for="oldest" class="option-checkbox">
                                <input id="oldest" class="option-checkbox__input" type="radio" name="sort">
                                <span class="option-checkbox__text">Date oldest first</span>
                                <span class="option-checkbox__icon"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list__item">
            <div class="row align-items-center">
                <div class="col-xl-1 col-md-1 d-none d-md-block">
                    <label class="checkbox doc-list__checkbox">
                        <input type="checkbox" class="checkbox__input">
                        <span class="checkbox__box mx-auto"></span>
                    </label>
    
                </div>
                <div class="col-xl-6 col-md-11">
                    <span class="doc-list__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                    </span>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="doc-list__links">
                        <a href="#" target="_blank" class="link-gray">Download file <i class="icon-download"></i></a>
                        <a href="#" target="_blank" class="link-gray d-lg-none">View page <i class="icon-file"></i></a>
                        <button class="link-gray">watch video <i class="icon-play"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2">
                    <div class="doc-list__right-btn">
                        <a href="#" class="btn btn-primary-forward">
                            View this page <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list__item">
            <div class="row align-items-center">
                <div class="col-xl-1 col-md-1 d-none d-md-block">
                    <label class="checkbox doc-list__checkbox">
                        <input type="checkbox" class="checkbox__input">
                        <span class="checkbox__box mx-auto"></span>
                    </label>
    
                </div>
                <div class="col-xl-6 col-md-11">
                    <span class="doc-list__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                    </span>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="doc-list__links">
                        <a href="#" target="_blank" class="link-gray">Download file <i class="icon-download"></i></a>
                        <a href="#" target="_blank" class="link-gray d-lg-none">View page <i class="icon-file"></i></a>
                        <button class="link-gray">watch video <i class="icon-play"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2">
                    <div class="doc-list__right-btn">
                        <a href="#" class="btn btn-primary-forward">
                            View this page <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list__item">
            <div class="row align-items-center">
                <div class="col-xl-1 col-md-1 d-none d-md-block">
                    <label class="checkbox doc-list__checkbox">
                        <input type="checkbox" class="checkbox__input">
                        <span class="checkbox__box mx-auto"></span>
                    </label>
    
                </div>
                <div class="col-xl-6 col-md-11">
                    <span class="doc-list__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                    </span>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="doc-list__links">
                        <a href="#" target="_blank" class="link-gray">Download file <i class="icon-download"></i></a>
                        <a href="#" target="_blank" class="link-gray d-lg-none">View page <i class="icon-file"></i></a>
                        <button class="link-gray">watch video <i class="icon-play"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2">
                    <div class="doc-list__right-btn">
                        <a href="#" class="btn btn-primary-forward">
                            View this page <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list__item">
            <div class="row align-items-center">
                <div class="col-xl-1 col-md-1 d-none d-md-block">
                    <label class="checkbox doc-list__checkbox">
                        <input type="checkbox" class="checkbox__input">
                        <span class="checkbox__box mx-auto"></span>
                    </label>
    
                </div>
                <div class="col-xl-6 col-md-11">
                    <span class="doc-list__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                    </span>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="doc-list__links">
                        <a href="#" target="_blank" class="link-gray">Download file <i class="icon-download"></i></a>
                        <a href="#" target="_blank" class="link-gray d-lg-none">View page <i class="icon-file"></i></a>
                        <button class="link-gray">watch video <i class="icon-play"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2">
                    <div class="doc-list__right-btn">
                        <a href="#" class="btn btn-primary-forward">
                            View this page <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list__item">
            <div class="row align-items-center">
                <div class="col-xl-1 col-md-1 d-none d-md-block">
                    <label class="checkbox doc-list__checkbox">
                        <input type="checkbox" class="checkbox__input">
                        <span class="checkbox__box mx-auto"></span>
                    </label>
    
                </div>
                <div class="col-xl-6 col-md-11">
                    <span class="doc-list__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                    </span>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="doc-list__links">
                        <a href="#" target="_blank" class="link-gray">Download file <i class="icon-download"></i></a>
                        <a href="#" target="_blank" class="link-gray d-lg-none">View page <i class="icon-file"></i></a>
                        <button class="link-gray">watch video <i class="icon-play"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2">
                    <div class="doc-list__right-btn">
                        <a href="#" class="btn btn-primary-forward">
                            View this page <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list__item">
            <div class="row align-items-center">
                <div class="col-xl-1 col-md-1 d-none d-md-block">
                    <label class="checkbox doc-list__checkbox">
                        <input type="checkbox" class="checkbox__input">
                        <span class="checkbox__box mx-auto"></span>
                    </label>
    
                </div>
                <div class="col-xl-6 col-md-11">
                    <span class="doc-list__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                    </span>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="doc-list__links">
                        <a href="#" target="_blank" class="link-gray">Download file <i class="icon-download"></i></a>
                        <a href="#" target="_blank" class="link-gray d-lg-none">View page <i class="icon-file"></i></a>
                        <button class="link-gray">watch video <i class="icon-play"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2">
                    <div class="doc-list__right-btn">
                        <a href="#" class="btn btn-primary-forward">
                            View this page <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list__item">
            <div class="row align-items-center">
                <div class="col-xl-1 col-md-1 d-none d-md-block">
                    <label class="checkbox doc-list__checkbox">
                        <input type="checkbox" class="checkbox__input">
                        <span class="checkbox__box mx-auto"></span>
                    </label>
    
                </div>
                <div class="col-xl-6 col-md-11">
                    <span class="doc-list__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                    </span>
                </div>
                <div class="col-lg-6 col-xl-3">
                    <div class="doc-list__links">
                        <a href="#" target="_blank" class="link-gray">Download file <i class="icon-download"></i></a>
                        <a href="#" target="_blank" class="link-gray d-lg-none">View page <i class="icon-file"></i></a>
                        <button class="link-gray">watch video <i class="icon-play"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-2">
                    <div class="doc-list__right-btn">
                        <a href="#" class="btn btn-primary-forward">
                            View this page <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center doc-list-nav">
        <div class="col-xl-3">
            <button class="btn btn-primary d-none d-md-block mb-3 mb-xl-0">Download all selected <i class="icon-download"></i></button>
        </div>
        <div class="col-xl-6">
            <nav class="pagination mt-2"><a href="#" class="pagination__step pagination__step_forward"><i class="icon-arrow-left"></i>
                Previous</a>
            <ul class="pagination__list">
                <li class="pagination__item"><a href="#" class="pagination__link pagination__link_steps">...</a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        2
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        3
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        4
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link active">
                        5
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        6
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        7
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        8
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link pagination__link_steps">...</a></li>
            </ul> <a href="#" class="pagination__step pagination__step_next">Next <i class="icon-arrow-right"></i></a>
            </nav>
        </div>
    </div>
</section>