<div class="media-gallery">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="media-gallery__filter">
          <div class="filter-gallery media-gallery__dropdown">
            <div class="filter-gallery__group">
              <div class="filter-gallery__label">
                <p>Filter </p><i class="article-filters__icon-arrow"></i>
              </div>
              <div class="filter-gallery__options">
                <button class="filter-gallery__option" data-group="space">Space</button>
                <button class="filter-gallery__option" data-group="nature">Nature</button>
                <button class="filter-gallery__option" data-group="animal">Animal</button>
                <button class="filter-gallery__option" data-group="city">City</button>
              </div>
            </div>
          </div>
          <div class="filter-gallery media-gallery__search">
            <!-- <label for="filter-gallery__search-input" class="filter-label">Search</label> -->
            <input class="filter-gallery__search-input" type="search" placeholder="Search Gallery" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="media-gallery__actions media-gallery__actions-top">
          <div class="media-gallery__select text-black">
            <label class="checkbox">
              <input type="checkbox" class='checkbox__input select-all'>
              <span class="checkbox__box"></span>
              select All
            </label>
          </div>
          <div class="media-gallery__download-all">
            <a class="btn btn-primary media-gallery__download-selected"
              href="images/components/media-gallery/large-image.jpg" download>download All <i
                class="icon-download animate-arrow"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="media-gallery__media container">
    <div id="mediaGallery" class="media-gallery__cards row">
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["nature"]' data-date-created="2017-04-30"
          data-title="Lake Walchen">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>"">
      <img src=" images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              b Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["nature"]' data-groups='["city"]' data-date-created="2016-07-01"
          data-title="Golden Gate Bridge">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>">
                <img src="images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              a Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["nature"]' data-groups='["animal"]'
          data-date-created="2016-08-12" data-title="Crocodile">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>">
                <img src="images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              c Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["nature"]' data-groups='["space"]' data-date-created="2016-03-07"
          data-title="SpaceX">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>"">
      <img src=" images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["nature"]' data-groups='["space","nature"]'
          data-date-created="2016-06-29" data-title="Milky Way">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>"">
      <img src=" images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["nature","city"]' data-date-created="2015-10-20"
          data-title="Central Park">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>"">
      <img src=" images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["animal"]' data-date-created="2017-01-12"
          data-title="Astronaut Cat">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>"">
      <img src=" images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["city"]' data-date-created="2016-06-09" data-title="Crossroads">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>"">
      <img src=" images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="media-gallery__card col-12 col-md-4 col-lg-3 col-xl-2" data-groups='["space"]' data-date-created="2015-11-06" data-title="Earth">
          <div class="media-gallery__item">
            <div class="media-gallery__img">
              <a href="images/components/media-gallery/large-image.jpg" data-fancybox="images"
                data-caption="Caption for single image <a class='media-gallery__download' href='images/components/media-gallery/large-image.jpg' download>download</a>"">
      <img src=" images/components/media-gallery/christin-hume-thumbnail.png" alt="" />
              </a>
            </div>
            <p class="media-gallery__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.
            </p>
            <div class="media-gallery__controls">
              <div class="media-gallery__select text-black">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" name="checkMedia">
                  <span class="checkbox__box"></span>
                  select
                </label>
              </div>
              <div class="media-gallery__download text-black">
                <a href="images/components/media-gallery/large-image.jpg" download>download</a>
              </div>
            </div>
          </div>

        </div>
        
      <div class="sizer-element col-12 col-md-4 col-lg-3 col-xl-2"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="media-gallery__actions media-gallery__actions-bottom">
          <div class="media-gallery__select text-black">
            <label class="checkbox">
              <input type="checkbox" class='checkbox__input select-all'>
              <span class="checkbox__box"></span>
              select All
            </label>
          </div>
          <div class="media-gallery__download-all">
            <a class="btn btn-primary media-gallery__download-selected"
              href="images/components/media-gallery/large-image.jpg" download>download All <i
                class="icon-download animate-arrow"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>