<div class="lister-app legacy-listmode" id="lister-app" data-host="GenericListingApi">
    <div class="article-filter-wrapper">
        <div class="article-filters" :class="mobileFilter ? 'active' : ''">
            <div class="article-filters__header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 d-lg-none">
                            <div class="article-filters__main-title">Filters
                                <i id="filters-close" @click="toggleMobileFilter" class="icon-close"></i>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <form class="search-form" @submit.prevent="submitSearchForm($event)">
                                <input type="text" v-model="searchText" name="searchText" class="search-form__input color-black"
                                    placeholder="Search by keyword">
                                <button class="search-form__submit pe-0" type="submit">
                                    <i class="icon-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-filters__body">
                <div class="container">
                    <div class="row">
                        <select-field inline-template  v-for="(facet, i) in getFacets" :key="i">
                            <div class="col-lg-3 relative" @click.stop>
                                <div class="article-filters__select" @click="toggleOption" :class="open ? 'active' : ''">
                                    <span class="article-filters__item-title">
                                        {{facet.name}}
                                    </span>
                                    <i class="article-filters__icon-arrow"></i>
                                </div>
                                <div class="article-filters__options">
                                    <div class="article-filters__title" @click="toggleOption">
                                        <i class="icon-chevron-left"></i>
                                        {{facet.name}}
                                    </div>
                                    <option-field inline-template v-for="(item, i) in facet.items" :for="item.name" :key="i + item.name">
                                        <label class="option-checkbox">
                                            <input :id="item.name" class="option-checkbox__input" type="checkbox" v-model="checked"  @change="toggleSelect(item, facet)">
                                            <span class="option-checkbox__text">{{item.name}} </span>
                                            <span class="option-checkbox__icon"></span>
                                        </label>
                                    </option-field>
                                </div>
                            </div>   
                        </select-field>
                        <div class="col-lg-3">
                            <div class="article-filters__btns justify-content-end">
                                <button class="clear-filter btn article-filters__btn article-filters__btn_clear" @click="clearFilters">
                                    Clear all
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-filters__footer">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-primary min-width-100" @click="applyFilters">
                                Apply Filters
                            </button>
                        </div>
                        <div class="col-6">
                            <button class="clear-filter btn btn-primary-forward min-width-100" @click="clearFilters">
                                clear all
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-lg-none">
        <div class="d-flex justify-content-between margin-mob-fliter-btn mt-0" :class="!mobileFilter ? 'relative' : ''">
            <btn id="show-article-fliter"  class="btn btn-clean" @click="toggleMobileFilter">
                <i class="icon-filter"></i> filter
            </btn>        
        </div>
    </div>

    <section class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="list-mod-item">
                    <h2 class="list-mod-item__title">Lorem ipsum dolor sit amet consectetur adipiscing elit sed
                        do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua</h2>
                    <span class="list-mod-item__date">21.02.2020</span>
                    <div class="list-mod-item__content">
                        <p>
                            Liontrust Asset Management Plc (“Liontrust” or the “Company”), the specialist
                            independent fund management group, today announces that its indirect subsidiaries,
                            Liontrust Investment Partners LLP and Liontrust Fund Partners LLP (together the
                            “Liontrust Sellers”), have entered into a conditional agreement (the “Agreement”) to
                            sell (the “Sale”) the Asia Income investment team (the “Asia Income Team”) to
                            Somerset Capital Management LLP (“Somerset”).
                        </p>
                        <p>
                            Mark Williams, Carolyn Chan and Shashank Savla, the members of the Asia Income Team,
                            will join Somerset. The Sale
                            includes the right to manage the Liontrust Asia Income Fund (the “Fund”). The
                            Liontrust GF Asia Income Fund is not part of the Sale and will be closed.
                        </p>
                        <p>
                            Liontrust also announces the closure of the European Income and Macro Thematic
                            investment teams (“Team Closures”).
                        </p>
                        <a href="#">
                            read more
                        </a>
                    </div>
                </div>
                <div class="list-mod-item">
                    <h2 class="list-mod-item__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed
                        do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </h2>
                    <span class="list-mod-item__date">21.02.2020</span>
                    <div class="list-mod-item__content">
                        <div class="list-mod-item__download">
                            <h5>Proposed acquisition of Architas Multi-Manager
                                and
                                Architas Advisory Services Limited and Notice of General Meeting</h5>
                            <a href="#">
                                Download file
                            </a>
                        </div>
                        <div class="list-mod-item__download">
                            <h5>Form of Proxy</h5>
                            <a href="#">
                                Download file
                            </a>
                        </div>
                        <div class="list-mod-item__download">
                            <h5>Liontrust Annual Report & Financial Statements
                                2020</h5>
                            <a href="#">
                                Download file
                            </a>
                        </div>
                        <div class="list-mod-item__download">
                            <h5>Ordinary & Special Resolutions of Liontrust
                                Asset Management PLC</h5>
                            <a href="#">
                                Download file
                            </a>
                        </div>
                        <div class="list-mod-item__download">
                            <h5>RSM Consent Letter</h5>
                            <a href="#">
                                Download file
                            </a>
                        </div>
                        <div class="list-mod-item__download">
                            <h5>Panmure Gordon Consent Letter</h5>
                            <a href="#">
                                Download file
                            </a>
                        </div>

                    </div>
                </div>
                <div class="list-mod-item">
                    <h2 class="list-mod-item__title">
                        TR1 Notification of major holdings
                    </h2>
                    <span class="list-mod-item__date mb-0">21.02.2020</span>
                    <div class="list-mod-item__content">
                        <a href="#">
                            Download file
                        </a>
                    </div>
                </div>
                <div class="list-mod-item">
                    <h2 class="list-mod-item__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                    </h2>
                    <span class="list-mod-item__date">21.02.2020</span>
                    <div class="list-mod-item__content">
                        <div class="list-mod-item__download">
                            <p>
                                <span>Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua.</span>                                
                            </p>
                            <p>
                                <a href="#">
                                    Download file
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="list-mod-item">
                    <h2 class="list-mod-item__title">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                    </h2>
                    <span class="list-mod-item__date">21.02.2020</span>
                    <div class="list-mod-item__content">
                        <div class="list-mod-item__download">
                            <p>
                                <span>Lorem ipsum dolor
                                    sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                    labore et dolore magna aliqua.</span>
                            </p>
                            <p>
                                <a href="#">
                                    Download file
                                </a>
                            </p>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="col-lg-9">
                <!--#include virtual="/components/BC043-ListMod-Podcast.html" -->
                <!--#include virtual="/components/BC043-ListMod-Services.html" -->
            </div>
        </div>
        <!--#include virtual="/components/reusables/pagination.html" -->
    </section>

</div>