<section class="container">
    <div class="tab-nav row">
        <div class=" col-md-2">
            <div class="tab-nav__item-text">
                Select a year to view:

            </div>
        </div>
        <div class="col-md-2">
            <div class="tab-nav__item active" data-tab-target="2021">
                2021
            </div>
        </div>
        <div class="col-md-2">
            <div class="tab-nav__item" data-tab-target="2020">
                2020
            </div>
        </div>
        <div class="col-md-2">
            <div class="tab-nav__item" data-tab-target="2019">
                2019
            </div>
        </div>
        <div class="col-md-2">
            <div class="tab-nav__item" data-tab-target="2018">
                2018
            </div>
        </div>
        <div class="col-md-2">
            <div class="tab-nav__item" data-tab-target="2017">
                2017+
            </div>
        </div>
    </div>    
    <div class="tab-nav-content">
        <div class="doc-list active" role="tabelement" id="2021">
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list" role="tabelement" id="2020">
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            02/02/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            02/02/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            02/02/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
        <div class="doc-list" role="tabelement" id="2019">
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            03/03/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            03/03/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            03/03/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            03/03/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            03/03/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            03/03/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            03/03/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list" role="tabelement" id="2018">
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="doc-list" role="tabelement" id="2017">
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="doc-list__item">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-1">
                        <span class="doc-list__title">
                            01/01/21
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <span class="doc-list__title">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit
                        </span>
                    </div>
                    <div class="col-lg-12 col-xl-5">
                        <div class="doc-list__links">
                            <a href="#" target="_blank" class="link-styles">Read press release <i class="icon-file"></i></a>
                            <a href="#" target="_blank" class="link-styles">Read report <i class="icon-list-view"></i></a>                        
                            <a href="#" target="_blank" class="link-styles d-none d-xl-block">
                                View Presentation <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        <a href="#" class="btn btn-primary-forward d-block d-xl-none mt-3">
                            View Presentation <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>