<div class="podcast-list-item">
    <div class="row">
        <div class="col-md-6">
            <img src="images\components\podcast-item\podacast-1.jpg" alt="Lorem ipsum dolor sit amet consectetur" class="podcast-list-item__img">
        </div>
        <div class="col-md-6">
            <div class="podcast-list-item__title">
                Lorem ipsum dolor sit amet consectetur
            </div>
            <div class="podcast-list-item__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan.
            </div>
            <ul>
                <li><strong><span style="color: #34b233;"><a rel="noopener noreferrer" href="https://itunes.apple.com/gb/podcast/liontrust-radio/id1457043091?mt=2" class="cta-arrow" target="_blank">iTunes</a></span></strong></li>
                <li><span style="color: #34b233;"><strong><a rel="noopener noreferrer" href="https://open.spotify.com/show/0UhilUoVati0rUgKcyRLIC?si=3y2p7F9DTIOuZBLeyCHw5w" class="cta-arrow" target="_blank">Spotify</a></strong></span></li>
                <li><strong><span style="color: #34b233;"><a rel="noopener noreferrer" href="https://liontrustradio.podbean.com/" class="cta-arrow" target="_blank">Podbean</a></span></strong></li>
            </ul>
        </div>
    </div>
</div>
<div class="podcast-list-item">
    <div class="row">
        <div class="col-md-6">
            <img src="images\components\podcast-item\podacast-2.jpg" alt="Lorem ipsum dolor sit amet consectetur" class="podcast-list-item__img">
        </div>
        <div class="col-md-6">
            <div class="podcast-list-item__title">
                Lorem ipsum dolor sit amet consectetur
            </div>
            <div class="podcast-list-item__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan.
            </div>
            <div class="podcast-list-item__links">
                <a href="#" class="link-styles">iTunes <i class="icon-arrow-right"></i></a>
                <a href="#" class="link-styles">podbean <i class="icon-arrow-right"></i></a>
                <a href="#" class="link-styles">Spotify <i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>