<section>
    <div class="fund-manager-hero-bg" style="background-image: url('images/components/fund-manager-hero/fund-manager-hero.png')">
    </div>
    <div class="fund-manager-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="fund-manager-hero__content">
                        <div>
                            <h1 class="fund-manager-hero__title">
                                John Husselbee
                            </h1>
                            <button class="fund-manager-hero__btn">
                                Follow John <i class="icon-follow"></i>
                            </button>
                            <div class="fund-manager-hero__text">
                                <p class="font-500">
                                    John joined Liontrust in 2013 as Head of Multi-Asset. He was previously the Director
                                    of
                                    Multi-Manager Investment at Henderson Global Investors, where he was responsible for
                                    portfolio construction and fund selection of a range of portfolios totalling over
                                    £650
                                    million.
                                </p>
                                <p>
                                    Prior to Hendersons, John was responsible for the launch and ongoing management of
                                    the
                                    portfolio management service at Rothschild Asset Management. In 2005, John founded
                                    North
                                    Investment Partners. John is one of the most high profile multi-asset managers in
                                    the UK
                                    retail market.
                                </p>
                            </div>
                        </div>
                        <a href="#" class="fund-manager-hero__link">
                            <i class="icon-linked-in"></i>
                            View JOHN’s Linkedin Profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>