<div class="scrollable-cards desktop-wrap">
  <div class="container-lg">
    <div class="row">
      <div class="col-12"><h2>Fund Insights</h2></div>
      <div class="col-10 col-md-6 col-lg-4">
        <!--#include virtual="/components/reusables/Article-promo.html" -->
      </div>
      <div class="col-10 col-md-6 col-lg-4">
        <!--#include virtual="/components/reusables/Article-promo.html" -->
      </div>
      <div class="col-10 col-md-6 col-lg-4">
        <!--#include virtual="/components/reusables/Article-promo.html" -->
      </div>
      <div class="col-10 col-md-6 col-lg-4">
        <!--#include virtual="/components/reusables/Article-promo.html" -->
      </div>
      <div class="col-10 col-md-6 col-lg-4">
        <!--#include virtual="/components/reusables/Article-promo.html" -->
      </div>
      <div class="col-10 col-md-6 col-lg-4">
        <!--#include virtual="/components/reusables/Article-promo.html" -->
      </div>
    </div>
  </div>
</div>



<section class="quick-link-chart-wrapper scrollable-cards">
  <div class="container-lg">
      <div class="row">
          <div class="col-10 col-sm-5 col-lg-3">
              <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
          </div>
          <div class="col-10 col-sm-5 col-lg-3">
              <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
          </div>
          <div class="col-10 col-sm-5 col-lg-3">
              <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
          </div>
          <div class="col-10 col-sm-5 col-lg-3">
              <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
          </div>
      </div>
  </div>
</section>