	<script src="js/app.min.js"></script>
	<script src="js/search-page.min.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


	<!-- <script>
		var swiper = new Swiper('.swiper-container', {
			effect: 'coverflow',
			grabCursor: true,
			centeredSlides: true,
			slidesPerView: 'auto',
			spaceBetween: 5,
			coverflowEffect: {
				rotate: 10,
				stretch: 0,
				depth: 300,
				modifier: 2,
				slideShadows: true,
			},
				
			loop: true,
			pagination: {
				el: '.swiper-pagination',
			clickable: true,

			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
		});
	  </script> -->
</body>
</html>