<!--you can add any parent column here if you need to dived the screen into 3 column, the below code should be srounded by col-lg-4, if you need to divied the screen into 2 coulmn the code should be srounded by col-lg-6  -->
<div class="fund-manager fund-manager-px fund-manager-card">
  <div class="row">
    <div class="col-4 col-md-2 col-lg-6 fund-manager__img-col">
      <img
        src="images/components/fund-manager/roberts-david-2018-580x358.png"
        class="fund-manager__img" alt="John Husselbee">
    </div>
    <div class="col-8 col-md-10 col-lg-6 fund-manager__details-col">
      <div class="fund-manager__content">
        <div class="fund-manager__title">John Husselbee</div>
        <span class="fund-manager__text">
          
              is Head of the six-strong Multi-Asset team at Liontrust. He is a fund manager and analyst with
              35 years’ experience managing multi-asset, multi-manager funds and portfolios. John leads the
              investment team managing a range of target risk funds and portfolios as well as specialist
              managed investment solutions.
        </span>
      </div>
    </div>
  </div>
</div>
