<div class="dropdown">
    <div class="dropdown__inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav class="dropdown-nav">                        
                        <h4 class="dropdown-nav__title">Learning</h4>
                        <a href="#" class="link-styles d-block mb-20">View all learning <i
                                class="icon-arrow-right"></i></a>
                        <ul class="dropdown-nav__list">
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">How to invest</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Dual and Single Priced Funds</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">ISAs</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Junior ISAs</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Understanding your risk profile</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">What are Asset Classes</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Giude to Financial words and terms</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Benefits of using funds</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Understanding stocks and shares</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 offset-1">
                    <nav>
                        <h4 class="dropdown-nav__title">Manage Your Investments</h4>
                        <a href="#" class="link-styles d-block mb-20">Log in to my liontrust <i
                                class="icon-arrow-right"></i></a>
                    </nav>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-1">
                    <h4 class="dropdown-nav__title">About us</h4>
                    <a href="#" class="link-styles d-block mb-20">Who we are & and what we do <i
                            class="icon-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>