<div class="onboarding-overlay">
    <div class="onboarding-overlay__content">
        <div class="onboarding-overlay__hint">
            Please answer the following compliance questions before viewing our investment fund and insights.
        </div>
        <div class="onboarding-overlay__logo">
            <img src="../images/components/header/logo.svg" alt="Liontrust" class="onboarding-overlay__img">
        </div>

        <div class="onboarding-overlay__tab" data-tab-number="0">
            <div class="onboarding-overlay__title">
                It looks like you’re in the United Kingdom
            </div>
            <div class="onboarding-overlay__btns">
                <button data-set-step="2" class="btn btn-primary onboarding-overlay__set-step" id="correct-location">
                    Yes, that's correct
                    <i class="icon-arrow-right animate-arrow"></i>
                </button>
            </div>
            <a href="#" data-set-step="1" class="onboarding-overlay__get-hint onboarding-overlay__set-step">
                Not your location?
            </a>
        </div>
        <div class="onboarding-overlay__tab" data-tab-number="1">
            <div class="onboarding-overlay__title">
                Where are you from?
            </div>
            <div class="row set-location__row">
                <div class="col-6 col-lg-4 set-location">
                    <div class="set-location__content">
                        <div class="set-location__title">Europe</div>
                        <ul class="set-location__list">
                            <li class="set-location__item">United Kingdom</li>
                            <li class="set-location__item">France</li>
                            <li class="set-location__item">Spain</li>
                            <li class="set-location__item">Italy</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-4 order-lg-1 set-location">
                    <div class="set-location__content">
                        <div class="set-location__title">Asia</div>
                        <ul class="set-location__list">
                            <li class="set-location__item">China</li>
                            <li class="set-location__item">Japan</li>
                        </ul>
                        <div class="set-location__item">Rest of the World</div>
                    </div>

                </div>
                <div class="col-6 col-lg-4 set-location">
                    <div class="set-location__content">
                        <div class="set-location__title">America</div>
                        <ul class="set-location__list">
                            <li class="set-location__item">United States</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="onboarding-overlay__tab" data-tab-number="2">
            <div class="onboarding-overlay__title">
                Which of these best describes you
            </div>
            <div class="onboarding-overlay__btns">
                <button data-set-step="3"
                    class="btn btn-primary m-2 m-sm-0 me-sm-2 me-md-3 onboarding-overlay__set-step"
                    id="correct-location">
                    Private investor
                    <i class="icon-arrow-right animate-arrow"></i>
                </button>
                <button data-set-step="3" class="btn btn-primary onboarding-overlay__set-step">
                    Professional investor
                    <i class="icon-arrow-right animate-arrow"></i>
                </button>
            </div>
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="onboarding-overlay__get-hint">
                Why are you asking this?
            </a>
        </div>
        <div class="onboarding-overlay__tab" data-tab-number="3">
            <div class="onboarding-overlay__title">
                And finally, please confirm the following
            </div>
            <div class="onboarding-overlay__text">
                I’m a Private Investor in the United Kingdom and I agree to comply with the <a href="#"
                    class="onboarding-overlay__link">
                    terms and conditions
                </a> of the
                website.
            </div>
            <div class="onboarding-overlay__btns">
                <button class="btn btn-primary" id="submit-board">
                    Yes, I agree
                    <i class="icon-arrow-right animate-arrow"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="onboarding-overlay__steps">
        <span data-set-step="0" class="onboarding-overlay__step active"></span>
        <span data-set-step="2" class="onboarding-overlay__step"></span>
        <span data-set-step="3" class="onboarding-overlay__step"></span>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Why are you asking this?</h5>
            </div>
            <div class="modal-body">
                <p class="font-500">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="modal-btn">ok <i class="icon-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>