<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav class="breadcrumb__nav">

                    <a class="breadcrumb__path" href="">Home</a>

                    <span class="breadcrumb__divider">/</span>

                    <a class="breadcrumb__path" href="">Folder Name</a>

                    <span class="breadcrumb__divider">/</span>

                    <a class="breadcrumb__path active" href="">Page Name</a>

                </nav>
            </div>
        </div>
    </div>
</div>