<div class="sidebar">
    <div class="sidebar__top">
        <div class="sidebar__header">
            <button class="sidebar__close-btn"></button>
            <div class="sidebar__logo">
                <a href="#" class="sidebar__logo-link">
                    <img src="../images/components/header/logo.svg" alt="LionTrust" class="sidebar__logo-img">
                </a>
            </div>
        </div>
        <nav class="mob-nav">
            <ul class="mob-nav__list">
                <li class="mob-nav__item">
                    <a href="#" class="mob-nav__link">Our Funds </a>
                </li>
                <li class="mob-nav__item">
                    <a href="#" class="mob-nav__link">Insight</a>
                </li>
                <li class="mob-nav__item">
                    <a href="#" class="mob-nav__link">Learning</a>
                </li>
                <li class="mob-nav__item">
                    <a href="#" class="mob-nav__link">Sustainability</a>
                </li>
                <li class="mob-nav__item">
                    <a href="#" class="mob-nav__link">Contact Us</a>
                </li>
                <li class="mob-nav__item">
                    <a href="#" class="mob-nav__link">About us</a>
                </li>
                <li class="mob-nav__item">
                    <a href="#" class="mob-nav__link">Investor Relations</a>
                </li>
                <li class="mob-nav__item">
                    <a href="#" class="mob-nav__link">Press Relations</a>
                </li>
            </ul>
        </nav>
        <div class="sidebar__profile-btn">
            <a href="#" class="btn btn-primary btn-block">
                <i class="icon-user"></i>
                My liontrust
            </a>
        </div>
        <div class="sidebar__setting">
            <ul class="sidebar-actions">
                <li class="sidebar-actions__item">
                    <a href="#" class="sidebar-actions__link">
                        <i class="icon-settings"></i>
                        My Preferences
                    </a>
                </li>
                <li class="sidebar-actions__item">
                    <a href="#" class="sidebar-actions__link">
                        <i class="icon-bookmark"></i>
                        My Bookmarks
                    </a>
                </li>
                <li class="sidebar-actions__item">
                    <a href="#" class="sidebar-actions__link">
                        <i class="icon-email"></i>
                        Sign up for our Newsletter
                    </a>
                </li>
                <li class="sidebar-actions__item">
                    <a href="#" class="sidebar-actions__link">
                        <i class="icon-chat"></i>
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
        <div class="user-status">
            <div class="user-status_hr"></div>
            <span class="user-status__text">
                You are viewing as a <span class="user-status__name">Private Investor</span>
                <i class="icon-chevron user-status__icon"></i>
            </span>
        </div>
    </div>
    <div class="sidebar__bottom">
        <div class="bottom-links">
            <ul class="bottom-links__list">
                <li class="bottom-links__item"><a href="#" class="bottom-links__link">About us </a></li>
                <li class="bottom-links__item"><a href="#" class="bottom-links__link">Investor Relations</a></li>
                <li class="bottom-links__item"><a href="#" class="bottom-links__link"> Press Relations</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="sidebar-overlay"></div>