<div class="onboarding-overlay active">
    <div class="onboarding-overlay__content">
        <div class="onboarding-overlay__hint">
            Please answer the following compliance questions before viewing our investment fund and insights.
        </div>
        <div class="onboarding-overlay__logo">
            <img src="../images/components/header/logo.svg" alt="Liontrust" class="onboarding-overlay__img">
        </div>
    
        <div class="onboarding-overlay__tab">
            <div class="onboarding-overlay__title">
                It looks like you’re in the United Kingdom
            </div>
            <div class="onboarding-overlay__btns">
                <button class="btn btn-primary" id="correct-location">
                    Yes, that's correct <i class="icon-arrow-right animate-arrow"></i>
                </button>
            </div>
            <a href="#" class="onboarding-overlay__get-hint">
                Not your location?
            </a>
        </div>
    </div>
    <div class="onboarding-overlay__steps">
        <span class="onboarding-overlay__step onboarding-overlay__step_active"></span>
        <span class="onboarding-overlay__step"></span>
        <span class="onboarding-overlay__step"></span>
    </div>
</div>