<!-- header -->
<div class="header-navbar">
    <button class="header-navbar__btn-open"></button>
    <a href="index.html" class="header-navbar__logo">
        <img src="images/components/header/liontrust-logo-pride-color.svg" alt="LionTrust" class="sidebar__logo-img"/>    </a>
    <nav class="nav-desktop">
        <ul class="nav-desktop__list">
            <li class="nav-desktop__item">
                <a href="#" class="nav-desktop__link">Our funds</a>
                <!--#include virtual="/components/GC005-Funds-dropdown.html" -->
            </li>
            <li class="nav-desktop__item">
                <a href="#" class="nav-desktop__link">Insight</a>
                <!--#include virtual="/components/GC005-Insights-Dropdown.html" -->
            </li>
            <li class="nav-desktop__item">
                <a href="#" class="nav-desktop__link">Investor Relations</a>
                <!--#include virtual="/components/GC005-Investor-Relations-Dropdown.html" -->
            </li>
            <li class="nav-desktop__item">
                <a href="#" class="nav-desktop__link">Learning</a>
                <!--#include virtual="/components/GC005-Learning-Dropdown.html" -->
            </li>
            <li class="nav-desktop__item">
                <a href="#" class="nav-desktop__link">Sustainability</a>
                <!--#include virtual="/components/GC005-Sustainability-Dropdown.html" -->
            </li>
            <li class="nav-desktop__item">
                <a href="#" class="nav-desktop__link nav-desktop__link_contact">Contact us</a>
            </li>
        </ul>
    </nav>
    <a href="#" class="header-navbar__user-link">
        <img src="images/components/header/user.svg" alt="user profile">
    </a>
<button class="header-navbar__btn-search btn-unset">
        <img src="images/components/header/search.svg" alt="search">
    </button>
</div>