<div class="header-top">
    <div class="container">
        <div class="header-top__content">
            <span class="user-status__text">
                Viewing <span class="user-status__name">Private Investor</span> from the <span class="user-status__country">United Kingdom</span>
                <a href="/" class="user-status__change-type">Change</a>
            </span>
            <a href="#" class="header-navbar__user-link">
                <img src="images/components/header/user-dark.svg" alt="user profile">
                My Liontrust
            </a>
            <a href="#" class="header-navbar__user-lionhub-link">
                <img src="images/components/header/user-dark.svg" alt="user profile">
                Lionhub
            </a>
        </div>
    </div>
</div>