<div class="sidebar sidebar_border">
    <div class="sidebar__top">
        <div class="sidebar__header">
            <button class="sidebar__close-btn"></button>
            <div class="sidebar__logo">
                <a href="#" class="sidebar__logo-link">
                    <img src="images/components/header/logo.svg" alt="LionTrust" class="sidebar__logo-img">
                </a>
            </div>
        </div>
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <!-- if link isn`t have sub links it should be a tag -->
                    <label class="navigation__link" for="Our Funds">Our Funds</label>
                </li>
                <li class="navigation__item">
                    <!-- if link has sublinks it should be label -->
                    <label class="navigation__link" for="Insight">Insight</label>
                </li>
                <li class="navigation__item">
                    <label class="navigation__link" for="Learning">Learning</label>
                </li>
                <li class="navigation__item">
                    <label class="navigation__link" for="Investor Relations">Investor Relations</label>
                </li>
                <li class="navigation__item">
                    <label class="navigation__link" for="Sustainability">Sustainability</label>
                </li>
                <li class="navigation__item">
                    <!-- if link isn`t have sub links it should be a tag -->
                    <a href="#" class="navigation__link">Contact Us</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">About us</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Investor Relations</a>
                </li>
                <li class="navigation__item">
                    <a href="#" class="navigation__link">Press Relations</a>
                </li>
            </ul>
        </nav>
        <div class="sidebar__profile-btn">
            <a href="#" class="btn btn-primary btn-block">
                <i class="icon-user"></i>
                My liontrust
            </a>
        </div>
        <div class="sidebar__setting">
            <ul class="sidebar-actions">
                <li class="sidebar-actions__item">
                    <a href="#" class="sidebar-actions__link">
                        <i class="icon-settings"></i>
                        My Preferences
                    </a>
                </li>
                <li class="sidebar-actions__item">
                    <a href="#" class="sidebar-actions__link">
                        <i class="icon-email"></i>
                        Sign up for our Newsletter
                    </a>
                </li>
                <li class="sidebar-actions__item">
                    <a href="#" class="sidebar-actions__link">
                        <i class="icon-chat"></i>
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
        <div class="user-status">
            <div class="user-status_hr"></div>
            <span class="user-status__text">
                You are viewing as a <span class="user-status__name">Private Investor</span>
                | <a href="/" class="user-status__change-type">Change</a>
            </span>
        </div>
    </div>
    <div class="sidebar__bottom">
        <nav class="navigation navigation_desktop">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <!-- if link has sublinks it should be label -->
                    <label class="navigation__link" for="About">About us</label>
                </li>
                <li class="navigation__item">
                    <!-- if link hasn't sublinks it should be link tag -->
                    <label class="navigation__link" for="Investor">Investor</label>
                </li>
                <li class="navigation__item">
                    <!-- if link hasn't sublinks it should be link tag -->
                    <!-- <a href="#" class="navigation__link">Press Relations</a> -->
                    <label class="navigation__link" for="Press Relations">Press Relations</label>
                </li>
            </ul>
        </nav>
    </div>
    <!-- block with sublinks items for mobile -->
    <div class="navigation__sublinks-items">
        <!-- each item should have id for exact like for attribute for label  -->
        <!-- Our Funds Links -->
        <div class="navigation__item">
            <input type="checkbox" id="Our Funds" class="navigation__checkbox">
            <div class="navigation__submenu">
                <label class="navigation__close-submenu" for="Our Funds">
                    <i class="icon-chevron-left"></i>
                    back
                </label>
                <ul class="navigation__sub-list">
                    <li class="navigation__sub-item">
                        <a class="mb-3 navigation__sub-link navigation__sub-link_heading" href="#">
                            Our Funds
                        </a>
                        <a href="#" class="btn btn-primary btn-block mb-4">
                            All Funds and Literature
                        </a>
                    </li>
                </ul>
                <!--#include virtual="/components/reusables/OurFunds_nav_items_1.html" -->
                <div class="mt-3">
                    <!--#include virtual="/components/reusables/OurFunds_nav_items_2.html" -->
                </div>
                <div class="mt-4">
                    <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
                </div>
            </div>
        </div>
        <!-- Insight Links -->
        <div class="navigation__item">
            <input type="checkbox" id="Insight" class="navigation__checkbox">
            <div class="navigation__submenu">
                <label class="navigation__close-submenu" for="Insight">
                    <i class="icon-chevron-left"></i>
                    back
                </label>
                <ul class="navigation__sub-list mb-4">
                    <li class="navigation__sub-item">
                        <!--#include virtual="/components/reusables/Insight_nav_item_1.html" -->
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-6">
                        <!--#include virtual="/components/UI010-Quick-Link-CTA-SMALL.html" -->
                        <!--#include virtual="/components/UI010-Quick-Link-CTA-SMALL.html" -->
                    </div>
                    <div class="col-md-6">
                        <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Learning Links -->
        <div class="navigation__item">
            <input type="checkbox" id="Learning" class="navigation__checkbox">
            <div class="navigation__submenu">
                <label class="navigation__close-submenu" for="Learning">
                    <i class="icon-chevron-left"></i>
                    back
                </label>
                <div class="mt-3">
                    <!--#include virtual="/components/reusables/Learning_nav_item_1.html" -->
                </div>
                <div class="mt-3">
                    <!--#include virtual="/components/reusables/Learning_nav_item_2.html" -->
                </div>
                <div class="mt-3">
                    <!--#include virtual="/components/reusables/Learning_nav_item_3.html" -->
                </div>
            </div>
        </div>
        <div class="navigation__item">
            <input type="checkbox" id="Investor Relations" class="navigation__checkbox">
            <div class="navigation__submenu">
                <label class="navigation__close-submenu" for="Investor Relations">
                    <i class="icon-chevron-left"></i>
                    back
                </label>
                <div class="mt-3">
                    <h4 class="dropdown-nav__title">Learning</h4>
                    <a href="#" class="link-styles d-block mb-20">View all learning <i class="icon-arrow-right"></i></a>
                    <ul class="dropdown-nav__list">
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">How to invest</a>
                        </li>
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">Dual and Single Priced Funds</a>
                        </li>
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">ISAs</a>
                        </li>
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">Junior ISAs</a>
                        </li>
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">Understanding your risk profile</a>
                        </li>
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">What are Asset Classes</a>
                        </li>
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">Giude to Financial words and terms</a>
                        </li>
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">Benefits of using funds</a>
                        </li>
                        <li class="dropdown-nav__item">
                            <a href="#" class="dropdown-nav__link">Understanding stocks and shares</a>
                        </li>
                    </ul>
                </div>
                <div class="mt-3">
                    <!--#include virtual="/components/reusables/Learning_nav_item_2.html" -->
                </div>
                <div class="mt-3">
                    <!--#include virtual="/components/reusables/Learning_nav_item_3.html" -->
                </div>
            </div>
        </div>
        <!-- Sustainability Links -->
        <div class="navigation__item">
            <input type="checkbox" id="Sustainability" class="navigation__checkbox">
            <div class="navigation__submenu">
                <label class="navigation__close-submenu" for="Sustainability">
                    <i class="icon-chevron-left"></i>
                    back
                </label>
                <ul class="navigation__sub-list mb-4">
                    <li class="navigation__sub-item">
                        <!--#include virtual="/components/reusables/Sustainability_nav_item_1.html" -->
                    </li>
                </ul>
                <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
            </div>
        </div>
    </div>
</div>
<!-- For desktop sidebar links items -->
<div class="navigation__sublinks-items">
    <div class="navigation__item">
        <input type="checkbox" id="About" class="navigation__checkbox">
        <div class="navigation__submenu">
            <label class="navigation__close-submenu" for="About">
                <i class="icon-chevron-left"></i>
                back
            </label>
            <ul class="navigation__sub-list">
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link navigation__sub-link_heading" href="#">
                        About Us
                        <i class="icon-chevron-right"></i>
                    </a>
                </li>
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link" href="">Community Engagement and Sponsorships</a>
                </li>
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link" href="#">Some Link</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navigation__item">
        <input type="checkbox" id="Investor" class="navigation__checkbox">
        <div class="navigation__submenu">
            <label class="navigation__close-submenu" for="Investor">
                <i class="icon-chevron-left"></i>
                back
            </label>
            <ul class="navigation__sub-list">
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link navigation__sub-link_heading" href="#">
                        Investor Relations
                        <i class="icon-chevron-right"></i>
                    </a>
                </li>
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link" href="#">Investor and Sponsorships</a>
                </li>
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link" href="#">Some Link</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navigation__item">
        <input type="checkbox" id="Press Relations" class="navigation__checkbox">
        <div class="navigation__submenu">
            <label class="navigation__close-submenu" for="Press Relations">
                <i class="icon-chevron-left"></i>
                back
            </label>
            <ul class="navigation__sub-list">
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link navigation__sub-link_heading" href="#">
                        Press Relations
                        <i class="icon-chevron-right"></i>
                    </a>
                </li>
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link" href="#">Press Relations and Sponsorships</a>
                </li>
                <li class="navigation__sub-item">
                    <a class="navigation__sub-link" href="#">Some Link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="sidebar-overlay"></div>