<div class="dropdown">
    <div class="dropdown__inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav class="dropdown-nav">
                        <a href="#" class="btn btn-primary btn-block mb-5">
                            All funds & literature <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                         <!-- This menu links has the same html structure as menu links for mobile on mobile sidebar menu  -->
                        <h4 class="dropdown-nav__title">Fund Teams</h4>
                        <a href="#" class="link-styles d-block mb-4">View all teams <i class="icon-arrow-right"></i></a>
                        <ul class="dropdown-nav__list">
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Cashflow Solutions</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Team Economic and Advantage Team</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Global Equity Team</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Global Fixed Income Team</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Multi-Asset Team</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Sustainable Investment Team</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3 offset-1">
                    <nav>
                        <!-- This menu links has the same html structure as menu links for mobile on mobile sidebar menu  -->
                        <h4 class="dropdown-nav__title">Fund Types</h4>
                        <ul class="dropdown-nav__list">
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Sustainable Investment</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Retirement</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Bond Funds</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Income Funds</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Multi-Asset Funds</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Monthly Income Bond Funds</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Sustainable Funds</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Liontrust ISA</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Liontrust Junior ISA</a>
                            </li>
                            <li class="dropdown-nav__item">
                                <a href="#" class="dropdown-nav__link">Multi-Asset Portfolios</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-1">
                    <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
                </div>
            </div>
        </div>
    </div>
</div>