<div class="search-overlay">
    <div class="container">
        <div class="search-overlay__close"><i class="icon-close search-overlay__icon-close"></i></div>
        <div class="search-overlay__serch-content">
            <form class="search-form" action="search-page.html">
                <input type="text" name="queryText" class="search-form__input" placeholder="Search for funds, insight or guidance">
                <button class="search-form__submit" type="submit">
                    <i class="icon-search"></i>
                </button>
            </form>
            <div class="recent">
                <span class="recent__title">
                    Recent searches:
                </span>
                <ul class="recent__list">
                    <li class="recent__item">
                        <a href="#" class="recent__link">Sustainable investment</a>
                    </li>
                    <li class="recent__item">
                        <a href="#" class="recent__link">Asia</a>
                    </li>
                    <li class="recent__item">
                        <a href="#" class="recent__link">Bonds</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>