<div class="dropdown">
    <div class="dropdown__inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <nav class="dropdown-nav">
                        <a href="#" class="btn btn-primary btn-block mb-26">
                            All funds & literature <i class="icon-arrow-right animate-arrow"></i>
                        </a>
                        <!--#include virtual="/components/reusables/OurFunds_nav_items_1.html" -->
                    </nav>
                </div>
                <div class="col-md-3 offset-1">
                    <nav>
                        <!--#include virtual="/components/reusables/OurFunds_nav_items_2.html" -->
                    </nav>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-1">
                    <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
                </div>
            </div>
        </div>
    </div>
</div>