<div class="imagepromo">
    <div class="imagepromo__imagebox">

        <img class="imagepromo__image-bg" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt=""> <br>
        <img class="imagepromo__image-sm" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
        <img class="imagepromo__image-bg" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt=""> <br>
        <img class="imagepromo__image-sm" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">

    </div>
    <div class="imagepromo__content">

        

    </div>
</div>