<div class="people-card">
    <div class="people-card__image">
      <a href="#" data-toggle="modal" data-target="#peopleCard">
        <img src="images/components/our-people/alastair-barbour-334x334.jpg" alt="" />
      </a>
    </div>
    <div class="people-card__content">
      <p class="people-card__content-title">John Husslebee</p>
      <p>Head of the Liontrust Multi-Asset team</p>
      <a data-toggle="modal" data-target="#peopleCard" href="#">Find out more <i class="icon-arrow-right"></i></a>
    </div>
</div>

<!--#include virtual="/components/LB-807-Our-People-Overlay.html" -->