<div class="article-with-small my-4 text-black">

    <section class="content-preferences">
        <h3>2. Set your content preferences</h3>
        <span class="content-preferences__subDescription">Follow teams & funds</span>
        <div class="accordion-section accordion-section_full content-preferences__accordion">
            <div class="container">
                <div id="accordionFlushExample" class="accordion accordion_white">
                    <div class="accordion__card">
                        <div class="accordion__header">
                            <div class="accordion__link" data-toggle="collapse" data-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Economic Advantage team
                                <div class="content-preferences__accordion-controls">
                                    <div class="options_count"><span class="content-preferences__category">fund</span><span class="slected_count"></span>of<span class="total_count"></span></div>
                                    <i class="icon-plus accordion__plus"></i>
                                    <i class="icon-minus accordion__minus"></i>
                                </div>

                            </div>
                        </div>
                        <div id="flush-collapseOne" class="collapse show" aria-labelledby="flush-headingOne" data-parent="#accordionFlushExample">
                            <div class="accordion__body">
                                <div class="multi-select-card">
                                    <label class="multi-select-card__row multi-select-card__allSelected">Follow team
                                        <input type="checkbox"  name="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <h4 class="content-preferences__subtitle">Team funds</h4>
                                    <div class="multi-select-card__group">
                                        <label class="multi-select-card__row">Lorem ipsum dolor sit amet consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="multi-select-card__row">Consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="multi-select-card__row">Consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="multi-select-card__row">Lorem ipsum dolor sit amet consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="multi-select-card__row">Consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="accordion__card">
                        <div class="accordion__header">
                            <div class="collapsed accordion__link" data-toggle="collapse" data-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Collapsible Group Item #2
                                <div class="content-preferences__accordion-controls">
                                    <div class="options_count"><span class="content-preferences__category">fund</span><span class="slected_count"></span>of<span class="total_count"></span></div>
                                    <i class="icon-plus accordion__plus"></i>
                                    <i class="icon-minus accordion__minus"></i>
                                </div>
                            </div>
                        </div>
                        <div id="flush-collapseTwo" class="collapse" aria-labelledby="flush-headingTwo" data-parent="#accordionFlushExample">
                            <div class="accordion__body">
                                <div class="multi-select-card">
                                    <label class="multi-select-card__row multi-select-card__allSelected">Follow team
                                        <input type="checkbox"  name="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <h4 class="content-preferences__subtitle">Team funds</h4>
                                    <div class="multi-select-card__group">
                                        <label class="multi-select-card__row">Lorem ipsum dolor sit amet consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="multi-select-card__row">Consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="multi-select-card__row">Consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="multi-select-card__row">Lorem ipsum dolor sit amet consectetur adipiscing elit
                                            <input type="checkbox" name="checkbox">
                                            <span class="checkmark"></span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>