<p class="text-black"> Your preferences determine content we will suggest for you on the website and - if you sign up to receive emails from Liontrust, the personalised insight we’ll send to your inbox.
</p>
<section class="info-section">
    <h3>1. About you</h3>
    <label class="info-section__label">Your role: </label> Professional Investor<br />
    <label class="info-section__label"> Your country of residence: </label> United Kingdom<br />
    <label class="info-section__label"> Not correct? </label><a href="#" class="info-section__link"> Change here</a><br />
</section>