<section class="retrive-preferences-form">
    <span>Already set your preferences?</span>
    <section class="light-gray">
        <span>We'll send you a link to log in to view your preferences - no password needed.</span>
        <div class="input-group-row">
            <div class="input-group">
                <input type="email" required id="email" name="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="email">Email address</label>
            </div>
            <div class="input-btn">
                <input value="Get login link" type="submit" class="" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.4688376e-815c-4e9a-a81f-296aa71cc213" data-sc-field-key="E5DC33C01AC245189ACC101BC3FBF1A5">
                <input id="fxb_55b82b53-4240-4f91-8e8c-eadeed37372d_NavigationButtons" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.NavigationButtons" type="hidden" value="4688376e-815c-4e9a-a81f-296aa71cc213">
                <input id="fxb_55b82b53-4240-4f91-8e8c-eadeed37372d_4688376e-815c-4e9a-a81f-296aa71cc213" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.4688376e-815c-4e9a-a81f-296aa71cc213" type="hidden" value="0">
            </div>
        </div>
    </section>
</section>