<section class="mt-4">
    <p>Privacy notice</p>
    <p>It is important that you understand what personal information we hold and how it is used. You can read our Privacy Notice<a href="#">here.</a> </p>
    <section class="quick-link-chart-wrapper">
        <div class="container-lg">
            <div class="row">
                <div class="col-10 col-sm-5 col-lg-6">
                    <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
                </div>
                <div class="col-10 col-sm-5 col-lg-6">
                    <!--#include virtual="/components/UI010-Quick-Link-CTA.html" -->
                </div>

            </div>
        </div>
    </section>
</section>