<section>
    <h3>3. Set email preferences</h3>
    <p class="content-preferences__subDescription">Receive Liontrust insight and Fund updates based on my preferences?</p>
    <div class="can-toggle demo-rebrand-2">
        <input id="e" type="checkbox" checked>
        <label for="e">
  <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
</label>
    </div>
    <small class="d-block"> site preferences & subscribe to emails.</small>
    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" required id="firstName" name="First Name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="firstName">First Name*</label>
            </div>

            <div class="input-group">
                <input type="text" required id="lastName" name="Last Name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="lastName">last  Name*</label>
            </div>
            <div class="input-group">
                <input type="email" required id="email" name="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="email">Email address</label>
            </div>

            <div class="input-group">
                <input type="text" id="refernceNumber" name="Refernce Number">
                <span class="highlight"></span>
                <span class="bar"></span>
                <!-- <label for="refernceNumber">Refernce Number</label> -->
            </div>
            <div class="input-group">
                <input type="text" id="companyName" name="Compoany Name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <!-- <label for="companyName">Company Name</label> -->
            </div>



            <div class="input-btn">
                <input value="Subscribe & save preferences" type="submit" class="" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.4688376e-815c-4e9a-a81f-296aa71cc213" data-sc-field-key="E5DC33C01AC245189ACC101BC3FBF1A5">
                <input id="fxb_55b82b53-4240-4f91-8e8c-eadeed37372d_NavigationButtons" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.NavigationButtons" type="hidden" value="4688376e-815c-4e9a-a81f-296aa71cc213">
                <input id="fxb_55b82b53-4240-4f91-8e8c-eadeed37372d_4688376e-815c-4e9a-a81f-296aa71cc213" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.4688376e-815c-4e9a-a81f-296aa71cc213" type="hidden" value="0">
            </div>
        </div>
    </div>
</section>
<section class="mt-4">
    <p>Receive Liontrust insight and Fund updates based on my preferences?</p>
    <div class="can-toggle demo-rebrand-2">
        <input id="e" type="checkbox" checked>
        <label for="e">
  <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
</label>
    </div>
    Save site preferences only. We use your email address to send you a link to retrieve your preferences. We will not send you email news and insight unless you change your setting.

    <div class="row mt-4">
        <div class="col-lg-12">

            <div class="input-group">
                <input type="email" required id="email" name="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="email">Email address</label>
            </div>







        </div>
    </div>
</section>
<section>
    <p>Already set your preferences? <a href="#">Retrieve them here x</a></p>
    <span>We'll send you a link to log in to view your preferences - no password needed.</span>
    <div class="row mt-4">
        <div class="col-lg-12">

            <div class="input-group">
                <input type="email" required id="email" name="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label for="email">Email address</label>
            </div>
            <div class="input-btn">
                <input value="Get login link" type="submit" class="" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.4688376e-815c-4e9a-a81f-296aa71cc213" data-sc-field-key="E5DC33C01AC245189ACC101BC3FBF1A5">
                <input id="fxb_55b82b53-4240-4f91-8e8c-eadeed37372d_NavigationButtons" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.NavigationButtons" type="hidden" value="4688376e-815c-4e9a-a81f-296aa71cc213">
                <input id="fxb_55b82b53-4240-4f91-8e8c-eadeed37372d_4688376e-815c-4e9a-a81f-296aa71cc213" name="fxb.55b82b53-4240-4f91-8e8c-eadeed37372d.4688376e-815c-4e9a-a81f-296aa71cc213" type="hidden" value="0">
            </div>







        </div>
    </div>
</section>