<div class="fundscroller relative fundscroller__dashboard fundscroller__dashboard-inner">
  <div class="fundscroller__box">
      <div class="fundscroller__box-col">
        <div class="fundscroller__left">
          <div class="imagepromo__content">
            <div class="imagepromo__headbox">
              <h2>How to invest</h2>
            </div>
            <div class="imagepromo__contentbox txtlimit tenline">
              <p>
                <b>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex est
                  id porro, quas fugit nostrum, atque, iure mollitia repudiandae
                  non voluptatem. Porro earum mollitia, debitis iusto eveniet
                  ipsam rerum hic?
                </b>
              </p>
              <p class="font-300">
                We take pride in offering specialist investment opportunities to
                private investors looking to generate sustainable growth. We
                manage risk, Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Hic vero facilis reprehenderit excepturi, itaque
                distinctio laudantium dicta facere dolorem aspernatur
                perferendis voluptate, temporibus, cumque iusto architecto
                nesciunt. Consectetur, eveniet praesentium!
              </p>
            </div>
            <div class="imagepromo__btnbox">
              <a href="#" class="btn btn-primary imagepromo__btn">
                View the Funds
                <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="fundscroller-container fundscroller__carousel-col">
        <!-- Swiper main -->
        <div class="swiper-container-funds">
          <div class="swiper-wrapper row">
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
          </div>
          <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
</div>