<div class="banner-card">
  <div class="banner-card__img"
    style="background-image: url('images/components/common/investor/annie-spratt-tuJ3tXSayco-unsplash/annie-spratt-tuJ3tXSayco-unsplash.png');">
  </div>
  <div class="banner-card__text">
    <h4 class="banner-card__title">Communicating with Shareholders</h4>
    <span class="banner-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor
      incididunt ut labore et dolore.</span>
    <button class="btn btn-primary">
      VIEW NOW <i class="icon-arrow-right animate-arrow"></i>
    </button>
  </div>
</div>