<div class="nav fixed-top page-anchor-link">
    <div class="container">
        <div class="page-anchor full-wigth people-anchors">
            <div class="page-anchor__right">
               <span class="page-anchor__title text-black">Select a team</span>
               <ul class="page-anchor__links ">
                    <li><a class="page-anchor__link" href="">Board of Directors</a></li>
                    <li><a class="page-anchor__link" href="">Sales Team</a></li>
                    <li><a class="page-anchor__link" href="">Heads of Department</a></li>
               </ul> 
            </div>
        </div>
    </div>
</div>