<div class="modal modal-right modal-full-height modal-backdrop-custom modal-people fade" tabindex="-1" aria-labelledby="peopleCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row modal-people__card">
                    <div class="col-auto modal-people__card-image">
                        <picture>
                            <!--Show large image for mobile / small for desktop-->
                            <source media="(max-width:767px)" srcset="images/components/our-people/alastair-barbour-334x334.jpg">
                            <img src="images/components/fund-manager/roberts-david-2018-580x358.png" alt="">
                        </picture>
                    </div>
                    <div class="col-md-7 modal-people__card-info">
                        <p class="h4 modal-people__card-info-title">John Husslebee</p>
                        <p>Head of the Liontrust Multi-Asset team</p>
                        <ul>
                            <li><span><strong>Email.</strong></span><a class="text-primary" href="mailto:">test@liontrust.co.uk</a></li>
                            <li><span><strong>Direct Line.</strong></span><a href="tel:">+44 1234 5678 910</a></li>
                        </ul>
                        <p class="modal-people__card-info-social">
                            <a href="">
                                <img src="images/svg-icons/linked-in-black.svg" alt="linked-in">view john's linkedin profile
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row pt-md-5 modal-people__content">
                    <div class="col-12">
                        <p class="h5 modal-people__content-title">About John</p>
                        <!--Intro text-->
                        <p class="modal-people__content-intro">
                            <strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed vehicula est, vel aliquam purus. 
                                Proin at ligula metus. Sed rhoncus euismod nunc, in imperdiet odio. 
                                Curabitur pharetra ultrices ipsum, aliquet luctus nulla consectetur eu. 
                            </strong>
                        </p>
                        <!--Main content-->
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed vehicula est, vel aliquam purus. Proin at ligula metus. Sed rhoncus euismod nunc, in imperdiet odio. Curabitur pharetra ultrices ipsum, aliquet luctus nulla consectetur eu. 
                            Fusce quis est tristique, rutrum nulla vel, imperdiet leo. 
                            Praesent eget purus dictum, tempus lectus at, euismod ipsum. Donec vitae aliquam orci, at tempor lorem. Morbi et imperdiet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. 
                            Praesent in nulla purus. Quisque fringilla, tortor pulvinar accumsan sodales, dui nisi tincidunt elit, venenatis convallis massa nibh a erat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed vehicula est, vel aliquam purus. Proin at ligula metus. Sed rhoncus euismod nunc, in imperdiet odio. Curabitur pharetra ultrices ipsum, aliquet luctus nulla consectetur eu. 
                            Fusce quis est tristique, rutrum nulla vel, imperdiet leo. 
                            Praesent eget purus dictum, tempus lectus at, euismod ipsum. Donec vitae aliquam orci, at tempor lorem. Morbi et imperdiet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. 
                            Praesent in nulla purus. Quisque fringilla, tortor pulvinar accumsan sodales, dui nisi tincidunt elit, venenatis convallis massa nibh a erat.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed vehicula est, vel aliquam purus. Proin at ligula metus. Sed rhoncus euismod nunc, in imperdiet odio. Curabitur pharetra ultrices ipsum, aliquet luctus nulla consectetur eu. 
                            Fusce quis est tristique, rutrum nulla vel, imperdiet leo. 
                            Praesent eget purus dictum, tempus lectus at, euismod ipsum. Donec vitae aliquam orci, at tempor lorem. Morbi et imperdiet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. 
                            Praesent in nulla purus. Quisque fringilla, tortor pulvinar accumsan sodales, dui nisi tincidunt elit, venenatis convallis massa nibh a erat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>