<div class="modal modal-right modal-full-height modal-people fade" id="peopleCard" tabindex="-1" aria-labelledby="peopleCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <img src="/images/components/fund-manager/roberts-david-2018-580x358.png" alt="">
                    </div>
                    <div class="col-auto">
                        <p>John Husslebee</p>
                        <p>Head of the Liontrust Multi-Asset team</p>
                        <ul>
                            <li><strong>Email.</strong><a class="primary" href="mailto:">test@liontrust.co.uk</a></li>
                            <li><strong>Direct Line.</strong><a href="tel:">+44 1234 5678 910</a></li>
                        </ul>
                        <p><a href="">view john's linkedin profile</a></p>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-12">
                        <p>
                            <strong>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed vehicula est, vel aliquam purus. 
                                Proin at ligula metus. Sed rhoncus euismod nunc, in imperdiet odio. 
                                Curabitur pharetra ultrices ipsum, aliquet luctus nulla consectetur eu. 
                            </strong>
                        </p>
                        <p class="pt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed vehicula est, vel aliquam purus. Proin at ligula metus. Sed rhoncus euismod nunc, in imperdiet odio. Curabitur pharetra ultrices ipsum, aliquet luctus nulla consectetur eu. 
                            Fusce quis est tristique, rutrum nulla vel, imperdiet leo. 
                            Praesent eget purus dictum, tempus lectus at, euismod ipsum. Donec vitae aliquam orci, at tempor lorem. Morbi et imperdiet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. 
                            Praesent in nulla purus. Quisque fringilla, tortor pulvinar accumsan sodales, dui nisi tincidunt elit, venenatis convallis massa nibh a erat.
                        </p>
                        <p class="pt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed vehicula est, vel aliquam purus. Proin at ligula metus. Sed rhoncus euismod nunc, in imperdiet odio. Curabitur pharetra ultrices ipsum, aliquet luctus nulla consectetur eu. 
                            Fusce quis est tristique, rutrum nulla vel, imperdiet leo. 
                            Praesent eget purus dictum, tempus lectus at, euismod ipsum. Donec vitae aliquam orci, at tempor lorem. Morbi et imperdiet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. 
                            Praesent in nulla purus. Quisque fringilla, tortor pulvinar accumsan sodales, dui nisi tincidunt elit, venenatis convallis massa nibh a erat.
                        </p>
                        <p class="pt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed vehicula est, vel aliquam purus. Proin at ligula metus. Sed rhoncus euismod nunc, in imperdiet odio. Curabitur pharetra ultrices ipsum, aliquet luctus nulla consectetur eu. 
                            Fusce quis est tristique, rutrum nulla vel, imperdiet leo. 
                            Praesent eget purus dictum, tempus lectus at, euismod ipsum. Donec vitae aliquam orci, at tempor lorem. Morbi et imperdiet quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. 
                            Praesent in nulla purus. Quisque fringilla, tortor pulvinar accumsan sodales, dui nisi tincidunt elit, venenatis convallis massa nibh a erat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>