<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-6 col-lg-3 footer__bottom-item">
                        <span class="footer__title h5">Find us</span>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a href="#" class="footer__link">2 Savoy Court</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">London</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">WC2R 0EZ</a>
                            </li>
                        </ul>
                        <a href="#" class="footer__map-link">google maps <i class="icon-tab"></i></a>
                    </div>
                    <div class="col-6 col-lg-3 footer__bottom-item">
                        <div>
                            <span class="footer__title h5">Get in touch</span>
                            <ul class="footer__list">
                                <li class="footer__item">
                                    <a href="tel:+44 (0)20 7412 1700" class="footer__link">+44 (0)20 7412 1700</a>
                                </li>
                                <li class="footer__item">
                                    <a href="mailto:example@gmail.com" class="footer__link footer__link_arrow">Contact
                                        us
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="social">
                            <a href="#" class="social__link"><i class="social__link-icon icon-linked-in"></i></a>
                            <a href="#" class="social__link"><i class="social__link-icon icon-facebook"></i></a>
                            <span class="social__link"><i class="social__link-icon icon-twitter"></i>
                                <div class="social__twitter">
                                    <a href="#" class="social__twitter-link">@LiontrustHeroes</a>
                                    <a href="#" class="social__twitter-link">@LiontrustViews</a>
                                    <a href="#" class="social__twitter-link">@LiontrustFuture</a>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 my-4 my-lg-0 col-lg-6 footer__section">
                        <span class="footer__title h5">Subscribe to our weekly newsletter</span>
                        <a href="#" class="footer__link footer__link_arrow footer__link_sign">Sign up
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-6 col-lg-12 footer__section">
                        <nav>
                            <ul class="footer__nav">
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">About us</a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">Terms & Conditions</a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">Terms of Business</a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">Privacy Notice</a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">Modern Slavery Act</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-6 col-lg-12 footer__section">
                        <nav>
                            <ul class="footer__nav">
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">MiFID II RTS report 2019</a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">Cookie Policy</a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">Online security</a>
                                </li>
                                <li class="footer__list-item">
                                    <a href="#" class="footer__mav-list">Complaints</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <span class="footer__copy">Copyright © Liontrust Asset Management PLC 2001-2021</span>
            </div>
            <div class="offset-lg-3 col-lg-3">
                <span class="footer__investor">
                    Private investor
                    <i class="icon-chevron"></i>
                </span>
            </div>
        </div>
    </div>
</footer>
<!--#include virtual="/components/GC002-Menu.html" --> 