<!-- Modal -->
<div class="modal fade" id="popUp" tabindex="-1" aria-labelledby="popUpModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content text-left">
            <div class="ml-3 ml-md-0">
                <a href="#" aria-label="Close" class="modal-btn link-styles">
                    <i class="icon-arrow-left"></i> Back
                </a>
            </div>
            <div class="modal-body text-center">
                <h3 class="h3 mt-4">
                    Unfortunaly we are unable to show you the contents on this page due to the location tou are from.
                </h3>
                <div class="mt-5">
                    <a href="#" class="btn btn-primary mr-4">
                        Primary button
                        <i class="icon-arrow-right animate-arrow"></i>
                    </a>
                    <a href="#" class="btn btn-primary-forward">
                        Secondary button
                        <i class="icon-arrow-right animate-arrow"></i>
                    </a>
                </div>
            </div>
            <div class="modal-footer"></div>            
        </div>
    </div>
</div>

<!-- script init show modal when page loaded -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        $('#popUp').modal('show');
    })
</script>