<div class="light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="section__title">
                    UK call rates
                </h5>
                <p class="section__description">
                    UK calls to our 0344 number is capped at the cost of a basic rate call. This applies to calls from any type of line including mobile, fixed line or payphone. It is free to call 0800 numbers from the UK, any calls made from outside of the UK would be charged
                    at the local rate of the country they are calling from. Overseas calls to our 0203 number will be charged by your local operator at their local call rate. Calls from a mobile may incur additional charges. Please check with your provider.
                </p>
            </div>
        </div>
    </div>
</div>