<section class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="mb-3">
        <a href="#"
          style="
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            min-width: 158px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            min-width: 212px;
            height: 51px;
            line-height: 51px;
            letter-spacing: 2.4px;
            padding: 0 1rem;
            background: #10a047;
            border-color: #10a047;
          "
        >
          READ MORE
          <i class="icon-arrow-right"></i>
      </a>
      </div>
      <div class="mb-3">
        <a href="#"
          style="
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            min-width: 158px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            min-width: 212px;
            height: 51px;
            line-height: 51px;
            letter-spacing: 2.4px;
            padding: 0 1rem;
            background: #0e8039;
            border-color: #0e8039;
          "
        >
          READ MORE
          <i
            class="icon-arrow-right"
            style="
              -webkit-transform: translate(10px, 0);
              -ms-transform: translate(10px, 0);
              transform: translate(10px, 0);
              display: inline-block;
            "
          ></i>
      </a>
      </div>
      <div class="mb-3">
        <a href="#"
          disabled
          style="
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            min-width: 158px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            min-width: 212px;
            height: 51px;
            line-height: 51px;
            letter-spacing: 2.4px;
            padding: 0 1rem;
            overflow: hidden;
            background: #10a047;
            border-color: #10a047;
            opacity: 0.2;
          "
        >
          READ MORE
          <i class="icon-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="mb-3">
        <a href="#"
          style="
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            min-width: 158px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            min-width: 212px;
            height: 51px;
            line-height: 51px;
            letter-spacing: 2.4px;
            padding: 0 1rem;
            overflow: hidden;
            border: 1px solid #00a339 !important;
            color: #00a339 !important;
          "
        >
          Secondary a
          <i class="icon-arrow-right"></i>
        </a>
      </div>
      <div class="mb-3">
        <a href="#"
          style="
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            min-width: 158px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            min-width: 212px;
            height: 51px;
            line-height: 51px;
            letter-spacing: 2.4px;
            padding: 0 1rem;
            overflow: hidden;
            border: 1px solid #00a339 !important;
            color: #00a339 !important;
            background: rgba(16, 160, 71, 0.1);
          "
        >
          Secondary a
          <i class="icon-arrow-right"></i>
        </a>
      </div>
      <div class="mb-3">
        <a href="#"
          disabled
          style="
            display: inline-block;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            min-width: 158px;
            font-size: 12px;
            border-radius: 6px;
            overflow: hidden;
            min-width: 212px;
            height: 51px;
            line-height: 51px;
            letter-spacing: 2.4px;
            padding: 0 1rem;
            overflow: hidden;
            border: 1px solid #00a339 !important;
            color: #00a339 !important;
            background: rgba(16, 160, 71, 0.1);
            opacity: 0.2;
          "
        >
          Secondary a
          <i
            class="icon-arrow-right"
            style="
              -webkit-transform: translate(10px, 0);
              -ms-transform: translate(10px, 0);
              transform: translate(10px, 0);
              display: inline-block;
            "
          ></i>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="mb-3">
        <a
          href="#"
          style="
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            color: #10a047;
            line-height: 17px;
            background: 0 0;
            border: none;
            width: auto;
            vertical-align: middle;
            line-height: 1em;
          "
        >
          Ghost button <i class="icon-arrow-right"></i>
        </a>
      </div>
      <div class="mb-3">
        <a
          href="#"
          style="
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            color: #10a047;
            line-height: 17px;
            background: 0 0;
            border: none;
            width: auto;
            vertical-align: middle;
            line-height: 1em;
          "
        >
          Ghost button
          <i
            class="icon-arrow-right"
            style="
              -webkit-transform: translate(10px, 0);
              -ms-transform: translate(10px, 0);
              transform: translate(10px, 0);
              display: inline-block;
            "
          ></i>
        </a>
      </div>
      <div class="mb-3">
        <a
          disabled
          href="#"
          style="
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            color: #10a047;
            line-height: 17px;
            background: 0 0;
            border: none;
            width: auto;
            vertical-align: middle;
            line-height: 1em;
            opacity: 0.2;
          "
        >
          Ghost button
          <i
            class="icon-arrow-right"            
          ></i>
        </a>
      </div>
    </div>
  </div>
</section>
