<div class="fullwidthbanner">

    <div class="fullwidthbanner__headbox">
        <div class="fullwidthbanner__head">

         <h2> Helping you achieve your financial goals </h2>

        </div>
    </div>
    <div class="fullwidthbanner__contentbox">
        <div class="fullwidthbanner__content">

            We take pride in offering specialist investment opportunities to private investors looking
            to generate sustainable growth. We manage risk, 
            maintain integrity and ensure transparency on how your investments are managed.

        </div>
    </div>

    <div class="fullwidthbanner__btn">

        <a href="#" class="btn btn-primary imagepromo__btn">
                READ MORE
                <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>        
        </a>
       
    </div>

</div>