<div class="fundscroller">
    <div class="container">
        <div class="row">
            <div class="fundscroller__box" >

                <div class="fundscroller__left">
                    <div class="imagepromo__content">

                        <div class="imagepromo__headbox">
                    
                            <h2> How to invest </h2>
                    
                        </div>
                        <div class="imagepromo__contentbox txtlimit tenline">

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex est id porro,
                            quas fugit nostrum, atque, iure mollitia repudiandae non voluptatem.
                            Porro earum mollitia, debitis iusto eveniet ipsam rerum hic?
                    
                            <br>

                            We take pride in offering specialist investment opportunities to private investors looking
                            to generate sustainable growth. We manage risk, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic vero facilis reprehenderit excepturi, itaque distinctio laudantium dicta facere dolorem aspernatur perferendis voluptate, temporibus, cumque iusto architecto nesciunt. Consectetur, eveniet praesentium!
                            
                        </div>
                    
                        <div class="imagepromo__btnbox">
                            <a href="#" class="btn btn-primary imagepromo__btn">
                                    READ MORE
                                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
                            </a>
                            <a href="#" class="btn btn-primary-forward imagepromo__btn">
                                    SEE ALL GUIDANSE 
                                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
                            </a>
                        
                        </div>
                    
                    </div>
                </div>

                <div class="fundscroller__right">
                    <div class="fundscroller__slider">

                        <div class="fundcard">
                            <div class="fundcard__top">
                                <img class="fundcard__topback" src="../images/components/banners/MaskGroup5.png" alt="">
                                <img class="fundcard__toplion" src="../images/components/banners/lion.png" alt="">
                                
                                <div class="fundcard__topbox">
                                    <div class="fundcard__tophead">
                                        <img class="fundcard__tophead-img" src="../images/components/banners/Ellipse67.svg" alt="">
                                        <div class="fundcard__topteam txtlimit">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat atque ratione esse voluptate veritatis perspiciatis at laboriosam beatae quas, ipsa quibusdam est itaque sit voluptas labore, corporis et soluta! Quidem?
                                        </div>
                                    </div>
                                    <div class="fundcard__toptitle txtlimit twoline">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque praesentium quibusdam obcaecati recusandae asperiores rerum amet explicabo aut assumenda provident, enim corporis, odit alias perspiciatis doloribus molestias sequi cupiditate beatae!
                                    </div>
                                    
                                    <div class="fundcard__topfooter">
                                        Daily Change: 
                                        <span class="fundcard__change">
                                            <span class="fundcard__posneg">+</span>
                                            0.804
                                        </span> 
                                        <i class="icon-arrow-up fundcard__arrow-up"></i>
                                        <i class="icon-arrow-down fundcard__arrow-down"></i>

                
                                    </div>
                                </div>
                            </div>
                            <div class="fundcard__bottom">
                                <div class="fundcard__bottomcontent txtlimit">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo obcaecati iure cumque magnam hic ad officia corporis fugiat repellendus, consequatur doloribus consectetur ex eligendi vitae veniam maiores totam! Explicabo!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo obcaecati iure cumque magnam hic ad officia corporis fugiat repellendus, consequatur doloribus consectetur ex eligendi vitae veniam maiores totam! Explicabo!
                
                
                                </div>
                                <div class="fundcard__bottomfooter">
                                    view this fund
                                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
                
                                </div>
                
                            </div>
                
                        </div>

                        <div class="fundcard">
                            <div class="fundcard__top">
                             
                                <img class="fundcard__topback" src="../images/components/banners/MaskGroup5.png" alt="">
                                <img class="fundcard__toplion" src="../images/components/banners/lion.png" alt="">
                             
                                <div class="fundcard__topbox">
                                    <div class="fundcard__tophead">
                                        <img class="fundcard__tophead-img" src="../images/components/banners/Ellipse67.svg" alt="">
                                        <div class="fundcard__topteam txtlimit">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat atque ratione esse voluptate veritatis perspiciatis at laboriosam beatae quas, ipsa quibusdam est itaque sit voluptas labore, corporis et soluta! Quidem?
                                        </div>
                                    </div>
                                    <div class="fundcard__toptitle txtlimit twoline">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque praesentium quibusdam obcaecati recusandae asperiores rerum amet explicabo aut assumenda provident, enim corporis, odit alias perspiciatis doloribus molestias sequi cupiditate beatae!
                                    </div>
                                    
                                    <div class="fundcard__topfooter">
                                        Daily Change: 
                                        <span class="fundcard__change">
                                            <span class="fundcard__posneg">+</span>
                                            0.804
                                        </span> 
                                        <i class="icon-arrow-up fundcard__arrow-up"></i>
                                        <i class="icon-arrow-down fundcard__arrow-down"></i>

                
                                    </div>
                                </div>
                            </div>
                            <div class="fundcard__bottom ">
                                <div class="fundcard__bottomcontent txtlimit">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo obcaecati iure cumque magnam hic ad officia corporis fugiat repellendus, consequatur doloribus consectetur ex eligendi vitae veniam maiores totam! Explicabo!
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo obcaecati iure cumque magnam hic ad officia corporis fugiat repellendus, consequatur doloribus consectetur ex eligendi vitae veniam maiores totam! Explicabo!
                
                
                                </div>
                                <div class="fundcard__bottomfooter">
                                    view this fund
                                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
                
                                </div>
                
                            </div>
                
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

</div>




      