<div class="fundscroller">
  <div class="container-left-gutter">
    <div class="fundscroller__box">
      <div class="fundscroller__left">
        <div class="imagepromo__content">
          <div class="imagepromo__headbox">
            <h2>Our Private Investor Funds</h2>
          </div>
          <div class="imagepromo__contentbox txtlimit tenline text-white">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex est id
              porro, quas fugit nostrum, atque, iure mollitia repudiandae non
              voluptatem. Porro earum mollitia, debitis iusto eveniet ipsam
              rerum hic?
            </p>
            <p class="font-300">
              We take pride in offering specialist investment opportunities to
              private investors looking to generate sustainable growth. We
              manage risk, Lorem ipsum dolor sit, amet consectetur adipisicing
              elit. Hic vero facilis reprehenderit excepturi, itaque distinctio
              laudantium dicta facere dolorem aspernatur perferendis voluptate,
              temporibus, cumque iusto architecto nesciunt. Consectetur, eveniet
              praesentium!
            </p>
          </div>

          <div class="imagepromo__btnbox">
            <a href="#" class="btn btn-primary imagepromo__btn">
              View the Funds
              <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
            </a>
            <a href="#" class="btn btn-primary-forward imagepromo__btn">
              SEE ALL GUIDANSE
              <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="fundscroller__right">
        <!-- Swiper main -->
        <div class="swiper-container-funds">
          <div class="swiper-wrapper row">
            <div class="col-9 col-sm-6 col-md-5 col-lg-6 col-xl-5 swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="col-9 col-sm-6 col-md-5 col-lg-6 col-xl-5 swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="col-9 col-sm-6 col-md-5 col-lg-6 col-xl-5 swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="col-9 col-sm-6 col-md-5 col-lg-6 col-xl-5 swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="col-9 col-sm-6 col-md-5 col-lg-6 col-xl-5 swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
