<div class="container">
  <div class="row">
    <div class="podcast">
      <img
        class="podcast__back"
        src="../images/components/banners/podcast.png"
        alt=""
      />
      <div class="podcast__front">
        <div class="podcast__head">
          <i class="icon-mic podcast__mic"></i>
          liontrust radio podcast
        </div>

        <div class="podcast__tit txtlimit">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolor,
          fugit, at repellendus atque tenetur id architecto modi esse earum
          doloribus animi recusandae obcaecati explicabo! Aut facilis nemo
          reprehenderit tenetur?
        </div>

        <div class="podcast__desc txtlimit">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
          minus eum repellendus doloribus quod expedita pariatur in numquam fuga
          similique. Quasi sunt provident optio quis, aut tenetur et ea
          consequuntur.
        </div>

        <div class="podcast__footer">
          <span>listen on: </span>
          <a href="#">
            <i class="icon-apple"></i>
          </a>
          <a href="#">
            <i class="icon-wifi"></i>
          </a>
          <a href="#">
            <i class="icon-spotify"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
