<div class="anchorbox">
                <div class="anchorbox__head">
                    What would you like to do?
                </div>

                <div class="anchorbox__body">

                    <div class="anchorbox__btn">
                        <a href="#" class="btn btn-anchor">
                            View funds
                        </a>
                    </div>

                    <div class="anchorbox__btn">
                        <a href="#" class="btn btn-anchor">
                            View funds
                        </a>
                    </div>

                    <div class="anchorbox__btn">
                        <a href="#" class="btn btn-anchor">
                            View funds
                        </a>
                    </div>

                    <div class="anchorbox__btn">
                        <a href="#" class="btn btn-anchor">
                            View funds
                        </a>
                    </div>
                </div>
     
</div>