<div class="accordion-section accordion-section_full">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
        <h2 class="h2">
          Recent fund news
        </h2>
        <div id="accordionFlushExample" class="accordion accordion_white">
          <div class="accordion__card">
            <div class="accordion__header">
              <div
                class="accordion__link"
                data-toggle="collapse"
                data-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Collapsible Group Item #1
                <i class="icon-plus accordion__plus"></i>
                <i class="icon-minus accordion__minus"></i>
              </div>
            </div>
            <div
              id="flush-collapseOne"
              class="collapse show"
              aria-labelledby="flush-headingOne"
              data-parent="#accordionFlushExample"
            >
              <div class="accordion__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
          <div class="accordion__card">
            <div class="accordion__header">
              <div
                class="collapsed accordion__link"
                data-toggle="collapse"
                data-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Collapsible Group Item #2
                <i class="icon-plus accordion__plus"></i>
                <i class="icon-minus accordion__minus"></i>
              </div>
            </div>
            <div
              id="flush-collapseTwo"
              class="collapse"
              aria-labelledby="flush-headingTwo"
              data-parent="#accordionFlushExample"
            >
              <div class="accordion__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
          <div class="accordion__card">
            <div class="card-header accordion__header">
              <div
                class="accordion__link collapsed"
                data-toggle="collapse"
                data-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Collapsible Group Item #3
                <i class="icon-plus accordion__plus"></i>
                <i class="icon-minus accordion__minus"></i>
              </div>
            </div>
            <div
              id="flush-collapseThree"
              class="collapse"
              aria-labelledby="flush-headingThree"
              data-parent="#accordionFlushExample"
            >
              <div class="accordion__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
          <div class="accordion__card">
            <div class="card-header accordion__header">
              <div
                class="collapsed accordion__link"
                data-toggle="collapse"
                data-target="#flush-collapseFour"
                aria-expanded="false"
                aria-controls="flush-collapseFour"
              >
                Collapsible Group Item #2
                <i class="icon-plus accordion__plus"></i>
                <i class="icon-minus accordion__minus"></i>
              </div>
            </div>
            <div
              id="flush-collapseFour"
              class="collapse"
              aria-labelledby="flush-headingFour"
              data-parent="#accordionFlushExample"
            >
              <div class="accordion__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
