<div class="container">
  <div class="podcast">    
    <picture>
      <source
        media="(max-width: 425px)"
        srcset="images/components/banners/podcast.png"
      />
      <source
        media="(min-width: 426px)"
        srcset="images/components/banners/podcast.png"
      />
      <img
      class="podcast__back"
        src="images/components/banners/podcast.png"
        alt="podcast"
      />
    </picture>
    <div class="podcast__front">
      <div class="podcast__head">
        <i class="icon-mic podcast__mic"></i>
        liontrust radio podcast
      </div>

      <div class="podcast__tit txtlimit">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolor,
        fugit, at repellendus atque tenetur id architecto modi esse earum
        doloribus animi recusandae obcaecati explicabo! Aut facilis nemo
        reprehenderit tenetur?
      </div>

      <div class="podcast__desc txtlimit">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora minus
        eum repellendus doloribus quod expedita pariatur in numquam fuga
        similique. Quasi sunt provident optio quis, aut tenetur et ea
        consequuntur.
      </div>

      <div class="podcast__footer">
        <span>listen on: </span>
        <a href="#">
          <img
            src="images/svg-icons/apple.svg"
            class="podcast__icon"
            alt="apple-podcast"
          />
        </a>
        <a href="#">
          <img
            src="images/svg-icons/wifi.svg"
            class="podcast__icon"
            alt="wifi"
          />
        </a>
        <a href="#">
          <img
            src="images/svg-icons/spotify.svg"
            class="podcast__icon"
            alt="spotify"
          />
        </a>
      </div>
    </div>
  </div>
</div>
