<div class="anchorbox">
    <div class="container">
        <div class="row">
            <div class="anchorbox__content">

            
                <div class="anchorbox__head">
                    What would you like to do?
                </div>

                <div class="anchorbox__body">

                    <a href="#" class="btn btn-anchor anchorbox__btn">
                        View funds
                    </a>

                    <a href="#" class="btn btn-anchor anchorbox__btn">
                        View funds
                    </a>

                    <a href="#" class="btn btn-anchor anchorbox__btn">
                        View funds
                    </a>

                    <a href="#" class="btn btn-anchor anchorbox__btn">
                        View funds
                    </a>
                </div>
            </div>
        </div>
    </div>
     
</div>