<div class="sticky-navbar-wrapper">
    <div class="page-anchor-link" id="sticky-navbar">
        <div class="container">
            <div class="page-anchor">
                <div class="page-anchor__right page-anchor__right-mobile">
                    <button class="page-anchor__title" id="open-page-anchor">
                        <span>On this page</span>
                    </button>
                    <div class="page-anchor__links page-anchor__links-mobile navbar">
                        <a href="#Sustainable" class="page-anchor__link">About Sustainable</a>
                        <a href="#Funds" class="page-anchor__link">Funds</a>
                        <a href="#Team" class="page-anchor__link">Team</a>
                        <a href="#Insight" class="page-anchor__link">Insight</a>
                    </div>
                </div>
                <div class="page-anchor__right">
                    <button class="page-anchor__title">
                        <span>On this page:</span>
                    </button>
                    <div class="page-anchor__links navbar">
                        <a href="#Sustainable" class="page-anchor__link">About Sustainable</a>
                        <a href="#Funds" class="page-anchor__link">Funds</a>
                        <a href="#Team" class="page-anchor__link">Team</a>
                        <a href="#Insight" class="page-anchor__link">Insight</a>
                    </div>
                </div>

                <div class="page-anchor__left">
                    <a href="#" class="btn btn-primary">
                        enquire about fund
                        <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>