<div class="accordion">
  <div class="container">
    <div class="row">
      <div id="accordion">
        <div class="card accordion__card">
          <div class="card-header accordion__header">
            <a class="card-link accordion__link" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
              Collapsible Group Item #1 
              <i class="icon-plus accordion__plus"></i>
              <i class="icon-minus accordion__minus"></i>
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="accordion__smartcard">
              <img class="accordion__smartimg" src="../images/components/banners/vid2.jpg" alt="">
              <span class="accordion__vid accordion__vidicon"></span>    
              <span class="accordion__vid accordion__vidicon-active"></span>    

            </div>
          </div>
        </div>
        <div class="card accordion__card">
          <div class="card-header accordion__header">
            <a class="collapsed card-link accordion__link" data-toggle="collapse" href="#collapseTwo">
            Collapsible Group Item #2
            <i class="icon-plus accordion__plus"></i>
            <i class="icon-minus accordion__minus"></i>

          </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="accordion__smartcard">
              <img class="accordion__smartimg" src="../images/components/banners/vid3.jpg" alt="">
              <span class="accordion__vid accordion__vidicon"></span>   
              <span class="accordion__vid accordion__vidicon-active"></span>    

            </div>
          </div>
        </div>
       
      </div> 
    </div>
  </div>
      
  </div>