<div class="imagepromo">
    <div class="container">
        <div class="row">
                <div class="imagepromo__box">
                    <!-- <img class="imagepromo__brand" src="images/components/banners/brand-element-chevron.svg" alt="">  -->
                    <div class="imagepromo__body">
                        <div class="imagepromo__imagebox">

                            <div class="imagepromo__imageboxchild">
                                <img class="imagepromo__image-bg" src="images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt=""> 
                                <img class="imagepromo__image-sm" src="images/components/imagepromo/jonathan-saavedra-7ke_jim-AmY-unsplash.png" alt="">
                            </div>
                        
                            <div class="imagepromo__imageboxchild">
                                <img class="imagepromo__image-sm" src="images/components/imagepromo/christin-hume-Hcfwew744z4-unsplash.png" alt=""> 
                                <img class="imagepromo__image-bg" src="images/components/imagepromo/larry-crayton-KXOaNSU63NE-unsplash.png" alt="">
                            </div>
                        </div>
                        <div class="imagepromo__content">

                                <div class="imagepromo__headbox">
                            
                                    <h2> How to invest </h2>
                            
                                </div>
                                <div class="imagepromo__contentbox">
                            
                                        We take pride in offering specialist investment opportunities to private investors looking
                                        to generate sustainable growth. We manage risk, 
                                    
                                </div>
                            
                                <div class="imagepromo__btnbox">
                                    <a href="#" class="btn btn-primary imagepromo__btn">
                                        <div class="imagepromo__morebox">
                                            READ MORE
                                            <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>

                                        </div>
                                    
                                        
                                    </a>
                                    <a href="#" class="btn btn-primary-forward imagepromo__btn">
                                        <div class="fullwidthbanner__morebox">
                                            SEE ALL GUIDANSE 
                                            <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>

                                        </div>
                                    
                                        
                                    </a>
                                
                                </div>
                            
                            </div>

                    </div>
                </div>     
                    
        </div>
    </div>
</div>
