<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="lead-banner text-center">
        <div class="lead-banner__content">
          <h2 class="lead-banner__title mb-3">About Liontrust</h2>
          <span class="lead-banner__text pb-lg-3">
            We take pride in offering specialist investment opportunities to
            private investors looking to generate sustainable growth. We manage
            risk, maintain integrity and ensure transparency on how your
            investments are managed.
          </span>

          <div class="lead-banner__btnbox mt-4">
            <a href="#" class="btn btn-primary">
              READ MORE
              <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
