<div class="page-anchor-link">
    <div class="container">
        <div class="page-anchor">
            <div class="page-anchor__right">
                <div class="page-anchor__title">
                    On this page:
                </div>
                <div class="page-anchor__links">
                    <a href="#Sustainable" class="page-anchor__link">About Sustainable</a>
                    <a href="#Funds" class="page-anchor__link">Funds</a>
                    <a href="#Team" class="page-anchor__link">Team</a>
                    <a href="#Insight" class="page-anchor__link">Insight</a>
                </div>
            </div>
            <div class="page-anchor__left">
                  <a href="#" class="btn btn-primary display-inline-block">
                    enquire about fund
                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
                  </a>
            </div>
        </div>
    </div>
</div>