<div class="fundscroller relative fundscroller__dashboard fundscroller__dashboard-inner fundscroller__dashboard-home">
  <div class="fundscroller__headbox">
    <h2>John's funds</h2>
  </div>
  <div class="fundscroller__box">
      <div class="fundscroller__box-col">
        <div class="fundscroller__left">
          <div class="imagepromo__content">
            <div class="imagepromo__contentbox txtlimit tenline">
            
            </div>
            <div class="imagepromo__btnbox">
              
            </div>
          </div>
        </div>
      </div>
      <div class="fundscroller-container fundscroller__carousel-col">
        <!-- Swiper main -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-container-funds">
          <div class="swiper-wrapper row">
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
            <div class="swiper-slide">
              <!--#include virtual="/components/BC015-Fund-Card.html" -->
            </div>
          </div>
          <!-- pagination -->
          <div class="swiper-pagination"></div>

          <!-- navigation buttons -->
          <div class="swiper-button-next"></div>

          <!-- scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
</div>