<div class="fundscroller relative fundscroller__dashboard fundscroller__dashboard-inner">
    <div class="fundscroller__box">
        <div class="fundscroller__headbox">
          <h2>How to invest</h2>
        </div>
        <div class="fundscroller-container fundscroller__carousel-col noLeftp">
          <!-- Swiper main -->
          <div class="swiper-container-funds">
            <div class="swiper-wrapper row">
              <div class="swiper-slide">
                <!--#include virtual="/components/BC015-Fund-Card.html" -->
              </div>
              <div class="swiper-slide">
                <!--#include virtual="/components/BC015-Fund-Card.html" -->
              </div>
              <div class="swiper-slide">
                <!--#include virtual="/components/BC015-Fund-Card.html" -->
              </div>
              <div class="swiper-slide">
                <!--#include virtual="/components/BC015-Fund-Card.html" -->
              </div>
              <div class="swiper-slide">
                <!--#include virtual="/components/BC015-Fund-Card.html" -->
              </div>
            </div>    
            
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
  
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>     
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div> 
          </div>
        </div>
      </div>
  </div>