<section class="container video-with-text">
    <div class="row">
        <div class="col-xl-6 order-xl-1">
            <h2 class="h2">
                The Global Fixed Income Process
            </h2>
            <div class="video-with-text__text">
                <p class="font-500">
                    The philosophy is based on the mistakes people make when forecasting. The fund managers believe
                    stock prices are frequently mis-priced as they tend to reflect the often unreliable and, at times,
                    completely misleading, forecasts of future profitability made by company managers.
                </p>
                <p>
                    These understandable errors in profit forecasting seem to play a dominant role in setting investors’
                    expectations, as investors treat these forecasts as superior and underestimate the risk that they
                    will be wrong. The fund managers find, in contrast, that historical analysis of company cash flows
                    is a more reliable guide to future profitability and stock price valuation in the medium term.
                    Investors undervalue free cash flow, a fundamental building block of long-term growth, in favour of
                    short-term profit forecasts. Investors’ focus on profit forecasts over fundamental value provides a
                    consistent opportunity to add alpha.
                </p>
            </div>
        </div>
        <div class="col-xl-6">            
            <!--#include virtual="/components/UI009-Video.html" -->
            <div class="video-with-text__video-title">The Global Fixed Income Process in 50 Seconds</div>

        </div>
    </div>
</section>