<div class="leadbanner">

    <div>
        <div class="leadbanner__headbox">
            <div class="leadbanner__head ">

                <h1 class="txtlimit twoline"> Helping you achieve your financial goals
                    Helping you achieve your financial goals
                    Helping you achieve your financial goals
                    Helping you achieve your financial goals 
                </h1>

            </div>
        </div>
        <div class="leadbanner__contentbox">
            <div class="leadbanner__content">
                <div class="txtlimit fourline">
                    We take pride in offering specialist investment opportunities to private investors looking
                    to generate sustainable growth. We manage risk, 
                    maintain integrity and ensure transparency on how your investments are managed.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat magni architecto omnis at fuga, ullam ex tempore accusantium minus unde vel, et tenetur qui autem dolores, velit placeat blanditiis dignissimos.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat magni architecto omnis at fuga, ullam ex tempore accusantium minus unde vel, et tenetur qui autem dolores, velit placeat blanditiis dignissimos.    

                </div>
              
            </div>
        </div>
        <div class="leadbanner__btnbox">

            <img class="leadbanner__teamicon" src="../images/components/banners/icon.svg" alt="">
        
        </div>
    </div>

</div>