<div class="carousel-box">
    <div class="swiper-container-carousel carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide" style="background-image: url('/images/components/banners/2.png');">
                    <div class="slide__content">
                        <div class="slide__head">
                            <img src="/images/components/banners/writer.jpeg" alt="some name" class="slide__head-img">
                            <span class="slide__name">Marwan Saleh</span>
                        </div>
                        <h2 class="slide__title">
                            Investing for a cleaner, safer and healthier world. 1
                        </h2>
                    </div>
                    <!-- for video from twentythree add data-type="iframe" attribute and set link to data-src -->
                    <button class="slide__play" data-type="iframe" data-fancybox
                        data-src="https://video.liontrust.co.uk/v.ihtml/player.html?token=70c960aa58e512e65ed6ba97094a8d8a&source=embed&photo%5fid=68193386">
                        watch now
                        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" fill="rgba(255,255,255,0)"
                            xmlns:v="https://vecta.io/nano">
                            <g stroke="#fff">
                                <circle cx="26.5" cy="26.5" r="26.5" stroke="none" />
                                <circle cx="26.5" cy="26.5" r="26" fill="none" />
                            </g>
                            <g transform="matrix(0 1 -1 0 38.182 16.543)">
                                <path class="triangle" d="M19.789 18.075H.85l9.47-17.045 9.47 17.045z" />
                                <path d="M10.319 2.059L1.7 17.575h17.239l-8.62-15.516m0-2.059l10.319 18.575H0L10.319 0z"
                                    fill="#fff" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide" style="background-image: url('/images/components/banners/1.png');">
                    <div class="slide__content">
                        <div class="slide__head">
                            <img src="/images/components/banners/writer.jpeg" alt="some name" class="slide__head-img">
                            <span class="slide__name">Marwan Saleh</span>
                        </div>
                        <h2 class="slide__title">
                            Investing for a cleaner, safer and healthier world.
                        </h2>
                    </div>
                    <button class="slide__play" data-fancybox href="https://www.youtube.com/watch?v=ARoGZIN5oC4">
                        watch now
                        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" fill="rgba(255,255,255,0)"
                            xmlns:v="https://vecta.io/nano">
                            <g stroke="#fff">
                                <circle cx="26.5" cy="26.5" r="26.5" stroke="none" />
                                <circle cx="26.5" cy="26.5" r="26" fill="none" />
                            </g>
                            <g transform="matrix(0 1 -1 0 38.182 16.543)">
                                <path class="triangle" d="M19.789 18.075H.85l9.47-17.045 9.47 17.045z" />
                                <path d="M10.319 2.059L1.7 17.575h17.239l-8.62-15.516m0-2.059l10.319 18.575H0L10.319 0z"
                                    fill="#fff" />
                            </g>
                        </svg>

                    </button>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide" style="background-image: url('/images/components/banners/2.png');">
                    <div class="slide__content">
                        <div class="slide__head">
                            <img src="/images/components/banners/writer.jpeg" alt="some name" class="slide__head-img">
                            <span class="slide__name">Marwan Saleh</span>
                        </div>
                        <h2 class="slide__title">
                            Investing for a cleaner, safer and healthier world.
                        </h2>
                    </div>
                    <button class="slide__play" data-fancybox href="https://www.youtube.com/watch?v=ARoGZIN5oC4">
                        watch now
                        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" fill="rgba(255,255,255,0)"
                            xmlns:v="https://vecta.io/nano">
                            <g stroke="#fff">
                                <circle cx="26.5" cy="26.5" r="26.5" stroke="none" />
                                <circle cx="26.5" cy="26.5" r="26" fill="none" />
                            </g>
                            <g transform="matrix(0 1 -1 0 38.182 16.543)">
                                <path class="triangle" d="M19.789 18.075H.85l9.47-17.045 9.47 17.045z" />
                                <path d="M10.319 2.059L1.7 17.575h17.239l-8.62-15.516m0-2.059l10.319 18.575H0L10.319 0z"
                                    fill="#fff" />
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>