<div class="leadbanner">

    <div class="leadbanner__headbox">
        <div class="leadbanner__head">

         <h1> Helping you achieve your financial goals </h1>

        </div>
    </div>
    <div class="leadbanner__contentbox">
        <div class="leadbanner__content">

            We take pride in offering specialist investment opportunities to private investors looking
            to generate sustainable growth. We manage risk, 
            maintain integrity and ensure transparency on how your investments are managed.

        </div>
    </div>
    <div class="leadbanner__btnbox">
        <a href="#" class="btn btn-primary imagepromo__btn">
                READ MORE
                <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
        </a>
        <a href="#" class="btn btn-primary-forward imagepromo__btn">
                SEE ALL GUIDANSE 
                <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>                                    
        </a>
    
    </div>

</div>