<div class="row">
  <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="lead-banner text-center">
      <h1 class="lead-banner__title mb-3">
        Helping you achieve your financial goals
      </h1>
      <span class="lead-banner__text">
        We take pride in offering specialist investment opportunities to private
        investors looking to generate sustainable growth. We manage risk,
        maintain integrity and ensure transparency on how your investments are
        managed.
      </span>

      <div class="lead-banner__btnbox mt-4">
        <a href="#" class="btn btn-primary imagepromo__btn">
          READ MORE
          <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
        </a>
        <a href="#" class="btn btn-white imagepromo__btn">
          SEE ALL GUIDANSE
          <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
