<div class="container page-promo">
    <div class="row">
        <!-- promo item -->
        <div class="col-lg-6">            
            <div class="page-promo__item">
                <a href="#" class="page-promo__image">
                    <img src="images\components\page-promo\gonz-ddl-a1Lm99Kkqtg-unsplash.png"
                        alt="Lorem Ipsum Dolor Sit" class="page-promo__img"></a>
                <div class="page-promo__content">
                    <a href="#">
                        <h2 class="page-promo__title">Lorem Ipsum Dolor Sit</h2>
                    </a>
                    <p class="page-promo__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    <a href="#" class="page-promo__link">Lorem ipsum dolor <i class="icon-arrow-right"></i></a>
                </div>
            </div>            
        </div>   
        <!-- promo item -->
        <div class="col-lg-6">            
            <div class="page-promo__item">
                <a href="#" class="page-promo__image">
                    <img src="images\components\page-promo\gonz-ddl-a1Lm99Kkqtg-unsplash.png"
                        alt="Lorem Ipsum Dolor Sit" class="page-promo__img"></a>
                <div class="page-promo__content">
                    <a href="#">
                        <h2 class="page-promo__title">Lorem Ipsum Dolor Sit</h2>
                    </a>
                    <p class="page-promo__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    <a href="#" class="page-promo__link">Lorem ipsum dolor <i class="icon-arrow-right"></i></a>
                </div>
            </div>            
        </div>
        <!-- promo item -->
        <div class="col-lg-6">            
            <div class="page-promo__item">
                <a href="#" class="page-promo__image">
                    <img src="images\components\page-promo\gonz-ddl-a1Lm99Kkqtg-unsplash.png"
                        alt="Lorem Ipsum Dolor Sit" class="page-promo__img"></a>
                <div class="page-promo__content">
                    <a href="#">
                        <h2 class="page-promo__title">Lorem Ipsum Dolor Sit</h2>
                    </a>
                    <p class="page-promo__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    <a href="#" class="page-promo__link">Lorem ipsum dolor <i class="icon-arrow-right"></i></a>
                </div>
            </div>            
        </div>
        <!-- promo item -->
        <div class="col-lg-6">            
            <div class="page-promo__item">
                <a href="#" class="page-promo__image">
                    <img src="images\components\page-promo\gonz-ddl-a1Lm99Kkqtg-unsplash.png"
                        alt="Lorem Ipsum Dolor Sit" class="page-promo__img"></a>
                <div class="page-promo__content">
                    <a href="#">
                        <h2 class="page-promo__title">Lorem Ipsum Dolor Sit</h2>
                    </a>
                    <p class="page-promo__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    <a href="#" class="page-promo__link">Lorem ipsum dolor <i class="icon-arrow-right"></i></a>
                </div>
            </div>            
        </div>
        <!-- promo item -->
        <div class="col-lg-6">            
            <div class="page-promo__item">
                <a href="#" class="page-promo__image">
                    <img src="images\components\page-promo\gonz-ddl-a1Lm99Kkqtg-unsplash.png"
                        alt="Lorem Ipsum Dolor Sit" class="page-promo__img"></a>
                <div class="page-promo__content">
                    <a href="#">
                        <h2 class="page-promo__title">Lorem Ipsum Dolor Sit</h2>
                    </a>
                    <p class="page-promo__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    <a href="#" class="page-promo__link">Lorem ipsum dolor <i class="icon-arrow-right"></i></a>
                </div>
            </div>            
        </div>
        <!-- promo item -->
        <div class="col-lg-6">            
            <div class="page-promo__item">
                <a href="#" class="page-promo__image">
                    <img src="images\components\page-promo\gonz-ddl-a1Lm99Kkqtg-unsplash.png"
                        alt="Lorem Ipsum Dolor Sit" class="page-promo__img"></a>
                <div class="page-promo__content">
                    <a href="#">
                        <h2 class="page-promo__title">Lorem Ipsum Dolor Sit</h2>
                    </a>
                    <p class="page-promo__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    <a href="#" class="page-promo__link">Lorem ipsum dolor <i class="icon-arrow-right"></i></a>
                </div>
            </div>            
        </div>     
    </div>
</div>