<div class="carousel-box">
    <div class="container">
        <div class="row">

             <!-- Swiper -->
                <div class="swiper-container-carousel carousel">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">


                        <img class="carousel__slideback" src="../images/components/banners/gallery.png" alt="">

                        <div class="carousel__slidefront">
                            <div class="article__slidehead">
                                <img class="article__writerphoto" src="../images/components/banners/writer.jpeg"  alt="">
                                <div class="article__writername">Marwan saleh</div>
                            </div>
                            <div class="article__slidebody">
    
                                <div class="article__slidetit">
                                Ongoing evolution of our Sustainable Investment themes
                                Ongoing evolution of our Sustainable Investment themes
    
                                </div>
    
                            </div>
                            
                           
                            <div class="carousel__slidefooter">
                                <span class="article__time">WATCH NOW</span>
                                <span class="accordion__vid accordion__vidicon"></span>    
                                <span class="accordion__vid accordion__vidicon-active"></span>      
                            </div>
    
                          
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel__slideback" src="../images/components/banners/vid2.jpg" alt="">

                        <div class="carousel__slidefront">
                            <div class="article__slidehead">
                                <img class="article__writerphoto" src="../images/components/banners/writer.jpeg"  alt="">
                                <div class="article__writername">Marwan saleh</div>
                            </div>
                            <div class="article__slidebody">
    
                                <div class="article__slidetit">
                                Ongoing evolution of our Sustainable Investment themes
                                Ongoing evolution of our Sustainable Investment themes
    
                                </div>
    
                            </div>
                            
                           
                            <div class="carousel__slidefooter">
                                <span class="article__time">WATCH NOW</span>
                                <span class="accordion__vid accordion__vidicon"></span>    
                                <span class="accordion__vid accordion__vidicon-active"></span>  
                            </div>
    
                          
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img class="carousel__slideback" src="../images/components/banners/vid3.jpg" alt="">

                        <div class="carousel__slidefront">
                            <div class="article__slidehead">
                                <img class="article__writerphoto" src="../images/components/banners/writer.jpeg"  alt="">
                                <div class="article__writername">Marwan saleh</div>
                            </div>
                            <div class="article__slidebody">
    
                                <div class="article__slidetit">
                                Ongoing evolution of our Sustainable Investment themes
                                Ongoing evolution of our Sustainable Investment themes
    
                                </div>
    
                            </div>
                            
                           
                            <div class="carousel__slidefooter">
                                <span class="article__time">WATCH NOW</span>
                                <span class="accordion__vid accordion__vidicon"></span>    
                                <span class="accordion__vid accordion__vidicon-active"></span>    
                            </div>
    
                          
                        </div>
                    </div>
        
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>

                        <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>
        
            </div>
      
        </div>
    </div>
</div>

