<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="lead-banner text-center">
            <h1 class="lead-banner__title">
                Fund Updates
            </h1>
            <div class="lead-banner__subtitle">
                Hayley Aronberg
            </div>
            <span class="lead-banner__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
                dolor sit amet lacus accumsan et viverra justo commodo.
            </span>
            <div class="lead-banner__btns">
                <a href="#" class="btn btn-primary">
                    Edit Preferences
                    <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
                </a>
            </div>
        </div>
    </div>
</div>