<div class="row">
  <div class="col-lg-6 col-xl-4">
    <div class="fund-manager">
      <a href="#" class="fund-manager__item">
        <div class="row">
          <div class="col-4 col-md-2 col-lg-6">
            <img
              src="images/components/fund-manager/roberts-david-2018-580x358.png"
              alt="manager-name"
              class="fund-manager__img"
            />
          </div>
          <div class="col-8 col-md-10 col-lg-6">
            <div class="fund-manager__content">
              <div class="fund-manager__title">David Roberts</div>
              <span class="fund-manager__text"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justo commodo.
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <div class="fund-manager">
      <a href="#" class="fund-manager__item">
        <div class="row">
          <div class="col-4 col-md-2 col-lg-6">
            <img
              src="images/components/fund-manager/ImageDetail_5102ba68-a8b8-4dac-92ef-ae21c1afe4c8_Medium.png"
              alt="manager-name"
              class="fund-manager__img"
            />
          </div>
          <div class="col-8 col-md-10 col-lg-6">
            <div class="fund-manager__content">
              <div class="fund-manager__title">Phil Milburn</div>
              <span class="fund-manager__text"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justo commodo.
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4">
    <div class="fund-manager">
      <a href="#" class="fund-manager__item">
        <div class="row">
          <div class="col-4 col-md-2 col-lg-6">
            <img
              src="images/components/fund-manager/PHILLIPS-Donald-Liontrust-2019-580x358.png"
              alt="manager-name"
              class="fund-manager__img"
            />
          </div>
          <div class="col-8 col-md-10 col-lg-6">
            <div class="fund-manager__content">
              <div class="fund-manager__title">Phil Milburn</div>
              <span class="fund-manager__text"
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                accumsan et viverra justo commodo.
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
