<div class="carousel-box">
    <div class="container">
        <div class="row">

            <div class="carousel" data-flickity='{ "wrapAround": true,"draggable": true,"prevNextButtons": true,
            "freeScroll": false, "selectedAttraction": 0.01,
            "friction": 0.15}'>
                <div class="carousel-cell">
                    <div class="carousel__slide">
                        <div class="carousel__slidefront">
                            <div class="article__slidehead">
                                <img class="article__writerphoto" src="../images/components/banners/writer.jpeg"  alt="">
                                <div class="article__writername">Marwan saleh</div>
                            </div>
                            <div class="article__slidebody">
    
                                <div class="article__slidetit">
                                Ongoing evolution of our Sustainable Investment themes
                                Ongoing evolution of our Sustainable Investment themes
    
                                </div>
    
                            </div>
                            
                           
                            <div class="carousel__slidefooter">
                                <span class="article__time">WATCH NOW</span>
                                <span class="carousel__vidicon"></span>    
                            </div>
    
                          
                        </div>
                        
                        
                        <img class="carousel__slideback" src="../images/components/banners/gallery.png" alt=""> 

                    </div>

                </div>
                <div class="carousel-cell">
                    <div class="carousel__slide">
                        <div class="carousel__slidefront">
                            <div class="article__slidehead">
                                <img class="article__writerphoto" src="../images/components/banners/writer.jpeg"  alt="">
                                <div class="article__writername">Marwan saleh</div>
                            </div>
                            <div class="article__slidebody">
    
                                <div class="article__slidetit">
                                Ongoing evolution of our Sustainable Investment themes
                                Ongoing evolution of our Sustainable Investment themes
    
                                </div>
    
                            </div>
                            
                           
                            <div class="carousel__slidefooter">
                                <span class="article__time">WATCH NOW</span>
                                <span class="carousel__vidicon"></span>    
                            </div>
    
                          
                        </div>
                        <img class="carousel__slideback" src="../images/components/banners/vid2.jpg" alt=""> 

                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carousel__slide">
                        <div class="carousel__slidefront">
                            <div class="article__slidehead">
                                <img class="article__writerphoto" src="../images/components/banners/writer.jpeg"  alt="">
                                <div class="article__writername">Marwan saleh</div>
                            </div>
                            <div class="article__slidebody">
    
                                <div class="article__slidetit">
                                Ongoing evolution of our Sustainable Investment themes
                                Ongoing evolution of our Sustainable Investment themes
    
                                </div>
    
                            </div>
                            
                           
                            <div class="carousel__slidefooter">
                                <span class="article__time">WATCH NOW</span>
                                <span class="carousel__vidicon"></span>    
                            </div>
    
                          
                        </div>
                        <img class="carousel__slideback" src="../images/components/banners/vid3.jpg" alt=""> 

                    </div>
                </div>
               
            </div>
        </div>
    </div>    
</div>
  

