<div class="awards">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="awards__box">

                    <div class="awards__head">
                            Awards and Ratings
                    </div>

                    <div class="awards__slider">

                        <!-- Swiper -->
                        <div class="swiper-container-awards">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide">
                                
                                    <div class="awards__slide">
                                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                                        <div class="awards__title txtlimit twoline">
                                            Professional Paraplanner Awards 2020 
                                        </div>

                                        <div class="awards__desc txtlimit twoline">
                                            Best Active Investment Solution Provider
                                        </div>

                                    </div>


                                    
                                </div>

                                <div class="swiper-slide">
                                
                                    <div class="awards__slide">
                                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                                        <div class="awards__title txtlimit twoline">
                                            Professional Paraplanner Awards 2020 
                                        </div>

                                        <div class="awards__desc txtlimit twoline">
                                            Best Active Investment Solution Provider
                                        </div>

                                    </div>


                                    
                                </div>

                                <div class="swiper-slide">
                                
                                    <div class="awards__slide">
                                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                                        <div class="awards__title txtlimit twoline">
                                            Professional Paraplanner Awards 2020 
                                        </div>

                                        <div class="awards__desc txtlimit twoline">
                                            Best Active Investment Solution Provider
                                        </div>

                                    </div>


                                    
                                </div>

                                <div class="swiper-slide">
                                
                                    <div class="awards__slide">
                                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                                        <div class="awards__title txtlimit twoline">
                                            Professional Paraplanner Awards 2020 
                                        </div>

                                        <div class="awards__desc txtlimit twoline">
                                            Best Active Investment Solution Provider
                                        </div>

                                    </div>


                                    
                                </div>

                                <div class="swiper-slide">
                                
                                    <div class="awards__slide">
                                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                                        <div class="awards__title txtlimit twoline">
                                            Professional Paraplanner Awards 2020 
                                        </div>

                                        <div class="awards__desc txtlimit twoline">
                                            Best Active Investment Solution Provider
                                        </div>

                                    </div>


                                    
                                </div>

                                <div class="swiper-slide">
                                
                                    <div class="awards__slide">
                                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                                        <div class="awards__title txtlimit twoline">
                                            Professional Paraplanner Awards 2020 
                                        </div>

                                        <div class="awards__desc txtlimit twoline">
                                            Best Active Investment Solution Provider
                                        </div>

                                    </div>


                                    
                                </div>

                                <div class="swiper-slide">
                                
                                    <div class="awards__slide">
                                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                                        <div class="awards__title txtlimit twoline">
                                            Professional Paraplanner Awards 2020 
                                        </div>

                                        <div class="awards__desc txtlimit twoline">
                                            Best Active Investment Solution Provider
                                        </div>

                                    </div>


                                    
                                </div>

                                <div class="swiper-slide">
                                
                                    <div class="awards__slide">
                                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                                        <div class="awards__title txtlimit twoline">
                                            Professional Paraplanner Awards 2020 
                                        </div>

                                        <div class="awards__desc txtlimit twoline">
                                            Best Active Investment Solution Provider
                                        </div>

                                    </div>


                                    
                                </div>



                            </div>

                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>