<div class="awards">
    <div class="container">
        <h3 class="text-center awards__heading">
            Awards and Ratings
        </h3>
        <div class="swiper-container-awards">
            <div class="swiper-wrapper">
                <!-- style="margin-left:-18%;" -->
                <div class="swiper-slide" >
                    <div class="awards__slide">
                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                        <span class="awards__title txtlimit twoline">
                            Professional Paraplanner Awards 2020
                        </span>
                        <span class="awards__desc txtlimit twoline">
                            Best Active Investment Solution Provider
                        </span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="awards__slide">
                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                        <span class="awards__title txtlimit twoline">
                            Professional Paraplanner Awards 2020
                        </span>
                        <span class="awards__desc txtlimit twoline">
                            Best Active Investment Solution Provider
                        </span>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="awards__slide">
                        <img class="awards__img" src="../images/components/banners/award.png" alt="">
                        <span class="awards__title txtlimit twoline">
                            Professional Paraplanner Awards 2020
                        </span>
                        <span class="awards__desc txtlimit twoline">
                            Best Active Investment Solution Provider
                        </span>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>