<div class="quote">
    <div class="container">
        <div class="row">
            <div class="quote__headbox">
                <div class="quote__head ">

                    “In our experience, companies that generate significant free cashflow after investments prove to be rewarding stock market purchases.“
                </div>
                <div class="quote__footer">
                    <span>|</span>
                    <span class="quote__writer"> David colony</span>

                </div>
            </div>
           
        </div>
    </div>

</div>