<section class="newsletter-wrapper">
  <div class="newsletter">
    <div class="row">
      <div class="col-12">
        <h2 class="newsletter__headbox">Subscribe to our newsletter</h2>
      </div>
      <div class="col-md-6 offset-md-3">
        <span class="newsletter__content">
          Hear from the The Global fixed income team in our weekly newsletter.
          Hear from the The Global fixed income team in our weekly newsletter.
        </span>
      </div>
      <div class="newsletter__btnbox">
        <a href="#" class="btn btn-anchor">
          SIGN UP
          <i class="icon-arrow-right animate-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</section>
