<div class="team-card">
    <h2 class="team-card__title">        
            <img src="images\components\fund-team-list\icon.svg" alt="Meet the team" class="team-card__icon">        
        The Cashflow Solution Team
    </h2>
    <div class="row">
        <div class="col-lg-5 order-1 order-lg-0">
            <div class="team-card__text">               
                <p>
                    <span class="font-500">James Inglis-Jones and Samantha Gleave</span> first worked together in 1998. James has previously managed money at Fleming Investment Management, JP Morgan Fleming and Polar Capital while Samantha formerly worked at Sutherlands Limited, Fleming Investment Management, Credit Suisse First Boston and Bank of America Merrill Lynch.
                </p>
            </div>
            <button class="btn btn-primary team-card__btn">
                Read more
                <i class="icon-arrow-right animate-arrow"></i>
            </button>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <img src="images\components\fund-team-list\brooke-cagle-g1Kr4Ozfoac-unsplash.png" alt="Meet the team" class="team-card__img">
        </div>
    </div>
</div>
<div class="team-card">
    <h2 class="team-card__title">        
            <img src="images\components\fund-team-list\icon.svg" alt="Meet the team" class="team-card__icon">        
        The Cashflow Solution Team
    </h2>
    <div class="row">
        <div class="col-lg-5 order-1 order-lg-0">
            <div class="team-card__text">               
                <p>
                    <span class="font-500">James Inglis-Jones and Samantha Gleave</span> first worked together in 1998. James has previously managed money at Fleming Investment Management, JP Morgan Fleming and Polar Capital while Samantha formerly worked at Sutherlands Limited, Fleming Investment Management, Credit Suisse First Boston and Bank of America Merrill Lynch.
                </p>
            </div>
            <button class="btn btn-primary team-card__btn">
                Read more
                <i class="icon-arrow-right animate-arrow"></i>
            </button>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <img src="images\components\fund-team-list\brooke-cagle-g1Kr4Ozfoac-unsplash.png" alt="Meet the team" class="team-card__img">
        </div>
    </div>
</div>
<div class="team-card">
    <h2 class="team-card__title">        
            <img src="images\components\fund-team-list\icon.svg" alt="Meet the team" class="team-card__icon">        
        The Cashflow Solution Team
    </h2>
    <div class="row">
        <div class="col-lg-5 order-1 order-lg-0">
            <div class="team-card__text">               
                <p>
                    <span class="font-500">James Inglis-Jones and Samantha Gleave</span> first worked together in 1998. James has previously managed money at Fleming Investment Management, JP Morgan Fleming and Polar Capital while Samantha formerly worked at Sutherlands Limited, Fleming Investment Management, Credit Suisse First Boston and Bank of America Merrill Lynch.
                </p>
            </div>
            <button class="btn btn-primary team-card__btn">
                Read more
                <i class="icon-arrow-right animate-arrow"></i>
            </button>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <img src="images\components\fund-team-list\brooke-cagle-g1Kr4Ozfoac-unsplash.png" alt="Meet the team" class="team-card__img">
        </div>
    </div>
</div>
<div class="team-card">
    <h2 class="team-card__title">        
            <img src="images\components\fund-team-list\icon.svg" alt="Meet the team" class="team-card__icon">        
        The Cashflow Solution Team
    </h2>
    <div class="row">
        <div class="col-lg-5 order-1 order-lg-0">
            <div class="team-card__text">               
                <p>
                    <span class="font-500">James Inglis-Jones and Samantha Gleave</span> first worked together in 1998. James has previously managed money at Fleming Investment Management, JP Morgan Fleming and Polar Capital while Samantha formerly worked at Sutherlands Limited, Fleming Investment Management, Credit Suisse First Boston and Bank of America Merrill Lynch.
                </p>
            </div>
            <button class="btn btn-primary team-card__btn">
                Read more
                <i class="icon-arrow-right animate-arrow"></i>
            </button>
        </div>
        <div class="col-lg-6 offset-lg-1">
            <img src="images\components\fund-team-list\brooke-cagle-g1Kr4Ozfoac-unsplash.png" alt="Meet the team" class="team-card__img">
        </div>
    </div>
</div>
