<!--#set var="article-promo-author-name" value="text-gold" -->
<section class="article">
  <div class="article__box">
    <div class="container">
      <div class="row">
        <div class="article__head">
          <h2> Latest insight from our fund managers</h2>
          <a href="#" class="btn btn-secondary-nav article__btn">
            SEE MORE INSIGHT
            <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- Swiper -->
    <div class="container-left-gutter">
      <div class="swiper-container-article">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
        </div>
      </div>
      <a href="#" class="btn btn-secondary-nav btn-resp">
        SEE MORE INSIGHT
        <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
      </a>
    </div>
  </div>
</section>