
<div class="article">
    <div class="container">
        <div class="row">
            <div class="article__box">
                <div class="article__head">
                    <h2> Latest insight from our fund managers</h2>
                    <a href="#" class="btn btn-primary-forward imagepromo__btn">
                        <div class="fullwidthbanner__morebox">
                            SEE MORE INSIGHT 
                            <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>

                        </div>
                    </a>
                </div>

                <div class="article__slider-box">

                  <div class="article__slider-scroll">
                    <div class="article__slide">
                      <img class="article__slideback" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
                      <div class="article__slidefront">
                        <div class="article__slidehead">
                          <img class="article__writerphoto" src="" alt="">
                          <div class="article__writername"></div>
                        </div>
                        <div class="article__slidebody">

                          <div class="article__slidetit">
                            Ongoing evolution of our Sustainable Investment themes
                          </div>
                          <div class="article__slidedesc">
                            The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
                          </div>


                        </div>
                        <div class="article__slidefooter">

                        </div>

                      </div>
                  

                    </div>

                    <div class="article__slide">
                      <img class="article__slideback" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
                      <div class="article__slidefront">
                        <div class="article__slidehead">
                          <img class="article__writerphoto" src="" alt="">
                          <div class="article__writername"></div>
                        </div>
                        <div class="article__slidebody">

                          <div class="article__slidetit">
                            Ongoing evolution of our Sustainable Investment themes
                          </div>
                          <div class="article__slidedesc">
                            The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
                          </div>


                        </div>
                        <div class="article__slidefooter">

                        </div>

                      </div>
                  

                    </div>

                    <div class="article__slide">
                      <img class="article__slideback" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
                      <div class="article__slidefront">
                        <div class="article__slidehead">
                          <img class="article__writerphoto" src="" alt="">
                          <div class="article__writername"></div>
                        </div>
                        <div class="article__slidebody">

                          <div class="article__slidetit">
                            Ongoing evolution of our Sustainable Investment themes
                          </div>
                          <div class="article__slidedesc">
                            The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
                          </div>


                        </div>
                        <div class="article__slidefooter">

                        </div>

                      </div>
                  

                    </div>

                    <div class="article__slide">
                      <img class="article__slideback" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
                      <div class="article__slidefront">
                        <div class="article__slidehead">
                          <img class="article__writerphoto" src="" alt="">
                          <div class="article__writername"></div>
                        </div>
                        <div class="article__slidebody">

                          <div class="article__slidetit">
                            Ongoing evolution of our Sustainable Investment themes
                          </div>
                          <div class="article__slidedesc">
                            The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
                          </div>


                        </div>
                        <div class="article__slidefooter">

                        </div>

                      </div>
                  

                    </div>

                    <div class="article__slide">
                      <img class="article__slideback" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
                      <div class="article__slidefront">
                        <div class="article__slidehead">
                          <img class="article__writerphoto" src="" alt="">
                          <div class="article__writername"></div>
                        </div>
                        <div class="article__slidebody">

                          <div class="article__slidetit">
                            Ongoing evolution of our Sustainable Investment themes
                          </div>
                          <div class="article__slidedesc">
                            The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
                          </div>


                        </div>
                        <div class="article__slidefooter">

                        </div>

                      </div>
                  

                    </div>

                    <div class="article__slide">
                      <img class="article__slideback" src="../images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
                      <div class="article__slidefront">
                        <div class="article__slidehead">
                          <img class="article__writerphoto" src="" alt="">
                          <div class="article__writername"></div>
                        </div>
                        <div class="article__slidebody">

                          <div class="article__slidetit">
                            Ongoing evolution of our Sustainable Investment themes
                          </div>
                          <div class="article__slidedesc">
                            The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
                          </div>


                        </div>
                        <div class="article__slidefooter">

                        </div>

                      </div>
                  

                    </div>
                  </div>

                 
                
                   
                   
                </div>
              
            </div>
        </div>
    </div>
</div>

