<!--#set var="article-promo-author-name" value="text-gold" -->
<section class="article">
  <div class="article__box">
    <div class="container">
      <div class="article__head">
        <h2>Latest insight from our fund managers</h2>
        <a
          href="#"
          class="btn btn-black article__btn d-none d-lg-block ml-1"
        >
          SEE MORE INSIGHT
          <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
        </a>
      </div>
    </div>
    <!-- Swiper -->
    <div class="container">
      <div class="swiper-container-article">
        <div class="swiper-wrapper row">
          <div class="swiper-slide col-md-6 col-lg-4">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide col-md-6 col-lg-4">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide col-md-6 col-lg-4">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide col-md-6 col-lg-4">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide col-md-6 col-lg-4">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide col-md-6 col-lg-4">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
          <div class="swiper-slide col-md-6 col-lg-4">
            <!--#include virtual="/components/reusables/Article-promo.html" -->
          </div>
        </div>
      </div>
      <a href="#" class="btn btn-black d-lg-none">
        SEE MORE INSIGHT
        <i class="icon-arrow-right imagepromo__arrow animate-arrow"></i>
      </a>
    </div>
  </div>
</section>
