.f-forms 
    input[type=url],
    input[type=date],
    input[type=password],
    input[type=number],
    input[type=tel],
    input[type=text],
    input[type=email] 
        display: block
        background: $c-white 
        width: 100% 
        border: none
        border-bottom: 1px solid $c-silver-chalice
        max-width: 500px
        height: 35px

        &.focus, &:focus, &:active
            outline: none
            cursor: pointer
            border-bottom: 1px solid $c-orange  
            transition: all 200ms ease 

            & + .f-forms__element--status
                display: none !important
