.f-forms 

    &__element 
        display: block
        width: calc(100% - 30px)
        padding: 15px 0
        position: relative 
        transition: all 200ms ease

        &.hidden 
            display: none


        .f-forms__label,
        label  
            display: block
            margin-bottom: 0px
            position: relative
            left: 0
            font-family: $f-calibri
            font-size: 12px
            font-weight: 500
    
    button
        cursor: pointer
        &:disabled 
            opacity: 0.7
            cursor: not-allowed 
            background: $c-silver-chalice
            border: 1px solid $c-silver-chalice
            box-shadow: none
            &:hover 
                background: $c-silver-chalice
                border: 1px solid $c-silver-chalice
                box-shadow: none
                

    &__actual
        &.hidden
            display: none
    
    &__notice
        display: none
        &.success
            display: block

button.u-strip 
	background: none
	color: inherit
	border: none
	padding: 0
	font: inherit
	cursor: pointer
	outline: inherit