.f-forms 

    &__element 
        display: block
        width: 100%
        padding: 15px 0
        position: relative 
        transition: all 200ms ease

        &.hidden 
            display: none


        .f-forms__label,
        label  
            display: block
            margin-bottom: 0px
            position: relative
            left: 0
            font-family: $f-calibri
            font-size: 12px
            font-weight: 500
    
    button
        cursor: pointer