.f-forms 
    .f-forms__select 

        display: inline-block
        position: relative
        width: 100%

        .select-arrow 
            position: absolute
            padding: 11px
            font-size: 8px
            right: 0px
            bottom: 5px
            z-index: 1
            pointer-events: none 
            transition: all 200ms ease
            color: $c-silver-chalice
            &.focus
               color: $c-orange
               
    
        select 
            display: block
            width: 100% 
            border: none
            border-bottom: 1px solid $c-silver-chalice
            font-size: 14px
            font-weight: 500
            appearance: none 
            height: 35px
            padding-right: 45px
            border-radius: 0px

            option 
                @include my(2)
                cursor: pointer
            &:invalid 
                border-bottom: 1px solid $c-orange

            &.focus, &:focus, &:active 
                outline: none
                cursor: pointer
                border-bottom: 1px solid $c-orange  
                transition: all 200ms ease
                & ~ .select-arrow 
                    color: $c-orange  

            &.selected 

            