.f-forms 
    &__select 
        display: block
        position: relative 
 
    
        select 
            cursor: pointer
            appearance: none
            width: 100%
            background: none 
            font-size: 16px
            @include py(2)
            @include mt(3)
            display: block 
            border: none
            border-radius: 0
            border-bottom: 1px solid $c-silver-chalice
            font-weight: 500
             
            &:focus
                outline: none
                border-bottom: 1px solid $c-orange

            option 
                @include my(2)
                cursor: pointer
            &:invalid 
                border-bottom: 1px solid $c-orange

            &.focus, &:focus, &:active 
                outline: none
                cursor: pointer
                border-bottom: 1px solid $c-orange  
                transition: all 200ms ease
                & ~ .select-arrow 
                    color: $c-orange  
        .select-arrow
            background: transparent
            right: 5px
            bottom: 14px 
            position: absolute 
            display: block
            font-family: $f-icomoon
            @extend .icon-chevron
            font-style: normal
            font-size: 10px
            color: $c-silver-chalice 
        select
            appearance: none
            &:focus
                border-bottom: 1px solid $c-orange
                & ~ .select-arrow 
                    color: $c-orange
       

            