.f-forms 
    &__textarea 
        
        position: relative

        textarea 
            @include mt(3)
            min-height: 200px
            max-height: 400px
            width: calc(100% - 12px)
            resize: none
            @include p(2)
            line-height: 24px
            font-size: 16px
            font-weight: 400 
            white-space: break-spaces
            text-decoration: none !important
            outline:none
            border: 1px solid $c-silver-chalice
            &:focus,
            &:active 
                border: 1px solid $c-orange
                outline: none
                & + .f-forms__textarea--chars 
                    opacity: 1


        &--chars 
            opacity: 0
            float: right
            font-style: normal
            color: $c-scorpion