 
$hl-color: $c-gray
$muted-color: $c-black
$trans-time: 300ms
$width: 100%

.f-forms--sitecore
    .input-btn
        @include mt(3)
        input
            cursor: pointer
            
    .input-group
        position: relative
        @include mt(5)
        input, textarea, select
            background: none 
            font-size: 16px
            padding: 10px 0px 10px 0px
            display: block
            width: $width
            border: none
            border-radius: 0
            border-bottom: 1px solid $c-silver-chalice
            margin-bottom: 20px 
            &:focus
                outline: none
                border-bottom: 1px solid $c-orange

            // &:focus ~ label,
            // &:valid ~ label
            //     top: -14px
            //     font-size: 12px
            //     color: $hl-color

            &:focus ~ .bar:before
                width: $width
        
        .select-arrow
            background: transparent
            right: 1px
            top: 14px 
            position: absolute 
            display: block
            font-family: $f-icomoon
            @extend .icon-chevron
            font-style: normal
            font-size: 10px
            color: $c-silver-chalice 
        select
            appearance: none
            &:focus
                border-bottom: 1px solid $c-orange
                & ~ .select-arrow 
                    color: $c-orange

        textarea
            border: 1px solid $c-silver-chalice
            resize: none 
            height: 200px
            font-size: 16px
            width: calc(100% - 16px)
            @include p(2)
            &::placeholder
                color: inherit
                font-size: 12px
            &:focus
                border: 1px solid $c-orange
                
        
        label
            color: $c-scorpion
            font-size: 12px
            font-weight: normal
            position: absolute
            pointer-events: none
            // left: 15px
            top: -15px
            transition: $trans-time ease all
        .text-danger
            color: $c-orange
            display: block
        .bar
            position: relative
            display: none
            width: $width
        // &:before
        //     content: ''
        //     height: 2px
        //     width: 0
        //     bottom: 0px
        //     position: absolute
        //     background: $c-orange
        //     transition: $trans-time ease all
        //     left: 0%
        
    .fxt-captcha
        color: $c-orange
        @include my(2)