@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Contact.Models.IContactUsCard
@if (Model != null)
{
    var titleColor = Model.TitleColor != null && !string.IsNullOrEmpty(Model.TitleColor.Value) ? Model.TitleColor.Value : "text-black";

    <section class="container contact-section">
        <h2 class="h2 contact-section__title @titleColor">@Html.Glass().Editable(Model, m => m.Title)</h2>
        <div class="row">
            @if (Model.ContactCards != null && Model.ContactCards.Any())
            {
                foreach (var contactCard in Model.ContactCards)
                {
                    @Html.Partial("~/Views/Contact/_ContactCard.cshtml", contactCard)
                }
            }
        </div>
    </section>
}
else if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    @: Add datasource for Contact Us Card component
}