<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor patch:before="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
                      type="LionTrust.Foundation.SitecoreExtensions.Pipelines.HttpRequestBegin.InvalidUrlProcessor, LionTrust.Foundation.SitecoreExtensions">
				</processor>
				<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                      type="LionTrust.Foundation.SitecoreExtensions.Pipelines.HttpRequestBegin.ItemNotFoundProcessor, LionTrust.Foundation.SitecoreExtensions">
				</processor>
			</httpRequestBegin>
			<httpRequestEnd>
				<processor patch:after="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"
					  type="LionTrust.Foundation.SitecoreExtensions.Pipelines.HttpRequestEnd.ItemNotFoundRequestHeader, LionTrust.Foundation.SitecoreExtensions"  />
			</httpRequestEnd>
			<mvc.renderRendering>
				<processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.EnterRenderingContext, Sitecore.Mvc']" type="LionTrust.Foundation.SitecoreExtensions.Pipelines.RenderRendering.ClearInvalidDatasource, LionTrust.Foundation.SitecoreExtensions" />
			</mvc.renderRendering>
			<publish>
				<processor patch:before="*[@type='Sitecore.Publishing.Pipelines.Publish.OverridePublishContext, Sitecore.Kernel']"
                      type="LionTrust.Foundation.SitecoreExtensions.Pipelines.Publish.OverridePublishSiteContext, LionTrust.Foundation.SitecoreExtensions">
				</processor>
			</publish>
		</pipelines>
	</sitecore>
</configuration>