<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor patch:before="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']"
                      type="LionTrust.Foundation.SitecoreExtensions.Pipelines.HttpRequestBegin.InvalidUrlProcessor, LionTrust.Foundation.SitecoreExtensions">
				</processor>
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>