<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configuration
					  name="Foundation.SitecoreForms.SendEmail"
					  description="Liontrust Sitecore Forms configurations"
					  dependencies="Foundation.*"
					  patch:after="configuration[@name='Foundation.Serialization']"
					  extends="Helix.Feature.Base">
				<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
				<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\SendEmail" />
				<predicate>
					<include name="$(layer).$(module).SendEmailEditor" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/Send Email">
					</include>
					<include name="$(layer).$(module).SendEmailAction" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Send Email">
					</include>
				</predicate>
			</configuration>

		</unicorn>
	</sitecore>
</configuration>