<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration
						  name="Foundation.SitecoreForms.SendEmail"
						  description="Liontrust Sitecore Forms configurations"
						  dependencies="Foundation.Serialization"
						  patch:after="configuration[@name='Foundation.Serialization']"
						  extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\SendEmail" />
					<predicate>
						<include name="$(layer).$(module).LionTrust.SendEmailEditor" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions/Send Email" />
						<include name="$(layer).$(module).LionTrust.SendEmailAction" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/Send Email" />
					</predicate>
				</configuration>
				<configuration
				  name="Foundation.SitecoreForms"
				  description="Foundation SitecoreForms"
				  dependencies="Foundation.Serialization"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
				  <predicate>
					<include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)"  />
					<include name="$(layer).$(module).Branches" database="master" path="/sitecore/templates/branches/$(layer)/$(module)" />
					<include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
				  </predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>