@mixin navlink-behaviour()
    &.active
        color: $gold
        position: relative
        @include breakpoint(desktop, up)
            &:after
                content: ""
                position: absolute
                right: -34px
                bottom: 0
                height: 100%
                width: 2px
                background: $gold
    &:hover
        color: $gold
        
