@{
    HtmlString labelValue = this.ViewData.ContainsKey("LabelValue") && this.ViewData["LabelValue"] != null ? new HtmlString(this.ViewData["LabelValue"].ToString()) : new HtmlString("");
    string fieldValue = this.ViewData.ContainsKey("FieldValue") && this.ViewData["FieldValue"] != null ? this.ViewData["FieldValue"].ToString() : string.Empty;
    string tooltipValue = this.ViewData.ContainsKey("TooltipValue") && this.ViewData["TooltipValue"] != null ? this.ViewData["TooltipValue"].ToString() : string.Empty;
}
<div class="card__row">
    <div class="card__item-left">
        @labelValue
        @if (!string.IsNullOrEmpty(fieldValue) && !string.IsNullOrEmpty(tooltipValue))
        {
            <span class="d-inline-flex" data-toggle="tooltip" data-placement="right"
                  title="@tooltipValue">
                <i class="icon-follow text-gold"></i>
            </span>
        }
    </div>
    <div class="card__item-right">
        @fieldValue
    </div>
</div>
