@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Fund.CapitalisationChart.ICapitalisationChart
@if ((Model == null || Model.Children == null || !Model.Children.Any()) && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}

<div class="table-section">
    <h3 class="table-section__title table-section__title_credit-sec">
        @Html.Glass().Editable(m => m.Heading)
    </h3>
    <div class="chart-table chart-table-capitalisation">
        <!-- set values for char in data attribute -->
        <canvas class="capitalisation-chart" width="400" height="400" data-chart='@Model.JsonDataObject'></canvas>
        <div class="capitalisation-legend"></div>
    </div>
</div>
