@using Sitecore.Mvc
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            @Html.Sitecore().Placeholder("fundoverview_leftcolumn")
        </div>
        <div class="col-lg-5 offset-lg-1">
            @Html.Sitecore().Placeholder("fundoverview_rightcolumn")
        </div>
    </div>
</div>