@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Mvc 
@model LionTrust.Feature.Fund.Models.IGraphSection
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<section class="container graph-section">
    <div class="row">
        <div class="col-12">
            <h2 class="h2">@Html.Glass().Editable(m => m.Heading)</h2>
        </div>
    </div>
    <div class="row">
        @Html.Sitecore().Placeholder("fund-graphs")
    </div>
</section>

