<section class="key-document">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h3 class="h3 text-center">
                    Key Documents
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
                <div class="key-document__link-block">
                    <a href="#" class="key-document__link"><i class="icon-file"></i>Download Factsheet A1</a>
                    <a href="#" class="key-document__link"><i class="icon-file"></i>Download Factsheet A3</a>
                    <a href="#" class="key-document__link"><i class="icon-file"></i>Download Factsheet A8</a>
                </div>
                <div class="text-center key-document__button">
                    <a href="#" class="btn btn-primary-forward">
                        View all documents <i class="icon-arrow-right animate-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>