// IMPORT VARIABLES
@import 'variables'
@import './functions/mix-max'
@import './mixins/breakpoints'
@import './mixins/navlink'
@import './functions/gutters-bootsrap'

// IMPORT BOOTSTRAP STYLES
@import 'node_modules/bootstrap/scss/bootstrap-reboot' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/bootstrap-grid' // Bootstrap Grid
@import 'node_modules/bootstrap/scss/modal' // Bootstrap Grid

// FONTS LOAD SECTION
@import './mixins/fonts'
@include font('futura-pt', normal, 300, '../fonts/futura/futura-pt-regular-300.woff2')
@include font('futura-pt', normal, 400, '../fonts/futura/futura-pt-regular.woff2')
@include font('futura-pt', normal, 500, '../fonts/futura/futura-pt-regular-500.woff2')
@include font('futura-pt', italic, 400, '../fonts/futura/futura-pt-regular-italic.woff2')
@include font('futura-pt', normal, 700, '../fonts/futura/futura-pt-bold.woff2')
@include font('futura-pt', italic, 700, '../fonts/futura/futura-pt-bold-italic.woff2')
@include font('futura-pt-bold', normal, 700, '../fonts/futura/futura-pt-bold-bold.woff2')
@include font('futura-pt-bold', italic, 700, '../fonts/futura/futura-pt-bold-bold-italic.woff2')

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $primary
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden

ul
	list-style-type: none
	padding: 0
	margin: 0

a
	color: $white
	transition: color .3s ease-in
	text-decoration: none
	&:hover
		color: $white

.link-styles
	font-size: 12px
	font-weight: 500
	text-transform: uppercase
	letter-spacing: 2.4px
	color: $primary
	line-height: 17px
	i
		font-size: 10px
