// IMPORT VARIABLES
@import 'variables'
@import './mixins/breakpoints'

// IMPORT SECTION
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Bootstrap Grid
@import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Bootstrap Utilites

// FONTS LOAD SECTION
@import './mixins/fonts'
@include font('futura-pt', normal, 300, '../fonts/futura-pt-regular-300.woff2')
@include font('futura-pt', normal, 400, '../fonts/futura-pt-regular.woff2')
@include font('futura-pt', normal, 500, '../fonts/futura-pt-regular-500.woff2')
@include font('futura-pt', italic, 400, '../fonts/futura-pt-regular-italic.woff2')
@include font('futura-pt', normal, 700, '../fonts/futura-pt-bold.woff2')
@include font('futura-pt', italic, 700, '../fonts/futura-pt-bold-italic.woff2')
@include font('futura-pt-bold', normal, 700, '../fonts/futura-pt-bold-bold.woff2')
@include font('futura-pt-bold', italic, 700, '../fonts/futura-pt-bold-bold-italic.woff2')


// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $primary
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $userfont
	font-size: $fontsize
	line-height: $lineheight
	color: $textcolor
	min-width: 320px
	position: relative
	overflow-x: hidden
