// USER VARIABLES SECTION

// COLORS
$primary: #10A047 // Accent Color
$black: #000000
$secondary: #20242B
$secondary-gray: #414855
$secondary-silver: #E9EDF0
$gold: #C0A961
$green: #006B72
$blue: #0097AC
$red: #B13122
$orange: #E77B05
$brown: #877945
$headingcolor: $gold
$white: #ffffff
$primary-forward: #00a339
$blue-bold: #083274C7
$gray: #9D9D9D


// FONT STYLES
$fontsize: 16px // Body Font Size
$textcolor: $white // Text Color
$lineheight: 1.4 // Document Line Height
$userfont: futura-pt, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

$breakpoints: (mobile: 0, mobile-large: 480, tablet: 768, desktop: 992, desktop-large: 1440)

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 32px
$gutter: $grid-gutter-width

// $grid-gutter-widths: (xs: 16px, sm: 16px, md: 20px, lg: 20px, lx: 32px)
$grid-gutter-widths: (mobile: 16px, desktop: 20px, desktop-large: 32px)

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1440px)

$text-colors:  (primary: $primary, black: $black, white: $white, gold: $gold)

// Spinner
$spinner-width: 80px
$spinner-height: 80px
$spinner-border-width: 3px
$spinner-width-sm: 15px
$spinner-height-sm: 15px
$spinner-border-width-sm: 1px

$border-radius: .62rem