// USER VARIABLES SECTION

$primary: #10A047 // Accent Color
$headingcolor: #C0A961
$fontsize: 16px // Body Font Size
$textcolor: #333 // Text Color
$lineheight: 1.4 // Document Line Height
$userfont: futura-pt, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// colors
$white: #ffffff

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 32px
$gutter: $grid-gutter-width
