// USER VARIABLES SECTION

// COLORS
$primary: #10A047 // Accent Color
$black: #000000
$secondary: #20242B
$secondary-gray: #414855
$secondary-silver: #E9EDF0
$gold: #C0A961
$green: #006B72
$blue: #0097AC
$red: #B13122
$orange: #E77B05
$brown: #877945
$headingcolor: $gold
$white: #ffffff

// FONT STYLES
$fontsize: 16px // Body Font Size
$textcolor: #333 // Text Color
$lineheight: 1.4 // Document Line Height
$userfont: futura-pt, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

$breakpoints: (mobile: 0, mobile-large: 480, tablet: 768, desktop: 1024, desktop-large: 1440)

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 32px
$gutter: $grid-gutter-width
