<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="LionTrust.Feature.Fund.FeApiEndPoint" value="https://staging-datafeeds.feprecisionplus.com" />
			<setting name="IndividualFundCachingDuration" value="1" />
			<!-- Add comma ',' between currencies -->
			<setting name="InvalidCurrencies" value="JPY" />
		</settings>
	</sitecore>
</configuration>