<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration
				  name="Feature.Fund"
				  description="Feature Fund"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
					<predicate>
						<include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
						<include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
						<include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />
						<include name="$(layer).$(module).CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/$(layer)/$(module)" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>