<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration
				  name="Feature.Text"
				  description="Feature Text"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
					<predicate>
						<include name="Feature.Text.MediaLibrary" database="master" path="/sitecore/media library/Feature/Text" />
						<include name="Feature.Text.Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature/Text" />
						<include name="Feature.Text.RichText" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Feature/Text" />
						<include name="Feature.Text.Templates" database="master" path="/sitecore/templates/Feature/Text" />
						<include name="Feature.Text.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Text" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>