/node_modules/
/.git/
/**/Thumbs.db
/**/*.DS_Store
/**/package-lock.json
/**/debug.log
/app/css/**.css
/app/css/styles.min.css
/app/js/*.min.js
/EIT/css/**.css
/EIT/css/styles.min.css
/EIT/js/*.min.js
/dist/