<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <contentSearch>
		  <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
			  <indexes>
				  <index id="liontrust_article_web_index">
					  <configuration>
						  <documentOptions>
							  <include hint="list:AddIncludedTemplate">
								  <ProjectArticle>{FF806C71-A9C1-499C-9F52-F1F2884A8D93}</ProjectArticle>
							  </include>
						  </documentOptions>
					  </configuration>
				  </index>
				  <index id="liontrust_article_master_index">
					  <configuration>
						  <documentOptions>
							  <include hint="list:AddIncludedTemplate">
								  <ProjectArticle>{FF806C71-A9C1-499C-9F52-F1F2884A8D93}</ProjectArticle>
							  </include>
						  </documentOptions>
					  </configuration>
				  </index>
			  </indexes>
		  </configuration>
	  </contentSearch>
  </sitecore>
</configuration>
