<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration
				name="Project.LionTrust.Container"
				description="LionTrust site content"
				dependencies="Foundation.*,Feature.*,Project.Common"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Container" />
					<predicate>
						<include name="$(layer).$(module).Container" database="master" path="/sitecore/content/LionTrustNew">
							<exclude children="true" />
						</include>
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.Content.Configuration"
				description="LionTrust site content"
				dependencies="Project.LionTrust.Container"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Configuration" />
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<predicate>
						<include name="$(layer).$(module).Site" database="master" path="/sitecore/content/LionTrustNew/Home">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).PageSettings" database="master" path="/sitecore/content/LionTrustNew/Page Settings">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).Global" database="master" path="/sitecore/content/LionTrustNew/Global">
							<exclude children="true" />
						</include>
					</predicate>
				</configuration>


				<configuration
				name="Project.LionTrust.Content.Settings"
				description="LionTrust site content"
				dependencies="Project.LionTrust.Content.Configuration"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Settings" />
					<predicate>
						<include name="$(layer).$(module).Settings" database="master" path="/sitecore/content/LionTrustNew/Settings" />
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.Content.Global"
				description="LionTrust site content"
				dependencies="Project.LionTrust.Content.Configuration"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Global" />
					<predicate>
						<include name="$(layer).$(module).Authors" database="master" path="/sitecore/content/LionTrustNew/Global/Authors">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).Awards" database="master" path="/sitecore/content/LionTrustNew/Global/Awards">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FundClasses" database="master" path="/sitecore/content/LionTrustNew/Global/Fund classes">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).BlogType" database="master" path="/sitecore/content/LionTrustNew/Global/Blog Type">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).DictionaryItems" database="master" path="/sitecore/content/LionTrustNew/Global/Dictionary Items">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).DocumentTypes" database="master" path="/sitecore/content/LionTrustNew/Global/Document Types">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FundRisk" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Risk">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).HeroItems" database="master" path="/sitecore/content/LionTrustNew/Global/Hero Items">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).NewsletterPromos" database="master" path="/sitecore/content/LionTrustNew/Global/Newsletter Promos">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).PromoType" database="master" path="/sitecore/content/LionTrustNew/Global/Promo Type">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).Redirect" database="master" path="/sitecore/content/LionTrustNew/Global/Redirect Items">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).Topics" database="master" path="/sitecore/content/LionTrustNew/Global/Topics">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FundRegions" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Regions">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).MonthFacets" database="master" path="/sitecore/content/LionTrustNew/Global/Month Facets">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).YearFacets" database="master" path="/sitecore/content/LionTrustNew/Global/Year Facets">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).OnboardingConfiguration" database="master" path="/sitecore/content/LionTrustNew/Global/Onboarding Configuration">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FundRanges" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Ranges">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FundLiterature" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Literature">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).GenericTextModules" database="master" path="/sitecore/content/LionTrustNew/Global/Generic Text Modules">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FreeTextModules" database="master" path="/sitecore/content/LionTrustNew/Global/Free Text Modules">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).MyPreferences" database="master" path="/sitecore/content/LionTrustNew/Global/My Preferences">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FundCentre" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Centre">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FundAccess" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Access">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).ArticleScroller" database="master" path="/sitecore/content/LionTrustNew/Global/BC016-ArticleScroller">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).HowToInvestBanner" database="master" path="/sitecore/content/LionTrustNew/Global/BC002-HowToInvestBanner">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).ContactCard" database="master" path="/sitecore/content/LionTrustNew/Global/BC034-ContactCard">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).PodcastPromo" database="master" path="/sitecore/content/LionTrustNew/Global/UI005-PodcastPromo">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).Video" database="master" path="/sitecore/content/LionTrustNew/Global/UI009-Video">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).QuickLinkCTA" database="master" path="/sitecore/content/LionTrustNew/Global/UI010-QuickLinkCTA">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).QuickLinks" database="master" path="/sitecore/content/LionTrustNew/Global/UI010-QuickLinks">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).FundManagerComponent" database="master" path="/sitecore/content/LionTrustNew/Global/UI016-FundManagerComponent">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).ImageCTAPromo" database="master" path="/sitecore/content/LionTrustNew/Global/UI018-ImageCTAPromo">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).NewsletterPromo" database="master" path="/sitecore/content/LionTrustNew/Global/UI023-NewsletterPromo">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).BannerPromo" database="master" path="/sitecore/content/LionTrustNew/Global/I007-BannerPromo">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).ArticleHeaders" database="master" path="/sitecore/content/LionTrustNew/Global/BC011 - Article Headers">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).Funds" database="master" path="/sitecore/content/LionTrustNew/Global/Funds">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).Sharing" database="master" path="/sitecore/content/LionTrustNew/Global/Sharing">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).Tooltips" database="master" path="/sitecore/content/LionTrustNew/Global/Tooltips">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).MultipleAuthorsSettings" database="master" path="/sitecore/content/LionTrustNew/Global/Multiple Authors Settings">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).LeadBanner" database="master" path="/sitecore/content/LionTrustNew/Global/UI014-LeadBanner">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
						<include name="$(layer).$(module).AnchorLinks" database="master" path="/sitecore/content/LionTrustNew/Global/UI002-AnchorLinks">
							<exclude>
								<patch:delete />
							</exclude>
						</include>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>