<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration
				  name="Project.LionTrust"
				  description="LionTrust site content"
				  dependencies="Foundation.*,Feature.*,Project.Common"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Core" />
					<predicate>
						<include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
						<include name="$(layer).$(module).Templates.Branches" database="master" path="/sitecore/templates/branches/$(layer)/$(module)" />
						<include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
						<include name="$(layer).$(module).PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/$(layer)/$(module)" />
						<include name="$(layer).$(module).Layouts" database="master" path="/sitecore/layout/layouts/$(layer)/$(module)" />
						<include name="$(layer).$(module).Models" database="master" path="/sitecore/layout/models/$(layer)/$(module)" />
						<include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/$(layer)/$(module)"/>
					</predicate>
					<roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\$(layer).$(module).Roles" singleInstance="true"/>
					<rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
						<include domain="LionTrust" pattern="^Project LionTrust .*$" />
					</rolePredicate>
					<userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\$(layer).$(module).Users" singleInstance="true"/>
					<userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
						<include domain="LionTrust" pattern="^((?!Anonymous).)*$" />
					</userPredicate>
				</configuration>
				<configuration
			  name="Project.LionTrust.Marketing"
			  description="Marketing control panel content"
			  dependencies="Foundation.*"
			  patch:after="configuration[@name='Foundation.Serialization']"
			  extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Marketing" />
					<predicate>
						<include name="$(layer).$(module).Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/LionTrust"/>
						<include name="$(layer).$(module).Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/LionTrust"/>
						<include name="$(layer).$(module).Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/LionTrust"/>
					</predicate>
				</configuration>
				<configuration
		  name="Project.LionTrust.Search.Content"
		  description="Feature Search"
		  dependencies="Foundation.*"
		  patch:after="configuration[@name='Foundation.Serialization']"
		  extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Container" />
					<predicate>
						<include name="Project.LionTrust.Search.Content" database="master" path="/sitecore/content/LionTrustNew/Global/Search Configuration" />
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.Container"
				description="LionTrust site content"
				dependencies="Foundation.*,Feature.*,Project.Common"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Container" />
					<predicate>
						<include name="$(layer).$(module).Container" database="master" path="/sitecore/content/LionTrustNew">
							<exclude children="true" />
						</include>
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.Onboarding"
				description="Liontrust onboarding"
				dependencies="Foundation.*,Feature.*,Project.Common"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Onboarding" />
					<predicate>
						<include name="$(layer).$(module).Onboarding" database="master" path="/sitecore/content/LionTrustNew/Global/Onboarding Configuration" />
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.Salesforce"
				description="Liontrust salesforce"
				dependencies="Foundation.*,Feature.*,Project.Common"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Salesforce" />
					<predicate>
						<include name="$(layer).$(module).Salesforce" database="master" path="/sitecore/content/LionTrustNew/Global/SalesforceData" />
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.MyPreferences"
				description="Liontrust MyPreferences"
				dependencies="Foundation.*,Feature.*,Project.Common"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\MyPreferences" />
					<predicate>
						<include name="$(layer).$(module).MyPreferences" database="master" path="/sitecore/content/LionTrustNew/Global/My Preferences" />
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.Forms"
				description="LionTrust site Forms"
				dependencies="Foundation.*,Feature.*,Project.Common"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Forms" />
					<predicate>
						<include name="$(layer).$(module).Forms" database="master" path="/sitecore/Forms">
						</include>
						<include name="$(layer).$(module).FormsEmailTemplates" database="master" path="/sitecore/content/LionTrustNew/Global/SitecoreFormsSaveActionEmailTemplates">
						</include>
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.Content.Configuration"
				description="LionTrust site content"
				dependencies="Project.LionTrust.Container"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Configuration" />
					<predicate>
						<include name="$(layer).$(module).Site" database="master" path="/sitecore/content/LionTrustNew/Home">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).PageSettings" database="master" path="/sitecore/content/LionTrustNew/Page Settings">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).Global" database="master" path="/sitecore/content/LionTrustNew/Global">
							<exclude children="true" />
						</include>
					</predicate>
				</configuration>
				<configuration
		name="Project.LionTrust.Content.Settings"
		description="LionTrust site content"
		dependencies="Project.LionTrust.Content.Configuration"
		patch:after="configuration[@name='Foundation.Serialization']"
		extends="Helix.Feature.Base">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Settings" />
					<predicate>
						<include name="$(layer).$(module).Settings" database="master" path="/sitecore/content/LionTrustNew/Settings" />
					</predicate>
				</configuration>
				<configuration
				name="Project.LionTrust.Content.Global"
				description="LionTrust site content"
				dependencies="Project.LionTrust.Content.Configuration"
				patch:after="configuration[@name='Foundation.Serialization']"
				extends="Helix.Feature.Base">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Global" />
					<predicate>
						<include name="$(layer).$(module).ArticleScroller" database="master" path="/sitecore/content/LionTrustNew/Global/Article Scroller">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).Authors" database="master" path="/sitecore/content/LionTrustNew/Global/Authors">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).Awards" database="master" path="/sitecore/content/LionTrustNew/Global/Awards">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).BlogType" database="master" path="/sitecore/content/LionTrustNew/Global/Blog Type">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).DictionaryItems" database="master" path="/sitecore/content/LionTrustNew/Global/Dictionary Items">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).DocumentTypes" database="master" path="/sitecore/content/LionTrustNew/Global/Document Types">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).FundClasses" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Classes">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).FundRisk" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Risk">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).HeroItems" database="master" path="/sitecore/content/LionTrustNew/Global/Hero Items">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).NewsletterPromos" database="master" path="/sitecore/content/LionTrustNew/Global/Newsletter Promos">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).PromoType" database="master" path="/sitecore/content/LionTrustNew/Global/Promo Type">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).QuickLinks" database="master" path="/sitecore/content/LionTrustNew/Global/Quick Links">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).Redirect" database="master" path="/sitecore/content/LionTrustNew/Global/Redirect Items">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).Topics" database="master" path="/sitecore/content/LionTrustNew/Global/Topics">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).MonthFacets" database="master" path="/sitecore/content/LionTrustNew/Global/Month Facets">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).YearFacets" database="master" path="/sitecore/content/LionTrustNew/Global/Year Facets">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).FundRegions" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Regions">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).FundRanges" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Ranges">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).FundLiterature" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Literature">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).GenericTextModules" database="master" path="/sitecore/content/LionTrustNew/Global/Generic Text Modules">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).FreeTextModules" database="master" path="/sitecore/content/LionTrustNew/Global/Free Text Modules">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).FundCentre" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Centre">
							<exclude children="true" />
						</include>
						<include name="$(layer).$(module).FundAccess" database="master" path="/sitecore/content/LionTrustNew/Global/Fund Access">
							<exclude children="true" />
						</include>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>