@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Listings.Models.AccordionViewModel
<div class="accordion-section">
    <div class="container">
        <div id="accordionFlushExample" class="accordion">
            <div class="card accordion-section__card">
                <div class="card-header accordion-section__header">
                    <div class="card-link accordion-section__link collapsed"
                         data-bs-toggle="collapse"
                         data-bs-target="#flush-collapseOne"
                         aria-expanded="false"
                         aria-controls="flush-collapseOne">
                        Collapsible Group Item #1
                        <i class="icon-plus accordion-section__plus"></i>
                        <i class="icon-minus accordion-section__minus"></i>
                    </div>
                </div>
                <div id="flush-collapseOne" class="collapse show"
                     aria-labelledby="flush-headingOne"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-section__body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </div>
                    <div class="accordion-section__smartcard">
                        <img class="accordion-section__smartimg" src="../images/components/banners/vid2.jpg" alt="">
                        <span class="accordion-section__vid accordion-section__vidicon"></span>
                        <span class="accordion-section__vid accordion-section__vidicon-active"></span>
                    </div>
                </div>
            </div>
            <div class="card accordion-section__card">
                <div class="card-header accordion-section__header">
                    <div class="collapsed card-link accordion-section__link"
                         data-bs-toggle="collapse"
                         data-bs-target="#flush-collapseTwo"
                         aria-expanded="false"
                         aria-controls="flush-collapseTwo">
                        Collapsible Group Item #2
                        <i class="icon-plus accordion-section__plus"></i>
                        <i class="icon-minus accordion-section__minus"></i>
                    </div>
                </div>
                <div id="flush-collapseTwo" class="collapse"
                     aria-labelledby="flush-headingTwo"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-section__body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </div>
                    <div class="accordion-section__smartcard">
                        <img class="accordion-section__smartimg" src="../images/components/banners/vid3.jpg" alt="">
                        <span class="accordion-section__vid accordion-section__vidicon"></span>
                        <span class="accordion-section__vid accordion-section__vidicon-active"></span>
                    </div>
                </div>
            </div>
            <div class="card accordion-section__card">
                <div class="card-header accordion-section__header">
                    <div class="card-link accordion-section__link collapsed"
                         data-bs-toggle="collapse"
                         data-bs-target="#flush-collapseThree"
                         aria-expanded="false"
                         aria-controls="flush-collapseThree">
                        Collapsible Group Item #3
                        <i class="icon-plus accordion-section__plus"></i>
                        <i class="icon-minus accordion-section__minus"></i>
                    </div>
                </div>
                <div id="flush-collapseThree" class="collapse"
                     aria-labelledby="flush-headingThree"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-section__body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </div>
                    <div class="accordion-section__smartcard">
                        <img class="accordion-section__smartimg" src="../images/components/banners/vid2.jpg" alt="">
                        <span class="accordion-section__vid accordion-section__vidicon"></span>
                        <span class="accordion-section__vid accordion-section__vidicon-active"></span>
                    </div>
                </div>
            </div>
            <div class="card accordion-section__card">
                <div class="card-header accordion-section__header">
                    <div class="collapsed card-link accordion-section__link"
                         data-bs-toggle="collapse"
                         data-bs-target="#flush-collapseFour"
                         aria-expanded="false"
                         aria-controls="flush-collapseFour">
                        Collapsible Group Item #2
                        <i class="icon-plus accordion-section__plus"></i>
                        <i class="icon-minus accordion-section__minus"></i>
                    </div>
                </div>
                <div id="flush-collapseFour" class="collapse"
                     aria-labelledby="flush-headingFour"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-section__body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </div>
                    <div class="accordion-section__smartcard">
                        <img class="accordion-section__smartimg" src="../images/components/banners/vid3.jpg" alt="">
                        <span class="accordion-section__vid accordion-section__vidicon"></span>
                        <span class="accordion-section__vid accordion-section__vidicon-active"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>