<section class="container">
    <div class="row py-4 py-lg-5 text-black justify-content-lg-center">
        <div class="col-lg-10 offset-lg-1">
            @Html.Sitecore().Placeholder("directors-list")
        </div>
    </div>
</section>