@using System.Collections.Specialized
@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Foundation.SitecoreExtensions.Extensions
@model LionTrust.Feature.Listings.Models.DirectorsListViewModel
<section class="container">
    <h2 class="h2 mb-4 pt-3">@Html.Glass().Editable(Model.Data, m => m.Title)</h2>
    <div class="row">
        @if (Model.Data.DirectorsList != null && Model.Data.DirectorsList.Any())
        {
            foreach (var director in Model.Data.DirectorsList)
            {
                using (Html.Glass().BeginEditFrame("/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Listings/DirectorsList", director.Id.ToString(), "Edit director"))
                {
                    <div class="col-lg-6">
                        <div class="fund-manager fund-manager-director director-card">
                            <div class="fund-manager__item director-card__columns">
                                <div class="director-card__img-col">
                                    @Html.Glass().RenderImage(director, d => d.Image, new NameValueCollection { { "class", "fund-manager__img" } }, isEditable: true)                                    
                                </div>
                                <div class="director-card__details-col">
                                    <div class="director-card__details-title">
                                        @Html.Glass().Editable(director, d => d.FullName)
                                    </div>
                                    <div class="director-card__description">
                                        @Html.Glass().Editable(director, d => d.ShortBio)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>