@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Listings.Models.AccordionViewModel
<div class="accordion-section">
    <div class="container">
        <div id="accordionFlushExample" class="accordion">
            <h2>Please add some accordion items</h2>
        </div>
    </div>
</div>