<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration
				  name="Feature.Navigation"
				  description="Feature Navigation"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
					<predicate>
						<include name="Feature.Navigation.ExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature/Navigation" />
						<include name="Feature.Navigation.EditFrames" database="core" path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Feature/Navigation" />
						<include name="Feature.Navigation.Templates" database="master" path="/sitecore/templates/Feature/Navigation" />
						<include name="Feature.Navigation.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Navigation" />
						<include name="Feature.Navigation.Branches" database="master" path="/sitecore/templates/Branches/Feature/Navigation" />
						<include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>