<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration
				  name="Feature.LeadBanner"
				  description="Feature Lead Banner"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
					<predicate>
						<include name="Feature.LeadBanner.Settings" database="master" path="/sitecore/system/Settings/Feature/LeadBanner" />						
						<include name="Feature.LeadBanner.MediaLibrary" database="master" path="/sitecore/media library/Feature/LeadBanner" />
						<include name="Feature.LeadBanner.Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature/LeadBanner" />
						<include name="Feature.LeadBanner.Templates" database="master" path="/sitecore/templates/Feature/LeadBanner" />
						<include name="Feature.LeadBanner.Renderings" database="master" path="/sitecore/layout/renderings/Feature/LeadBanner" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>