<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration
				  name="Feature.LeadBanner"
				  description="Feature Lead Banner"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base.WithTransparentSync">
					<predicate>						
						<include name="Feature.LeadBanner.Templates" database="master" path="/sitecore/templates/Feature/LeadBanner" />
						<include name="Feature.LeadBanner.Renderings" database="master" path="/sitecore/layout/renderings/Feature/LeadBanner" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>