.u-edge
	.e-button
		display: block 
		text-transform: uppercase
		text-align: center 
		@include px(4)
		@include py(2)
		line-height: 1.6
		font-size: 14px
		letter-spacing: 1.6px
		text-decoration: none
		transition: all 150ms ease-out
		white-space: pre
		@include md
			font-size: 14px
		&__primary
			background: $c-orange
			color: $c-white
			border: 2px solid $c-orange 
			position: relative
			&::before 
				content: ""
				position: absolute
				display: block
				width: 100%
				height: 2px
				bottom: 0px
				left: 0
				background-color: $c-white
				transform: scaleX(0)
				opacity: 0
				transition: all 200ms ease-out
			&:hover, &:active, &.active
				&::before
					opacity: 1
					transform: scaleX(1)

		&__secondary
			border: 2px solid $c-orange
			background: transparent
			color: $c-orange
			position: relative
			&::before 
				content: ""
				position: absolute
				display: block
				width: 100%
				height: 2px
				bottom: 0px
				left: 0
				background-color: $c-orange
				transform: scaleX(0)
				opacity: 0
				transition: all 200ms ease-out
			&:hover, &:active, &.active
				&::before
					opacity: 1
					transform: scaleX(1)
			
				
		&__container
			display: flex
			flex-direction: column
			row-gap: 30px
			column-gap: 30px
			justify-content: left 
			flex-wrap: wrap
			@include sm
				flex-direction: row 
			&.center
				justify-content: center 