.e-blockquote
    @include mt(0)
    @include mb(5)
    @include mx(0)
    @include px(4)
    @include py(3)
    font-weight: 300
    font-size: 20px
    line-height: 30px
    border-top: 1px solid $c-orange
    border-bottom: 1px solid $c-orange
    background: $c-athens-gray