@model LionTrust.Feature.Search.SiteSearch.ISiteSearch
<div class="search-filter">
    <label>
        <input v-model="allResults"
               type="checkbox"
               class="search-filter__checkbox"
               name="filter" />
        <span class="btn search-filter__btn">@Model.ViewAllFilterText</span>
    </label>
    <label v-for="(label, i) in labels" @@click="labelClick">
        <input type="checkbox"
               v-model="label.checked"
               class="search-filter__checkbox"
               name="filter" />
        <span class="btn search-filter__btn"> {{label.title}} </span>
    </label>
</div>
