@model LionTrust.Feature.Search.SearchOverlay.ISearchOverlay
@if (!Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="search-overlay">
        <div class="container">
            <div class="search-overlay__close"><i class="icon-close search-overlay__icon-close"></i></div>
            <div class="search-overlay__serch-content">
                <form class="search-form" action="search-page.html" autocomplete="off">
                    <input type="text" name="queryText" class="search-form__input" placeholder="@Model.Placeholdertext">
                    <button class="search-form__submit" type="submit">
                        <i class="icon-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
}