<section class="u-edge c-promo-block--x4">
    <div class="u-container">
        <div class="grid" data-grid="wide middle">
            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">  
                <img src="images/content/ImageGrid@2x.png" alt="Image description" loading="lazy" />
            </div>
            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">
                <h2>How to invest</h2> 
                    
                <p>You are in experienced hands. Headed by James de Uphaugh and Chris Field, the 16-strong Liontrust Global fundamental team has a strong track record of active management of equities for investors since 2002. Edinburgh Investment Trust has been looking after savers since 1889.</p>
 
                <div class="c-promo-block__cta">
                    <div class="e-button__container">
                        <a href="#" class="e-button e-button__primary" tabindex="50">Learn more</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
