<section class="u-edge">
    <div class="u-container"> 
        <h2>Lists</h2>
        <p><i>
            Dev notes: 
        </i></p>
        <p><i>
            All variations retain their styles regardless of generic <code>.c-copy-block</code> parent class wrappers. 
        </i></p>

        <p><i>
            Headings require parent class <code>.c-copy-block</code> for branding.
        </i></p>
            
     

        <h3>.e-list-block</h3>  
        <!--#include virtual="../elements/EE003__List_Block.html" --> 
        <h3>.e-list-block > .e-list-block</h3>
        <ul class="e-list-block">
            <li>We invest in growth and value companies as well as those able to recover through management change, business transformation and an improving business environment. The profile of the portfolio depends on the managers’ assessment of individual companies and reading of the economic and market environment. </li>
            <li>This multi-style and flexible process is designed to reduce the volatility of returns through the economic and market cycle.
                <!--#include virtual="../elements/EE003__List_Block.html" --> 
            </li>
        </ul>  
     
        <h3>.e-list-tick</h3>
        <!--#include virtual="../elements/EE003__List_Tick.html" -->
        <h3>.e-list-circle</h3>
        <!--#include virtual="../elements/EE003__List_Circle.html" -->
        <h3>.e-list-bullet</h3>
        <!--#include virtual="../elements/EE003__List_Bullet.html" -->

        <h3>.e-list-bullet > e.list-tick</h3>
        <ul class="e-list-bullet">
            <li>item 1</li>
            <li>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities.</li>
            <li>item 3</li>
            <li>item 4
                
                <!--#include virtual="../elements/EE003__List_Tick.html" -->
            </li>
            <li>item 5</li>

        </ul>
        
        
        <h3>.e-list-circle > e.list-tick</h3>
        <ul class="e-list-circle">
            <li>item 1</li>
            <li>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities.</li>
            <li>item 3</li>
            <li>item 4
                <!--#include virtual="../elements/EE003__List_Tick.html" -->
            </li>
            <li>item 5</li>

        </ul>
    </div>
</section>
