<section class="u-edge c-promo-author">
    <div class="u-container">
        <div class="grid" data-grid="middle narrow">
            <div class="grid__item" data-grid="5/12" data-grid--small="3/12">  
                <img itemprop="image" src="images/team/headshots/JamesdeUphaugh.png" alt="James de Uphaugh" />
            </div>
            <div class="grid__item" data-grid="7/12" data-grid--small="9/12">
                <cite>James de Uphaugh</cite>

                <p>James de Uphaugh joined Liontrust in April 2022 as part of the acquisition of Majedie Asset Management where he was Chief Investment Officer and Fund Manager.</p>

                <p><a href="#">View Profile  <i class="icon-arrow-right"></i></a></p>
            </div>
        </div>
    </div> 
</section>
    