<section class="u-edge c-content-block">
    <div class="u-container md">
    
        <h1>Title if needed</h1> 
            
        <p>You are in experienced hands. Headed by James de Uphaugh and Chris Field, the 16-strong Liontrust Global fundamental team has a strong track record of active management of equities for investors since 2002. Edinburgh Investment Trust has been looking after savers since 1889. The Trust is appropriate for investors of all ages, whether you are looking for long-term growth for yourself, your children or wanting an income in retirement.</p>

        <p><img src="images/Image1@2x.png" alt="Image description" class="c-promo-block__featured-image" loading="lazy" /></p>
         
    </div>
</section>
 
<section class="u-edge c-content-block">
    <div class="u-container sm">
    
        <h1>Title if needed</h1> 
            
        <p>You are in experienced hands. Headed by James de Uphaugh and Chris Field, the 16-strong Liontrust Global fundamental team has a strong track record of active management of equities for investors since 2002. Edinburgh Investment Trust has been looking after savers since 1889. The Trust is appropriate for investors of all ages, whether you are looking for long-term growth for yourself, your children or wanting an income in retirement.</p>

        <p><img src="images/Image1@2x.png" alt="Image description" class="c-promo-block__featured-image" loading="lazy" /></p>
         
    </div>
</section>
