<section class="u-edge c-promo-block--x4">
    <div class="u-container">
        <div class="grid" data-grid="wide middle">
            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">  
                <img src="images/content/ImageGrid@2x.png" alt="Image description" loading="lazy" />
            </div>
            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">
                <h2>How to invest</h2> 
                    
                <p>You can invest in Edinburgh through discretionary wealth managers, independent financial advisers and via a large number of execution-only trading platforms.</p>
 
                <div class="c-promo-block__cta">
                    <div class="e-button__container">
                        <a href="#" class="e-button e-button__primary" tabindex="50">Learn more</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
