<!-- Example 1 -->
<section class="u-edge c-content-block">
    <div class="u-container">

        <div class="grid" data-grid="normal"> 
            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12"> 
                <p class="bold">We take a thoughtful and common-sense approach to using different investment styles, with relative weightings to growth, value and recovery companies evolving with the market environment. We have a long-term and responsible process to investing the vast majority of the Trust in UK-listed companies. The portfolio managers engage with the 40 to 50 companies in the Trust to ensure best practice and to mitigate ESG (environmental, social and governance) risks. </p>
                    
                <p>You are in experienced hands. Headed by James de Uphaugh and Chris Field, the 16-strong Liontrust Global fundamental team has a strong track record of active management of equities for investors since 2002. Edinburgh Investment Trust has been looking after savers since 1889. The Trust is appropriate for investors of all ages, whether you are looking for long-term growth for yourself, your children or wanting an income in retirement.</p>
                <div class="c-content-block__cta">
                    <a href="http://www.liontrust.co.uk" target="_blank" title="LionTrust Web site - Opens in a new browser tab"><img src="images/lt-logo.png" alt="LionTrust - Logo" loading="lazy" class="c-content-block__cta--liontrust-logo"/>
                    </a>
                </div> 
                
            </div>

            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">        
                <img src="images/Image1@2x.png" alt="Image description" class="hide-lg" loading="lazy" />
            </div>

        </div>
    </div>
</section>
