<section class="u-edge c-copy-block">
    <div class="u-container sm">
        <h2 class="center">Why invest with us?</h2> 
            
            <ul class="e-list-block">
                <li>Our goal is to grow your capital and dividend payments regardless of economic and market conditions through a flexible investment process that is thoughtful and responsible.</li>
                <li>The Trust currently has a dividend yield of 4.2% and a dividend reserve of 1.2 years. The latter means we can maintain the dividend for just over a year without any of the companies we invest in making payments. </li>
                <li>We invest in growth and value companies as well as those able to recover through management change, business transformation and an improving business environment. The profile of the portfolio depends on the managers’ assessment of individual companies and reading of the economic and market environment. </li>
                <li>This multi-style and flexible process is designed to reduce the volatility of returns through the economic and market cycle.</li>
            </ul> 
        
    </div>
</section>

<section class="u-edge c-copy-block">
    <div class="u-container">
        <h2>Why invest with us?</h2> 
        <p>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions. Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions.</p>
        
    </div>
</section>


<section class="u-edge c-copy-block">
    <div class="u-container md">
        <h2>Why invest with us?</h2> 
        <p>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions. Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions.</p>
 
    </div>
</section>

<section class="u-edge ">
    <div class="u-container">
        <h2>Why invest with us?</h2> 
        <p>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions. Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions.</p>
        <ul class="e-list-brand">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4
                <ul>
                    <li>item 4a</li>
                    <li>item 4b</li>
                    <li>item 4c</li>
                </ul>
            </li>
            <li>item 5</li>

        </ul>
        <ul class="e-list-default">
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
            <li>item 4
                <ul>
                    <li>item 4a</li>
                    <li>item 4b</li>
                    <li>item 4c</li>
                </ul>
            </li>
            <li>item 5</li>

        </ul>
    </div>
</section>
