<section class="u-edge u-edge--shade c-awards f-slick f-slick-awards-master">
    <div class="u-container"> 
        <h2 class="center">Awards & Ratings</h2> 
        
        <div class="f-slick-awards">
            <div>
                
                    <figure> 
                        <a href="#" target="new" title="https://www.google.com">
                        <img src="https://via.placeholder.com/210/f5834c" alt="Icon - Morningstar sustainability" />
                        <figcaption>
                            This is a link to https://www.google.com
                        
                            <span>rating: 1</span>
                        </figcaption>
                        </a>
                    <figure>    
                
            </div>  
            <div>
                <figure> 
                    <img src="https://via.placeholder.com/160/f5834c" alt="Icon - Morningstar sustainability" />
                    <figcaption>
                        Morningstar sustainability
                    
                        <span>rating: 2</span>
                    </figcaption>
                <figure>      
            </div>  
            <div>
                <figure> 
                    <img src="https://via.placeholder.com/160/f5834c" alt="Icon - Morningstar sustainability" />
                    <figcaption>
                        Morningstar sustainability Morningstar sustainability
                        Morningstar sustainability
                        <span>rating: 3</span>
                    </figcaption>
                <figure>      
            </div>  
            <div>
                <figure> 
                    <img src="https://via.placeholder.com/160/f5834c" alt="Icon - Morningstar sustainability" />
                    <figcaption>
                        Morningstar sustainability
                    
                        <span>rating: 4</span>
                    </figcaption>
                <figure>      
            </div>  
        </div>  

        <div class="f-slick-awards__controls">
            <a href="#" class="f-slick-awards__controls--prev"><i class="icon-chevron-left"></i></a>
            <div class="f-slick-awards__controls--dots"></div>
            <a href="#" class="f-slick-awards__controls--next"><i class="icon-chevron-right"></i></a>
        </div>
    </div>
</section> 
 