<section class="u-edge c-copy-block">
    <div class="u-container sm">
        <h2 class="center">Why invest with us?</h2> 
            
        <!--#include virtual="../elements/EE003__List_Block.html" --> 
        
    </div>
</section>

<section class="u-edge c-copy-block">
    <div class="u-container">
        <h2>Why invest with us?</h2> 
        <p>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions. Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions.</p>
        
    </div>
</section>


<section class="u-edge c-copy-block">
    <div class="u-container md">
        <h2>Why invest with us?</h2> 
        <p>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions. Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions.</p>
 
    </div>
</section>

<section class="u-edge ">
    <div class="u-container">
        <h2>Why invest with us?</h2> 
        <p>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions. Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions.</p>

        <h3>.e-list-tick</h3>
        <!--#include virtual="../elements/EE003__List_Tick.html" -->
        <h3>.e-list-circle</h3>
        <!--#include virtual="../elements/EE003__List_Circle.html" -->
        <h3>.e-list-bullet</h3>
        <!--#include virtual="../elements/EE003__List_Bullet.html" -->

        <h3>.e-list-bullet > e.list-tick</h3>
        <ul class="e-list-bullet">
            <li>item 1</li>
            <li>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities.</li>
            <li>item 3</li>
            <li>item 4
                
                <!--#include virtual="../elements/EE003__List_Tick.html" -->
            </li>
            <li>item 5</li>

        </ul>
        
        
        <h3>.e-list-circle > e.list-tick</h3>
        <ul class="e-list-circle">
            <li>item 1</li>
            <li>Edinburgh Investment Trust plc, which was launched in 1889, offers a high-conviction portfolio of UK equities.</li>
            <li>item 3</li>
            <li>item 4
                <!--#include virtual="../elements/EE003__List_Tick.html" -->
            </li>
            <li>item 5</li>

        </ul>
    </div>
</section>
