<!-- Example 1 -->
<article class="u-edge c-content-block">
    <div class="u-container">

        <div class="grid" data-grid="wide backwards"><!-- append "backwards" class to reverse -->
            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">
                <h1>Title if needed</h1>
                <p class="bold">We take a thoughtful and common-sense approach to using different investment styles, with relative weightings to growth, value and recovery companies evolving with the market environment. We have a long-term and responsible process to investing the vast majority of the Trust in UK-listed companies. The portfolio managers engage with the 40 to 50 companies in the Trust to ensure best practice and to mitigate ESG (environmental, social and governance) risks. </p>
                    
                <p>You are in experienced hands. Headed by James de Uphaugh and Chris Field, the 16-strong Liontrust Global fundamental team has a strong track record of active management of equities for investors since 2002. Edinburgh Investment Trust has been looking after savers since 1889. The Trust is appropriate for investors of all ages, whether you are looking for long-term growth for yourself, your children or wanting an income in retirement.</p>
                <div class="c-promo-block__cta">
                    <a href="http://www.liontrust.co.uk" target="_blank" title="LionTrust Web site - Opens in a new browser tab"><img src="images/lt-logo.png" alt="LionTrust - Logo" loading="lazy" class="c-promo-block__cta--liontrust-logo"/>
                    </a>
                </div>
                <div class="c-promo-block__cta">
                    <div class="e-button__container">
                        <a href="#" class="e-button e-button__primary" tabindex="50">Learn more</a>
                        <a href="#" class="e-button e-button__secondary" tabindex="51">View the Portoflio</a>
                    </div>
                </div>
                
            </div>

            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">        
                <img src="images/Image1@2x.png" alt="Image description" class="c-promo-block__featured-image" loading="lazy" />
            </div>

        </div>
    </div>
</article>

<!-- Example 2 -->
<article class="u-edge c-content-block">
    <div class="u-container">

        <div class="grid" data-grid="wide">

            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">
                <h1>James de Uphaugh</h1>
                <p>James de Uphaugh is Head of the Liontrust Global Fundamental team. James joined Liontrust in April 2022 as part of the acquisition of Majedie Asset Management, where he was Chairman and Chief Investment Officer and responsible for co-managing the UK Equity Fund and managing the Edinburgh Investment Trust. Before co-founding Majedie in 2002, James had been a Managing Director at Mercury Asset Management (subsequently acquired by Merrill Lynch, now BlackRock) from 1988, where he was also Chairman of the UK Investment Group and Alpha Team Leader. James holds a Master of Arts degree in Economics from Jesus College, Cambridge. He holds the ASIP qualification and is an Associate Member of the CFA Society of the UK.</p>
          
                <div class="c-promo-block__cta">
                    <a class="c-promo-block__cta--linkedin" href="http://www.linkedin.com" target="_blank" title="LinkedIn Web site - Opens in a new browser tab">
                        <i></i>
                        <span>View LinkedIn Profile</span>
                    </a>
                </div>
            </div>


            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">        
                <img src="images/team/JamesdeUphaugh@2x.png" alt="James de Uphaugh" class="" loading="lazy" />
            </div>
        </div>
    </div>
</article>
