<aside class="u-edge c-promo-block-x4">
    <div class="u-container">
        <div class="grid" data-grid="wide middle"><!-- append class "backwards" to reverse col order -->
            <div class="grid__item" data-grid="12/12" data-grid--small="5/12 push--1/12">  
               
                <div class="grid" data-grid="narrow">
                    <div class="grid__item" data-grid="6/12">  
                        <div class="imagepromo__imageboxchild">
                            <img class="imagepromo__image-bg"
                              src="https://cm-liontrust-uat.sagittarius.agency/-/media/liontrust/images/site-sections/homepage/archive/showcase-panels/other-and-generic/company-takeovers.jpg?h=214&w=380&la=en&hash=415ADB4E57D091DA67AE527C85FA0289" alt="" />
                            <img class="imagepromo__image-sm"
                              src="https://cm-liontrust-uat.sagittarius.agency/-/media/liontrust/images/misc/general/christin-hume-hcfwew744z4-unsplash.png?h=188&w=334&la=en&hash=BD0C7E4901F7F6E774FFF8F6429E5837" alt="" />
                        </div>
                    </div>
                    <div class="grid__item" data-grid="6/12"> 
                        <div class="imagepromo__imageboxchild">
                            <img class="imagepromo__image-sm"
                              src="https://cm-liontrust-uat.sagittarius.agency/-/media/liontrust/images/modules/page-promo-lister/diversity-350x200.jpg?h=201&w=350&la=en&hash=DAC711443A5601C4BF6742234D73F086" alt="" />
                            <img class="imagepromo__image-bg"
                              src="https://cm-liontrust-uat.sagittarius.agency/-/media/liontrust/images/site-sections/our-funds/transfer-to-liontrust-700x700.jpg?h=700&w=700&la=en&hash=7DB8AA7DD90240753A487E5731F3D176" alt="" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid__item" data-grid="12/12" data-grid--small="5/12">
                <h2>How to invest</h2> 
                    
                <p>You can invest in Edinburgh through discretionary wealth managers, independent financial advisers and via a large number of execution-only trading platforms.</p>
 
                <div class="c-promo-block__cta">
                    <div class="e-button__container">
                        <a href="#" class="e-button e-button__primary">Primary</a> 
                        <a href="#" class="e-button e-button__secondary">Secondary</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
