
<!-- Example 2 -->
<article class="u-edge c-content-block">
    <div class="u-container">

        <div class="grid" data-grid="wide">

            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">
                <h1>James de Uphaugh</h1>
                <p>James de Uphaugh is Head of the Liontrust Global Fundamental team. James joined Liontrust in April 2022 as part of the acquisition of Majedie Asset Management, where he was Chairman and Chief Investment Officer and responsible for co-managing the UK Equity Fund and managing the Edinburgh Investment Trust. Before co-founding Majedie in 2002, James had been a Managing Director at Mercury Asset Management (subsequently acquired by Merrill Lynch, now BlackRock) from 1988, where he was also Chairman of the UK Investment Group and Alpha Team Leader. James holds a Master of Arts degree in Economics from Jesus College, Cambridge. He holds the ASIP qualification and is an Associate Member of the CFA Society of the UK.</p>
          
                <div class="c-content-block__cta">
                    <a class="c-content-block__cta--linkedin" href="http://www.linkedin.com" target="_blank" title="LinkedIn Web site - Opens in a new browser tab">
                        <i></i>
                        <span>View LinkedIn Profile</span>
                    </a>
                </div>
            </div>


            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">        
                <img src="images/team/JamesdeUphaugh@2x.png" alt="James de Uphaugh" class="" loading="lazy" />
            </div>
        </div>
    </div>
</article>
