<article class="u-edge c-copy-block">
    <div class="u-container">
        
        <h2>Long term approach</h2>
        <p class="bold"><b>We take a thoughtful and common-sense approach to using different investment styles, with relative weightings to growth, value and recovery companies evolving with the market environment. We have a long-term and responsible process to investing the vast majority of the Trust in UK-listed companies.</b></p>
        <p>We take a thoughtful and common-sense approach to using different investment styles, with relative weightings to growth, value and recovery companies evolving with the market environment. We have a long-term and responsible process to investing the vast majority of the Trust in UK-listed companies. The portfolio managers engage with the 40 to 50 companies in the Trust to ensure best practice and to mitigate ESG (environmental, social and governance) risks.</p>

        <div class="e-list-block">
            <h2>Why Invest In Us?</h2>
            <ul>
                <li>Our goal is to grow your capital and dividend payments regardless of economic and market conditions through a flexible investment process that is thoughtful and responsible.</li>
                <li>The Trust currently has a dividend yield of 4.2% and a dividend reserve of 1.2 years. The latter means we can maintain the dividend for just over a year without any of the companies we invest in making payments. </li>
                <li>We invest in growth and value companies as well as those able to recover through management change, business transformation and an improving business environment. The profile of the portfolio depends on the managers’ assessment of individual companies and reading of the economic and market environment. </li>
                <li>This multi-style and flexible process is designed to reduce the volatility of returns through the economic and market cycle.</li>
            </ul>
        </div>
        
    </div>
</article>
