<aside class="u-edge c-social zero-margin u-orbs">
    <div class="u-container md">
        <div class="c-content">
            <h2>Follow Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            
            <nav>
                <a href="#" title="LinkedIn website, Opens in a new window">
                    <img
                        src="images/svg-icons/linked-in.svg"
                        alt="LinkedIn Icon"
                    />    
                    LinkedIn
                </a> 
            </nav>
        </div>
    </div> 
</aside>
