<div class="g-table-master">
    <h2>Discrete Performance (%) </h2>
    <table class="performance-table">
        <thead>
            <tr>
                <th  class="sticky-heading">To previous quarter 12 months ending:</th>
                <th>Dec 20</th>
                <th>Dec 19</th>
                <th>Dec 18</th>
                <th>Dec 17</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hightlights">
                <td  class="sticky-heading">
                    <span>Edinburgh Investment Tst plc</span>
                </td>
                <td> 1.7 </td>
                <td> 17.7 </td>
                <td> 13.8 </td>
                <td> 15 </td>
            </tr>
            <tr>
                <td  class="sticky-heading">
                    <span>FTSE All Share</span>
                </td>
                <td> 20 </td>
                <td> 22 </td>
                <td> 21 </td>
                <td> 12 </td>
            </tr>
        </tbody>
    </table>
    <div class="disclaimer sticky-heading">
        Source: Lionstrust as at 30/06/2022
    </div>
</div> 