<div class="g-table-master">
    <h2>Cumulative Performance (%) </h2>
    <table class="performance-table">
        <thead>
            <tr>
                <th>To previous quarter 12 months ending:</th>
                <th>Dec 20</th>
                <th>Dec 19</th>
                <th>Dec 18</th>
                <th>Dec 17</th>
                <th>Dec 16</th>
                <th>Dec 15</th>
                <th>Dec 14</th>
                <th>Dec 13</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hightlights">
                <td>
                    <span>Edinburgh Investment Tst plc</span>
                </td>
                <td> 1.7 </td>
                <td> 17.7</td>
                <td> 13.8 </td>
                <td> 15 </td>
                <td> 1.7 </td>
                <td> 17.7</td>
                <td> 13.8 </td>
                <td> 15 </td>
            </tr>
            <tr>
                <td>
                    <span>FTSE All Share</span>
                </td>
                <td> 20 </td>
                <td> 22 </td>
                <td> 21 </td>
                <td> 12 </td>
                <td> 1.7 </td>
                <td> 17.7</td>
                <td> 13.8 </td>
                <td> 15 </td>
            </tr>
        </tbody>
        <tfoot>
            <th scope="row">Source: Lionstrust as at 30/06/2022</th>
        </tfoot>
    </table>
</div> 