 
<section class="u-edge c-directors-list f-slick f-slick-directorlist-master">
    <div class="u-container"> 
                <h2>Board of Directors</h2> 
            
            <div class="f-slick-single">
                 
                    <!-- card -->
                    <div class="c-directors-list__card">
                        <div class="c-directors-list__card--image">
                            <img src="images/team/cards/ElisabethStheemanProfilePic@2x.png" alt="Elisabeth Stheeman - Photo" />
                        </div>
                        <div class="c-directors-list__card--copy">
                            <p class="name">Elisabeth Stheeman</p>
                            <p class="position">Chair</p>
                            <p>Elisabeth Stheeman was appointed to the Board on 23 May 2019 and became Chair on 21 July 2022. Elisabeth is currently an External Member of the Financial Policy Committee (FPC) and Financial Markets Infrastructure (FMI) board of the Bank of England. She is a member of the supervisory board of Aareal Bank AG in Germany, an External Member of the Audit and Risk Committee of The Asian Infrastructure Investment Bank (effective from April 2021), and a member of Council at The London School of Economics and a member of Council of the German British Chamber of Industry and Commerce. Previously, she was a senior advisor to the Bank of England/Prudential Regulation Authority. </p>
                        </div>
                    </div> 
                    <!-- card -->
                    <div class="c-directors-list__card">
                        <div class="c-directors-list__card--image">
                            <img src="images/team/cards/PatrickEdwardsonProfilePic@2x.png" alt="Patrick Edwardson - Photo" />
                        </div>
                        <div class="c-directors-list__card--copy">
                            <p class="name">Patrick Edwardson</p>
                            <p class="position"></p>
                            <p>Patrick Edwardson was appointed to the Board on 11 February 2021. Patrick joined Baillie Gifford in 1993 and became a partner in 2005. In a wide-ranging investment career, he managed bond, equity and multi-asset portfolios, was manager of the Scottish American Investment Company plc between 2004 and 2014 and led Baillie Gifford’s multi-asset investment team until his retirement in 2020. He is currently managing director of Atheian Ltd, a family investment office, and also a non-executive director of JPMorgan Multi Asset Growth and Income plc.</p>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="c-directors-list__card">
                        <div class="c-directors-list__card--image">
                            <img src="images/team/cards/SteveBaldwinProfilePic@2x.png" alt="Steve Baldwin  - Photo" />
                        </div>
                        <div class="c-directors-list__card--copy">
                            <p class="name">Steven Baldwin</p>
                            <p class="position"></p>
                            <p>Steven Baldwin was appointed to the Board on 10 September 2018. Steve is a Chartered Accountant. He is currently Chairman of TruFin plc, a non-executive director at Plus500 Ltd and a Trustee at Howard de Walden Estates Limited. He was formerly a non-executive director of Elegant Hotels Group plc and Panmure Gordon & Co plc. He was the Head of European Equity Capital Markets and Corporate Broking at Macquarie Capital until February 2015. Prior to this Steve was a Director at JPMorgan Cazenove for ten years and was a Vice President of Corporate Finance at UBS from 1995-1998.</p>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="c-directors-list__card">
                        <div class="c-directors-list__card--image">
                            <img src="images/team/cards/SteveBaldwinProfilePic@2x.png" alt="Steve Baldwin  - Photo" />
                        </div>
                        <div class="c-directors-list__card--copy">
                            <p class="name">Steven Baldwin</p>
                            <p class="position"></p>
                            <p>Steven Baldwin was appointed to the Board on 10 September 2018. Steve is a Chartered Accountant. He is currently Chairman of TruFin plc, a non-executive director at Plus500 Ltd and a Trustee at Howard de Walden Estates Limited. He was formerly a non-executive director of Elegant Hotels Group plc and Panmure Gordon & Co plc. He was the Head of European Equity Capital Markets and Corporate Broking at Macquarie Capital until February 2015. Prior to this Steve was a Director at JPMorgan Cazenove for ten years and was a Vice President of Corporate Finance at UBS from 1995-1998.</p>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="c-directors-list__card">
                        <div class="c-directors-list__card--image">
                            <img src="images/team/cards/VictoriaHastingsProfilePic@2x.png" alt="Victoria Hastings - Photo" />
                        </div>
                        <div class="c-directors-list__card--copy">
                            <p class="name">Victoria Hastings</p>
                            <p class="position"></p>
                            <p>Victoria (Vicky) Hastings was appointed to the Board on 23 May 2013 and became Senior Independent Director on 25 July 2019. She has over 30 years’ experience in the investment management industry and is a non-executive director of Impax Environmental Markets plc and is chair of Henderson European Focus Trust plc. In her executive career, she was a European Equity fund manager and then held investment leadership roles at Merrill Lynch Investment Managers and JOHambro Capital Management. Previously held non executive directorships include Investment Trusts as well as JPMorgan Asset Management UK Ltd and JPMorgan Asset Management International Ltd. She is currently also a trustee of Moorfields Eye Charity.</p>
                        </div>
                    </div>
                    <!-- card -->
                    <div class="c-directors-list__card">
                        <div class="c-directors-list__card--image">
                            <img src="images/team/cards/AidanLisserProfilePic@2x.png" alt="Aidan Lisser  - Photo" />
                        </div>
                        <div class="c-directors-list__card--copy">
                            <p class="name">Aidan Lisser</p>
                            <p class="position"></p>
                            <p>Aidan Lisser was appointed to the Board on 27 May 2022. He has considerable experience as an investment trust non-executive director and has a background in investment and wealth management marketing. Aidan is currently a non-executive director of JPMorgan Emerging Markets Investment Trust plc where he is chair-designate, Henderson International Income Trust plc and a board member of Chapter Zero, an organisation to assist non-executive directors with the impact of climate change. He is also a marketing ambassador for the Association of Investment Companies.</p>
                        </div>
                    </div>
                 
                
            </div> 
 
    </div>
</section> 
 