<div class="g-table-master">
    <h2>Dividend timetable</h2>
    <table class="dividend">
        <tbody>          
            <tr>
                <th scope="row">1st interim payable</th>
                <td>January</td>                            
            </tr>
            <tr>
                <th scope="row">2nd interim payable</th>
                <td>February</td>                          
            </tr>          
            <tr>
                <th scope="row">3rd interim payable</th>
                <td>May</td>                  
       
            </tr>          
            <tr>
                <th scope="row">4th interim payablecials</th>
                <td>July</td>                             
            </tr>           
        </tbody>      
    </table> 
    <div class="disclaimer">
        Source: Lionstrust as at 30/06/2022
    </div>
</div>