<div class="g-table-master g-table-striped">
    <h2>Dividend history</h2>
    <div class="table-responsive-lg">
        <table class="table-striped divident-table">
        <thead>
            <tr class="table-head-green">
            <th></th>
            <th><span class="text-primary">Ex-date</span></th>
            <th><span class="text-primary">Record date</span></th>
            <th><span class="text-primary">Payment date</span></th>
            <th><span class="text-primary">Net dividend price</span></th>
            <th><span class="text-primary">Year end total</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>
                <p>
                <span class="text-primary"
                    ><strong class="fz-20">2021</strong></span
                ><br />
                <strong>Lorem ipsum</strong>
                </p>
            </td>
            <td>
                <p>
                <br />
                <strong>Lorem ipsum</strong>
                </p>
            </td>
            <td>
                <p>
                <br />
                <strong>Lorem ipsum</strong>
                </p>
            </td>
            <td>
                <p>
                <br />
                <strong>Lorem ipsum</strong>
                </p>
            </td>
            <td>
                <p>
                <br />
                <strong>Lorem ipsum</strong>
                </p>
            </td>
            <td></td>
            </tr>
            <tr>
            <td>
                <span class="text-primary"
                ><strong class="fz-20">2021</strong></span
                >
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                50.8
            </td>
            </tr>
            <tr>
            <td>
                <span class="text-primary"
                ><strong class="fz-20">2021</strong></span
                >
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <strong>Lorem ipsum</strong><br />
                dolor sit amet
            </td>
            <td>
                <br />
                <p>50.8</p>
            </td>
            </tr>
            <tr>
            <td>
                <p>
                <span class="text-primary"
                    ><strong class="fz-20">2021</strong></span
                >
                </p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>&nbsp;</p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>&nbsp;</p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>&nbsp;</p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>&nbsp;</p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>&nbsp;</p>
                <p>50.8</p>
            </td>
            </tr>
            <tr>
            <td>
                <p>
                &nbsp;<span class="text-primary"><strong>2021 </strong></span>
                </p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>&nbsp;</p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>&nbsp;</p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>
                &nbsp;
                </p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>
                &nbsp;
                </p>
                <p>
                <span class="text-primary"><strong>&nbsp;</strong></span
                ><strong>Lorem ipsum</strong>
                </p>
                <p><strong>&nbsp;</strong>dolor sit amet</p>
            </td>
            <td>
                <p>&nbsp;</p>
                <p>50.8</p>
            </td>
            </tr>
        </tbody>
        </table>
    </div> 
</div> 
