<div class="g-table-master g-table-striped">
    <h2>Dividend history</h2>
    <div class="table-responsive-lg">
        <table class="table-striped divident-table">
        <thead>
            <tr>
            <th></th>
            <th>Ex-date</th>
            <th>Record date</th>
            <th>Payment date</th>
            <th>Net dividend price</th>
            <th>Year end total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong class="fz-20">2021</strong>
                    <br />
                    <strong>Lorem ipsum</strong>
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong>
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong>
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong>
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <strong class="fz-20">2021</strong> 
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    50.8
                </td>
            </tr>
            <tr>
                <td>
                    <strong class="fz-20">2021</strong> 
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    50.8
                </td>
            </tr>
            <tr>
                <td>
                    <strong class="fz-20">2021</strong> 
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    50.8
                </td>
            </tr>
            <tr>
                <td>
                    <strong class="fz-20">2021</strong> 
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    <strong>Lorem ipsum</strong><br />
                    dolor sit amet
                </td>
                <td>
                    <br />
                    50.8
                </td>
            </tr>
            
        </tbody>
        </table>
    </div> 
</div> 
