<section class="u-edge c-process-cards">
    <div class="u-container">
		<h2>Our Investment Process</h2>
		<div class="c-process-cards--grid">
			<div class="c-process-cards--card">
                <p class="c-process-cards--title">
                    <img src="images/svg-icons/PragmaticIcon.svg" />    
                    Pragmatic
                </p>
                <p>The portfolio managers do not have dogmatic style biases, such as growth or value. They also invest in companies that have scope for recovery through management change, business transformation or an improving business environment. Around three-quarters of the managers’ time is spent on in-depth stock research, with the remainder spent on macroeconomic and geopolitical analysis.</p>
            </div>
            <div class="c-process-cards--card">
                <p class="c-process-cards--title">
                    <img src="images/svg-icons/ESGIcon.svg" />    
                    ESG Aware
                </p>
                <p>ESG-related issues have financial implications for the portfolio’s holdings. The managers prioritise and engage the holdings on their key, material issues, many of which are ESG-related. The outcomes from this in-depth analysis and engagements help form the conviction level and investment decisions.</p>
            </div>
            <div class="c-process-cards--card">
                <p class="c-process-cards--title">
                    <img src="images/svg-icons/LongevityIcon.svg" />    
                    Longevity
                </p>
                <p>The portfolio managers do not have dogmatic style biases, such as growth or value. They also invest in companies that have scope for recovery through management change, business transformation or an improving business environment. Around three-quarters of the managers’ time is spent on in-depth stock research, with the remainder spent on macroeconomic and geopolitical analysis.</p>
            </div>
		</div> 
    </div>
</section> 