<section class="u-edge c-graph">
    <div class="u-container"> 
        <h2>Performance</h2>
        <p>
            <a href="#" title="Download document" target="new">
                Download Factsheet <i class="icon-file"></i></a>
            <a href="#" title="Read latest fund update">
               Read latest fund update <i class="icon-arrow-right"></i></a>
        </p>
        <iframe id="childFrame" src="https://digital-tools.feprecisionplus.com/liontrustchart/charting/en-gb/liontrust?citicode=EB06&startdate=01-01-1995" height="650" width="100%" frameborder="0" scrolling="no"></iframe>
    </div>
</section>
