 
<section class="u-edge c-article-list">
    <div class="u-container">
            <h2>Article List (Double Row, Controls on Desktop)</h2>
            <div class="f-slick-double f-slick-double--lg f-slick-double--sm">
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundManager.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Video.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Mag.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundManager.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Video.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Mag.html" -->
                </div>
            </div> 

            <div class="f-slick__controls">
                <a href="#" class="f-slick-double__controls--prev"><i class="icon-arrow-left"></i>Previous</a>
                <div class="f-slick-double__controls--dots"></div>
                <a href="#" class="f-slick-double__controls--next">Next<i class="icon-arrow-right"></i></a>
            </div>
    </div>
</section> 