 
<section class="u-edge c-article-list">
    <div class="u-container">
            <h2>Article List - Carousel (Single Row, no controls)</h2>
            <div class="f-slick-single">
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundManager.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Video.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Mag.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundManager.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Video.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Mag.html" -->
                </div>
            </div> 
 
    </div>
</section> 