 
<section class="u-edge c-article-list f-slick f-slick-single-master">
    <div class="u-container">
            <div class="c-article-list--header">
                <h2>Insights</h2>
                <a href="#" class="fx view-all">View all Insights <i class="icon-arrow-right"></i></a>
            </div>
            <div class="f-slick-single">
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundManager.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Video.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Mag.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundManager.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Video.html" --> 
                </div>
                <div>
                    <!--#include virtual="../elements/EE023__ArticleCard__Mag.html" -->
                </div>
            </div> 
            <a href="#" class="fx view-all-mobile">View all Insights  <i class="icon-arrow-right"></i></a>
    </div>
</section> 