<section class="u-edge f-forms--sitecore">
    <div class="u-container">
       
        <div class="grid" data-grid="narrow v--narrow" data-grid--small="wide">
            
            <div class="grid__item" data-grid="12/12" data-grid--small="6/12">  
                
            
            <!-- captcha site key:    6LfFyTAkAAAAAOARzlVsc5t3Omn324WCwt68vsLz -->
            <!-- captcha secret key:  6LfFyTAkAAAAAEuuU_aYYsGsiBcMzGOTvD6LckaK -->
            
            <form action="/how-to-invest-and-contact-us" data-sc-fxb="a6ce2a5a-e773-4e1b-965c-4280ab186f71" enctype="multipart/form-data" id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_a6ce2a5a-e773-4e1b-965c-4280ab186f71" method="post" novalidate="novalidate">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_FormSessionId" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.FormSessionId" type="hidden" value="5403b780-e5a4-43c8-8879-8bf3c05aa7a1">
                <input name="__RequestVerificationToken" type="hidden" value="8j9zUVOiIVRbT4YUWVQbcYiXhPTib18L0FkvU6SZ_LEDGJAXZ96YLHyTLxWZM0SQ_JVdvvOdJeYJxUTRkByut94aJJ1V2u-31Zz7rKjVGKU1">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_FormItemId" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.FormItemId" type="hidden" value="a6ce2a5a-e773-4e1b-965c-4280ab186f71">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_PageItemId" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.PageItemId" type="hidden" value="8a456256-3e34-4781-a9f4-84a572686857">
                <div data-sc-field-key="C8D29DB5B5644F05A8E2402892A1C695" class="" >
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_Index_2815ea3c-d05e-4786-a0fb-d4339fc81941" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields.Index" type="hidden" value="2815ea3c-d05e-4786-a0fb-d4339fc81941">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_2815ea3c-d05e-4786-a0fb-d4339fc81941__ItemId" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[2815ea3c-d05e-4786-a0fb-d4339fc81941].ItemId" type="hidden" value="2815ea3c-d05e-4786-a0fb-d4339fc81941">
                <div class="input-group">
                    <span class="field-validation-valid text-danger" data-valmsg-for="fxb.6022f057-1c4d-4eed-8053-4d8d6e3798bd.Fields[6d6f9dc7-1157-44bb-bf10-e1af2a2e3f47].Value" data-valmsg-replace="true"></span>
                    <select id="fxb_6022f057-1c4d-4eed-8053-4d8d6e3798bd_Fields_6d6f9dc7-1157-44bb-bf10-e1af2a2e3f47__Value" name="fxb.6022f057-1c4d-4eed-8053-4d8d6e3798bd.Fields[6d6f9dc7-1157-44bb-bf10-e1af2a2e3f47].Value" class="" data-sc-tracking="True" data-sc-field-name="Enquiry" data-sc-field-key="67E6C10CCE3E4B0993F34F632B486E5A" data-val-required="Enquiry * is required." data-val="true">
                            <option label=" "></option>
                            <option value="clientservices@liontrust.co.uk">Fund</option>
                            <option value="investorrelations@liontrust.co.uk">Shareholder </option>
                            <option value="marketing@liontrust.co.uk">Marketing/sponsorship</option>
                            <option value="info@liontrust.co.uk">Sales team enquiries</option>
                            <option value="press@liontrust.co.uk">Press</option>
                    </select>
                    <i class="select-arrow"></i>
                    <label for="fxb_6022f057-1c4d-4eed-8053-4d8d6e3798bd_Fields_6d6f9dc7-1157-44bb-bf10-e1af2a2e3f47__Value" class="">Enquiry *</label>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                </div>
                <div data-sc-field-key="A24934DF8FA343E0B17CF104B0B1D371" class="">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_Index_56cc4625-bb96-4bfc-9400-dde79c7c490b" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields.Index" type="hidden" value="56cc4625-bb96-4bfc-9400-dde79c7c490b">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_56cc4625-bb96-4bfc-9400-dde79c7c490b__ItemId" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[56cc4625-bb96-4bfc-9400-dde79c7c490b].ItemId" type="hidden" value="56cc4625-bb96-4bfc-9400-dde79c7c490b">
                <div class="input-group">
                    <span class="field-validation-valid text-danger" data-valmsg-for="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[56cc4625-bb96-4bfc-9400-dde79c7c490b].Value" data-valmsg-replace="true"></span>
                    <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_56cc4625-bb96-4bfc-9400-dde79c7c490b__Value" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[56cc4625-bb96-4bfc-9400-dde79c7c490b].Value" class="" type="email" value="" maxlength="255" placeholder="" data-sc-tracking="True" data-sc-field-name="Email" data-sc-field-key="08670165AC4B4B11A18A9D7A68A5AEB6" data-val-required="Email address * is required." data-val-regex="Email address * contains an invalid email address." data-val-regex-pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,17}$" data-val="true">
                    <label for="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_56cc4625-bb96-4bfc-9400-dde79c7c490b__Value" class="">Email address *</label>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                </div>
                <div data-sc-field-key="7E81F5F98B5E4405BBFBD95207EF35B0" class="">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_Index_f54dce8a-75bb-43df-9b24-d6a240bd9325" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields.Index" type="hidden" value="f54dce8a-75bb-43df-9b24-d6a240bd9325">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_f54dce8a-75bb-43df-9b24-d6a240bd9325__ItemId" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[f54dce8a-75bb-43df-9b24-d6a240bd9325].ItemId" type="hidden" value="f54dce8a-75bb-43df-9b24-d6a240bd9325">
                <div class="input-group">
                    <span class="field-validation-valid text-danger" data-valmsg-for="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[f54dce8a-75bb-43df-9b24-d6a240bd9325].Value" data-valmsg-replace="true"></span>
                    <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_f54dce8a-75bb-43df-9b24-d6a240bd9325__Value" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[f54dce8a-75bb-43df-9b24-d6a240bd9325].Value" class="" type="tel" value="" maxlength="255" placeholder="" data-sc-tracking="True" data-sc-field-name="Telephone" data-sc-field-key="5BDDFF73BBDC4883AF8504447AD005AD" data-val-regex="Contact Number contains an invalid telephone number." data-val-regex-pattern="^\+?\d{3,}" data-val="true">
                    <label for="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_f54dce8a-75bb-43df-9b24-d6a240bd9325__Value" class="">Contact Number</label>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                </div>
                <div data-sc-field-key="B133528169F940819B84A19DD756F11F" class="">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_Index_b0a7f7d4-52e0-448f-b32a-5fb957579352" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields.Index" type="hidden" value="b0a7f7d4-52e0-448f-b32a-5fb957579352">
                <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_b0a7f7d4-52e0-448f-b32a-5fb957579352__ItemId" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[b0a7f7d4-52e0-448f-b32a-5fb957579352].ItemId" type="hidden" value="b0a7f7d4-52e0-448f-b32a-5fb957579352">
                <div class="input-group">
                    <span class="field-validation-valid text-danger" data-valmsg-for="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[b0a7f7d4-52e0-448f-b32a-5fb957579352].Value" data-valmsg-replace="true"></span>
                    <textarea id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_b0a7f7d4-52e0-448f-b32a-5fb957579352__Value" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.Fields[b0a7f7d4-52e0-448f-b32a-5fb957579352].Value" class="" rows="4" maxlength="512" placeholder="Type your message here (maximum text length 512)" data-sc-tracking="True" data-sc-field-name="Message" data-sc-field-key="379537D2077547C0AF4976ECC0B55FF1" data-val-required="Message * is required." data-val="true"></textarea>
                    <label for="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_Fields_b0a7f7d4-52e0-448f-b32a-5fb957579352__Value" class="">Message *</label>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                </div>
                <div data-sc-field-key="7AFB72A9260E4D97B80F4C018C05CB10" class="">
                <div class="input-btn">
                    <input value="Sign up" type="submit" class="e-button e-button__primary" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.28f78a0c-f76e-4498-b928-905ac7ceca5d" data-sc-field-key="E5DC33C01AC245189ACC101BC3FBF1A5">
                    <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_NavigationButtons" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.NavigationButtons" type="hidden" value="28f78a0c-f76e-4498-b928-905ac7ceca5d">
                    <input id="fxb_03ca8312-a4f4-400b-8bd8-baeba75a057f_28f78a0c-f76e-4498-b928-905ac7ceca5d" name="fxb.03ca8312-a4f4-400b-8bd8-baeba75a057f.28f78a0c-f76e-4498-b928-905ac7ceca5d" type="hidden" value="0">
                </div>
                </div>
                <script type="text/javascript">
                    (function () {
                        function initialForm($) {
                            var $formEl = $("form[data-sc-fxb='a6ce2a5a-e773-4e1b-965c-4280ab186f71']");
                            if ($formEl.length && typeof $formEl.init_fxbConditions === 'function') {
                                var options = {};
                                $formEl.init_fxbConditions(options);
                            }
                        }
        
                        window.addEventListener('load', function () {
                        initialForm(jQuery);
                    });
                })();
                </script>
            </form> 

            </div>
        </div>
    </div>
</section>
