
<div class="g-table-master g-table-border">
    <table class="fund-holdings">
          <thead>
            <th scope="row">
              Top 10 Holdings
            </th>
          </thead>
          <tbody>          
              <tr>
                  <th scope="row">Information Technology</th>
                  <td>34.1</td>                            
              </tr>
              <tr>
                  <th scope="row">Sovereign</th>
                  <td>14.4</td>                  
                               
              </tr>          
              <tr>
                  <th scope="row">Communication Services</th>
                  <td>11.8</td>                  
                              
              </tr>          
              <tr>
                  <th scope="row">Financials</th>
                  <td>11.7</td>                  
                              
              </tr>           
              <tr>
                  <th scope="row">Consumer Discretionary</th>
                  <td>9.5</td>                  
                                
              </tr>          
              <tr>
                  <th scope="row">Fund</th>
                  <td>8.6</td>                  
                                
              </tr>          
              <tr>
                  <th scope="row">Consumer Staples</th>
                  <td>4.7</td>                  
                                
              </tr>          
              <tr>
                  <th scope="row">Healthcare</th>
                  <td>3.6</td>                  
                                 
              </tr>         
              <tr>
                  <th scope="row">Other</th>
                  <td>0.5</td>                  
                                
              </tr>          
              <tr>
                  <th scope="row">Industrials</th>
                  <td>0.4</td>             
                            
              </tr> 
              <tr>
                <th scope="row">Industrials 2</th>
                <td>0.4</td>             
                          
            </tr> 
          </tbody>    
          <tfoot>
            <th scope="row">Source: Lionstrust as at 30/06/2022</th>
          </tfoot>   
    </table> 
</div>