
<div class="g-table-master g-table-border g-table-row-count">
    <table class="hide-rows">
      <thead>
        <th scope="row"> Geographical Breakdown % </th>
      </thead>
      <tbody>          
        <tr class="geo-spacing">
            <th scope="row">United States</th>                
            <td class="col-half">
                <div><span>59.5</span><div class="bar" style="width: 59.5%;"></div></div>
            </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">Germany</th>                
          <td class="col-half">
              <div><span>9.5</span><div class="bar" style="width: 9.5%;"></div></div>
              <div><span>19.5</span><div class="bar" style="width: 19.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">United States</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">Japan</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">Hongkong</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">Japan</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">United Kingdom</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">Philippines</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">Cash and Derivatives</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">Cash and Derivatives</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">China</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
        <tr class="geo-spacing">
          <th scope="row">Australia</th>                
          <td class="col-half">
              <div><span>2.5</span><div class="bar" style="width: 2.5%;"></div></div>
              <div><span>20.5</span><div class="bar" style="width: 20.5%;"></div></div>
          </td>                  
        </tr>
      </tbody>     
    </table>
    <div class="disclaimer">
      Source: Lionstrust as at 30/06/2022
    </div> 
    <button class="f-toggle-row">+</button>
</div>