<section class="u-container c-tab-nav" id="tab-content">
    <div class="select-mobile">
        Select a year to view:
        <select name="document-filter" id="document-select-filter" data-select-for="tab-content" class="document-select-filter">
            <!-- value should be the same as id of doc-list -->
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017+</option>
        </select>
    </div>
    <div class="tab-nav" data-select-for="tab-content">
        <div class="tab-nav-item">
            <span>
                Select a year to view:
            </span>
        </div>
        <div class="tab-nav-item">
            <!-- data-tab-target should refer to id of doc-list -->
            <div class="active" data-tab-target="2021">
                2021
            </div>
        </div>
        <div class="tab-nav-item">
            <div data-tab-target="2020">
                2020
            </div>
        </div>
        <div class="tab-nav-item">
            <div data-tab-target="2019">
                2019
            </div>
        </div>
        <div class="tab-nav-item">
            <div data-tab-target="2018">
                2018
            </div>
        </div>
        <div class="tab-nav-item">
            <div data-tab-target="2017">
                2017+
            </div>
        </div>
    </div>
    <div class="tab-nav-content">
        <div class="doc-list active" role="tabelement" id="2021">
            <div class="doc-list-item">
                <span>
                    01/01/21
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>

            <div class="doc-list-item">
                <span>
                    01/01/21
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank" class="hide-link">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="doc-list-item">
                <span>
                    01/01/21
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank"  class="hide-link">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="doc-list" role="tabelement" id="2020">
            <div class="doc-list-item">
                <span>
                    01/01/20
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>

            <div class="doc-list-item">
                <span>
                    01/01/20
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank" class="hide-link">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="doc-list-item">
                <span>
                    01/01/20
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank"  class="hide-link">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="doc-list" role="tabelement" id="2019">
            <div class="doc-list-item">
                <span>
                    01/01/19
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>

            <div class="doc-list-item">
                <span>
                    01/01/19
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank" class="hide-link">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="doc-list-item">
                <span>
                    01/01/19
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank"  class="hide-link">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="doc-list" role="tabelement" id="2018">
            <div class="doc-list-item">
                <span>
                    01/01/18
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>

            <div class="doc-list-item">
                <span>
                    01/01/18
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank" class="hide-link">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="doc-list-item">
                <span>
                    01/01/18
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank"  class="hide-link">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="doc-list" role="tabelement" id="2017">
            <div class="doc-list-item">
                <span>
                    01/01/17
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>

            <div class="doc-list-item">
                <span>
                    01/01/17
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank" class="hide-link">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
            <div class="doc-list-item">
                <span>
                    01/01/17
                </span>
                
                <span>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                </span>
               
                <div>
                    <a href="#" target="_blank"  class="hide-link">Read press release <i class="icon-file"></i></a>
                    <a href="#" target="_blank">Read report <i class="icon-list-view"></i></a>
                    <a href="#" target="_blank">View Presentation <i class="icon-arrow-right"></i></a>
                </div>
            </div>
        </div>

    </div>
</section>