<section class="u-edge c-contact-block">
    <div class="u-container">
        <div class="c-contact-block__container">
            <div class="c-contact-block__card">
                <span> Link Group </span>
                
                <div>
                    <span> 10th Floor, Central Square </span>
                    <span> 29 Wellington Street </span>
                    <span> Leeds , LS1 4DL </span>
                </div>

                <div>
                    <div>
                        <span>Tel.</span>
                        <a href="tel: 0871 664 0300"> 0871 664 0300 </a>
                    </div>
                    <div>
                        <span>Tel.</span>
                        <a href="tel: +44 371 664 0300"> +44 371 664 0300</a>
                        <span> if outside the UK</span>
                        <br/>
                        <span>Drop us an email: <span>
                        <a href="mailto:email@email.com"> email@email.com</a> 
                    </div>
                </div>
            </div>
            <div class="c-contact-block__card">
                <span> Sanne Fund Services (UK) Limited </span>
                
                <div>
                    <span>  6th Floor </span>
                    <span> 125 London Wall </span>
                    <span> London, EC2Y 5AS </span>
                    
                </div>

                <div>
                    <div>
                        <span>Tel.</span>
                        <a href="tel: 0871 664 0300"> 0871 664 0300 </a>
                    </div>
                    <div>
                        <span>Tel.</span>
                        <a href="tel: +44 371 664 0300"> +44 371 664 0300</a>
                        <span> if outside the UK</span>
                        <a href="mailto:email@email.com"> Email Us</a> 
                    </div>
                </div>
            </div>
        </div>  
    </div>  
</section>