<section class="u-edge f-forms f-forms-parsley" role="group">
    <div class="u-container">
       
        <div class="grid" data-grid="narrow v--narrow" data-grid--small="wide">
            
            <div class="grid__item" data-grid="12/12" data-grid--small="6/12">  
                
                <h2>Send a Message</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>

                <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
                
                <form spellcheck="false" novalidate data-parsley-validate="" aria-label="Enter form details below, ensuring each mandatory step is completed, before continuing.">
                
                    <!--#include virtual="../forms/select.html" --> 
 

                    <!--#include virtual="../forms/input__email.html" --> 

                    <!--#include virtual="../forms/input__phone.html" --> 

                    <!--#include virtual="../forms/textarea.html" --> 
                    
                    <div class="e-button__container">
                        <button href="#" class="e-button e-button__primary">SEND</button>
                    </div>
                </form> 
            </div>
 
        </div>
    </div>
</section>
