<section itemscope itemtype="http://schema.org/Blog" class="u-edge c-article-list">
    <div class="u-container">

        <div class="c-article-list--inner">
        <!--#include virtual="../elements/EE023__ArticleCard__FundManager.html" --> 
        <!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
        <!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
        <!--#include virtual="../elements/EE023__ArticleCard__Video.html" --> 
        <!--#include virtual="../elements/EE023__ArticleCard__Mag.html" --> 
        </div>
    </div>
</section>
