<section class="u-edge c-fund-docs">
    <div class="u-container"> 
             
        
        <div class="u-edge--header">
            <h2>Key Documents</h2>
            <a href="#" class="fx" title="See All Regulatory News">See All Regulatory News  <i class="icon-arrow-right"></i></a>
        </div>
        <ul>
            <li>
                <p>Fact Sheet <span class="date">2nd Jan 2023</span></p>
                <div><a href="#" title="Download File">Download File <i class="icon-file"></i></a></div>
            </li>
            <li>
                <p>Fact Sheet <span class="date">2nd Jan 2023</span></p>
                <div><a href="#" title="Download File">Download File <i class="icon-file"></i></a></div>
            </li>
            <li>
                <p>Fact Sheet <span class="date">2nd Jan 2023</span></p>
                <div><a href="#" title="Download File">Download File <i class="icon-file"></i></a></div>
            </li>
        </ul>

        <div class="e-button__container">
            <a href="#/" class="f-slide-panel e-button e-button__primary" title="View All Documents">View All Documents</a>
        </div>
    </div>
</section>
