 
<section class="u-edge c-article-list">
    <div class="u-container">
		<h2>Article List - Grid (No Carousel, auto height, 3 items per row, wrap)</h2>
		<div class="c-article-list--grid">
			<!--#include virtual="../elements/EE023__ArticleCard__FundManager.html" -->
			<!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
			<!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
			<!--#include virtual="../elements/EE023__ArticleCard__Podcast.html" --> 
			<!--#include virtual="../elements/EE023__ArticleCard__FundUpdate.html" -->
		</div> 
    </div>
</section> 