<section class="u-edge c-liontrust-theme active">
    <div class="u-container">

        <div class="grid" data-grid="none">

            <div class="grid__item" data-grid="12/12" data-grid--small="6/12" data-grid--large="6/12">

                <h2>About Liontrust</h2>

                <img class="lion" src="images/lion-isolated-x1.png" alt="LionTrust Brand" />
                
                <p class="lead">The Edinburgh Investment Trust is managed by the Liontrust Global Fundamental team which is led by James de Uphaugh and Chris Field.</p>

                <p>Liontrust is a specialist fund management company that takes pride in having a distinct culture and approach to running money. The company launched in 1995 and was listed on the London Stock Exchange in 1999. We are an independent business with no corporate parent, our head office is on the Strand in London and we have offices in Edinburgh and Luxembourg. </p>
                    
                <p>Liontrust’s fund managers have the courage of their convictions through their differentiated and rigorous investment processes. Liontrust believes investment processes are key to long-term performance and effective risk control.</p> 
                
                <p>Staying true to their documented investment processes helps to create an in-built risk control for fund managers by preventing them from investing in companies and funds for the wrong reasons and helping them to retain clarity of thought. </p>
                
                <p>Liontrust is committed to integrating sustainability throughout the business including being a responsible investor; climate change and the environment; diversity and inclusion; human rights; and being a good corporate citizen. Good governance and stewardship, sustainability and social impact are important in delivering longer-term investment performance.</p>
                
                <div class="e-button__container">
                    <a href="https://www.liontrust.co.uk" target="new" class="e-button e-button__secondary" title="Learn more">Learn more</a>
                </div>

                <img class="logo" src="images/ManagedByLiontrustFooter@2x.png" alt="LionTrust - Logo" />
            </div>

        </div>
    </div>
</section>
