<section class="u-edge u-edge--shade c-copy-block">
    <div class="u-container">
        <h2>Contacts and how to invest in the Edinburgh Investment Trust</h2>
        
        <p>The Company’s shares are quoted on the London Stock Exchange. There are a variety of ways by which investors can buy the shares. Shares may be purchased through discretionary wealth managers, banks, independent financial advisers and via a large number of execution-only trading platforms. 
        
        <p>If you hold your shares direct and not through a Savings Scheme or ISA and have queries relating to your shareholding, you should contact the Registrars, Link Group. </p>
            
        <p>If you wish to contact members of the Edinburgh Investment Trust Board then please get in touch with the Company Secretary at Sanne Fund Services</p>
    </div>
</section>