<section class="u-edge">
    <div class="u-container"> 
        <ul>
            <li class="beefup">
                <div class="beefup__head">A</div>
                <div class="beefup__body">
                    <strong>Accumulation unit/share:</strong> The classification of a unit or share in an investment fund that reinvests income from the underlying assets, possibly from share dividends, bond coupons or property rent. The unit or share price is then adjusted to reflect the income, which is not taxed, although the final return is treated as a capital gain or loss. Funds with accumulation units or shares can be denoted with the suffix 'Acc'.
                </div>
            </li>
            <li class="beefup">
                <div class="beefup__head">B</div>
                <div class="beefup__body">
                    <p><strong>Accumulation unit/share:</strong> The classification of a unit or share in an investment fund that reinvests income from the underlying assets, possibly from share dividends, bond coupons or property rent. The unit or share price is then adjusted to reflect the income, which is not taxed, although the final return is treated as a capital gain or loss. Funds with accumulation units or shares can be denoted with the suffix 'Acc'.</p>
                </div>
            </li>
            <li class="beefup">
                <div class="beefup__head">C</div>
                <div class="beefup__body">
                    <p><strong>Accumulation unit/share:</strong> The classification of a unit or share in an investment fund that reinvests income from the underlying assets, possibly from share dividends, bond coupons or property rent. The unit or share price is then adjusted to reflect the income, which is not taxed, although the final return is treated as a capital gain or loss. Funds with accumulation units or shares can be denoted with the suffix 'Acc'.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
