<section class="u-edge u-iframe">
    <div class="u-container"> 
        <h2>Regulatory News Service</h2>
        <iframe class="f-iframe-resize" src="https://otp.tools.investis.com/clients/uk/liontrust_plc1/rns/regulatory-news.aspx?culture=en-GB" width="100%" frameborder="0" scrolling="no"></iframe>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.6/iframeResizer.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </div>
</section>

 