<aside class="u-edge">
    <div class="u-container">
        <div class="grid" data-grid="narrow middle backwards v--middle" data-grid--medium="wide center middle forwards v--middle">
            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">  
               
                <a href="#" 
                    class="js-modal-btn e-video" 
                    data-video-url="https://player.vimeo.com/progressive_redirect/playback/792537041/rendition/720p/file.mp4?loc=external&signature=25114c40f404b608fde5020f79600b2e30274975f1f73becce361825b9602295"
                    >
                        <img src="images/video-bg.png" /> 
                </a>

            </div>
            <div class="grid__item" data-grid="12/12" data-grid--medium="6/12">
                <h2>Edinburgh Investment Trust: the current style bias</h2> 
                    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
 
                
            </div>
        </div>
    </div>
</aside>
