<!-- <div class="article-promo"
    style="background: url('/images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png');">
    <div class="article-promo__content">
        <div class="article-promo__top">
            <div class="article-promo__header">
                <div class="article-promo__header-image">
                    <img class="article-promo__header-img" src="images/components/banners/writer.jpeg" alt="some name">
                </div>
                <span class="article-promo__header-title">Marwan saleh</span>
            </div>
            <div class="article-promo__body">
                <span class="article-promo__body-title">
                    Ongoing evolution of our Sustainable Investment themes
                    Ongoing evolution of our Sustainable Investment themes
                </span>
                <span class="article-promo__body-desc">
                    The Sustainable Investment team have added a new leisure theme and updated three others as part of
                    their annual review. Peter Michaelis explains the reasoning behind and opportunities for these
                    themes.
                    The Sustainable Investment team have added a new leisure theme and updated three others as part of
                    their annual review. Peter Michaelis explains the reasoning behind and opportunities for these
                    themes.
                </span>
            </div>
        </div>
        <div class="article-promo__bottom">
            <div class="article-promo__bottom-left">
                <img src="/images/components/svg-icons/clock.svg" alt="time" class="article-promo__bottom-img">
            </div>
            <div class="article-promo__bottom-right">
                <a href="#" class="article-promo__bottom-booksmark">
                    <i class="icon-bookmark"></i>
                </a>
            </div>
            <!-- <img src="/images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="bg"
                class="article-promo__background"> -->
        <!-- </div>
    </div>
</div> -->

<div class="article-promo">
    <div class="article-promo__front">      
      <div class="article-promo__body">  
        <div class="article-promo__head">
          <img class="article-promo__writer-photo" src="images/components/banners/writer.jpeg"  alt="">
          <span class="article-promo__writer-name">Marwan saleh</span>
        </div>  
        <span class="article-promo__title">
          Ongoing evolution of our Sustainable Investment themes
          Ongoing evolution of our Sustainable Investment themes    
        </span>
        <span class="article-promo__desc">
          The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
          The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
        </span>
      </div>
      <div class="article-promo__footer">
        <div class="article-promo__footer-left">
          <img class="article-promo__clock" src="\images\components\svg-icons\clock.svg" alt="icon">
          <span class="article-promo__time">4 January 2021</span>
        </div>
        <div>
          <i class="icon-booksmark article-promo__bookmark"></i>
        </div>    
      </div>    
    </div>                      
    <img class="article-promo__back" src="images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">    
</div>