<div class="fundcard">
  <div class="fundcard__top">
    <svg
      class="bubble-svg"
      width="220"
      height="302"
      viewBox="0 0 187 302"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g style="mix-blend-mode: lighten" opacity="0.104">
        <path
          class="big-left-small"
          d="M63.5 302C95.8087 302 122 275.809 122 243.5C122 211.191 95.8087 185 63.5 185C31.1913 185 5 211.191 5 243.5C5 275.809 31.1913 302 63.5 302Z"
          fill="white"
        />
      </g>
      <g style="mix-blend-mode: lighten" opacity="0.172">
        <path
          class="slow-left"
          d="M21 215C29.2843 215 36 208.284 36 200C36 191.716 29.2843 185 21 185C12.7157 185 6 191.716 6 200C6 208.284 12.7157 215 21 215Z"
          fill="white"
        />
      </g>
      <path
        class="blur-circle"
        opacity="0.173"
        d="M116 237C155.212 237 187 205.212 187 166C187 126.788 155.212 95 116 95C76.7878 95 45 126.788 45 166C45 205.212 76.7878 237 116 237Z"
        fill="white"
      />
      <path
        class="blur-circle-small"
        opacity="0.056"
        d="M39.5 160C60.763 160 78 142.763 78 121.5C78 100.237 60.763 83 39.5 83C18.237 83 1 100.237 1 121.5C1 142.763 18.237 160 39.5 160Z"
        fill="white"
      />
      <path
        class="move-right"
        opacity="0.094"
        d="M12.5 107C19.4036 107 25 101.404 25 94.5C25 87.5964 19.4036 82 12.5 82C5.59644 82 0 87.5964 0 94.5C0 101.404 5.59644 107 12.5 107Z"
        fill="white"
      />
      <path
        class="blur-circle-small"
        opacity="0.094"
        d="M78 96C82.9706 96 87 91.9706 87 87C87 82.0294 82.9706 78 78 78C73.0294 78 69 82.0294 69 87C69 91.9706 73.0294 96 78 96Z"
        fill="white"
      />
      <path
        class="blur-circle-small"
        opacity="0.094"
        d="M115.5 44C122.956 44 129 37.9558 129 30.5C129 23.0442 122.956 17 115.5 17C108.044 17 102 23.0442 102 30.5C102 37.9558 108.044 44 115.5 44Z"
        fill="white"
      />
      <path
        class="top-right"
        opacity="0.159"
        d="M39.5 45C51.9264 45 62 34.9264 62 22.5C62 10.0736 51.9264 0 39.5 0C27.0736 0 17 10.0736 17 22.5C17 34.9264 27.0736 45 39.5 45Z"
        fill="white"
      />
      <path
        class="move-top"
        opacity="0.094"
        d="M139 85C148.389 85 156 77.165 156 67.5C156 57.835 148.389 50 139 50C129.611 50 122 57.835 122 67.5C122 77.165 129.611 85 139 85Z"
        fill="white"
      />
    </svg>

    <img
      class="fundcard__toplion"
      src="../images/components/banners/lion.png"
      alt=""
    />

    <div class="fundcard__topbox">
      <div class="fundcard__tophead">
        <!-- <img
          class="fundcard__tophead-img"
          src="../images/components/banners/Ellipse67.svg"
          alt=""
        /> -->
        <div class="fundcard__topteam txtlimit">
          The Sustainable Investment Team - Equities
        </div>
      </div>
      <span class="fundcard__toptitle txtlimit twoline">
        Liontrust GF European Strategic Equity
      </span>

      <div class="fundcard__topfooter">
        Daily Change:
        <span class="fundcard__change">
          <span class="fundcard__posneg">+</span>
          0.804
        </span>
        <i class="icon-arrow-up fundcard__arrow-up"></i>
        <i class="icon-arrow-down fundcard__arrow-down"></i>
      </div>
    </div>
  </div>
  <div class="fundcard__bottom">
    <p class="fundcard__bottomcontent txtlimit">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum explicabo
      obcaecati iure cumque magnam hic ad officia corporis fugiat repellendus,
      consequatur doloribus consectetur ex eligendi vitae veniam maiores totam!
      Explicabo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
      explicabo obcaecati iure cumque magnam hic ad officia corporis fugiat
      repellendus, consequatur doloribus consectetur ex eligendi vitae veniam
      maiores totam! Explicabo!
    </p>
    <a href="#" class="fundcard__bottomfooter link-styles">
      view this fund
      <i class="icon-arrow-right animate-arrow"></i>
    </a>
  </div>
</div>
