<!-- This menu links has the same html structure as menu links for desktop and mobile menu  -->
<h4 class="dropdown-nav__title">Insight</h4>
<a href="#" class="link-styles d-block mb-20">View all Insight <i class="icon-arrow-right"></i></a>
<ul class="dropdown-nav__list">
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Category 1</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Category 2</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Category 3</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Category 4</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Category 5</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Category 6</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Category 7</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Podcasts</a>
    </li>
    
</ul>
