<!-- This menu links has the same html structure as menu links for desktop and mobile menu  -->
<h4 class="dropdown-nav__title">Learning</h4>
<a href="#" class="link-styles d-block mb-20">View all learning <i class="icon-arrow-right"></i></a>
<ul class="dropdown-nav__list">
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">How to invest</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link"> Dual and Single Priced Funds</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">ISAs</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Junior ISAs</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">How investing can help you</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Understanding your risk profile</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">What are Asset Classes</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Guide to Financial words and terms</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Benefits of using funds</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Understanding stocks and shares</a>
    </li>
</ul>
