<!-- This menu links has the same html structure as menu links for desktop and mobile menu  -->
<h4 class="dropdown-nav__title">Fund Teams</h4>
<a href="#" class="link-styles d-block mb-20">View all teams <i class="icon-arrow-right"></i></a>
<ul class="dropdown-nav__list">
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Cashflow Solutions</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Team Economic and Advantage Team</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Global Equity Team</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Global Fixed Income Team</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Multi-Asset Team</a>
    </li>
    <li class="dropdown-nav__item">
        <a href="#" class="dropdown-nav__link">Sustainable Investment Team</a>
    </li>
</ul>