<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <nav class="pagination mt-2"><a href="#" class="pagination__step pagination__step_forward"><i
                    class="icon-arrow-left"></i>
                Previous</a>
            <ul class="pagination__list">
                <li class="pagination__item"><a href="#" class="pagination__link pagination__link_steps">...</a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        2
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        3
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        4
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link active">
                        5
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        6
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        7
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link">
                        8
                    </a></li>
                <li class="pagination__item"><a href="#" class="pagination__link pagination__link_steps">...</a></li>
            </ul> <a href="#" class="pagination__step pagination__step_next">Next <i class="icon-arrow-right"></i></a>
        </nav>
    </div>
</div>