<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes>
					<index id="liontrust_article_web_index" search:require="solr" role:require="Standalone OR ContentDelivery" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<indexAllFields>true</indexAllFields>
								<checkTemplateInheritance>true</checkTemplateInheritance>
								<!-- Included templates -->
								<include hint="list:AddIncludedTemplate">
									<LegacyArticle>{CC8E0204-33D0-47F7-831B-3608AC7DCDDA}</LegacyArticle>
									<!--<ArticlePage>{AB8309B9-E012-4C89-88BB-6D364FB5E0DB}</ArticlePage>-->
								</include>
								<include hint="list:AddIncludedField">
									<fieldId>{25BED78C-4957-4165-998A-CA1B52F67497}</fieldId>
									<fieldId>{79CC76CC-7503-449B-9809-9808CF6C2D26}</fieldId>
									<fieldId>{1C19356A-6E47-4D77-BA56-ADE349F17B9D}</fieldId>
									<fieldId>{094932B9-FF77-4977-966E-D18F7C7AC091}</fieldId>
									<fieldId>{BED4FF5C-E523-4286-9519-C4AD6DC9A46A}</fieldId>
									<fieldId>{D8CF5DA5-F35F-46D8-B15E-8B388DC01000}</fieldId>
									<fieldId>{15F3AFE1-AB21-4B6B-A434-4C0F7B927921}</fieldId>
									<fieldId>{58B0791B-504E-423C-8D9E-E16C419353FA}</fieldId>
									<fieldId>{52161005-9691-46CD-AF73-E2B5455474C0}</fieldId>
									<fieldId>{5BD6E9E9-2240-4473-8094-075E811B8438}</fieldId>
									<fieldId>{8EB78475-C445-4960-84B0-E946D262F81C}</fieldId>
									<fieldId>{A57E5061-EEE7-48A2-A8BF-88FFDF014FD4}</fieldId>
								</include>
								<fields hint="raw:AddComputedIndexField">
									<field fieldName="article_url" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleUrl, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_image_protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_listing_image_protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleListingImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_names" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_topic_names" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleTopicNames, LionTrust.Foundation.Indexing</field>									
									<field fieldName="article_contentType_name" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleContentTypeName, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_fund_name" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleFundName, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_podcast" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticlePodcast, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_video" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleVideoUrl, LionTrust.Foundation.Indexing</field>
									<field fieldName="excluded_countries" returnType="stringCollection"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.ExcludedCountiresField, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_teams" returnType="stringCollection" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorTeams, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_content" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleContent, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_created_date" storageType="yes" returnType="datetime">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleCreatedDate, LionTrust.Foundation.Indexing</field>
								</fields>
							</documentOptions>
							<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
								<fieldNames hint="raw:AddFieldByFieldName">
									<field fieldName="LegacyArticle_Authors" returnType="stringCollection" />
									<field fieldName="__Created" returnType="datetime" />
									<field fieldName="Article_Date" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'" />
									<field fieldName="LegacyArticle_Fund" returnType="string" />
									<field fieldName="LegacyArticle_Title" returnType="string" />
									<field fieldName="LegacyArticle_Subtitle" returnType="string" />
									<field fieldName="LegacyArticle_ShortDescription" returnType="string" />
									<field fieldName="LegacyArticle_BlogType" returnType="string" />
									<field fieldName="LegacyArticle_Team" returnType="stringCollection" />
									<field fieldName="Article_Topics" returnType="stringCollection" />
									<field fieldName="Article_ListingImageOpacity" returnType="string" />									
								</fieldNames>
							</fieldMap>
						</configuration>
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
							<!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>{IDOFOTHERAREATOINDEX}</Root>
              </crawler>-->
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
					<index id="liontrust_article_master_index" search:require="solr" role:require="Standalone OR ContentManagement" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<indexAllFields>true</indexAllFields>
								<checkTemplateInheritance>true</checkTemplateInheritance>
								<!-- Included templates -->
								<include hint="list:AddIncludedTemplate">
									<LegacyArticle>{CC8E0204-33D0-47F7-831B-3608AC7DCDDA}</LegacyArticle>
									<!--<ArticlePage>{AB8309B9-E012-4C89-88BB-6D364FB5E0DB}</ArticlePage>-->
								</include>
								<include hint="list:AddIncludedField">
									<fieldId>{25BED78C-4957-4165-998A-CA1B52F67497}</fieldId>
									<fieldId>{79CC76CC-7503-449B-9809-9808CF6C2D26}</fieldId>
									<fieldId>{1C19356A-6E47-4D77-BA56-ADE349F17B9D}</fieldId>
									<fieldId>{094932B9-FF77-4977-966E-D18F7C7AC091}</fieldId>
									<fieldId>{BED4FF5C-E523-4286-9519-C4AD6DC9A46A}</fieldId>
									<fieldId>{D8CF5DA5-F35F-46D8-B15E-8B388DC01000}</fieldId>
									<fieldId>{15F3AFE1-AB21-4B6B-A434-4C0F7B927921}</fieldId>
									<fieldId>{58B0791B-504E-423C-8D9E-E16C419353FA}</fieldId>
									<fieldId>{52161005-9691-46CD-AF73-E2B5455474C0}</fieldId>
									<fieldId>{5BD6E9E9-2240-4473-8094-075E811B8438}</fieldId>
									<fieldId>{8EB78475-C445-4960-84B0-E946D262F81C}</fieldId>
									<fieldId>{A57E5061-EEE7-48A2-A8BF-88FFDF014FD4}</fieldId>
								</include>
								<fields hint="raw:AddComputedIndexField">
									<field fieldName="article_url" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleUrl, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_image_protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_listing_image_protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleListingImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_names" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_topic_names" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleTopicNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_contentType_name" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleContentTypeName, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_fund_name" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleFundName, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_podcast" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticlePodcast, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_video" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleVideoUrl, LionTrust.Foundation.Indexing</field>
									<field fieldName="excluded_countries" returnType="stringCollection"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.ExcludedCountiresField, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_teams" returnType="stringCollection" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorTeams, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_content" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleContent, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_created_date" storageType="yes" returnType="datetime">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleCreatedDate, LionTrust.Foundation.Indexing</field>
								</fields>
							</documentOptions>
							<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
								<fieldNames hint="raw:AddFieldByFieldName">
									<field fieldName="LegacyArticle_Authors" returnType="stringCollection" />
									<field fieldName="__Created" returnType="datetime" />
									<field fieldName="Article_Date" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'" />
									<field fieldName="LegacyArticle_Fund" returnType="string" />
									<field fieldName="LegacyArticle_Title" returnType="string" />
									<field fieldName="LegacyArticle_Subtitle" returnType="string" />
									<field fieldName="LegacyArticle_ShortDescription" returnType="string" />
									<field fieldName="LegacyArticle_BlogType" returnType="string" />
									<field fieldName="LegacyArticle_Team" returnType="stringCollection" />
									<field fieldName="Article_Topics" returnType="stringCollection" />
									<field fieldName="Article_ListingImageOpacity" returnType="string" />
								</fieldNames>
							</fieldMap>
						</configuration>
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="ContentManagement and !Indexing" />
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>master</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
							<!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>{IDOFOTHERAREATOINDEX}</Root>
              </crawler>-->
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
					<index id="liontrust_fund_web_index" search:require="solr" role:require="Standalone OR ContentDelivery" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<indexAllFields>false</indexAllFields>
								<checkTemplateInheritance>true</checkTemplateInheritance>
								<!-- Included templates -->
								<include hint="list:AddIncludedTemplate">
									<Fund>{DADEC9BF-B6E8-4E04-A082-F4EB20B76FF9}</Fund>
								</include>
								<include hint="list:AddIncludedField">
									<fieldId>{855D1E7B-3D08-4526-AD2D-FA2E86E9BE9B}</fieldId>
									<fieldId>{205ED0C5-D7B3-413A-8937-4B728937EFEF}</fieldId>
									<fieldId>{6CAC6CA9-127D-4CD0-B22E-E12D73D2372A}</fieldId>
									<fieldId>{BEBCE40D-9578-44DF-B126-EE555ACE9407}</fieldId>
									<fieldId>{6AFB4EB4-25C4-472B-AA65-8AD9DDB3BE2C}</fieldId>
									<fieldId>{DA4173D0-1F60-4EDC-84A0-04C140DE97D0}</fieldId>
									<fieldId>{6387CA9A-7A5A-4D33-B706-201681C0B74C}</fieldId>
									<fieldId>{0905F092-B5B5-4971-B87E-57F4810BD729}</fieldId>
									<fieldId>{90A7B1E0-C14E-4A3D-A717-72BEC978A99A}</fieldId>
									<fieldId>{6D62860C-E839-4065-A2C2-B2D69E60B939}</fieldId>
								</include>
								<fields hint="raw:AddComputedIndexField">
									<field fieldName="FundPage_PageLinkText" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundPageLinkText, LionTrust.Foundation.Indexing</field>
									<field fieldName="FundPage_PageUrl" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundPageUrl, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_Listing_Image_Protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundCardImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_FactSheet_Protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundFactSheetProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_FundTeamName" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundTeamName, LionTrust.Foundation.Indexing</field>
									<field fieldName="excluded_countries" returnType="stringCollection"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.ExcludedCountiresField, LionTrust.Foundation.Indexing</field>
									<field fieldName="salesforce_fundid" returnType="string"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.SalesforceFundIdField, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_FundManagerNames" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundManagerNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_FundName" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundName, LionTrust.Foundation.Indexing</field>
								</fields>
							</documentOptions>
							<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
								<fieldNames hint="raw:AddFieldByFieldName">
									<field fieldName="LegacyFund_FundManagers" returnType="stringCollection" />
									<field fieldName="LegacyFund_FundTeam" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="FundFacets_FundRanges" returnType="stringCollection" />
									<field fieldName="FundFacets_FundRegion" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="LegacyFund_FundName" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="LegacyFund_FundDescription" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="FundCard_Heading" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="FundCard_Description" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="LegacyFund_CitiCode" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="LegacyFund_HideFromFundList" returnType="bool" />
								</fieldNames>
							</fieldMap>
						</configuration>
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
							<!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>{IDOFOTHERAREATOINDEX}</Root>
              </crawler>-->
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
					<index id="liontrust_fund_master_index" search:require="solr" role:require="Standalone OR ContentManagement" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<indexAllFields>false</indexAllFields>
								<checkTemplateInheritance>true</checkTemplateInheritance>
								<!-- Included templates -->
								<include hint="list:AddIncludedTemplate">
									<Fund>{DADEC9BF-B6E8-4E04-A082-F4EB20B76FF9}</Fund>
								</include>
								<include hint="list:AddIncludedField">
									<fieldId>{855D1E7B-3D08-4526-AD2D-FA2E86E9BE9B}</fieldId>
									<fieldId>{205ED0C5-D7B3-413A-8937-4B728937EFEF}</fieldId>
									<fieldId>{6CAC6CA9-127D-4CD0-B22E-E12D73D2372A}</fieldId>
									<fieldId>{BEBCE40D-9578-44DF-B126-EE555ACE9407}</fieldId>
									<fieldId>{6AFB4EB4-25C4-472B-AA65-8AD9DDB3BE2C}</fieldId>
									<fieldId>{DA4173D0-1F60-4EDC-84A0-04C140DE97D0}</fieldId>
									<fieldId>{6387CA9A-7A5A-4D33-B706-201681C0B74C}</fieldId>
									<fieldId>{0905F092-B5B5-4971-B87E-57F4810BD729}</fieldId>
									<fieldId>{90A7B1E0-C14E-4A3D-A717-72BEC978A99A}</fieldId>
									<fieldId>{6D62860C-E839-4065-A2C2-B2D69E60B939}</fieldId>
								</include>
								<fields hint="raw:AddComputedIndexField">
									<field fieldName="FundPage_PageLinkText" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundPageLinkText, LionTrust.Foundation.Indexing</field>
									<field fieldName="FundPage_PageUrl" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundPageUrl, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_Listing_Image_Protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundCardImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_FactSheet_Protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundFactSheetProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_FundTeamName" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundTeamName, LionTrust.Foundation.Indexing</field>
									<field fieldName="excluded_countries" returnType="stringCollection"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.ExcludedCountiresField, LionTrust.Foundation.Indexing</field>
									<field fieldName="salesforce_fundid" returnType="string"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.SalesforceFundIdField, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_FundManagerNames" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundManagerNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="Fund_FundName" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Fund.FundName, LionTrust.Foundation.Indexing</field>
								</fields>
							</documentOptions>
							<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
								<fieldNames hint="raw:AddFieldByFieldName">
									<field fieldName="LegacyFund_FundManagers" returnType="stringCollection" />
									<field fieldName="LegacyFund_FundTeam" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="FundFacets_FundRanges" returnType="stringCollection" />
									<field fieldName="FundFacets_FundRegion" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="LegacyFund_FundName" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="LegacyFund_FundDescription" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="FundCard_Heading" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="FundCard_Description" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="LegacyFund_CitiCode" returnType="string" nullValue="NULLVALUE" emptyString="EMPTYVALUE" />
									<field fieldName="LegacyFund_HideFromFundList" returnType="bool" />
								</fieldNames>
							</fieldMap>
						</configuration>
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="ContentManagement and !Indexing" />
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>master</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
							<!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>{IDOFOTHERAREATOINDEX}</Root>
              </crawler>-->
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>

					<index id="liontrust_generic_web_index" search:require="solr" role:require="Standalone OR ContentDelivery" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<indexAllFields>true</indexAllFields>
								<checkTemplateInheritance>true</checkTemplateInheritance>
								<!-- Included templates -->
								<include hint="list:AddIncludedTemplate">
									<GenericListingModuleItem>{FF052B94-76BD-4482-855F-AF3712EE4872}</GenericListingModuleItem>
								</include>
								<include hint="list:AddIncludedField">
									<fieldId>{25BED78C-4957-4165-998A-CA1B52F67497}</fieldId>
									<fieldId>{62FA783B-735E-4510-91DA-900018033CCC}</fieldId>
									<fieldId>{F0C2DFC2-0F2E-4082-A532-87B9AD9B9B9E}</fieldId>
									<fieldId>{146CBBD2-0E88-4FD6-B4B4-49B462266089}</fieldId>
									<fieldId>{694C3F81-60C0-4719-AA8C-5A4264623FEB}</fieldId>
									<fieldId>{FF934E56-BADD-46E1-BFB4-695F32B1D6C5}</fieldId>
								</include>
								<fields hint="raw:AddComputedIndexField">
									<field fieldName="genericlistingmoduleitem_year" storageType="yes" returnType="int" >LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.Year, LionTrust.Foundation.Indexing</field>
									<field fieldName="genericlistingmoduleitem_month" storageType="yes" returnType="int" >LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.Month, LionTrust.Foundation.Indexing</field>
									<field fieldName="genericlistingmoduleitem_image" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.ImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="genericlistingmoduleitem_imagewidth" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.ImageWidth, LionTrust.Foundation.Indexing</field>
									<field fieldName="genericlistingmoduleitem_richtext" storageType="yes" returnType="text">LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.Text, LionTrust.Foundation.Indexing</field>
									<field fieldName="excluded_countries" returnType="stringCollection"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.ExcludedCountiresField, LionTrust.Foundation.Indexing</field>
								</fields>
							</documentOptions>
							<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
								<fieldNames hint="raw:AddFieldByFieldName">
									<field fieldName="GenericListingModuleItem_Title" returnType="string" />
									<field fieldName="GenericListingModuleItem_Subtitle" returnType="string" />									
									<field fieldName="GenericListingModuleItem_Image" returnType="string" />
									<field fieldName="GenericListingModuleItem_ListingType" returnType="string" />
									<field fieldName="__Created" returnType="datetime" />
								</fieldNames>
							</fieldMap>
						</configuration>
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
							<!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>{IDOFOTHERAREATOINDEX}</Root>
              </crawler>-->
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
					<index id="liontrust_generic_master_index" search:require="solr" role:require="Standalone OR ContentManagement" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<indexAllFields>true</indexAllFields>
								<checkTemplateInheritance>true</checkTemplateInheritance>
								<!-- Included templates -->
								<include hint="list:AddIncludedTemplate">
									<GenericListingModuleItem>{FF052B94-76BD-4482-855F-AF3712EE4872}</GenericListingModuleItem>
								</include>
								<include hint="list:AddIncludedField">
									<fieldId>{25BED78C-4957-4165-998A-CA1B52F67497}</fieldId>
									<fieldId>{62FA783B-735E-4510-91DA-900018033CCC}</fieldId>
									<fieldId>{F0C2DFC2-0F2E-4082-A532-87B9AD9B9B9E}</fieldId>
									<fieldId>{146CBBD2-0E88-4FD6-B4B4-49B462266089}</fieldId>
									<fieldId>{694C3F81-60C0-4719-AA8C-5A4264623FEB}</fieldId>
									<fieldId>{FF934E56-BADD-46E1-BFB4-695F32B1D6C5}</fieldId>
								</include>
								<fields hint="raw:AddComputedIndexField">
									<field fieldName="genericlistingmoduleitem_year" storageType="yes" returnType="int" >LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.Year, LionTrust.Foundation.Indexing</field>
									<field fieldName="genericlistingmoduleitem_month" storageType="yes" returnType="int" >LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.Month, LionTrust.Foundation.Indexing</field>
									<field fieldName="genericlistingmoduleitem_image" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.ImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="genericlistingmoduleitem_imagewidth" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.ImageWidth, LionTrust.Foundation.Indexing</field>
									<field fieldName="genericlistingmoduleitem_richtext" storageType="yes" returnType="text">LionTrust.Foundation.Indexing.ComputedFields.GenericListingModuleItem.Text, LionTrust.Foundation.Indexing</field>
									<field fieldName="excluded_countries" returnType="stringCollection"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.ExcludedCountiresField, LionTrust.Foundation.Indexing</field>
								</fields>
							</documentOptions>
							<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
								<fieldNames hint="raw:AddFieldByFieldName">
									<field fieldName="GenericListingModuleItem_Title" returnType="string" />
									<field fieldName="GenericListingModuleItem_Subtitle" returnType="string" />
									<field fieldName="GenericListingModuleItem_Text" returnType="string" />
									<field fieldName="GenericListingModuleItem_Image" returnType="string" />
									<field fieldName="GenericListingModuleItem_ListingType" returnType="string" />
									<field fieldName="__Created" returnType="datetime" />
								</fieldNames>
							</fieldMap>
						</configuration>
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="ContentManagement and !Indexing" />
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>master</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
							<!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>{IDOFOTHERAREATOINDEX}</Root>
              </crawler>-->
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
				</indexes>
			</configuration>
		</contentSearch>
	</sitecore>
</configuration>