<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<contentSearch>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes>
					<index id="liontrust_article_web_index" search:require="solr" role:require="Standalone OR ContentDelivery" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<indexAllFields>true</indexAllFields>
								<checkTemplateInheritance>true</checkTemplateInheritance>
								<!-- Included templates -->
								<include hint="list:AddIncludedTemplate">
									<LegacyArticle>{CC8E0204-33D0-47F7-831B-3608AC7DCDDA}</LegacyArticle>
									<!--<ArticlePage>{AB8309B9-E012-4C89-88BB-6D364FB5E0DB}</ArticlePage>-->
								</include>
								<include hint="list:AddIncludedField">
									<fieldId>{25BED78C-4957-4165-998A-CA1B52F67497}</fieldId>
									<fieldId>{79CC76CC-7503-449B-9809-9808CF6C2D26}</fieldId>
									<fieldId>{1C19356A-6E47-4D77-BA56-ADE349F17B9D}</fieldId>
									<fieldId>{094932B9-FF77-4977-966E-D18F7C7AC091}</fieldId>
									<fieldId>{D8CF5DA5-F35F-46D8-B15E-8B388DC01000}</fieldId>
									<fieldId>{15F3AFE1-AB21-4B6B-A434-4C0F7B927921}</fieldId>
									<fieldId>{58B0791B-504E-423C-8D9E-E16C419353FA}</fieldId>
									<fieldId>{52161005-9691-46CD-AF73-E2B5455474C0}</fieldId>
									<fieldId>{5BD6E9E9-2240-4473-8094-075E811B8438}</fieldId>
									<fieldId>{8EB78475-C445-4960-84B0-E946D262F81C}</fieldId>
									<fieldId>{A57E5061-EEE7-48A2-A8BF-88FFDF014FD4}</fieldId>
								</include>
								<fields hint="raw:AddComputedIndexField">
									<field fieldName="article_url" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleUrl, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_image_protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_listing_image_protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleListingImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_names" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_topic_names" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleTopicNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_category_tag_name" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleCategoryTagName, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_fund_name" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleFundName, LionTrust.Foundation.Indexing</field>
								</fields>
							</documentOptions>
							<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
								<fieldNames hint="raw:AddFieldByFieldName">
									<field fieldName="LegacyArticle_Authors" returnType="stringCollection" />
									<field fieldName="__Created" returnType="datetime" />
									<field fieldName="Article_Date" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'" />
									<field fieldName="LegacyArticle_Fund" returnType="string" />
									<field fieldName="LegacyArticle_Title" returnType="string" />
									<field fieldName="LegacyArticle_Subtitle" returnType="string" />
									<field fieldName="LegacyArticle_BlogType" returnType="string" />
									<field fieldName="LegacyArticle_Team" returnType="stringCollection" />
									<field fieldName="Article_Topics" returnType="stringCollection" />
									<field fieldName="Article_ListingImageOpacity" returnType="string" />
								</fieldNames>
							</fieldMap>
						</configuration>
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
							<!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>{IDOFOTHERAREATOINDEX}</Root>
              </crawler>-->
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
					<index id="liontrust_article_master_index" search:require="solr" role:require="Standalone OR ContentManagement" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
							<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
								<indexAllFields>true</indexAllFields>
								<checkTemplateInheritance>true</checkTemplateInheritance>
								<!-- Included templates -->
								<include hint="list:AddIncludedTemplate">
									<LegacyArticle>{CC8E0204-33D0-47F7-831B-3608AC7DCDDA}</LegacyArticle>
									<!--<ArticlePage>{AB8309B9-E012-4C89-88BB-6D364FB5E0DB}</ArticlePage>-->
								</include>
								<include hint="list:AddIncludedField">
									<fieldId>{25BED78C-4957-4165-998A-CA1B52F67497}</fieldId>
									<fieldId>{79CC76CC-7503-449B-9809-9808CF6C2D26}</fieldId>
									<fieldId>{1C19356A-6E47-4D77-BA56-ADE349F17B9D}</fieldId>
									<fieldId>{094932B9-FF77-4977-966E-D18F7C7AC091}</fieldId>
									<fieldId>{D8CF5DA5-F35F-46D8-B15E-8B388DC01000}</fieldId>
									<fieldId>{15F3AFE1-AB21-4B6B-A434-4C0F7B927921}</fieldId>
									<fieldId>{58B0791B-504E-423C-8D9E-E16C419353FA}</fieldId>
									<fieldId>{52161005-9691-46CD-AF73-E2B5455474C0}</fieldId>
									<fieldId>{5BD6E9E9-2240-4473-8094-075E811B8438}</fieldId>
									<fieldId>{8EB78475-C445-4960-84B0-E946D262F81C}</fieldId>
									<fieldId>{A57E5061-EEE7-48A2-A8BF-88FFDF014FD4}</fieldId>
								</include>
								<fields hint="raw:AddComputedIndexField">
									<field fieldName="article_url" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleUrl, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_image_protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_listing_image_protected" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleListingImageProtected, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_author_names" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleAuthorNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_topic_names" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleTopicNames, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_category_tag_name" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleCategoryTagName, LionTrust.Foundation.Indexing</field>
									<field fieldName="article_fund_name" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleFundName, LionTrust.Foundation.Indexing</field>
								</fields>
							</documentOptions>
							<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
								<fieldNames hint="raw:AddFieldByFieldName">
									<field fieldName="LegacyArticle_Authors" returnType="stringCollection" />
									<field fieldName="__Created" returnType="datetime" />
									<field fieldName="Article_Date" returnType="datetime" format="yyyy-MM-dd'T'HH\:mm\:ss'Z'" />
									<field fieldName="LegacyArticle_Fund" returnType="string" />
									<field fieldName="LegacyArticle_Title" returnType="string" />
									<field fieldName="LegacyArticle_Subtitle" returnType="string" />
									<field fieldName="LegacyArticle_BlogType" returnType="string" />
									<field fieldName="LegacyArticle_Team" returnType="stringCollection" />
									<field fieldName="Article_Topics" returnType="stringCollection" />
									<field fieldName="Article_ListingImageOpacity" returnType="string" />
								</fieldNames>
							</fieldMap>
						</configuration>
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="ContentManagement and !Indexing" />
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>master</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
							<!--<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>{IDOFOTHERAREATOINDEX}</Root>
              </crawler>-->
						</locations>
						<enableItemLanguageFallback>false</enableItemLanguageFallback>
						<enableFieldLanguageFallback>false</enableFieldLanguageFallback>
					</index>
				</indexes>
			</configuration>
		</contentSearch>
	</sitecore>
</configuration>