<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<siteSearchSolrIndexConfiguration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
					<documentOptions ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentOptions" type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<indexAllFields>false</indexAllFields>
						<checkTemplateInheritance>true</checkTemplateInheritance>
						<!-- Included templates -->
						<include hint="list:AddIncludedTemplate">
							<IndexedItem>{8FD6C8B6-A9A4-4322-947E-90CE3D94916D}</IndexedItem>
						</include>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="page_url" returnType="string">LionTrust.Foundation.Indexing.SiteSearch.SearchUrlField, LionTrust.Foundation.Indexing</field>
							<field fieldName="page_author" returnType="string">LionTrust.Foundation.Indexing.SiteSearch.PageAuthorField, LionTrust.Foundation.Indexing</field>
							<field fieldName="page_author_image_url" returnType="string">LionTrust.Foundation.Indexing.SiteSearch.PageAuthorImageField, LionTrust.Foundation.Indexing</field>
							<field fieldName="fund_team_name" returnType="string">LionTrust.Foundation.Indexing.SiteSearch.FundTeamField, LionTrust.Foundation.Indexing</field>
							<field fieldName="fund_team_page" returnType="string">LionTrust.Foundation.Indexing.SiteSearch.FundTeamUrlField, LionTrust.Foundation.Indexing</field>
							<field fieldName="search_result_type" returnType="string">LionTrust.Foundation.Indexing.SiteSearch.SearchResultTypeField, LionTrust.Foundation.Indexing</field>
							<field fieldName="legacy_content" returnType="text" storageType="no" indexType="tokenized">LionTrust.Foundation.Indexing.SiteSearch.LegacyContentField, LionTrust.Foundation.Indexing</field>
							<field fieldName="fund_factsheet_url" storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.SiteSearch.FundFactsheetUrlField, LionTrust.Foundation.Indexing</field>
							<field fieldName="excluded_countries" returnType="stringCollection"  storageType="yes" indexType="tokenized">LionTrust.Foundation.Indexing.ComputedFields.SharedLogic.ExcludedCountiresField, LionTrust.Foundation.Indexing</field>
							<field fieldName="article_created_date" storageType="yes" returnType="datetime">LionTrust.Foundation.Indexing.ComputedFields.Article.ArticleCreatedDate, LionTrust.Foundation.Indexing</field>
							<field fieldName="related_fund_name" returnType="text">LionTrust.Foundation.Indexing.SiteSearch.RelatedFundNameField, LionTrust.Foundation.Indexing</field>
							<field fieldName="related_fund_url" returnType="string">LionTrust.Foundation.Indexing.SiteSearch.RelatedFundUrlField, LionTrust.Foundation.Indexing</field>
							<field fieldName="priority" returnType="int">LionTrust.Foundation.Indexing.SiteSearch.PriorityField, LionTrust.Foundation.Indexing</field>
						</fields>
						<include hint="list:AddIncludedField">
							<!--Legacy Exclude and Foundation Include in Search Results -->
							<fieldId>{C7D0C7F7-B27C-4F96-B813-32BB19174B6A}</fieldId>
							<fieldId>{8D5C486E-A0E3-4DBE-9A4A-CDFF93594BDA}</fieldId>
							<fieldId>{AEBDD235-46DD-490A-BAE3-C613C670A8BF}</fieldId>
							<fieldId>{8A3692C4-8014-4BDD-9F9F-74ACFCC1C501}</fieldId>
							<fieldId>{EEB8DB99-7DA8-4973-ADF7-BCF7B29EBA79}</fieldId>
							<fieldId>{B8323BF1-0966-46F5-9356-D47F2264A01D}</fieldId>
							<fieldId>{79CC76CC-7503-449B-9809-9808CF6C2D26}</fieldId>
						</include>
					</documentOptions>
					<fieldMap ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap">
						<fieldNames hint="raw:AddFieldByFieldName">
							<field fieldName="page_url" returnType="string" />
							<field fieldName="page_author" returnType="string" />
							<field fieldName="page_author_image_url" returnType="string" />
							<field fieldName="fund_team_name" returnType="string" />
							<field fieldName="fund_team_page" returnType="string" />
							<field fieldName="search_result_type" returnType="string" />
							<field fieldName="legacy_content" returnType="text" />
							<field fieldName="legacypresentationbase_pagetitle" returnType="text" />
							<field fieldName="LegacyDocument_DocumentName" returnType="text" />
							<field fieldName="LegacyDocument_DocumentDescription" returnType="string" />
							<field fieldName="article_created_date" returnType="datetime" />
							<field fieldName="related_fund_name" returnType="text" />
							<field fieldName="related_fund_url" returnType="string" />
							<field fieldName="priority" returnType="int" />
						</fieldNames>
					</fieldMap>					
				</siteSearchSolrIndexConfiguration>
			</indexConfigurations>
			<configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
				<indexes>
					<index id="liontrust_search_master_index" search:require="solr" role:require="Standalone OR ContentManagement" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/siteSearchSolrIndexConfiguration" />
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual" role:require="ContentManagement and !Indexing" />
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/intervalAsyncMaster" role:require="Standalone or (ContentManagement and Indexing)" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>master</Database>
								<Root>/sitecore/content</Root>
							</crawler>
						</locations>
						<enableItemLanguageFallback>true</enableItemLanguageFallback>
						<enableFieldLanguageFallback>true</enableFieldLanguageFallback>
					</index>
					<index id="liontrust_search_web_index" search:require="solr" role:require="Standalone OR ContentManagement" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
						<param desc="name">$(id)</param>
						<param desc="core">$(id)</param>
						<param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
						<configuration ref="contentSearch/indexConfigurations/siteSearchSolrIndexConfiguration" />
						<strategies hint="list:AddStrategy">
							<!-- NOTE: order of these is controls the execution order -->
							<strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
						</strategies>
						<commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
							<policies hint="list:AddCommitPolicy">
								<policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
								<policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
									<Limit>1000</Limit>
								</policy>
							</policies>
						</commitPolicyExecutor>
						<locations hint="list:AddCrawler">
							<crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
								<Database>web</Database>
								<Root>/sitecore/content/</Root>
							</crawler>
						</locations>
						<enableItemLanguageFallback>true</enableItemLanguageFallback>
						<enableFieldLanguageFallback>true</enableFieldLanguageFallback>
					</index>
				</indexes>
			</configuration>
		</contentSearch>
	</sitecore>
</configuration>
