<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[@type='LionTrust.Foundation.SitecoreExtensions.Pipelines.HttpRequestBegin.ItemNotFoundProcessor, LionTrust.Foundation.SitecoreExtensions']" type="LionTrust.Feature.Redirects.Pipelines.RedirectResolver, LionTrust.Feature.Redirects" resolve="true" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
