<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration
				  name="Feature.Promo"
				  description="Feature Promo"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
					<predicate>
						<include name="Feature.Promo.Settings" database="master" path="/sitecore/system/Settings/Feature/Promo" />
						<include name="Feature.Promo.MediaLibrary" database="master" path="/sitecore/media library/Feature/Promo" />
						<include name="Feature.Promo.Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature/Promo" />
						<include name="Feature.Promo.Templates" database="master" path="/sitecore/templates/Feature/Promo" />
						<include name="Feature.Promo.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Promo" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>