<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration
				  name="Foundation.LocalDatasource"
				  description="Foundation LocalDatasource"
				  dependencies="Foundation.Serialization"
				  patch:after="configuration[@name='Foundation.Serialization']"
				  extends="Helix.Feature.Base">
          <predicate>
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="$(layer).$(module).Templates.RenderingOptionsField" database="master" path="/sitecore/templates/System/Layout/Sections/Rendering Options/Editor Options/Supports Local Datasource" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>