<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="GoogleCaptchaPublicKey" value="6LfCO6EfAAAAADDLLaPrqt-2TIIyinUQU52AduDl" />
			<setting name="GoogleCaptchaPrivateKey" value="6LfCO6EfAAAAAK22Bt-n7PL6xy_UDGdsMlSFXw-N" />
			<setting name="XDbPreferredAddress" value="preferred" />
			<setting name="XDbPreferredPhoneNumber" value="preferred" />
			<setting name="XDbPreferredEmailAddress" value="preferred" />
			<setting name="MakeContactKnownOnFormsUpdate" value="true" />
		</settings>
	</sitecore>
</configuration>