@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Article.Models.IArticle
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<div class="article-with-small pt-3">
    <span>
        @Html.Glass().Editable(m => m.Body)
    </span>
</div>