@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Article.Models.FeaturedArticlesViewModel
<section class="featured-articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="featured-articles__title">
                    @Html.Glass().Editable(m => m.Data.Heading)
                </h2>
            </div>
        </div>
        <div class="featured-article">
            <div class="row">
                @{ var counter = 1; }
                @foreach (var item in Model.FeaturedArticles)
                {
                    <div class="col-lg-6">
                        <div class="featured-article__item">
                            <a href="@item.Url" class="featured-article__link">
                                <div class="featured-article__number">@(counter)</div>
                                <span class="featured-article__text">
                                    @item.Content
                                </span>
                            </a>
                        </div>
                    </div>

                    counter++;
                }
            </div>
        </div>
    </div>
</section>