@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Feature.Article.Models.IArticleText
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<div class="article-with-big-quote">
    <p class="font-500 big-quote">
        @Html.Glass().Editable(m => m.Copy)
    </p>
</div>