<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <!--<setting name="Feature.Search.FundManagerFolder" value="" />-->
			<setting name="Feature.Search.ArticleApiRoute" value="ArticleSearchApi" />
        </settings>
    </sitecore>
</configuration>