.c-copy-block
    font-family: $f-gotham
    font-weight: normal
    h2
        text-align:  left
        color: $c-orange 
        &:empty
            display: none

    .e-list-block 
        max-width: $v-max-width-sm
        margin: auto
        padding: inherit
        h2
            text-align:  center
        li
            line-height: 160%
            margin-left: 10px
            text-indent: -35px
            margin-bottom: 30px
            font-weight: 400
            
            &::before
                border: 2px solid $c-orange
                border-radius: 50%
                content: ""
                display: inline-block
                margin-right: 20px
                height: 10px
                width: 10px
                position: relative
                bottom: -1px
