.c-content-block
    font-family: $f-gotham
    font-weight: normal
    h1, h2
        font-size: 32px
        line-height: 38px
        color: $c-orange
        @include mb(3)
        @include mt(0)
        @include lg
            font-size: 36px
            line-height: 42px
        &:empty
            display: none
    p 
        font-size: 14px
        line-height: 20px
        color: $c-black
        @include lg
            font-size: 16px
            line-height: 22px
        &.bold
            font-weight: 500
        &:empty
            display: none
    img 
        width: 100%

    .hide-lg
        display: none
        @include lg
            display: block

    &__cta
        
        @include mt(4)
        &:empty
            display: none
        a:hover 
            text-decoration: none

        // optionals
        &--liontrust-logo
            max-width: 175px
        &--linkedin
            display: flex
            flex-direction: row
            align-items: end
            position: relative
            i
                transform: scale(1)
                transition: all 200ms ease
                display: inline-block
                width: 22px
                height: 22px
                mask-size: auto 22px
                mask-repeat: no-repeat
                mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.079' height='22.171' viewBox='0 0 22.079 22.171'%3E%3Cpath id='icon-color' d='M5.468,22.579H.868V7.768h4.6ZM3.168,5.836a2.668,2.668,0,1,1,1.887-.781A2.668,2.668,0,0,1,3.168,5.836ZM22.579,22.579h-4.6V15.4c0-1.748,0-3.864-2.392-3.864s-2.76,1.84-2.76,3.772v7.36h-4.6V7.768h4.416V9.884h.092A4.6,4.6,0,0,1,17.06,7.492c4.6,0,5.52,3.036,5.52,6.992Z' transform='translate(-0.5 -0.5)' fill='%23414855'/%3E%3C/svg%3E%0A")
                background-color: $c-scorpion
            span
                font-family: $f-gotham-book
                font-weight: 300
                font-size: 12px
                line-height: 17px
                letter-spacing: 2.4px
                color: $c-scorpion
                text-transform: uppercase
                @include pl(3)
                text-decoration: none
            &:hover
                span 
                    text-decoration: none
                    color: $c-orange
                i 
                    transform: scale(1.1)
                    background-color: $c-orange 