.c-copy-block
    font-family: $f-gotham
    font-weight: normal
   
    &--featured
        p, li
            font-size: 18px
            font-weight: 400
    &--shade
        background-color: $c-white-lilac   
    &--dark 
        background-color: $c-navy
        color: $c-white
        p 
            font-size: 14px
            line-height: 20px
            font-weight: 300    
    
    h2, h3 
        @include mt(0)
        text-align:  left
        color: $c-orange 
        &:empty
            display: none
    ul.e-list-block
        @extend .e-list-block
        @include mx(4)
        li
            font-weight: 300
    .e-box
        border-top: 1px solid $c-orange
        border-bottom: 1px solid $c-orange
        background-color: $c-whisper
        @include px(4)
        @include py(3)
        @include mt(4)
        &.zero-margin
            @include mt(0) 

