.c-document-tab-nav
    .tab-nav
        color: $black
        margin-bottom: 2.3rem
        display: none
        flex-wrap: wrap
        align-items: center
        gap: 2%
        @include pt(4)
        @include lg
            display: flex

        .tab-nav-item
            max-width: 15%
            flex-basis: 15%    
            div
                @include px(4)
                cursor: pointer
                text-align: center
                color: $c-black
                border-bottom: 2px solid $c-black
                padding: 11px
                transition: color .3s ease-out, border-color .3s ease-out
                &:hover
                    color: $c-orange
                    border-color: $c-orange
                &.active
                    color: $c-orange
                    border-color: $c-orange

    .tab-nav-content
        .doc-list
            display: none
            &.active
                display: block

    .select-mobile 
        display: block 
        @include lg
            display: none 

    .doc-list 
        span
            @include lg
                max-width: 250px
            @include xl
                max-width: 380px
        .doc-list-item
            display: flex
            flex-direction: column
            border-bottom: 1px solid $c-whisper
            @include my(4)
            @include lg
                display: flex
                flex-direction: row
                justify-content: space-between
                // display: grid
                // grid-template-columns: 1fr 1fr minmax(200px, 500px) 
                // grid-gap: 1rem
            span
                @include py(1)
                @include lg
                    @include py(0)
                    // min-width: 10%
                &:first-child
                    max-width: 100px
            div
                display: contents
                a
                    color: $c-orange
                    @include py(1)
                    @include lg
                        @include py(0)
                        min-width: 10%
                    &.hide-link
                        display: none
                        @include lg
                            display: block
                            visibility: hidden
                i 
                    @include px(2)
                    font-size: 14px
                    position: relative
                    bottom: -1px
                    &.icon-file
                        font-size: 18px
