.c-fund-docs
    ul
        @include mb(4)
        li
            columns: 1
            justify-items: center
            @include mb(4)
            @include sm
                columns: 2
            p  
                @include m(0)
                text-align: left
                font-weight: 500
                span
                    font-weight: 300
                    font-size: 14px
                    display: block
                    color: $c-scorpion
            div
                text-align: left
                @include sm
                    text-align: right
                a
                    @extend .fx
                    font-size: 16px
                    i 
                        @include ml(3)
                    
            
   
            