.c-list-block
    h1
        text-align:  center
        font-size: 32px
        line-height: 38px
        color: $c-orange
        @include mb(4)
        @include lg
            @include mb(5)
            font-size: 36px
            line-height: 42px
        &:empty
            display: none
    ul
        @include mx(4)
        li
            line-height: 160%
            margin-left: 5px
            text-indent: -35px
            margin-bottom: 30px
            font-weight: 400
           
            &::before
                border: 2px solid $c-orange
                border-radius: 50%
                content: ""
                display: inline-block
                margin-right: 20px
                height: 10px
                width: 10px
                position: relative
                bottom: -2px
