.c-promo-author
    
    img
        width: 100% 
        border-radius: 10px
    cite
        font-style: normal
        color: $c-orange
        @extend h3
    p
        font-weight: 500
    a
        color: $c-orange
        @extend .animate
        font-size: 14px
