.c-promo-block--x4
    font-family: $f-gotham
    font-weight: normal
    h2
        text-align:  left
        font-size: 32px
        line-height: 38px
        color: $c-orange 
            font-size: 36px
            line-height: 42px
        &:empty
            display: none

    img
        width: 100%
