.c-promo-author
    @include mb(3)
    img
        width: 100% 
        border-radius: 10px
    cite
        font-style: normal
        color: $c-orange
        @extend h3
    p
        b
            display: block
            text-transform: capitalize
    a
        @extend .fx
