.g-slide-panel
    border-left: 5px solid $c-orange
    position: fixed
    left: 0
    height: 100%
    width: 90%
    background-color: $c-white
    -webkit-overflow-scrolling: touch
    z-index: 10000
    top: 0
    overflow-y: auto
    overflow-x: none
    opacity: 1
    transform: translateX(200%) 
    transition: transform 300ms cubic-bezier(0.77,0.2,0.05,1.0)
    @include md 
        width: 40%
        transform: translateX(250%)
    &.active 
        transform: translateX(10%)
        @include md
            transform: translateX(150%) 
    &__content
        @extend .c-copy-block
        @include px(3)
        @include py(5) 
        h2, h3
            @include mb(0)
            color: $c-orange
        h3 
            &:not(:first-child)
                @include mt(3)
                @include mb(2)
        ul
            display: flex
            flex-direction: column
            li
                line-height: 2.5em
                a
                    display: block
                    color: inherit
                    font-size: 16px
                    &:hover
                        color: $c-orange
                    i
                        @include mr(2)
                        color: $c-orange
                        font-size: 20px
                        bottom: -2px
                        position: relative

    &__close
        position: absolute
        right: 25px
        top: 20px
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-content: space-between
        color: $c-black 
        font-family: $f-futura
        font-weight: 300
        text-transform: uppercase
        font-size: 10px
        letter-spacing: 2px
        text-decoration: none
        width: fit-content
        text-align: center
        line-height: 0
        width: 36px 
        height: 40px 
        transition: all 150ms ease
        i  
            position: absolute 
            width: 36px 
            height: 36px 
            opacity: 0.8 
            &::before, &::after 
                position: absolute 
                left: 18px 
                content: ' '
                height: 35px 
                width: 2px 
                background-color: $c-black  
            &::before 
                    transform: rotate(45deg) 
            &::after 
                    transform: rotate(-45deg)
        span
            position: relative
            bottom: -5px
        &:hover, &:active
            color: $c-orange
            text-decoration: none 
            transition: all 100ms ease
            i 
                &::before, &::after 
                    background-color: $c-orange 
            span
                color: $c-orange