.g-hero
    position: relative
    width: 100%
    &__bg
        position: absolute 
        display: block
        width: 100%
        // background-color: $c-navy
        picture
            display: block
            position: relative
            // transform: translateY(100px)
            img
                display: block
                width: 100% 
    h1 
        color: $c-white 
        text-transform: uppercase
        letter-spacing: 1.44px
        text-shadow: 0px 0px 10px $c-black
        @include mb(3)
        
    p
        @include mb(4)
        color: $c-white       