<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/parsleyjs@2.9.2/dist/parsley.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/modal-video@2.4.8/js/jquery-modal-video.min.js
"></script>

<!-- <script src="js/listing-page.min.js"></script>
<script src="js/search-page.min.js"></script>
<script src="js/charts-page.min.js"></script>
<script src="js/chartjs-plugin-datalabels@0.7.0.js"></script>
<script src="js/shuffle.js"></script>
<script src="js/components/galleryApp.js"></script>
<script src="js/scrollnav.min.umd.js"></script> -->
<div class="u-screen"></div>
</body>

</html>