<!DOCTYPE html>
<html lang="en">
<head>
	<title><!--#echo var="title" --></title>

	<link rel="icon" type="image/png" sizes="64x64" href="/images/EIT_Favicon_64x64.png" />

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="description" content="Edinburgh Investment Trust offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions." />

	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.edinburugh-investment-trust.co.uk" />
	<meta property="og:image" content="https://www.edinburugh-investment-trust.co.uk/images/EIT_SocialShare_1600x900.png" />
	<meta property="og:site_name" content="Edinburugh Investment Trust" />
	<meta property="og:title" content="Edinburugh Investment Trust" />
	<meta property="og:description" content="Edinburgh Investment Trust offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions." />
	
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image" content="https://www.edinburugh-investment-trust.co.uk/images/EIT_SocialShare_1600x900.png" />
	<meta name="twitter:title" content="Edinburugh Investment Trust" />
	<meta name="twitter:description" content="Edinburgh Investment Trust offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions." />
	
	<meta itemprop="name" content="Edinburugh Investment Trust" />
	<meta itemprop="description" content="Edinburgh Investment Trust offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions." />
	<link itemprop="image" href="https://www.edinburugh-investment-trust.co.uk/images/EIT_SocialShare_1600x900.png" />
	<!-- 1600px by 900px -->

	<meta name="msapplication-TileColor" content="#F5834C" />
	<meta name="theme-color" content="#F5834C" />

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	
	<!--#include virtual="preloader.html" -->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" rel="preload" href="css/styles.min.css" />

	<script rel="preload" src="js/app.min.js"></script>
</head>
