<!DOCTYPE html>
<html lang="en">
<head>
	<title><!--#echo var="title" --></title>
	<link rel="preload" href="images/hero-generic-desktop-v2.png" as="image" media="(min-width: 992px)" />
	<link rel="icon" type="image/png" sizes="64x64" href="/images/EIT_Favicon_64x64.png" />

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="title" content="Edinburugh Investment Trust" />
	<meta name="description" content="Edinburgh Investment Trust offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions." />

	<!--#include virtual="meta.html" -->

	<meta name="msapplication-TileColor" content="#F5834C" />
	<meta name="theme-color" content="#F5834C" />

	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />

	
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;900&display=swap" rel="stylesheet" />
	
	 
	<link rel="stylesheet" rel="preload" href="css/styles.min.css" />

	<script rel="preload" src="js/app.min.js"></script>
</head>
