<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.edinburugh-investment-trust.co.uk" />
<meta property="og:image" content="https://www.edinburugh-investment-trust.co.uk/images/EIT_SocialShare_1600x900.png" />
<meta property="og:site_name" content="Edinburugh Investment Trust" />
<meta property="og:title" content="Edinburugh Investment Trust" />
<meta property="og:description" content="Edinburgh Investment Trust offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions." />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://www.edinburugh-investment-trust.co.uk/images/EIT_SocialShare_1600x900.png" />
<meta name="twitter:title" content="Edinburugh Investment Trust" />
<meta name="twitter:description" content="Edinburgh Investment Trust offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions." />

<meta itemprop="name" content="Edinburugh Investment Trust" />
<meta itemprop="description" content="Edinburgh Investment Trust offers a high-conviction portfolio of UK equities. The Liontrust Global Fundamental Team aims to deliver long-term added value regardless of economic and market conditions." />
<link itemprop="image" href="https://www.edinburugh-investment-trust.co.uk/images/EIT_SocialShare_1600x900.png" />