<section class="u-edge c-copy-block zero-margin u-sg" style="background-color: black;">
    <div class="u-container" style="display: flex; justify-content: space-between; color: white">
      <div>
      <a href="/" class="g-header__brand" title="Link - Homepage" tabindex="0" accesskey="h">
          <img src="images/EIT_logo2x.png" alt="Edinburgh Investment Trust"><br>
        </a> 
        

        </div>
        <div>
        <h1>FE Style Guide</h1>
        <a href="/index.html"  style=" color: #f5834c">Back to Main Component List</a>
        </div>
        <div><p>Author: Rob Bradley</p><p>Jan 2023</p></div>
    </div>
  </section>