<div class="article-promo">
  <a href="#article promo" class="article-promo__front">
  </a>
  <a href="#" class="article-promo__body">
    <div class="article-promo__head">
      <img class="article-promo__head-img" src="images/components/banners/writer.jpeg" alt="">
      <span class="article-promo__head-title <!--#echo var=" article-promo-author-name" -->" </span>December 2020 Review</span>
    </div>
    <span class="article-promo__title">
      Liontrust UK Growth Fund
    </span>
    <span class="article-promo__desc">
      Contrasting investor reactions to Halma and Sage Group business reorganisations.
    </span>
  </a>
  <div class="article-promo__footer">
    <div class="article-promo__footer-item">
      <img class="article-promo__clock" src="\images\components\svg-icons\clock.svg" alt="icon">
      <span class="article-promo__footer-text">4 January 2021</span>
    </div>
    <div class="article-promo__footer-item">
      <span class="article-promo__footer-text">Fund Updates</span>
      <i class="icon-booksmark article-promo__bookmark"></i>
    </div>
  </div>

  <img class="article-promo__back" src="images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
</div>