<div class="article-promo">
  <a href="#article promo" class="article-promo__front">
  </a>
  <a href="#" class="article-promo__body">
    <div class="article-promo__head">
      <img class="article-promo__head-img" src="images/components/banners/writer.jpeg" alt="">
      <span class="article-promo__head-title <!--#echo var=" article-promo-author-name" -->" </span>Marwan
      saleh</span>
    </div>
    <span class="article-promo__title">
      Ongoing evolution of our Sustainable Investment themes
      Ongoing evolution of our Sustainable Investment themes
    </span>
    <span class="article-promo__desc">
      The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual
      review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
      The Sustainable Investment team have added a new leisure theme and updated three others as part of their annual
      review. Peter Michaelis explains the reasoning behind and opportunities for these themes.
    </span>
  </a>
  <div class="article-promo__footer">
    <div class="article-promo__footer-item">
      <img class="article-promo__clock" src="\images\components\svg-icons\clock.svg" alt="icon">
      <span class="article-promo__footer-text">4 January 2021</span>
    </div>
    <div class="article-promo__footer-item">
      <i class="icon-booksmark article-promo__bookmark"></i>
    </div>
  </div>

  <img class="article-promo__back" src="images/components/imagepromo/vasily-koloda-8CqDvPuo_kI-unsplash.png" alt="">
</div>