<div class="onboarding-overlay__tab" data-tab-number="2">
    <div class="onboarding-overlay__title">
        Which of these best describes you
    </div>
    <div class="onboarding-overlay__btns">
        <button data-set-step="3" data-investor-type="0"
                class="btn btn-primary m-2 m-sm-0 mr-sm-2 mr-md-3 onboarding-overlay__set-step"
                id="correct-location">
            Private investor
            <i class="icon-arrow-right animate-arrow"></i>
        </button>
        <button data-set-step="3" data-investor-type="1" class="btn btn-primary onboarding-overlay__set-step">
            Professional investor
            <i class="icon-arrow-right animate-arrow"></i>
        </button>
    </div>
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="onboarding-overlay__get-hint">
        Why are you asking this?
    </a>
</div>
