<div class="onboarding-overlay__tab" data-tab-number="3">
    <div class="onboarding-overlay__title">
        And finally, please confirm the following
    </div>
    <div class="onboarding-overlay__text">
        I’m a Private Investor in the United Kingdom and I agree to comply with the <a href="#"
                                                                                       class="onboarding-overlay__link">
            terms and conditions
        </a> of the
        website.
    </div>
    <div class="onboarding-overlay__btns">
        <button class="btn btn-primary" id="submit-board">
            Yes, I agree
            <i class="icon-arrow-right animate-arrow"></i>
        </button>
    </div>
</div>
