.badge
    display: inline-block
    height: 16px
    font-size: 10px
    font-weight: 500
    color: $gray
    padding: 1px 6px
    border: 1px solid $gray
    text-align: center
    border-radius: 3px
    vertical-align: middle
    white-space: nowrap

.badge-secondary
    // @extend .badge
    font-size: 12px
    background: rgba($secondary-silver , 0.6)
    color: $black
    padding: 3px 10px
    border-radius: 4px
    border: none