.btn
    display: inline-block
    font-weight: 400
    text-transform: uppercase
    color: $white
    text-align: center
    text-decoration: none
    vertical-align: middle
    cursor: pointer
    user-select: none
    background-color: transparent
    border: 1px solid transparent
    padding: 1.03rem 1.625rem
    font-size: 12px
    border-radius: 6px
    letter-spacing: 2.4px
    transition: color .3s ease-out,background-color .3s ease-out,border-color .3s ease-out,box-shadow .3s ease-out
    &-primary
        background: $primary
        &:hover
            background: #0E8039
    &-block
        width: 100%
