@font-face
    font-family: 'icomoon'
    src: url('../fonts/iconmoon/fonts/icomoon.eot?nx8edb')
    src: url('../fonts/iconmoon/fonts/icomoon.eot?nx8edb#iefix') format("embedded-opentype"), url('../fonts/iconmoon/fonts/icomoon.ttf?nx8edb') format("truetype"), url('../fonts/iconmoon/fonts/icomoon.woff?nx8edb') format("woff"), url('../fonts/iconmoon/fonts/icomoon.svg?nx8edb#icomoon') format("svg")
    font-weight: normal
    font-style: normal
    font-display: block

[class^="icon-"], [class*=" icon-"]
    font-family: 'icomoon' !important
    speak: never
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-folder:before
    content: "\e922"

.icon-download:before
    content: "\e920"

.icon-share:before
    content: "\e921"

.icon-sort:before
    content: "\e91e"

.icon-filter:before
    content: "\e91f"

.icon-icon-circle:before
    content: "\e91c"

.icon-icon-check-circle:before
    content: "\e91d"

.icon-follow:before
    content: "\e91b"

.icon-arrow-up:before
    content: "\e91a"

.icon-team:before
    content: "\e917"

.icon-file:before
    content: "\e918"

.icon-twitter:before
    content: "\e915"

.icon-chevron-left:before
    content: "\e914"

.icon-close:before
    content: "\e916"

.icon-chat:before
    content: "\e912"

.icon-arrow-left:before
    content: "\e919"

.icon-chevron-right:before
    content: "\e913"

.icon-tab:before
    content: "\e900"

.icon-arrow-right:before
    content: "\e901"

.icon-apple:before
    content: "\e902"

.icon-arrow-down:before
    content: "\e903"

.icon-bookmark:before
    content: "\e904"

.icon-email:before
    content: "\e905"

.icon-chevron:before
    content: "\e906"

.icon-mic:before
    content: "\e907"

.icon-linked-in:before
    content: "\e908"

.icon-clock:before
    content: "\e909"

.icon-booksmark:before
    content: "\e90a"

.icon-facebook:before
    content: "\e90b"

.icon-plus:before
    content: "\e90c"

.icon-wifi:before
    content: "\e90d"

.icon-search:before
    content: "\e90e"

.icon-settings:before
    content: "\e90f"

.icon-spotify:before
    content: "\e910"

.icon-user:before
    content: "\e911"

.icon-minus:before
    content: "\2212"
