// Changed default bootstrap styles
.modal
    backdrop-filter: blur(8px)
    &-full-height
        .modal-dialog, .modal-content
            height: 100%
        .modal-dialog
            overflow: hidden
        .modal-content
            overflow: auto
    &-right
        &.fade
            &.show
                .modal-dialog
                    transform: translate(0, 0) 
            .modal-dialog
                transform: translate(100%, 0)
        .modal-dialog
            margin-right: -18px
            margin-top: 0
            margin-bottom: 0
        .modal-header
            padding: 0
            button
                background: transparent
                border: none
                margin: 0 0 0 auto
                padding-right: 0
                font-size: 24px
                i
                    color: rgba($just-black, 0.5)
    &-content
        border-radius: 10px

        @include breakpoint(tablet, up)
            padding-left: 20px
            padding-right: 20px
            min-height: 370px
    &-header
        border-bottom: none
        padding-bottom: 0
        @include breakpoint(desktop, up)
            padding: 2rem 1rem 0.5rem
    &-title
        @extend .h1
    &-body
        @include font-size(20px)
        line-height: 1.5em
        color: $black
        padding-bottom: 0
    &-footer
        border-top: none
        justify-content: start
        padding-bottom: 15px
    &-btn
        @extend .btn
        color: $primary
        padding: 0
        min-width: auto
    &-backdrop
        backdrop-filter: blur(8px)
        opacity: 1
        background: none
        display: none
    &__close
        margin-top: 21px
    &-open
        header, footer
            z-index: -1