.pagination
    font-size: 12px
    letter-spacing: 2.4px
    font-weight: 500
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @include breakpoint(desktop-large, up)
        align-items: center
        justify-content: start
    &__list
        order: 1
        display: flex
        margin: 0 auto
        @include breakpoint(desktop-large, up)
            order: 0
            margin: 0 10px
    &__step
        width: 50%
        color: $primary
        text-transform: uppercase
        margin-bottom: 16px
        &_next, &_forward
            i
                display: inline-block
                transition: transform .3s ease-out
        &_next
            text-align: end
            &:hover
                i
                    transform: translate(10px, 0)
        &_forward
            &:hover
                i
                    transform: translate(-10px, 0)
        &:hover
            color: $primary
        @include breakpoint(desktop-large, up)
            width: auto
            margin-bottom: 0
    &__link
        color: $black
        display: inline-block
        width: 25px
        height: 25px
        line-height: 25px
        text-align: center
        letter-spacing: 0
        border-radius: 50%
        margin: 0 10px
        transition: background .3s ease-in-out, color .3s ease-in-out
        &.active
            background: $primary
            color: $white
        &:hover
            background: $primary
            color: $white
        &_steps
            color: $primary
            &:hover
                background: transparent
                color: $primary
