<section class="u-edge zero-margin g-hero g-hero--global">
    <div class="u-container">
        
        <div class="grid" data-grid="none">

            <div class="grid__item" data-grid="12/12" data-grid--small="8/12" data-grid--medium="6/12">

                <h1>Trust in a style to last through the ages</h1>

                <p>Our goal is to grow your capital and dividend payments regardless of economic and market conditions through a common-sense process that is thoughtful and responsible.</p>
 
                <div class="subtitle">
                    <p>Our goal is to grow your capital and dividend payments:</p> 
                   
                    <a href="#" class="e-button e-button__primary" tabindex="60" title="Sign up">Sign up</a>  
                </div>

                
            </div>

        </div>
    </div>
</section>
