<section class="u-edge zero-margin zero-padding g-hero g-hero--article">
    <div class="u-container">
       
        <div class="e-avatar">
            <div>
                <img itemprop="image" src="images/team/avatars/JamesdeUphaugh.png" alt="James de Uphaugh">
                <span itemprop="author">
                    James de Uphaugh
                </span>
            </div>
            <div>
                <img itemprop="image" src="images/team/avatars/JamesdeUphaugh.png" alt="James de Uphaugh">
                <span itemprop="author">
                    James de Uphaugh
                </span> 
            </div>
            <div>
                <img itemprop="image" src="images/team/avatars/JamesdeUphaugh.png" alt="James de Uphaugh">
                <span itemprop="author">
                    James de Uphaugh
                </span> 
            </div>
            
        </div>
        
        <p><time itemprop="datePublished">12.12.2023</time></p>

        <h1>THE FUTURE OF INFLATION HAS A GREEN HUE</h1>

        <p class="g-hero--subtitle">November 2022 review</p>
         
        <p class="g-hero--share">
            <a href="#" class="f-share-link" data-link="$url" title="Click to copy the link to this article to your clipboard">
                <i class="icon-share"></i>
                <span>Share Article</span>
            </a> 

            <a href="$url" title="Click to download this article" target="new">
                <i class="icon-download"></i>
                <span>Download Article</span>
            </a>
        </p>
    </div>
</section>
