<section class="u-edge zero-margin g-hero g-hero--global">
    <div class="u-container">
        
        <div class="grid" data-grid="none">

            <div class="grid__item" data-grid="12/12" data-grid--small="8/12" data-grid--medium="7/12">

                <h1>Our guide to financial words and terms</h1>

                <p>This is your guide to all the important words, abbreviations and phrases from the world of investing and pensions.</p>
                
                
            </div>

        </div>
    </div>
</section>
