<section class="u-edge zero-margin g-hero g-hero--global">
    <div class="u-container">
        
        <div class="grid" data-grid="none">

            <div class="grid__item" data-grid="12/12" data-grid--small="8/12" data-grid--medium="7/12">

                <h1>INSIGHTS AND LITERATURE</h1>

                <p>Discover the latest views and insights of the 16-strong investment team headed by James de Uphaugh and Chris Field.</p>
                
                <div class="e-button__container">
                    <a href="#" class="e-button e-button__primary" tabindex="50" title="MEET THE MANAGERS">MEET THE MANAGERS</a>
                    <a href="#" class="e-button e-button__secondary" tabindex="51" title="RECEIVE INSIGHTS">RECEIVE INSIGHTS</a>
                </div>
            </div>

        </div>
    </div>
</section>
