<nav class="g-nav-mobile">
    <div class="g-nav-mobile__content">
        <a href="#" class="mobile-control__close">
            <i></i>
            <span>Close</span>
        </a>
        <a href="/" class="g-nav-mobile__brand" title="Link - Homepage">
            <img src="images/EIT_logo2x.png" alt="Edinburgh Investment Trust">
        </a> 
        <ul class="g-nav-mobile__primary">
            <li><a href="/" title="Link - Home">Home</a></li>
            <li><a href="#" title="Link - About Us">About Us</a></li>
            <li><a href="#" title="Link - Performance & Positioning">Performance &amp;Positioning</a></li>
            <li><a href="#" title="Link - Insights & Literature">Insights &amp; Literature</a></li>
            <li><a href="#" title="Link - Results & Announcements">Results &amp; Announcements</a></li>
            <li><a href="#" title="Link - How to Invest & Contact Us">How to Invest &amp; Contact Us</a></li>
        </ul>

        <div class="g-nav-mobile__secondary">
            <a href="#" title="Link - My Preferences">My Preferences</a> 
        </div>
    </div>
</nav>
