<footer class="u-edge zero-margin g-footer">
    <div class="u-container">
        
        <div class="grid" data-grid="normal">

            <div class="grid__item" data-grid="6/12"  data-grid--medium="3/12">
                <p class="lead">Find Us</p>
                <p>2 Savoy Court<br/>London<br/>WC2R 0EZ<br/></p>
                
                <p><a href="https://goo.gl/maps/qcgYGyeVXirYYfZy7" target="new">Google Maps <i class="icon-tab"></i></a></p>

                <div class="md-only">
                    <p><a href="http://www.liontrust.co.uk" target="_blank" class="liontrust-logo" title="LionTrust Web site - Opens in a new browser tab"><img src="images/ManagedByLiontrustFooter@2x.png" alt="LionTrust - Logo"/></a></p>
                    <p class="copyright">Copyright © Liontrust Asset Management PLC 2001-2023</p>
                </div>
            </div>

            <div class="grid__item" data-grid="6/12"  data-grid--medium="3/12">
                <p class="lead">Get in touch</p>
                <p><a href="tel:+442074121700">+44 (0)20 7412 1700</a></p>
                <p><a href="#" class="contact">Contact Us <i class="icon-arrow-right"></i></a></p>
              
                <nav class="social">
                    <a href="https://www.linkedin.com/company/liontrust-asset-management" target="_blank">
                        <img src="images/svg-icons/linked-in.svg" alt="Icon - Linkedin" />
                    </a> 
                    <a href="#" target="_blank">
                        <img src="images/svg-icons/twitter.svg" alt="Icon - Twitter" />
                    </a>
                    <a href="#" target="_blank">
                        <img src="images/svg-icons/facebook.svg" alt="Icon - Facebook" />
                    </a>        
                </nav>
            </div>

            <div class="grid__item" data-grid="12/12"   data-grid--medium="3/12">
                <p class="lead">Subscribe to our newsletter</p>
                <p><a href="#">Sign up  <i class="icon-arrow-right"></i></a></p>
            </div>

            
            <div class="grid__item" data-grid="12/12"   data-grid--medium="3/12">
                <nav class="site-links">
                    <a href="#" title="About Us">About Us</a>
                    <a href="#" title="Terms & Conditions">Terms & Conditions</a>
                    <a href="#" title="Terms of Business">Terms of Business</a>
                    <a href="#" title="Privacy Notice">Privacy Notice</a>
                    <a href="#" title="Modern Slavery Act">Modern Slavery Act</a>
                    <a href="#" title="MiFID II RTS report 2019">MiFID II RTS report 2019</a>
                    <a href="#" title="Cookie Policy">Cookie Policy</a>
                    <a href="#" title="Online security">Online security</a>
                    <a href="#" title="Complaints">Complaints</a>   
                </nav>

                <div class="sm-only">
                    <p><a href="http://www.liontrust.co.uk" target="_blank" class="liontrust-logo" title="LionTrust Web site - Opens in a new browser tab"><img src="images/ManagedByLiontrustFooter@2x.png" alt="LionTrust - Logo"/></a></p>
                    <p class="copyright">Copyright © Liontrust Asset Management PLC 2001-2023</p>
                </div>
            </div>

        </div>
    </div>
</footer>
