<div class="u-container">
    <section class="u-edge zero-margin g-header"> 
    
        <a href="#" class="mobile-control">
            <hr/><hr/>
            <span>Menu</span>
        </a>
        
        <a href="/" class="g-header__brand" title="Link - Homepage" tabindex="0" accesskey="h">
            <img src="./images/EIT/EIT_logo2x.png" alt="Edinburgh Investment Trust">
        </a>     

        <nav class="g-nav-desktop">
            <ul>
                <li><a href="#" title="Link - About Us" tabindex="1">About Us</a></li>
                <li><a href="#" title="Link - Performance & Positioning" tabindex="2">Performance &amp;<br/>Positioning</a></li>
                <li><a href="#" title="Link - Insights & Literature" tabindex="3">Insights &amp;<br/> Literature</a></li>
                <li><a href="#" title="Link - Results & Announcements" tabindex="4">Results &amp;<br/>Announcements</a></li>
                <li><a href="#" title="Link - How to Invest & Contact Us" tabindex="5">How to Invest <br/> &amp; Contact Us</a></li>
            </ul>
        </nav>
          
    </section>
  
</div>