<div class="g-hero__bg">
    <picture>
      <source media="(min-width: 1200px)" srcset="images/EIT/hero-generic-desktop.png, images/EIT/hero-generic-desktop.png 2x">
      <source media="(min-width: 768px)" srcset="images/EIT/hero-generic-tablet.png, images/EIT/hero-generic-tablet.png 2x">
      <source media="(min-width: 320px)" srcset="images/EIT/hero-generic-mobile.png, images/EIT/hero-generic-mobile.png 2x">
      <img src="images/EIT/hero-generic-mobile.png" srcset="images/EIT/hero-generic-mobile.png 2x" alt="Edinburgh Investment Trust">
    </picture>
</div>