<section class="u-edge zero-margin g-header"> 
    <div class="u-container">

        <div class="u-content">
            <a href="#" class="mobile-control">
                <hr/><hr/>
                <span>Menu</span>
            </a>
            
            <a href="/" class="g-header__brand" title="Link - Homepage" tabindex="0" accesskey="h">
                <img src="images/EIT_logo2x.png" alt="Edinburgh Investment Trust">
            </a>     

            <nav class="g-nav-desktop">
                <ul>
                    <li><a href="about.html" title="Link - About Us" tabindex="1">About Us</a></li>
                    <li><a href="perf.html" title="Link - Performance & Positioning" tabindex="2">Performance &amp; Positioning</a></li>
                    <li><a href="insights.html" title="Link - Insights & Literature" tabindex="3">Insights &amp; Literature</a></li>
                    <li><a href="results.html" title="Link - Results & Announcements" tabindex="4">Results &amp; Announcements</a></li>
                    <li><a href="contact.html" title="Link - How to Invest & Contact Us" tabindex="5">How to Invest &amp; Contact Us</a></li>
                </ul>
            </nav>
        </div>
          
    </section>
  
</div>