<section class="u-edge zero-margin zero-padding g-hero g-hero--article">
    <div class="u-container">
       
        <div class="e-avatar">
            <div> 
                <img src="images/team/avatars/JamesdeUphaugh.png" alt="James de Uphaugh">
                <span>
                    James de Uphaugh
                </span>
            </div>
        </div>
        
        <p class="date">112 jan 2002</p>
        
        <h1>THE FUTURE OF INFLATION HAS A GREEN HUE</h1>
        
        <div class="cta-container">
            <a href="#">Share Article</a>
        </div> 
    </div>
</section>
