<!-- deep links should contain "#activepanel" in href to activate panel onload -->
<nav class="g-slide-panel">
    <div class="g-slide-panel__content">
        <a href="#" class="g-slide-panel__close">
            <i></i>
            <span>Close</span>
        </a>
        <h2>Literature</h2>
        <p>Edinburgh Investment Trust</p>
        <p><a href="#" class="fx" title="See All Regulatory News">See All Regulatory News  <i class="icon-arrow-right"></i></a></p>
        <h3>Fact Sheets</h3>
        <p>Copy</p>
        <ul>
            <li>
                <a href="#" title="Download document" target="new">
                    <i class="icon-file"></i> 
                    Download Factsheet A1 Acc
                </a></li>
            <li>
                <a href="#" title="Download document" target="new">
                    <i class="icon-file"></i> 
                    Download Factsheet A1 Acc
                </a></li>
            <li>
                <a href="#" title="Download document" target="new">
                    <i class="icon-file"></i> 
                    Download Factsheet A1 Acc
                </a></li>
            <li>
                <a href="#" title="Download document" target="new">
                    <i class="icon-file"></i> 
                    Download Factsheet A1 Acc
                </a></li>
        </ul>
        
        
        <h3>Fact Sheets</h3>
        <p>Copy</p>
        <ul>
            <li>
                <a href="#" title="Download document" target="new">
                    <i class="icon-file"></i> 
                    Download Factsheet A1 Acc
                </a></li>
            <li>
                <a href="#" title="Download document" target="new">
                    <i class="icon-file"></i> 
                    Download Factsheet A1 Acc
                </a></li>
            <li>
                <a href="#" title="Download document" target="new">
                    <i class="icon-file"></i> 
                    Download Factsheet A1 Acc
                </a></li>
            <li>
                <a href="#" title="Download document" target="new">
                    <i class="icon-file"></i> 
                    Download Factsheet A1 Acc
                </a></li>
        </ul>
    </div>
</nav>
