<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
	<sitecore exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch">
		
		<pipelines>
			<group groupName="exm.messageEvents">
				<pipelines>
					<emailOpened>
						<!-- Identifies the campaign associated with the message -->
						<processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.IdentifyCampaign, Sitecore.EmailCampaign" resolve="true">
							<AddCampaignToInteraction>true</AddCampaignToInteraction>
						</processor>
					</emailOpened>
				</pipelines>
			</group>

			<!-- HANDLE UNDELIVERED MESSAGE PIPELINE
               This pipeline is executed when a bounced message task from the bounced messages task pool is processed.
               The pipeline is executed for each task individually and updates the number of undelivered emails on the 
               recipient's profile.
               Furthermore an interaction is created with a "Email Bounced" page event in xDB.
			-->
			<handleUndeliveredMessage>
				<processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.IdentifyCampaign, Sitecore.EmailCampaign" resolve="true">
					<AddCampaignToInteraction>true</AddCampaignToInteraction>
				</processor>
			</handleUndeliveredMessage>

			<!-- HANDLE SPAM COMPLAINT PIPELINE
			   This pipeline is executed when a spam complaint task from the spam complaints task pool is processed.
			   An interaction is created with a "Email Spam Reported" page event in xDB.
		  -->
			<handleSpamComplaint>
				<processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.IdentifyCampaign, Sitecore.EmailCampaign" resolve="true">
					<AddCampaignToInteraction>true</AddCampaignToInteraction>
				</processor>
			</handleSpamComplaint>

			<!-- HANDLE LIST UNSUBSCRIBE PIPELINE
			   This pipeline is executed when a task from the list unsubscribe task pool is processed.
			   An interaction is created with an "Unsubscribe from email" page event in xDB.
			-->
			<handleListUnsubscribe>
				<processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.IdentifyCampaign, Sitecore.EmailCampaign" resolve="true">
					<AddCampaignToInteraction>true</AddCampaignToInteraction>
				</processor>
			</handleListUnsubscribe>

			<!-- HANDLE SENT MESSAGE PIPELINE
				This pipeline is executed when a sent message task from the sent messages task pool is processed.
				An interaction is created with a "Email Sent" page event in xDB.
			-->
			<handleSentMessage>
				<processor type="Sitecore.EmailCampaign.Cm.Pipelines.HandleSentMessage.IdentifyCampaign, Sitecore.EmailCampaign.Cm" resolve="true">
					<AddCampaignToInteraction>true</AddCampaignToInteraction>
				</processor>
			</handleSentMessage>

			<!-- HANDLE DISPATCH FAILED PIPELINE
				This pipeline is executed when a dispatch failed task from the dispatch failed task pool is processed.
				An interaction is created with a "Dispatch Failed" page event in xDB.
			-->
			<handleDispatchFailed>
				<processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HandleMessageEventBase.IdentifyCampaign, Sitecore.EmailCampaign" resolve="true">
					<AddCampaignToInteraction>true</AddCampaignToInteraction>
				</processor>
			</handleDispatchFailed>
		</pipelines>

		<api>
			<services>
				<configuration>
					<!-- ALLOWED CONTROLLERS
						A whitelist of all controllers which should not be denied access by the default Sitecore Services Client API security policy i.e. ServicesLocalOnlyPolicy
					-->
					<allowedControllers hint="list:AddController">
						<allowedController desc="LTMessageController">LionTrust.Feature.EXM.Controllers.LTMessageController, LionTrust.Feature.EXM</allowedController>
						<allowedController desc="LTSaveMessageController">LionTrust.Feature.EXM.Controllers.LTSaveMessageController, LionTrust.Feature.EXM</allowedController>
						<allowedController desc="LTListController">LionTrust.Feature.EXM.Controllers.LTListController, LionTrust.Feature.EXM</allowedController>
						<allowedController desc="LTSalesforceCampaignsController">LionTrust.Feature.EXM.Controllers.SalesforceCampaignsController, LionTrust.Feature.EXM</allowedController>
						<allowedController desc="LTSalesforceSyncController">LionTrust.Feature.EXM.Controllers.SalesforceSyncController, LionTrust.Feature.EXM</allowedController>
					</allowedControllers>
				</configuration>
			</services>
		</api>
	</sitecore>
</configuration>