<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<SendEmail>
				<processor type="Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm">
					<patch:attribute name="type">LionTrust.Feature.EXM.Pipelines.SendEmailFromSalesManagerFiller, LionTrust.Feature.EXM</patch:attribute>
				</processor>
			</SendEmail>
		</pipelines>
		<group groupName="exm">
			<pipelines>
				<getContact>
					<processor>
						<patch:attribute name="type">LionTrust.Feature.EXM.GetContact, LionTrust.Feature.EXM</patch:attribute>
					</processor>
				</getContact>
			</pipelines>
		</group>
		<recipients>
			<recipientPropertyTokenMap type="LionTrust.Feature.EXM.Personalization.CustomRecipientPropertyTokenMap, LionTrust.Feature.EXM" singleInstance="true"
				patch:instead="*[@type='Sitecore.Modules.EmailCampaign.Core.Personalization.DefaultRecipientPropertyTokenMap, Sitecore.EmailCampaign']"/>
		</recipients>
		<exm>
			<dispatchTask type="LionTrust.Feature.EXM.Dispatch.CustomDispatchTask, LionTrust.Feature.EXM"
			  patch:instead="*[@type='Sitecore.EmailCampaign.Cm.Dispatch.DispatchTask, Sitecore.EmailCampaign.Cm']">
				<param ref="exm/dispatchFailedTaskPool"/>
				<param desc="recipientValidator" ref="exm/recipientValidator" />
				<param desc="contactService" ref="exm/contactService" />
				<param desc="dataProvider" ref="exm/dataProvider" />
				<param desc="itemUtil" ref="exm/itemUtil" />
				<param desc="eventDataService" ref="exm/eventDataService" />
				<param desc="dispatchManager" ref="exm/dispatchManager" />
				<param desc="emailAddressHistoryManager" ref="exm/emailAddressHistoryManager" />
				<param desc="recipientManagerFactory" ref="exm/recipientManagerFactory" />
				<param desc="sentHistoryManager" ref="exm/sentHistoryManager" />
			</dispatchTask>
		</exm>
	</sitecore>
</configuration>