<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration
				          name="Feature.EXM"
				          description="Feature EXM"
				          dependencies="Foundation.*"
				          patch:after="configuration[@name='Foundation.Serialization']"
				          extends="Helix.Feature.Base">
				  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Core" />
                  <predicate>
					  <include name="$(layer).$(module).MediaLibrary" database="master" path="/sitecore/media library/$(layer)/$(module)" />
					  <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
					  <include name="$(layer).$(module).Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(module)" />
					  <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
					  <include name="$(layer).$(module).PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/$(module)" />
					  <include name="$(layer).$(module).Email" database="master" path="/sitecore/content/Email/Message Types/Regular/Default" />
					  <include name="$(layer).$(module).S4SFacets" database="master" path="/sitecore/system/Modules/S4S/Facets" />
					  <include name="$(layer).$(module).S4SFacetMapping" database="master" path="/sitecore/system/Modules/S4S/S4SLB Facet Mapping" />
					  <include name="$(layer).$(module).Buttons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/$(layer)/$(module)" />
					  <include name="$(layer).$(module).ECM.Tabs.General" database="core" path="/sitecore/client/Applications/ECM/Pages/Messages/Regular/PageSettings/Tabs/General" />
					  <include name="$(layer).$(module).ECM.LoadOnDemandTabs.Delivery" database="core" path="/sitecore/client/Applications/ECM/Pages/Messages/Regular/PageSettings/LoadOnDemandTabs/Delivery" />
					  <include name="$(layer).$(module).ECM.TeamText" database="core" path="/sitecore/client/Applications/ECM/Component/Text/GeneralTab/Team" />
					  <include name="$(layer).$(module).ManagerRoot" database="master" path="/sitecore/templates/System/Email/Manager Root/__Standard Values" />
					  <include name="$(layer).$(module).ContactList" database="master" path="/sitecore/templates/System/Analytics/Contact List" />
					  <include name="$(layer).$(module).ABTestMessage" database="master" path="/sitecore/templates/System/Email/Messages/AB Test Message" />
					  <include name="$(layer).$(module).Rules.S4SFacetFieldBooleanValue" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/S4S xDB Contacts/S4S Facet Field Boolean Value" />
				  </predicate>
                  <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\$(layer).$(module).Roles" singleInstance="true"/>
                  <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
                    <include domain="modules" pattern="^Feature EXM .*$" />
                  </rolePredicate>
                </configuration>
				<configuration
					  name="Feature.EXM.Settings"
					  description="Feature EXM Settings"
					  dependencies="Foundation.*,Feature.EXM"
					  patch:after="configuration[@name='Foundation.Serialization']"
					  extends="Helix.Feature.Base">
					<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
					<targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization\Settings" />
					<predicate>
						<include name="$(layer).$(module).Email Settings" database="master" path="/sitecore/system/Settings/$(layer)/$(module)" />
					</predicate>
				</configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>