<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
	<sitecore exmEnabled:require="yes">
		<pipelines role:require="Standalone or ContentManagement or DedicatedDispatch">
			<SendEmail role:require="Standalone or ContentManagement or DedicatedDispatch">
				<processor type="Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm">
					<patch:attribute name="type">LionTrust.Feature.EXM.Pipelines.CustomFillEmail, LionTrust.Feature.EXM</patch:attribute>
				</processor>
				<processor type="LionTrust.Feature.EXM.Pipelines.UpdateSalesforceCampaign, LionTrust.Feature.EXM" 
						   patch:after="processor[@type='LionTrust.Feature.EXM.Pipelines.CustomFillEmail, LionTrust.Feature.EXM']"/>
			</SendEmail>
			<handleUndeliveredMessage role:require="Standalone or ContentManagement or DedicatedDispatch">
				<processor type="LionTrust.Feature.EXM.Pipelines.UpdateUndeliveredCount, LionTrust.Feature.EXM" 
						   patch:instead="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.UpdateUndeliveredCount, Sitecore.EmailCampaign.Cm']" resolve="true">
					<FacetName ref="model/entities/contact/facets/facet[@name='Emails']/@name" />
					<!-- Delay in milliseconds -->
					<Delay>500</Delay>
					<!-- Number of retry attempts -->
					<RetryCount>3</RetryCount>
				</processor>
			</handleUndeliveredMessage>
			<handleDispatchFailed role:require="Standalone or ContentManagement or DedicatedDispatch">
				<processor type="LionTrust.Feature.EXM.Pipelines.UpdateUndeliveredCount, LionTrust.Feature.EXM"
						   patch:instead="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.UpdateUndeliveredCount, Sitecore.EmailCampaign.Cm']" resolve="true">
					<FacetName ref="model/entities/contact/facets/facet[@name='Emails']/@name" />
					<!-- Delay in milliseconds -->
					<Delay>500</Delay>
					<!-- Number of retry attempts -->
					<RetryCount>3</RetryCount>
				</processor>
			</handleDispatchFailed>
			<group groupName="exm" role:require="Standalone or ContentDelivery or Reporting or ContentManagement or Processing or DedicatedDispatch">
				<pipelines>
					<getContact>
						<processor>
							<patch:attribute name="type">LionTrust.Feature.EXM.GetContact, LionTrust.Feature.EXM</patch:attribute>
						</processor>
					</getContact>
				</pipelines>
			</group>
			<DispatchNewsletter exmEnabled:require="yes" role:require="(Standalone or ContentManagement) and !DedicatedDispatch">
				<processor type="LionTrust.Feature.EXM.Pipelines.CustomSendTestMessage, LionTrust.Feature.EXM"
					patch:instead="*[@type='Sitecore.EmailCampaign.Cm.Pipelines.DispatchNewsletter.SendTestMessage, Sitecore.EmailCampaign.Cm']" resolve="true" />
			</DispatchNewsletter>
		</pipelines>
		<recipients role:require="Standalone or ContentDelivery or Reporting or ContentManagement or Processing or DedicatedDispatch">
			<recipientPropertyTokenMap type="LionTrust.Feature.EXM.Personalization.CustomRecipientPropertyTokenMap, LionTrust.Feature.EXM" singleInstance="true"
				patch:instead="*[@type='Sitecore.Modules.EmailCampaign.Core.Personalization.DefaultRecipientPropertyTokenMap, Sitecore.EmailCampaign']"/>
		</recipients>
		<exm role:require="Standalone or ContentManagement or DedicatedDispatch">
			<dispatchTask type="LionTrust.Feature.EXM.Dispatch.CustomDispatchTask, LionTrust.Feature.EXM"
			  patch:instead="*[@type='Sitecore.EmailCampaign.Cm.Dispatch.DispatchTask, Sitecore.EmailCampaign.Cm']">
				<param ref="exm/dispatchFailedTaskPool"/>
				<param desc="recipientValidator" ref="exm/recipientValidator" />
				<param desc="contactService" ref="exm/contactService" />
				<param desc="dataProvider" ref="exm/dataProvider" />
				<param desc="itemUtil" ref="exm/itemUtil" />
				<param desc="eventDataService" ref="exm/eventDataService" />
				<param desc="dispatchManager" ref="exm/dispatchManager" />
				<param desc="emailAddressHistoryManager" ref="exm/emailAddressHistoryManager" />
				<param desc="recipientManagerFactory" ref="exm/recipientManagerFactory" />
				<param desc="sentHistoryManager" ref="exm/sentHistoryManager" />
			</dispatchTask>
			<eds exmEnabled:require="yes" role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
				<receiversCollection type="LionTrust.Feature.EXM.Pipelines.CustomManagerRootsPop3ReceiversCollection, LionTrust.Feature.EXM"
									 patch:instead="*[@type='Sitecore.Modules.EmailCampaign.Core.MessageTransfer.ManagerRootsPop3ReceiversCollection, Sitecore.EmailCampaign']">
					<param ref="exm/eds/bounceInspector"/>
					<param ref="exm/eds/environmentIdentifier" />
					<param ref="exmLogger" />
				</receiversCollection>
			</eds>
		</exm>
		<scheduling role:require="Standalone or ContentManagement or DedicatedDispatch" eds:require="CustomSmtp">
			<agent type="Sitecore.EDS.Providers.CustomSmtp.Tasks.PullPop3BouncesAgent, Sitecore.EDS.Providers.CustomSmtp" method="Run" interval="01:00:00">
				<param ref="exm/eds/receiversCollection" />
			</agent>
		</scheduling>
	</sitecore>
</configuration>