<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getRenderingDatasource>
        <processor type="LionTrust.Foundation.Multisite.Pipelines.GetDatasourceLocationAndTemplateFromSite, LionTrust.Foundation.Multisite" resolve="true" patch:after="processor[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel']" />
      </getRenderingDatasource>
      <httpRequestBegin>
        <!--Fix of switching to default site instead of one matched by domain-->
        <processor type="Sitecore.ExperienceEditor.Pipelines.HttpRequest.ResolveContentLanguage, Sitecore.ExperienceEditor">
          <patch:attribute name="type" value="LionTrust.Foundation.Multisite.Pipelines.ResolveContentLanguage, LionTrust.Foundation.Multisite" />
        </processor>
      </httpRequestBegin>
    </pipelines>
    <commands>
      <command name="multisite:createdatasourcesetting" type="LionTrust.Foundation.Multisite.Commands.CreateRenderingSettings, LionTrust.Foundation.Multisite" />

      <!--Fix of switching to default site instead of one matched by domain-->
      <command name="webedit:openexperienceeditor" type="Sitecore.Shell.Applications.WebEdit.Commands.OpenExperienceEditor, Sitecore.ExperienceEditor">
        <patch:attribute name="type" value="LionTrust.Foundation.Multisite.Commands.OpenExperienceEditor, LionTrust.Foundation.Multisite" />
      </command>
    </commands>
    <settings>
      <setting name="Foundation.Multisite.DatasourceDialogRoot" value="/sitecore/layout/renderings" />
      <setting name="Preview.ResolveSite">
        <patch:attribute name="value" value="true" />
      </setting>
    </settings>
    <!--<services>
      <configurator type="LionTrust.Foundation.Multisite.DI.RegisterContainer, LionTrust.Foundation.Multisite" />
    </services>-->
  </sitecore>
</configuration>