<div class="c-slide-panel">
    <a href="#" class="g-slide-panel__close">
        <i></i>
        <span>Close</span>
    </a>
    <div class="c-slide-panel__content">
        <p class="name">Elisabeth Stheeman</p>
        <p class="position">Chair</p>
        <img src="images/team/cards/ElisabethStheemanProfilePic@2x.png" alt="Elisabeth Stheeman - Photo" />
        <p class="bio">Elisabeth Stheeman was appointed to the Board on 23 May 2019 and became Chair on 21 July 2022. Elisabeth is currently an External Member of the Financial Policy Committee (FPC) and Financial Markets Infrastructure (FMI) board of the Bank of England. She is a member of the supervisory board of Aareal Bank AG in Germany, an External Member of the Audit and Risk Committee of The Asian Infrastructure Investment Bank (effective from April 2021), and a member of Council at The London School of Economics and a member of Council of the German British Chamber of Industry and Commerce. Previously, she was a senior advisor to the Bank of England/Prudential Regulation Authority. </p>
    </div>
</div>