<!-- article card -->
<article style="background-image: url(images/cards/3.png)" class="e-article-card">
    
    <a href="#" title="This is the Article Title" class="e-article-card--content">

        <address> 
            <span>the guide - volume 1</span>
        </address>


        <h1>The UK market’s Achilles heel is turning positive.</h1> 
        <p>Copy</p>
    </a>


    <footer>
        <div class="e-article-card--cta podcast-cta"> 
            <span>Listen on: </span>
            <a href="#" title="Listen on Apple">
              <img
                src="images/svg-icons/apple.svg"
                alt="Apple Icon"
              />
            </a>
            <a href="#" title="Listen on Wifi">
              <img
                src="images/svg-icons/wifi.svg"
                alt="Wifi Icon"
              />
            </a>
            <a href="#" title="Listen on Spotify">
              <img
                src="images/svg-icons/spotify.svg"
                alt="Spotify Icon"
              />
            </a> 
        </div> 
    </footer>
  </article>