<!-- article card -->
<article style="background-image: url(images/cards/2.png)" class="e-article-card">
    
    <a href="#" title="This is the Article Title" class="e-article-card--content">

        <address>
            <i class="icon icon-user"></i>
            <span>fund update</span>
        </address>


        <h1>The UK market’s Achilles heel is turning positive.</h1>
        <p>This is the Article Title optional copy</p>
      
    </a>


    <footer>
         
        <time>
            <i class="icon-clock"></i> 
            4 January 2017
        </time>
    </footer>
  </article>