<div class="f-forms__element f-select-secondary" id="f-forms__element__44">
    <label for="f-forms__element-input__41">
        <span class="f-forms__element--label">Fund Type</span> 
    </label>
    
    <div class="f-forms__select">
        
        <select id="f-forms__element-select__44" 
        
        data-parsley-required="false"
        data-parsley-excluded="true"

        aria-required="false"
        aria-describedby="f-forms__element-error__44"
        
        >
            <option label=" ">Select a Fund...</option>
            <option value="Balanced Fund">Balanced Fund</option>
            <option value="China Fund">China Fund</option>
            <option value="Edinburgh Investment Trust plc">Edinburgh Investment Trust plc</option>
            <option value="Emerging Markets Fund">Emerging Markets Fund</option>
            <option value="European Dynamic Fund">European Dynamic Fund</option>
            <option value="GF Absolute Return Bond Fund">GF Absolute Return Bond Fund</option>
            <option value="GF European Smaller Companies Fund">GF European Smaller Companies Fund</option>
            <option value="GF European Strategic Equity Fund">GF European Strategic Equity Fund</option>
            <option value="GF High Yield Bond Fund">GF High Yield Bond Fund</option>
            <option value="GF International Equity Fund">GF International Equity Fund</option>
            <option value="GF Special Situations Fund">GF Special Situations Fund</option>
            <option value="GF Strategic Bond Fund">GF Strategic Bond Fund</option>
            <option value="GF Sustainable Future European Corporate Bond Fund">GF Sustainable Future European Corporate Bond Fund</option>
            <option value="GF Sustainable Future Global Growth Fund">GF Sustainable Future Global Growth Fund</option>
            <option value="GF Sustainable Future Multi-Asset Global Fund">GF Sustainable Future Multi-Asset Global Fund</option>
            <option value="GF Sustainable Future Pan-European Growth Fund">GF Sustainable Future Pan-European Growth Fund</option>
            <option value="GF Tortoise Fund">GF Tortoise Fund</option>
            <option value="GF UK Equity Fund">GF UK Equity Fund</option>
            <option value="GF UK Growth Fund">GF UK Growth Fund</option>
            <option value="GF US Equity Fund">GF US Equity Fund</option>
            <option value="Global Alpha Fund">Global Alpha Fund</option>
            <option value="Global Dividend Fund">Global Dividend Fund</option>
            <option value="Global Equity Fund">Global Equity Fund</option>
            <option value="Global Focus Fund">Global Focus Fund</option>
            <option value="Global Innovation Fund">Global Innovation Fund</option>
            <option value="Global Smaller Companies Fund">Global Smaller Companies Fund</option>
            <option value="Global Technology Fund">Global Technology Fund</option>
            <option value="Income Fund">Income Fund</option>
            <option value="India Fund">India Fund</option>
            <option value="Japan Equity Fund">Japan Equity Fund</option>
            <option value="Latin America Fund">Latin America Fund</option>
            <option value="MA Active Dynamic Fund">MA Active Dynamic Fund</option>
            <option value="MA Active Fund Range">MA Active Fund Range</option>
            <option value="MA Active Growth Fund">MA Active Growth Fund</option>
            <option value="MA Active Intermediate Income Fund">MA Active Intermediate Income Fund</option>
            <option value="MA Active Moderate Income Fund">MA Active Moderate Income Fund</option>
            <option value="MA Active Progressive Fund">MA Active Progressive Fund</option>
            <option value="MA Active Reserve Fund">MA Active Reserve Fund</option>
            <option value="MA Blended Fund Range">MA Blended Fund Range</option>
            <option value="MA Blended Growth Fund">MA Blended Growth Fund</option>
            <option value="MA Blended Intermediate Fund">MA Blended Intermediate Fund</option>
            <option value="MA Blended Moderate Fund">MA Blended Moderate Fund</option>
            <option value="MA Blended Progressive Fund">MA Blended Progressive Fund</option>
            <option value="MA Blended Reserve Fund">MA Blended Reserve Fund</option>
            <option value="MA Diversified Real Assets Fund">MA Diversified Real Assets Fund</option>
            <option value="MA Monthly High Income Fund">MA Monthly High Income Fund</option>
            <option value="MA Passive Dynamic Fund">MA Passive Dynamic Fund</option>
            <option value="MA Passive Fund Range">MA Passive Fund Range</option>
            <option value="MA Passive Growth Fund">MA Passive Growth Fund</option>
            <option value="MA Passive Intermediate Fund">MA Passive Intermediate Fund</option>
            <option value="MA Passive Moderate Fund">MA Passive Moderate Fund</option>
            <option value="MA Passive Progressive Fund">MA Passive Progressive Fund</option>
            <option value="MA Passive Prudent Fund">MA Passive Prudent Fund</option>
            <option value="MA Passive Reserve Fund">MA Passive Reserve Fund</option>
            <option value="MA UK Equity Fund">MA UK Equity Fund</option>
            <option value="MPS Dynamic Beta Portfolios">MPS Dynamic Beta Portfolios</option>
            <option value="MPS Growth Portfolios">MPS Growth Portfolios</option>
            <option value="MPS Income Portfolios">MPS Income Portfolios</option>
            <option value="Russia Fund">Russia Fund</option>
            <option value="Special Situations Fund">Special Situations Fund</option>
            <option value="Strategic Bond Fund">Strategic Bond Fund</option>
            <option value="Sustainable Future Cautious Managed Fund">Sustainable Future Cautious Managed Fund</option>
            <option value="Sustainable Future Corporate Bond Fund">Sustainable Future Corporate Bond Fund</option>
            <option value="Sustainable Future Defensive Managed Fund">Sustainable Future Defensive Managed Fund</option>
            <option value="Sustainable Future European Growth Fund">Sustainable Future European Growth Fund</option>
            <option value="Sustainable Future Global Growth Fund">Sustainable Future Global Growth Fund</option>
            <option value="Sustainable Future Managed Fund">Sustainable Future Managed Fund</option>
            <option value="Sustainable Future Managed Growth Fund">Sustainable Future Managed Growth Fund</option>
            <option value="Sustainable Future Monthly Income Bond Fund">Sustainable Future Monthly Income Bond Fund</option>
            <option value="Sustainable Future UK Growth Fund">Sustainable Future UK Growth Fund</option>
            <option value="Tortoise Fund">Tortoise Fund</option>
            <option value="UK Equity Fund">UK Equity Fund</option>
            <option value="UK Equity Income Fund">UK Equity Income Fund</option>
            <option value="UK Ethical Fund">UK Ethical Fund</option>
            <option value="UK Focus Fund">UK Focus Fund</option>
            <option value="UK Growth Fund">UK Growth Fund</option>
            <option value="UK Micro Cap Fund">UK Micro Cap Fund</option>
            <option value="UK Smaller Companies Fund">UK Smaller Companies Fund</option>
            <option value="US Opportunities Fund">US Opportunities Fund</option>
            <option value="WSS Dynamic Beta Portfolios">WSS Dynamic Beta Portfolios</option>
            <option value="WSS Growth Portfolios">WSS Growth Portfolios</option>
            <option value="WSS Income Portfolios">WSS Income Portfolios</option>
        </select>

        <i class="select-arrow icon-chevron"></i>
    </div>

    <div class="f-forms__element--error" id="f-forms__element-error__44" role="alert"></div>

</div>
