<div class="f-forms__element f-select-primary" id="f-forms__element__41">
    <label for="f-forms__element-input__41">
        <span class="f-forms__element--label">Enquiry*</span> 
    </label>
    
    <div class="f-forms__select">
        
        <select id="f-forms__element-select__41" 
        
        data-parsley-required="true"  
        data-parsley-trigger="focusout"
        data-parsley-trigger-after-failure="focusout"
        data-parsley-required="true" 
        data-parsley-required-message="Please select an option"
        data-parsley-class-handler="#f-forms__element__41"
        data-parsley-errors-container="#f-forms__element-error__41"
        aria-required="true"
        aria-describedby="f-forms__element-error__41" 
        >
            <option label=" "></option>
            <option value="clientservices@liontrust.co.uk">Fund</option>
            <option value="investorrelations@liontrust.co.uk">Shareholder </option>
            <option value="marketing@liontrust.co.uk">Marketing/sponsorship</option>
            <option value="info@liontrust.co.uk">Sales team enquiries</option>
            <option value="press@liontrust.co.uk">Press</option>
        </select>

        <i class="select-arrow icon-chevron"></i>
    </div>

    <div class="f-forms__element--error" id="f-forms__element-error__41" role="alert"></div>

</div>

 