@using Glass.Mapper.Sc.Web.Mvc
@model LionTrust.Foundation.Navigation.Models.IAnchor
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="text-black">
        @Html.Glass().Editable(m => m.AnchorId)
    </div>
}
else
{
    <span id="@Model.AnchorId" class="section-spy"></span>
}