@using LionTrust.Foundation.Analytics.Goals
@model LionTrust.Feature.Navigation.Models.ICta
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginRenderLinkWithGoal(Model, m => m.PrimaryCta, Model.PrimaryCtaGoal, new System.Collections.Specialized.NameValueCollection { { "class", "btn btn-primary" } }, isEditable: true))
            {
                @Model.PrimaryCta.Text
                <i class="icon-arrow-right animate-arrow"></i>
            }

            @using (Html.BeginRenderLinkWithGoal(Model, m => m.SecondaryCta, Model.SecondaryCtaGoal, new System.Collections.Specialized.NameValueCollection { { "class", "btn btn-secondary" } }, isEditable: true))
            {
                @Model.SecondaryCta.Text
                <i class="icon-arrow-right animate-arrow"></i>
            }

        </div>
    </div>
</div>