@using LionTrust.Foundation.Analytics.Goals
@model LionTrust.Feature.Navigation.Models.ICta
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<div class="container">
    <div class="row">
        <div class="col-12">
            @if (Model.PrimaryCta != null || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                using (Html.Glass().AnalyticsGlass().BeginRenderLinkWithGoal(Model, m => m.PrimaryCta, Model.PrimaryCtaGoal, new System.Collections.Specialized.NameValueCollection { { "class", "btn btn-primary" } }, isEditable: true))
                {
                    if (Model.PrimaryCta != null)
                    {
                        @Model.PrimaryCta.Text
                    }

                    <i class="icon-arrow-right animate-arrow"></i>
                }
            }

            @if (Model.SecondaryCta != null || Sitecore.Context.PageMode.IsExperienceEditor)
            {
                using (Html.Glass().AnalyticsGlass().BeginRenderLinkWithGoal(Model, m => m.SecondaryCta, Model.SecondaryCtaGoal, new System.Collections.Specialized.NameValueCollection { { "class", "btn btn-secondary" } }, isEditable: true))
                {
                    if (Model.SecondaryCta != null)
                    {
                        @Model.SecondaryCta.Text
                    }

                    <i class="icon-arrow-right animate-arrow"></i>
                }
            }
        </div>
    </div>
</div>