@using System.Collections.Specialized
@using Glass.Mapper.Sc.Web.Mvc
@using LionTrust.Foundation.Analytics.Goals
@model LionTrust.Feature.Navigation.Models.ISecondaryNav
@if (Model == null && !Sitecore.Context.PageMode.IsExperienceEditor)
{
    return;
}
<div class="container">
    <div class="header-btn-nav swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="header-btn-nav__title">@Html.Glass().Editable(m => m.Heading)</div>
            </div>
            @foreach (var item in Model.Children)
            {
                <div class=" swiper-slide">
                    @using (Html.Glass().BeginEditFrame<LionTrust.Feature.Navigation.Models.ILinkWithGoal>(item, null, i => i.Goal))
                    {
                        if (item.PageLink != null)
                        {
                            @Html.Glass().AnalyticsGlass().RenderLinkWithGoal(item, m => m.PageLink, item.Goal, new NameValueCollection { { "class", "header-btn-nav__btn" } }, isEditable: true)
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>