<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<SendEmail>
				<processor type="Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm">
					<patch:attribute name="type">LionTrust.Foundation.EXM.SendEmailFromSalesManagerFiller, LionTrust.Foundation.EXM</patch:attribute>
				</processor>
			</SendEmail>
		</pipelines>
	</sitecore>
</configuration>