<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <unicornControlPanelRequest>
        <processor
          patch:instead="processor[@type='Unicorn.ControlPanel.Pipelines.UnicornControlPanelRequest.SyncVerb, Unicorn']"
          type="LionTrust.Feature.Search.Unicorn.Pipelines.SyncVerbSearch, LionTrust.Feature.Search" />
      </unicornControlPanelRequest>
    </pipelines>
  </sitecore>
</configuration>
